.LinkCard {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 24px;
  position: relative;
}

.LinkCard.editable {
  cursor: pointer;
}

.LinkCard:hover .LinkDelete {
  display: block;
}

.LinkDelete {
  display: none;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
}

.Thumbnail {
  width: 113px;
  height: 97px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
}

.Container {
  overflow: hidden;
}

.LinkTitle,
.LinkUrl {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.LinkTitle {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
