<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>롯데 맛진</title>
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- 
	<meta property="og:title" id="meta_og_title" content="레스토랑 오늘">
	<meta property="og:url" id="meta_og_url" content="">
	<meta property="og:image" content="/images/common/meta.jpg">
	<meta property="og:description" id="meta_og_description" content="레스토랑 오늘">
	<meta name="format-detection" content="telephone=no">
	 -->

	<!-- js -->
	<script src="/assets/js/jquery-3.4.1.min.js"></script>
</head>

<body>

	<div id="container">

		<?= $this->contents ?>
		
	</div>
</body>
</html>