
/* sec_kv */

.sec_kv {
    .pt_kv{ position: relative; color: #fff;
        &__txt{position: absolute; @include vw-pc(top,220); @include vw-pc(left,100); }
        &__tit{@include vw-pc(margin-bottom,24); @include vw-pc(font-size,52); @include vw-pc(line-height,68); letter-spacing: -0.05em;}
        &__desc{@include vw-pc(font-size,20); @include vw-pc(line-height,28); letter-spacing: -0.025em;}
    }
}

// 폴드뷰
@media screen and (min-width: 769px) and (max-width: 1100px) {
    .sec_kv {
        .pt_kv{
            &__txt{@include vw-pc(top,228); @include vw-pc(left,100); }
            &__tit{@include vw-pc(margin-bottom,24); @include vw-pc(font-size,56); @include vw-pc(line-height,72); }
            &__desc{@include vw-pc(font-size,24); @include vw-pc(line-height,32);}
        }
    }
}

@media screen and (max-width: 768px) {
    .sec_kv {
        .pt_kv{ 
            &__txt{@include vw-mo(top,196); @include vw-mo(left,41);}
            &__tit{ @include vw-mo(font-size,32); @include vw-mo(line-height,42); letter-spacing: -0.025em;}
            &__desc{@include vw-mo(font-size,28); @include vw-mo(line-height,40); letter-spacing: -0.025em;}
        }
    }
}