.filebox {
  display: flex;
  flex-direction: row-reverse;
}
.upload-name {
  width: 660px;
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  color: #999999;
}

.label {
  width: 120px;
  line-height: 20px;
  height: 40px;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  vertical-align: middle;
  background-color: #46477a;
  cursor: pointer;
  margin-right: 12px;
}

.file {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
  display: none;
}
