<style>
.contents.story_sub .sub_top .img_wrap::before {display:none;}
.contents .video_wrap {position:relative; padding:56.25% 0 0 0; margin-top:4rem;}
.contents.story_sub section.sub_header h4 {text-align:center;}
.contents.story_sub section.sub_header h2 {text-align:center;}
.contents.story_sub .content_wrap .video_wrap + p {margin-top:2rem; text-align:center;}
.contents.story_sub .content_wrap a {font-size:2.6rem; font-weight:bold; height:6rem; width:100%; margin-top:4rem; margin-left:3.6rem; margin-right:3.6rem; width: calc( 100% - 7.2rem ); border:1px solid #037781; color:#037781; display:flex; justify-content:center; align-items:center;}
</style>
<div class="contents story_sub news_sub">
	<div class="sub_top">
		<div class="img_wrap cover">
			<img src="/assets/imgs/round/<?=$this->round?>/news/02/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/news/02/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/news/02/mo_main_txt.png" class="mo" data-aos="fade" style="width:31.9rem;">
			<img src="/assets/imgs/round/<?=$this->round?>/news/02/pc_main_txt.png" class="pc" data-aos="fade" style="width:43.5rem;">
		</div>
	</div>
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			“올~여름~ ♪ 혼자어때! 둘이어때! 셋이어때! ♬ <br class="mo">
			올~가을~ ♪ 여행어때! 경북어때! 대구어때! ♬ <br>
			대구갈 땐~ 엔제리너스~ 🎶” <br>
			이번 추석 연휴에 어디 갈 지 고민 중이라면, <br class="mo">
			엔제리너스와 함께 하는 대구여행은 어때?
			</p>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade">지역 경제 활성화를 위해 대구관광재단과 손잡은 엔제리너스</h4>
			<h2 data-aos="fade">이들은 현재 ‘대구 여행 챌린지’를 진행 중</h2>
			<img src="/assets/imgs/round/<?=$this->round?>/news/02/sub01.png" class="w416 mt40 center" data-aos="fade-up">
			<p data-aos="fade-up" class="tcenter">이번 챌린지 이벤트를 통해 참여자에게는 시그니처 텀블러를 제공한다. <br>
			전세계적으로 대두되고 있는 환경문제는 더 이상 남일만이 아니기 때문. <br>
			제공되는 텀블러는 일회용 컵 사용을 지양하고, <br>
			다회용 컵 사용을 독려하고자 대구관광재단과의 협업으로 제작되었다.</p>
			<img src="/assets/imgs/round/<?=$this->round?>/news/02/sub02.png" class="fullin mt60" data-aos="fade-up">
			<div class="split_img twin mt10 fullin" style="gap:1rem;">
				<div data-aos="fade-right">
					<img src="/assets/imgs/round/<?=$this->round?>/news/02/sub03.png">
				</div>
				<div data-aos="fade-left">
					<img src="/assets/imgs/round/<?=$this->round?>/news/02/sub04.png">
				</div>
			</div>
			<p data-aos="fade-up" class="tcenter">본 이벤트의 참여방법은 간단하다. <br>
			대구ㆍ경북 지역의 엔제리너스에서 음료 구매 시, 챌린지 참여 기회가 제공된다. <br>
			이후 세가지의 미션 중 한가지를 선택하여 수행하면 참여 완료! <br><br>
			<span class="mint">미션 선택지는 총 세 개다.</span> <br>
			<span class="mint">하나,</span> 대구관광지 방문 인증샷을 개인SNS에 업로드 후 <br>
			해시태그 ‘#엔제리너스 대구관광’ 달기. <br><br>
			<span class="mint">둘,</span> 엔제리너스 아일랜드점의 이벤트 디스플레이 사진을 <br>
			개인SNS에 업로드 후 해시태그 ‘#엔제리너스 대구관광’ 달기. <br>
			<span class="mint">셋,</span> 대구관광 인스타그램(@visitdaegu)의 <br>
			이벤트 게시물에 댓글 작성 후 인증하기.</p>
			<img src="/assets/imgs/round/<?=$this->round?>/news/02/sub05.png" class="fullin mt60" data-aos="fade-up">
			<p data-aos="fade-up">이 밖에도 경북도청과 지역 경제 활성화 업무 협약(MOU) 체결을 통해 <br>
			지역경제 활성화에 동참하고 있는 우리의 엔제리너스. <br><br>
			지역경제를 활성화시키기 위해 추후에도 <br>여러 활동을 지속할 예정이라던데, <br>우리 롯데뽕 좀 차올라볼까!.</p>
		</div>
	</section>
</div>