<style>
.contents.story_sub .sub_top .img_wrap::before {display:none;}
.contents .video_wrap {position:relative; padding:56.25% 0 0 0; margin-top:4rem;}
.contents.story_sub section.sub_header h4 {text-align:center;}
.contents.story_sub section.sub_header h2 {text-align:center;}
.contents.story_sub .sub_header .content_wrap .video_wrap + p {margin-top:2rem; text-align:center;}
.contents.story_sub .sub_header .content_wrap img + p {margin-top:2rem; text-align:center; margin-left:-7.2rem; margin-right:-7.2rem;}
.contents.story_sub .sub_header .content_wrap a {font-size:2.6rem; font-weight:bold; height:6rem; width:100%; margin-top:4rem; margin-left:3.6rem; margin-right:3.6rem; width: calc( 100% - 7.2rem ); border:1px solid #037781; color:#037781; display:flex; justify-content:center; align-items:center;}
</style>
<div class="contents story_sub news_sub">
	<div class="sub_top">
		<div class="img_wrap cover">
			<img src="/assets/imgs/round/<?=$this->round?>/news/05/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/news/05/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/news/05/mo_main_txt.png" class="mo" data-aos="fade" style="width:22.4rem;">
			<img src="/assets/imgs/round/<?=$this->round?>/news/05/pc_main_txt.png" class="pc" data-aos="fade" style="width:30.6rem;">
		</div>
	</div>
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			맛있는 아메리카노를 마시면서 환경까지 지키는 우리 <br>
			증말 천사가 따로 없잖아~
			</p>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade">지구를 위한 esg경영을 실천중인 엔제리너스</h4>
			<h2 data-aos="fade">우리의 천사를 늘릴 그린캠페인</h2>
			<div class="fullhalf">
				<div class="video_wrap" data-aos="fade-up">
					<iframe src="https://player.vimeo.com/video/739880164?h=3524337b45" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" data-ready="true"></iframe>
				</div>
			</div>
			<p data-aos="fade-up" class="full tcenter">일산문화공원에서 진행했던 그린캠페인은 <br>
			텀블러만 챙겨 방문하면 엔제리너스의 시원한 아아를 무료로 제공하고 <br>
			친환경 봉투를 받아 쓰레기를 담아오면 리사이클링 제품까지 증정했데요 ~!</p>
		</div>
	</section>
</div>