<style>
.contents.story_sub .sub_top .img_wrap::before {display:none;}
.contents .video_wrap {position:relative; padding:56.25% 0 0 0; margin-top:4rem;}
.contents.story_sub section.sub_header h4 {text-align:center;}
.contents.story_sub section.sub_header h2 {text-align:center;}
.contents.story_sub .sub_header .content_wrap .video_wrap + p {margin-top:2rem; text-align:center;}
</style>
<div class="contents story_sub news_sub">
	<div class="sub_top">
		<div class="img_wrap cover">
			<img src="/assets/imgs/round/<?=$this->round?>/news/01/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/news/01/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/news/01/mo_main_txt.png" class="mo" data-aos="fade" style="width:26.5rem;">
			<img src="/assets/imgs/round/<?=$this->round?>/news/01/pc_main_txt.png" class="pc" data-aos="fade" style="width:36.2rem;">
		</div>
	</div>
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			자동차들이 무서운 속도로 달리는 고속도로… <br class="mo">
			그리고… 그 위에 떠있는 휴게소?! <br><br>
			일 평균 약 15만대의 교통량, 그에 비해 주차공간이 턱 없이 부족했던 <br class="mo">
			기존 하남드림휴게소와 같이 부지확보가 어려운 곳에서도 <br>
			주차공간을 최대로 확보할 수 있다는 게 상공형 휴게소의 가장 큰 장점.
			</p>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade">이용이 불편했던 하남드림휴게소를 재탄생시키고자</h4>
			<h2 data-aos="fade">롯데GRS가 나선다!</h2>
			<img src="/assets/imgs/round/<?=$this->round?>/news/01/sub01.png" class="fullin mt40" data-aos="fade-up">
			<p data-aos="fade-up" class="tcenter">지난 6일 한국도로공사 본사에서 진행된 <br>
			‘하남드림 환승형 복합휴게시설 개발 사업 협약식’에 참석한 롯데GRS. <br><br>
			2027년 오픈을 목표로 향후 25년간 <br>
			하남드림휴게소 환승형 복합휴게시설의 운영을 맡게 되었다. <br>
			롯데GRS는 동부건설•신한은행•KH에너지 총 4개사와 <br>
			롯데GRS 컨소시엄을 구성하여 이번 사업에 참여한다.</p>
			<img src="/assets/imgs/round/<?=$this->round?>/news/01/sub02.png" class="fullin mt60" data-aos="fade-up">
			<p data-aos="fade-up" class="tcenter">롯데GRS는 상공형 구조적 특징을 활용한 <span class="mint">식음시설,</span> <br>
			하남시의 지리적 소재지를 통한 <span class="mint">판매시설,</span> <br>
			즈테마파크와 하늘광장 등의 <span class="mint">테마시설,</span> <br>
			이용객 및 환승 교통 서비스와 같은 <span class="mint">편의시설</span> 등을 마련해 <br>
			<span class="mint">하남드림휴게소를 환승형 복합휴게시설로 <br>
			개발할 예정이라고 하니, 벌써부터 기대만땅~</span> <br><br>
			컨세션 사업 영역을 한차례 확장한 롯데GRS! <br>
			컨세션 사업에서의 지속적인 확장과 브랜딩화를 위해 <br>
			제주대병원점에서 <br>
			신규 통합 브랜드명인 ‘PLE:EATING(플레:이팅)’을 선보이기도 했다. <br><br>
			6년 전 강동경희대병원 식음사업장 위탁 운영권을 시작으로 <br>
			이번 하남드림 환승형 복합휴게시설 개발까지… <br>
			다년간 우리의 식음사업장 운영 관리와 입점 브랜드 유치 능력을 <br>
			인정받은 순간이야!</p>
		</div>
	</section>
</div>