<style>
.contents.story_sub .sub_top .img_wrap::before {display:none;}
.contents .video_wrap {position:relative; padding:56.25% 0 0 0; margin-top:4rem;}
.contents.story_sub section.sub_header h4 {text-align:center;}
.contents.story_sub section.sub_header h2 {text-align:center;}
.contents.story_sub .sub_header .content_wrap .video_wrap + p {margin-top:2rem; text-align:center;}
.contents.story_sub .sub_header .content_wrap img + p {margin-top:2rem; text-align:center; margin-left:-7.2rem; margin-right:-7.2rem;}
.contents.story_sub .sub_header .content_wrap a {font-size:2.6rem; font-weight:bold; height:6rem; width:100%; margin-top:4rem; margin-left:3.6rem; margin-right:3.6rem; width: calc( 100% - 7.2rem ); border:1px solid #037781; color:#037781; display:flex; justify-content:center; align-items:center;}
</style>
<div class="contents story_sub news_sub">
	<div class="sub_top">
		<div class="img_wrap cover">
			<img src="/assets/imgs/round/<?=$this->round?>/news/04/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/news/04/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/news/04/pc_main_txt.png" class="mo" data-aos="fade" style="width:25.3rem;">
			<img src="/assets/imgs/round/<?=$this->round?>/news/04/pc_main_txt.png" class="pc" data-aos="fade" style="width:34.5rem;">
		</div>
	</div>
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			이 구역의 이벤트 장인하면 역시 크리스피크림도넛 아니겠어? <br>
			지난 달, 크리스피크림도넛 롯데백화점 미아점에서는 <br>
			5월에 진행된 ‘스마일 캠페인’ 1등 당첨자에게 <br class="mo">
			24K 골드 글레이즈드(순금 20돈) 전달식이 진행되었다.
			</p>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade">비록 1등은 내가 아니었지만…</h4>
			<h2 data-aos="fade">웃으면 복이 온단 말, 나는 믿어!</h2>
			<img src="/assets/imgs/round/<?=$this->round?>/news/04/sub01.png" data-aos="fade-up" class="w416 center mt40">
			<p data-aos="fade-up" class="tcenter">1등을 아쉽게(?) 놓쳐 <br>
			잠 못 이루는 우릴 위해 새로운 선물을 준비한 크리스피크림도넛. <br>
			이번에는 국내 최대 워터파크 ‘캐리비안 베이’와 만났다.</p>
			<img src="/assets/imgs/round/<?=$this->round?>/news/04/sub02.png" data-aos="fade-up" class="full mt60">
			<p data-aos="fade-up" >여름을 상징하는 바다부터 워터파크에서 <br>
			흔히 볼 수 있는 물놀이 아이템들까지. <br>
			크리스피크림도넛의 이번 신제품은 <br><br>
			플라밍고 튜브를 연상시키는 캐리비안 플라밍고, <br>
			망고 스프레드를 듬뿍 얹어 노란 오리튜브를 표현한 캐리비안 러블리 덕, <br>
			인어공주의 보랏빛 꼬리가 특징인 트윙클 머메이드, <br>
			진주 품은 조개를 연상시키는 샤이니 화이트쉘, <br>
			달콤한 멜론 크림을 가득 넣어 풍미를 느낄 수 있는 스윗 멜론까지 <br>
			총 5가지다. <br><br>
			지난 21일, 전국 크리스피크림도넛 매장에서는 <br>
			이번 캐리비안 베이와 컬레버한 시즌 도넛 구매 고객에게 <br>
			캐리비안 베이 이용권이 포함된 경품 스크래치카드를 제공하였다. <br><br>
			캐리비안 베이를 방문하는 고객에게는 특별한 휴가를 선물하고자 <br>
			시그니처 제품인 ‘오리지널 글레이즈드’를 본떠 만든 <br>
			도넛 튜브 300개를 유수풀에 띄웠다던데! <br>
			커다란 도넛 위에서 파도를 즐기는 우리… <br>
			넘나 커여웠겠는걸…♡</p>
			<img src="/assets/imgs/round/<?=$this->round?>/news/04/sub03.png" data-aos="fade-up" class="fullin">
			<p data-aos="fade-up" class="tcenter">캐리비안 베이 내부에는 <br>
			서핑하는 모습의 오리지널 글레이즈드의 대형 조형물을 설치해 <br>
			포토존을 구성했다. <br><br>
			오는 30일부터 31일 이틀간은 <br>
			포토존에서 인증샷 촬영 후 SNS 게시 시, <br>
			추첨을 통해 선물을 제공하는 온라인 프로모션 뿐만 아니라 <br>
			워터파크 내부에 배치한 도넛 트럭을 방문하면 <br>
			오리지널 글레이즈드 도넛을 무료로 제공하는 ‘FUNFUN’ 특별 시식회를 <br>
			진행한다고 하니 놓치지 말 것! <br><br>
			매 시즌 다양한 콘셉트의 이벤트와 신제품으로 <br>
			우리를 설레게 하는 크리스피크림도넛. <br>
			올 가을엔 어떤 이벤트로 <br>
			두근거림을 선사할지 벌써부터 기대되는데! <br><br>
			혹시… <br>
			우리한테만 미리 알려줄 수는… <br>
			음… <br>
			역시 안 되겠지..?</p>
		</div>
	</section>
</div>