<style>
.contents.story_sub .sub_top .img_wrap::before {display:none;}
.contents .video_wrap {position:relative; padding:56.25% 0 0 0; margin-top:4rem;}
.contents.story_sub section.sub_header h4 {text-align:center;}
.contents.story_sub section.sub_header h2 {text-align:center;}
.contents.story_sub .sub_header .content_wrap .video_wrap + p {margin-top:2rem; text-align:center;}
.contents.story_sub .sub_header .content_wrap img + p {margin-top:2rem; text-align:center;}
.contents.story_sub .sub_header .content_wrap a {font-size:2.6rem; font-weight:bold; height:6rem; width:100%; margin-top:4rem; margin-left:3.6rem; margin-right:3.6rem; width: calc( 100% - 7.2rem ); border:1px solid #037781; color:#037781; display:flex; justify-content:center; align-items:center;}
</style>
<div class="contents story_sub news_sub">
	<div class="sub_top">
		<div class="img_wrap cover">
			<img src="/assets/imgs/round/<?=$this->round?>/news/03/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/news/03/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/news/03/mo_main_txt.png?1" class="mo" data-aos="fade" style="width:21.3rem;">
			<img src="/assets/imgs/round/<?=$this->round?>/news/03/pc_main_txt.png?1" class="pc" data-aos="fade" style="width:29.1rem;">
		</div>
	</div>
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			전 세계의 공통된 골칫거리인 플라스틱. <br>
			플라스틱 감소와 더불어 자원순환을 위해 <br>
			롯데GRS가 업사이클 유니폼을 도입했다.
			</p>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade">이번에는 지구를 위해 나섰다?!</h4>
			<h2 data-aos="fade">도움이 필요하다면 어디든 나서는 롯데GRS!</h2>
			<img src="/assets/imgs/round/<?=$this->round?>/news/03/sub02.png" data-aos="fade-up" class="fullin mt40" >
			<p data-aos="fade-up">
			ESG경영에 앞서는 중인 롯데GRS! <br><br>
			롯데리아 직영점 대상 100% 도입에 이어 <br>
			크리스피크림도넛의 직영점 매장 역시 <br>
			약 60%의 매장에 친환경 유니폼을 도입했다. <br><br>
			엔제리너스 역시 오는 10월까지 직영점에 <br>
			100% 적용을 목표로 하고 있다는 소문이~ (웅성웅성) <br><br>
			롯데GRS가 점진적으로 적용하고 있는 이 유니폼은 <br>
			효성티앤씨의 친환경 리싸이클 섬유원단 ‘리젠’으로 생산된다. <br>
			한 벌 제작 시, 16~20개의 폐 페트병이 재활용되는 셈이다. <br><br>
			현재는 기계적 기법을 적용하고 있지만, <br>
			추후 제작될 엔제리너스 유니폼은 <br>
			무색 및 유색 페트병 등 구분 없이 재활용이 가능한 <br>
			‘화학적(C-rpet) 기법’이 적용될 예정이라고 하니, <br>
			ㄷㄷㄷ… 기술력…정말 무엇..? <br><br>
			플라스틱이 롯데에서 완전히 사라지는 그 날까지 <br>
			우리 자레쓰인들도 같이 노력하자구 (☞ ͡° ͜ʖ ͡°)☞</p>
			<img src="/assets/imgs/round/<?=$this->round?>/news/03/sub01.png" data-aos="fade-up" class="fullin mt60">
			<p data-aos="fade-up" class="tcenter">롯데잇츠 APP을 통한 기부금으로 <br>
			고객과 함께 걷는 희망 ON기금을 전달하다! <br><br>
			올해 3월 차기 기부 지자체로 지정한 금천구청에 <br>
			결식 아동을 위한 ‘희망ON’ 기금을 전달한 롯 to the 데 to the 리아 <br>
			최근 관악구청과 함께 두번째 희망의 불을 밝혔다. <br><br>
			차기 기부 지자체로는 성북구청을 지목하였다. <br>
			기부금은 오는 10월 전달할 예정. <br>
			서울시를 넘어 전국으로 ‘희망ON’ 기금 <br>
			전달이 이들의 목표로 잡았다. <br><br>
			희망ON 기금은 지역아동센터 27개소의 <br>
			환경 개선을 위해 사용하였으며, <br>
			지속적인 프로젝트 운영으로 더 많은 이들에게 <br>
			온정의 손길을 전한다는 롯데리아... <br><br>
			롯데리아 정말 자레쓰! ☆ (>ᴗ0 )</p>
		</div>
	</section>
</div>