* {
    margin: 0; padding: 0; box-sizing: border-box;
}

.progress-bar-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 5px;
    background-color: #555;
    z-index: 100;
}
.progress-bar {
    width: 0;
    height: 100%;
    background-color: #00a8ff;
}