@import "mixins/font";
@import "mixins/vw-conversion";

$maxpc-max-wid : 1920;
$pc-max-wid02 : 1920;
// fold - 전사혜택용
$fold-max-wid : 1600;   
$pc-max-wid : 1440;
$t-max-wid : 1024;
$maxmo-max-wid : 768;
$mo-max-wid : 720;