<h4 data-aos="fade">롯데GRS</h4>
<h2 data-aos="fade">개인정보 활용 동의서</h2>
<p>※ 본 이벤트는 롯데GRS 임직원 및 점주 한정 참여 가능합니다.</p>
<p>롯데GRS 사내웹진 ‘맛ZINE’ 이벤트 당첨안내 및 배송 관련 다양한 서비스 제공을 위해 개인 정보 수집, 이용에 관하여 관계법령에 의거하여 고지하오니, 동의해 주시기 바랍니다.</p>
<div class="agree_cont_wrap">
	<div class="agree_cont">
		<h5>1. 개인정보 수집 및 이용 동의</h5>
		<div class="agree_info">
			<dl>
				<dt>1) 개인정보 수집 및 이용 목적</dt>
				<dd>- 롯데GRS 사내웹진 이벤트</dd>
			</dl>
			<dl>
				<dt>2) 수집하는 개인정보의 항목</dt>
				<dd>- 이름, 부서/지점명, 연락처 등 경품 수령을 위한 개인정보</dd>
			</dl>
			<dl>
				<dt>3) 개인정보 보유 및 이용기간</dt>
				<dd>- 수집일로부터 6개월</dd>
			</dl>
		</div>
		<div class="agree">
			<div class="agree_chk">
				<input type="radio" name="agree1" id="agree1_ok" value="1" checked><label for="agree1_ok">동의함</label>
			</div>
			<div class="agree_chk">
				<input type="radio" name="agree1" id="agree1_no" value="0"><label for="agree1_no">동의안함</label>
			</div>
		</div>
		<p>※ 개인정보 동의를 거부할 권리가 있으나, 거부할 경우 서비스 이용이 제한됩니다.</p>
	</div>
	<div class="agree_cont">
		<h5>2. 개인정보의 취급 위탁</h5>
		<p>롯데GRS는 서비스 향상을 위해서 아래와 같이개인정보를 위탁하고 있으며, 관계 법령에 의거 위탁계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 사항을 규정합니다.</p>
		<div class="agree_info">
			<dl>
				<dd>업무내용 : 서비스 운영, 이벤트 경품 배송, 고객지원</dd>
				<dd>수탁업체 : (주)스카이벤처스</dd>
			</dl>
		</div>
		<div class="agree">
			<div class="agree_chk">
				<input type="radio" name="agree2" id="agree2_ok" value="1" checked><label for="agree2_ok">동의함</label>
			</div>
			<div class="agree_chk">
				<input type="radio" name="agree2" id="agree2_no" value="0"><label for="agree2_no">동의안함</label>
			</div>
		</div>
		<p>※ 개인정보 동의를 거부할 권리가 있으나, 거부할 경우 서비스 이용이 제한됩니다.</p>
	</div>
</div>