<link rel="stylesheet" href="/assets/css/8/about.css" />

    <!-- VISUAL 영역 -->
    <div class="about" data-aos="fade">
      <!-- PC -->
      <div
        class="bg pc mobile_hide"
        style="background-image: url('/assets/imgs/round/7/about/about_BG.png')"
      >
        <div class="content">
          <img src="/assets/imgs/round/7/about/gif_text.gif" />
          <div class="bold">[ 맛의 TASTY + 매거진의 ZINE = 맛ZINE ]</div>
          <div class="normal">
            맛의 ‘Tasty’와 매거진의 ‘Zine’이 만나 탄생한 사내웹진 맛ZINE.<br />
            최신 트렌드부터 롯데GRS의 다양한 소식까지<br />
            맛있는 이야기를 가득 담아 두 달에 한번 여러분을 찾아갑니다.
          </div>
        </div>

        <div
          class="star1"
          style="
            background-image: url('/assets/imgs/round/7/about/About_shape01.svg');
          "
        ></div>
        <div
          class="star2"
          style="
            background-image: url('/assets/imgs/round/7/about/About_shape02.svg');
          "
        ></div>
        <div
          class="star3"
          style="
            background-image: url('/assets/imgs/round/7/about/About_shape03.svg');
          "
        ></div>
      </div>

      <!-- MOBILE -->
      <div
        class="bg mobile"
        style="
          background-image: url('/assets/imgs/round/7/about/about_BG_mobile.png');
        "
      >
        <div class="content">
          <img src="/assets/imgs/round/7/about/gif_text_mobile.gif" />
          <div class="bold">[ 맛의 TASTY + 매거진의 ZINE = 맛ZINE ]</div>
          <div class="normal">
            맛의 ‘Tasty’와 매거진의 ‘Zine’이 만나 탄생한 사내웹진 맛ZINE.<br />
            최신 트렌드부터 롯데GRS의 다양한 소식까지<br />
            맛있는 이야기를 가득 담아 두 달에 한번 여러분을 찾아갑니다.
          </div>
        </div>
      </div>
    </div>


    <script>
      AOS.init();
    </script>