
// reset prd server
.en {vertical-align:baseline;}
.btn-box,
.btn-box ~ .btn-box {margin:0;}

@media (max-width: 1440px) and (min-width: 1101px){
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, a, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, button, time, mark, audio, video , dd a {font-size:inherit;}
}

@media (max-width: 1100px) and (min-width: 801px) {
  html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, a, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, button, time, mark, audio, video, dd a {font-size:inherit;}
}

@media (max-width: 800px) {
  html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, a, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, button, time, mark, audio, video, dd a {font-size:inherit;}
}

@media all and (max-width:414px) {
    html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, a, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, button, time, mark, audio, video, dd a {font-size:inherit;}
}

// reset prd server

@font-face {
    font-family: 'HYBatang';
    src: url('//cdn.samsung.com/etc/designs/smg/sec/font/HYBatang.eot');
    src: url('//cdn.samsung.com/etc/designs/smg/sec/font/HYBatang.eot?#iefix') format("embedded-opentype"),
         url('//cdn.samsung.com/etc/designs/smg/sec/font/HYBatang.woff2') format("woff2");
    font-weight: normal;
    font-style: normal
}

.m_hide{display:block !important;}
.m_show{display:none !important;}
.pt_hide{display:none !important;}
.pt_sam_hide{display:none !important;}

.sec_project_wrap{ min-width:320px; margin:0 auto; font-family:'SamsungOneKorean',Dotum,'돋움','Apple SD Gothic Neo',arial; line-height: 1;}

.sec_project_wrap {display:block; position:static;}
.sec_project_wrap article,
.sec_project_wrap section,
.sec_project_wrap nav,
.sec_project_wrap aside,
.sec_project_wrap header,
.sec_project_wrap footer {display:block; position:relative}

.sec_project_wrap section{max-width:1920px; margin:0 auto;}

.sec_project_wrap .kr {font-family:'SamsungOneKorean',Dotum,'돋움','Apple SD Gothic Neo',arial; font-weight:400;}
.sec_project_wrap .en {font-family:'Samsung Sharp Sans', 'SamsungSharpSans'; line-height:1; letter-spacing:0; vertical-align:baseline;  font-weight:700; font-size: inherit;}
.sec_project_wrap .bt {font-family: 'HYBatang';}

.sec_project_wrap a,
.sec_project_wrap a:hover,
.sec_project_wrap a:focus,
.sec_project_wrap a:active {text-decoration:none; color:inherit;}

.sec_project_wrap p,
.sec_project_wrap span,
.sec_project_wrap strong,
.sec_project_wrap em,
.sec_project_wrap i {font-style:normal; vertical-align:baseline;}

.sec_project_wrap *{ box-sizing: border-box;}

.sec_project_wrap .img_box{position:relative; width:100%; font-size:0;}
.sec_project_wrap .img_box img{width:100%;}

.sec_project_wrap .inner_1920,
.sec_project_wrap .inner_1440,
.sec_project_wrap .inner_1320,
.sec_project_wrap .inner_1280,
.sec_project_wrap .inner_1200{position:relative; width: 100%; margin: 0 auto;}

.sec_project_wrap .inner_1920{max-width: 1920px;}
.sec_project_wrap .inner_1440{max-width: 1440px;}
.sec_project_wrap .inner_1320{max-width: 1320px;}
.sec_project_wrap .inner_1280{max-width: 1280px;}
.sec_project_wrap .inner_1200{max-width: 1200px;}

.sec_project_wrap .clearfix:after {display:block; content:''; clear:both;}

.sec_project_wrap .hidden,
.sec_project_wrap .blind {position: absolute !important; width: 1px !important; height: 1px !important; padding: 0 !important; margin: -1px !important; overflow: hidden !important; clip: rect(0, 0, 0, 0) !important; white-space: nowrap !important; border: 0 !important;}

.sec_project_wrap .alert_msg {display: none;position: fixed;top: 0;left: 0;z-index: 1001;width: 100%;background: #8a51d3;color: #fff;text-align: center;height: 30px;line-height: 30px;}

//button
.btn_common {
    position:relative; display:inline-flex; align-items:center; justify-content:center; @include vw-pc(font-size,14); font-weight:700; @include vw-pc(padding-bottom, 2); border-bottom:1px solid #000;
    & * {pointer-events: none !important;} // 옴니태깅 오류 수정
    &.type_round {@include vw-pc(height, 40); @include vw-pc(padding-bottom, 0); background-color:#fff; color:#000; border:1px solid #000; @include vw-pc(border-radius, 20); transition:background-color .3s, color .3s, border .3s;}
    &.type_round:hover {background-color:#000; color:#fff;}
    &.type_round.black_bg {background-color:#000; color:#fff;}
    &.type_round.black_bg:hover {background-color:transparent; color:#000;}
    &.type_arrow::after {content:''; display:inline-block; @include vw-pc(width, 6); @include vw-pc(height, 6); @include vw-pc(margin, 0 2 1); border-bottom:2px solid #000; border-right:2px solid #000; @include vw-pc(border-width, 2); transform:rotate(-45deg);}
    &.type_anchor::after {content:''; display:inline-block; @include vw-pc(width, 6); @include vw-pc(height, 6); @include vw-pc(margin, 0 2 4 6); border-bottom:2px solid #000; border-right:2px solid #000; @include vw-pc(border-width, 2); transform:rotate(45deg);}
    &.type_anchor.active::after {@include vw-pc(margin, 4 2 0 6); transform:rotate(225deg);}
}

//tab
// .tab_contents .tab_content{display:none;}
// .tab_contents .tab_content.on{display:block;}

.dimm{display:none;position:fixed; top:0; left:0; right:0; bottom:0; background-color:#000; opacity:0.7; }

//포커스 스타일
.sec_project_wrap {
    :focus {outline: dashed 2px #2189ff !important;}
}

@media all and (min-width:769px) and (max-width:1920px) {

    .sec_project_wrap .inner_1920{max-width: 100%;}
}

@media all and (min-width:769px) and (max-width:1440px) {

    .sec_project_wrap .inner_1440{max-width: 100%;}
    .sec_project_wrap .inner_1320{max-width: 91.6666vw;}
    .sec_project_wrap .inner_1280{max-width: 88.8889vw;}
    .sec_project_wrap .inner_1200{max-width: 83.3333vw;}
}

@media all and (max-width:768px) {

    .m_hide{display:none !important;}
    .m_show{display:block !important;}

    .sec_project_wrap section{max-width:100%;}

    .sec_project_wrap .inner_1920,
    .sec_project_wrap .inner_1440,
    .sec_project_wrap .inner_1320,
    .sec_project_wrap .inner_1280,
    .sec_project_wrap .inner_1200{max-width: 100%;}

    .sec_project_wrap .alert_msg {top: 0;left: 0;width: 100%;background: #8a51d3;height: 4.5625vw; font-size: 3.2vw; line-height: 4.5625vw;}

    //button
    .btn_common {
        position:relative; display:inline-flex; align-items:center; justify-content:center; @include vw-mo(font-size,20); font-weight:700; @include vw-mo(padding-bottom, 2); border-bottom:1px solid #000;
        &.type_round {@include vw-mo(height, 80); @include vw-mo(border, 2 solid #000); @include vw-mo(border-radius, 40);}
        &.type_arrow::after {content:''; display:inline-block; @include vw-mo(width, 8); @include vw-mo(height, 8); @include vw-mo(margin, 0 2); border-bottom:2px solid #000; border-right:2px solid #000; @include vw-mo(border-width, 2); transform:rotate(-45deg);}
        &.type_anchor::after {content:''; display:inline-block; @include vw-mo(width, 8); @include vw-mo(height, 8); @include vw-mo(margin, 0 2 4 6); border-bottom:2px solid #000; border-right:2px solid #000; @include vw-mo(border-width, 2); transform:rotate(45deg);}
        &.type_anchor.active::after {@include vw-mo(margin, 6 2 0 6); transform:rotate(225deg);}
    }

    .swiper-button-prev:focus, .swiper-button-next:focus {outline: -webkit-focus-ring-color auto 1px;}

    .sec_project_wrap {
        :focus {outline: -webkit-focus-ring-color auto 1px !important;}
    }

}