html,
body {
  height: 100%;
}
body {
  width: 100%;
  -webkit-text-size-adjust: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button,
a,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
input,
select,
textarea,
button,
table {
  font-family: $font-main;
  font-size: $font-size-16;
  line-height: $line-height-16;
  font-weight: 400;
  color: $gray-3;
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
iframe,
fieldset {
  border: 0;
}
img {
  border: 0;
  vertical-align: middle;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}
em,
address {
  font-style: normal;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}
input,
select,
textarea,
button {
  vertical-align: middle;
}
button {
  cursor: pointer;
  width: auto;
  overflow: visible;
  color: inherit;
  font-size: inherit;
  vertical-align: middle;
  background: transparent;
  border: none;
}
button,
select {
  &:focus {
    outline: dotted 1px #888;
    outline-offset: -1px;
  }
}
button[disabled='disabled'] {
  cursor: default;
}
sup {
  line-height: 1;
  font-size: 0.7em;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  empty-cells: show;
}
caption,
legend {
  visibility: hidden;
  font-size: 0;
  width: 0;
  height: 0;
  line-height: 0;
}
input {
  &[type='tel']::-ms-clear,
  &[type='text']::-ms-clear,
  &[type='password']::-ms-reveal {
    display: none;
  }
}

input,
input.disabled,
select,
radio {
  &[disabled='disabled'] {
    background-color: $white;
    cursor: default;
    border-color: $gray-1;
  }
}

input[readonly='readonly'],
input.readonly {
  background-color: $white;
  cursor: default;
}

select {
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
select::-ms-expand {
  display: none;
}
::-webkit-input-placeholder {
  color: $gray-3;
  font-weight: normal;
}
::-moz-placeholder {
  color: $gray-3;
  font-weight: normal;
}
:-ms-input-placeholder {
  color: $gray-3;
  font-weight: normal;
}
:-moz-placeholder {
  color: $gray-3;
  font-weight: normal;
}
select.placeholder {
  color: $gray-3;
  font-weight: normal;
}
th,
td {
  text-indent: 0;
}
div:focus,
dl:focus,
dt:focus,
dd:focus,
ul:focus,
ol:focus,
li:focus,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
pre:focus,
code:focus,
form:focus,
fieldset:focus,
legend:focus,
p:focus,
blockquote:focus,
th:focus,
td:focus,
article:focus,
aside:focus,
details:focus,
figcaption:focus,
figure:focus,
footer:focus,
header:focus,
hgroup:focus,
main:focus,
nav:focus,
section:focus,
summary:focus,
a:focus,
div:hover,
dl:hover,
dt:hover,
dd:hover,
ul:hover,
ol:hover,
li:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover,
pre:hover,
code:hover,
form:hover,
fieldset:hover,
legend:hover,
p:hover,
blockquote:hover,
th:hover,
td:hover,
article:hover,
aside:hover,
details:hover,
figcaption:hover,
figure:hover,
footer:hover,
header:hover,
hgroup:hover,
main:hover,
nav:hover,
section:hover,
summary:hover {
  outline: none;
}
