<div class="contents about">
	<div class="top_banner">
		<div class="img_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/about/about_main2.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/about/pc_about.png" class="pc">
		</div>
		<div class="txt_wrap">
			<h2>ABOUT</h2>
			<p>다시, 처음</p>
		</div>
	</div>
	<section>
		<div class="content_wrap">
			<h4 data-aos="fade">맛진 <b>VOL 02</b></h4>
			<h2 data-aos="fade">
				<img src="/assets/imgs/round/<?=$this->round?>/about/about_text1.png" class="mo" style="width:39.2rem; margin:0 auto;">
				<img src="/assets/imgs/round/<?=$this->round?>/about/pc/about_아직 어린, 어른이.png" class="pc" style="width:40rem; margin:0 auto;">
			</h2>
			<img src="/assets/imgs/round/<?=$this->round?>/about/about_01.png" data-aos="fade">
			<div class="title" data-aos="fade">
				<img src="/assets/imgs/round/<?=$this->round?>/about/하루하루 살아가는데 바쁜 요즘!.png" class="mo" style="width:48.6rem; margin:0 auto;">
				<img src="/assets/imgs/round/<?=$this->round?>/about/pc/about_하루하루 살아가는데 바쁜 요즘!.png" class="pc" style="width:48.8rem; margin:0 auto;">
			</div>
			<p class="desc" data-aos="fade">잠깐의 휴식과 여유로움이 간절히 필요할 때, <br>즐거움까지 챙겨갈 롯데만의 동심여행 <br><span>그 속으로 퐁당 빠져보아요!</span></p>
		</div>
	</section>
	<section>
		<div class="content_wrap">
			<h4 data-aos="fade">맛진 소개</h4>
			<h2 data-aos="fade">TASTY ZINE</h2>
			<div class="img_wrap" data-aos="fade">
				<img src="/assets/imgs/round/<?=$this->round?>/about/about_sub02.png" class="mo">
				<img src="/assets/imgs/round/<?=$this->round?>/about/pc/tastyzine.png" class="pc">
			</div>
			<div class="box" data-aos="fade-up">
			<b>맛의 TASTY + 매거진의 ZINE = 맛ZINE</b> <br>
롯데GRS만의 맛있는 이야기로 가득 채운 사내웹진 맛진, <br>
최신 트렌드부터 롯데GRS의 다양한 소식이 <br>두 달에 한 번씩 여러분을 찾아갑니다.

			</div>
		</div>
	</section>
</div>