@import '../../../../../../../scss_global/scss-common2';
//@@ PC기준 클래스 정리 @@

// pt_notice : 하나의 큰 div
// pt_notice__title :  왼쪽 제일 큰 타이틀
// pt_notice__contents : 오른쪽 글 내용 전체 박스
// pt_desc__area : 글 내용 중 하나의 문단
// pt_desc : li의 내용들
// pt_desc--title : li의 상단 타이틀
// pt_desc--depth : li안에 ul 생성 후 li 생성 (몇 뎁스든 상관없음 계속 생성 가능)
// pt_desc--num : depth와 같이 사용 (번호 표시 있을 경우 / ex. ① )

// BC 유의사항 초기화
.flagship_notice { padding: 0 !important; background: none !important; }

.galaxy_fold_se {
    .sec_notice {
        background-color: #171717;
        .pt_wrap {@include vw-pc(max-width, 1096); margin: 0 auto; @include vw-pc(padding, 50 0 100);}
        .pt_notice {display: flex; @include vw-pc(padding-top, 50);

            &:not(:last-child) {@include vw-pc(padding-bottom, 40); @include vw-pc(border-bottom, 1 solid rgba(255, 255, 255, .3));}
            
            &__title {@include vw-pc(width, 204); @include vw-pc(padding-top, 3); @include vw-pc(font-size, 14); @include vw-pc(letter-spacing, -1.2); @include vw-pc(line-height, 20); color: #fff; word-break: break-all;}
            &__contents {@include vw-pc(width, 892);

                .pt_desc__area:not(:last-child) {@include vw-pc(margin-bottom, 20);}
                .pt_desc {position: relative; @include vw-pc(margin-left, 13); @include vw-pc(font-size, 14); @include vw-pc(letter-spacing, -.8); @include vw-pc(line-height, 28); color: #A3A3A3;
                    
                    &::after {content: ''; position: absolute; @include vw-pc(left, -14); @include vw-pc(top, 12); @include vw-pc(width, 4); @include vw-pc(height, 4); background-color: #A3A3A3; border-radius: 50%;}
                    &.pt_desc--none {
                        margin-left: 0;
                        &::after {display: none;}
                    }
                    // 당구장 표시
                    &.pt_desc--indent {
                        @include vw-pc(text-indent, -12);
                        &::after {display: none;}
                    }
                    
                    &--title {margin-left: 0; font-weight: 700;
                        &::after {display: none;}
                    }
                    &--depth {@include vw-pc(margin-left, 2); @include vw-pc(padding-left, 7.5); @include vw-pc(text-indent, -7.5);
                        &::after {display: none;}
                    }
                    &--num {
                        @include vw-pc(padding-left, 16); @include vw-pc(text-indent, -16);
                        
                        &.pt_desc--none {
                            margin-left: 0; 
                            &::after {display: none;}
                        }
                    }                    
                }
            }
            &__link {border-bottom: 1px solid #A3A3A3;}
        }

        .pt_tbl {
            @include vw-pc(padding,7 0); @include vw-pc(width, 550);

            table {width: 100%; border-collapse: collapse;}
            th {font-weight: 400;}
            th, td {@include vw-pc(font-size,14); @include vw-pc(line-height,20); text-align: center; vertical-align: middle; letter-spacing: -0.025em; border: 1px solid rgba(255,255,255,.5);}
            thead th {border-bottom: 0;}
            // tr:nth-child(2) {
            //     th, td {background-color: rgba(255,255,255,.08);}
            // }
        }
    }

    // 매장픽업
    .pt_modal_pickup {
        display: none; position: fixed; top: 50%; left: 50%; z-index: 101; transform: translate(-50%, -50%);
        .pt_modal__box {@include vw-pc(width,655); @include vw-pc(border-radius,20); background-color: #fff; overflow: hidden;}
        .pt_modal__inner {@include vw-pc(padding,63 42 60); max-height: 65vh; text-align: center; overflow-y: auto;}
        .pt_modal__header {@include vw-pc(margin-bottom,24);}
        .pt_title {@include vw-pc(font-size,24); @include vw-pc(line-height,32); font-weight: 700; letter-spacing: -0.04em;}
        .pt_subtitle {display: block; @include vw-pc(margin-bottom,16); @include vw-pc(font-size,18); @include vw-pc(line-height,23); font-weight: 700; letter-spacing: -0.04em;}
        .pt_pickup__item {
            position: relative; @include vw-pc(padding,11 0); color: #4E4E4E; @include vw-pc(font-size,16); @include vw-pc(line-height,21); letter-spacing: -0.04em; border-bottom: 1px solid #999;
            &:first-child {border-top: 1px solid #999;}
    
            .pt_num {position: absolute; top: 50%; @include vw-pc(left,18); transform: translateY(-50%); display: flex; justify-content: center; align-items: center; @include vw-pc(width,28); @include vw-pc(height,28); color: #fff; @include vw-pc(font-size,12); @include vw-pc(border-radius,8); font-weight: 700; letter-spacing: -0.02em; background: #ccc;}
        }
        .pt_btn--close {position: absolute; @include vw-pc(bottom,-60); left: 50%; transform: translateX(-50%); display: inline-block; @include vw-pc(width,40); @include vw-pc(height,40); background: #fff url('../../is/images/notice/q6a_btn_popup_close_pc.png') no-repeat center; @include vw-pc(background-size,14); border-radius: 50%;}

    }
}

@media screen and (max-width: 768px) {

    .galaxy_fold_se {
        .sec_notice {
            .pt_wrap {width: 100%; max-width: none; @include vw-mo(padding, 70 35 80); overflow: hidden;}
            .pt_notice {flex-direction: column; @include vw-mo(padding-top, 50);
    
                &:not(:last-child) {@include vw-mo(padding-bottom, 50); @include vw-mo(border-bottom, 1 solid rgba(255, 255, 255, .3));}

                &__title {width: 100%; @include vw-mo(padding-top, 0); @include vw-mo(margin-bottom, 26); @include vw-mo(font-size, 24); @include vw-mo(letter-spacing, -1); @include vw-mo(line-height, 32);}
                &__contents {width: 100%;
    
                    .pt_desc__area:not(:last-child) {@include vw-mo(margin-bottom, 20);}
                    .pt_desc {@include vw-mo(margin-left, 10); @include vw-mo(font-size, 24); @include vw-mo(letter-spacing, -1); @include vw-mo(line-height, 40);
                        
                        &::after {content: ''; position: absolute; @include vw-mo(left, -14); @include vw-mo(top, 18); @include vw-mo(width, 3); @include vw-mo(height, 3);}
                        // 당구장 표시
                        &.pt_desc--indent {@include vw-mo(text-indent, -18);}
                        
                        &--title {margin-left: 0; @include vw-mo(margin-bottom, 12);
                            &::after {display: none;}
                        }
                        &--depth {@include vw-mo(margin-left, 4); @include vw-mo(padding-left, 13); @include vw-mo(text-indent, -13);
                            &::after {display: none;}
                        }
                        &--num {@include vw-mo(padding-left, 28); @include vw-mo(text-indent, -28);}
                    }
                }
            }

            .pt_tbl {
                @include vw-mo(padding,8 0); width: 100%;

                table {width: 100%; border-collapse: collapse;}
                th, td {@include vw-mo(font-size,19); @include vw-mo(line-height,28); text-align: center; vertical-align: middle; letter-spacing: -0.025em; border: 1px solid rgba(255,255,255,.5);}
                // tr:nth-child(2) {
                //     th, td {background-color: rgba(255,255,255,.08);}
                // }
            }
        }

        // 매장픽업
        .pt_modal_pickup {
            top: 40%;
            
           .pt_modal__box {@include vw-mo(width,600); @include vw-mo(border-radius,20);}
           .pt_modal__inner {@include vw-mo(padding,57 24 60);}
           .pt_modal__header {@include vw-mo(margin-bottom,34);}
           .pt_title {@include vw-mo(font-size,31); @include vw-mo(line-height,41); letter-spacing: -0.04em;}
           .pt_subtitle {@include vw-mo(margin-bottom,14); @include vw-mo(font-size,24); @include vw-mo(line-height,32); letter-spacing: -0.04em;}
           .pt_pickup__item {
               @include vw-mo(padding,8 0); @include vw-mo(font-size,21); @include vw-mo(line-height,27); letter-spacing: -0.04em; 
       
               .pt_num {@include vw-mo(left,6); @include vw-mo(width,28); @include vw-mo(height,28); @include vw-mo(font-size,12); letter-spacing: -0.02em; @include vw-mo(border-radius,8);}
           }
            .pt_btn--close {position: absolute; @include vw-mo(bottom,-105); left: 50%; display: inline-block; @include vw-mo(width,65); @include vw-mo(height,65); background: #fff url('../../is/images/notice/q6a_btn_popup_close_mo.png') no-repeat center; @include vw-mo(background-size, 26); border-radius: 50%; transform: translateX(-50%);}
       }
    }

}
