<link rel="stylesheet" href="/assets/css/8/base.css" />
<link rel="stylesheet" href="/assets/css/8/event.css" />
<link rel="stylesheet" href="/assets/css/8/modal.css" />

<div class="event">
  <div data-aos="fade">
    <img
      src="/assets/imgs/round/8/event/pc_banner.png"
      alt="event"
      title="event"
      class="pc_banner"
    />
    <img
      src="/assets/imgs/round/8/event/mo_banner.png"
      alt="event"
      title="event"
      class="mo_banner"
    />
  </div>
  <div class="mt100 mt-lg-15">
    <div class="wraper">
      <div class="event-title">
        <p>
          <b
            >AhAh📣<br />
            맛있는 여행을 위한 심사가 있겠습니다<br />
            여행 준비는 맛ZINE과 함께!</b
          >
        </p>
      </div>
      <p class="f20 f16-lg tc mt10">
        이곳저곳 숨어있는 맛ZINE 입국심사 스탬프를 찾아주세요👓
      </p>

      <div
        class="flex flex-vc nowrap gap30 gap-lg-0 mt140 pt100 mt-lg-40 pt-lg-0 is-pc"
      >
        <div class="event-item">
          <div class="article-thumbnail-inner">
            <img src="/assets/imgs/round/8/event/1.png" />
          </div>
          <div class="tc desc-inner pt30 pl30 pb40 pr30">
            <div class="f24"><b>STEP. 1</b></div>
            <div class="f20 mt20 mt-lg-15 desc">
              맛ZINE 입국심사 <b>스탬프</b>를 찾아<br />
              <b>댓글에 여행 갈 때 듣는 나만의 음악</b>를<br />
              적어보세요!
            </div>
          </div>
        </div>
        <div class="event-item">
          <div class="article-thumbnail-inner">
            <img src="/assets/imgs/round/8/event/2.png" />
          </div>
          <div class="tc desc-inner pt30 pl30 pb40 pr30">
            <div class="f24"><b>STEP. 2</b></div>
            <div class="f20 mt20 mt-lg-15 desc">
              맛ZINE 입국심사 스탬프는<br />
              <b>POST</b>와 <b>NEWS</b> 페이지<br />
              곳곳에 숨어있어요!
            </div>
          </div>
        </div>
        <div class="event-item">
          <div class="article-thumbnail-inner">
            <img src="/assets/imgs/round/8/event/3.png" />
          </div>
          <div class="tc desc-inner pt30 pl30 pb40 pr30">
            <div class="f24"><b>STEP. 3</b></div>
            <div class="f20 mt20 mt-lg-15 desc">
              스탬프 3개 중 <b>하나</b>만 찾아도<br />
              <b>총 7인</b>에게 댓글 추첨을 통해<br />
              <b>특별한 선물</b>을 드립니다!
            </div>
          </div>
        </div>
      </div>

      <div class="is-mo">
        <div>
          <div>
            <div>STEP. 1</div>
            <div>
              맛진이가 잃어버린 <span>생일초</span>을 찾아 <br /><span
                >댓글에 소원</span
              >을 빌어보세요!
            </div>
          </div>
          <div>
            <div>STEP. 2</div>
            <div>
              잃어버린 생일초는 <br /><span>POST</span>와
              <span>NEWS</span> 페이지 <br />곳곳에 숨어있어요!
            </div>
          </div>
          <div>
            <div>STEP. 3</div>
            <div>
              생일초 3개 중 <span>하나</span>만 찾아도 <br /><span>총 7인</span
              >에게 댓글 추첨을 통해 <br /><span>특별한 선물</span>을 드립니다!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="event-01 mt95 mt-lg-15">
    <div class="wraper pt100 pb30 pt-lg-30 pb100">
      <div class="event-title tc">
        <strong class="title f18-lg">🎧감미로운 여행을 위한 선물🎧</strong>
        <p class="f20 f18-lg mt24 mt-lg-15">
          여행하면 빠질 수 없는 게 바로 음악이지~🎵<br />
          온 가족이 함께 눈과 귀가 즐거운 여행을 떠나보는 건 어때?
        </p>
      </div>
      <div class="flex gap20 mt80 mt-lg-15">
        <div class="event-image flex flex-vb pb58">
          <div class="w280 center">
            <p class="item_count">7명</p>
            <img src="/assets/imgs/round/8/event/4.png" />
          </div>
          <p class="f30 col-12 text_align_center">
            <b>소니 WH-CH720N 블루투스 헤드폰</b>
          </p>
        </div>
        <div class="event-image flex flex-vb pb58">
          <div class="w280 center">
            <p class="item_count">10명</p>
            <img src="/assets/imgs/round/8/event/5.png" />
          </div>
          <p class="f30 col-12 text_align_center"><b>키자니아 입장권 2매</b></p>
        </div>
      </div>
    </div>
  </div>

  <div class="event-02">
    <div class="wraper">
      <div class="flex">
        <b>안내사항</b>
        <ul>
          <li>
            이벤트 참여 시, 개인정보 오기재으로 인한 당첨자 누락은 책임지지
            않습니다.
          </li>
          <li>당첨자 안내 및 경품 발송은 개별 연락처로 안내해 드립니다.</li>
          <li>
            본 이벤트의 경품 제공을 목적으로 개인 정보를 요구할 수 있습니다.
          </li>
          <li>
            당첨자 안내 개별 메시지 발송일 이후 14일 이내에 경품 수령 의사 및
            개인 정보 회신이 없을 시, 자동으로 당첨자 대상에서 제외될 수
            있습니다.
          </li>
          <li>
            이벤트 경품 수령을 위한 개인정보 회신 확인 후 순차적으로 경품을
            발송해드립니다.
          </li>
          <li>
            수집된 개인정보는 이벤트 안내 및 경품 증정 이외에는 사용되지
            않습니다.
          </li>
          <li>
            경품은 이벤트 참여 시 작성해주신 개인 정보로만 발송 가능하며, 다른
            이름, 연락처, 주소 등으로 변경하여 수령하는 것은 불가합니다.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="event-03">
    <div class="event-comment">
      <div class="comment-head">
        <div class="wraper">
          <div class="flex flex-tl">
            <strong>댓글</strong>
            <ul>
              <li class="active"><a href="javascript:;">추천순</a></li>
              <li><a href="javascript:;">최신순</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="comment-body">
        <!-- tabs기능 -->
        <!-- <div class="wraper"> 
					<div class="comment-tab">
						<ul>
							<li class="active"><a href="javascript:;">EVENT.1</a></li>
							<li><a href="javascript:;">EVENT.2</a></li>
						</ul>
					</div>
				</div> -->
        <div class="comment-list">
          <!-- <p class="list-none">등록된 댓글이 없습니다.</p> -->
          <div class="wraper">
            <ul class="list" id="list">
              <!-- 댓글 데이터 삽입 -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var round = 8;
  var index = 1;
  var order = 1;
  var ignore_seq = [];
  var isFetching = false;

  $(document).ready(function () {
    show_more();
  });

  // 이벤트 탭
  $(document).on("click", ".comment-tab ul li a", function () {
    var parents = $(this).parent("li");
    var idx = parents.index();

    ignore_seq = [];

    if (parents.siblings().hasClass("active")) {
      index = index === 1 ? 2 : 1;
      init_reply_data();
      show_more();
    }
    parents.addClass("active").siblings().removeClass("active");
  });

  // 추천순/최신순 탭
  $(document).on("click", ".comment-head ul li a", function () {
    var parents = $(this).parent("li");
    var idx = parents.index();

    ignore_seq = [];
    if (parents.siblings().hasClass("active")) {
      order = order === 1 ? 2 : 1;
      init_reply_data();
      show_more();
    }

    parents.addClass("active").siblings().removeClass("active");
  });

  // 팝업
  function popupOpen() {
    $(`.modal`).css({
      visibility: "visible",
      "pointer-events": "inherit",
    });
    $(`.event_popup_0`).css("display", "block");
  }

  function show_more() {
    isFetching = true;
    get_reply_data();
  }

  function init_reply_data() {
    $("#list").html("");
  }

  function get_reply_data() {
    $.post(
      "/event/get_reply_data",
      { round: round, index: index, order: order, ignore_seq: ignore_seq },
      function (result) {
        var r = JSON.parse(result);

        if (r.result) {
          var html = "";
          if (r.list.length) {
            for (var i = 0; i < r.list.length; i++) {
              html += '<li class="list-item">';
              html += '<div class="list-head">';
              if (r.list[i].image_datas.length > 0) {
                html +=
                  '<img class="mo" src="/' +
                  r.list[i].image_datas[0].file_path +
                  '">';
              } else {
                html +=
                  '<img class="mo" src="/assets/imgs/round/6/event/profile.svg">';
              }
              html += "<div>";
              html += "<b>" + r.list[i].nickname + "</b>";
              html += "<time>" + r.list[i].date + "</time>";
              html += "</div>";
              html += "</div>";
              html += '<div class="list-body">';
              html += "<p>" + r.list[i].text + "</p>";
              html += '<div class="list-body-like">';
              if (r.list[i].log_seq) {
                html +=
                  '<a href="javascript:like(' +
                  r.list[i].seq +
                  ')" id="like' +
                  r.list[i].seq +
                  '" class="active">' +
                  r.list[i].like.toLocaleString("en") +
                  "</a>";
              } else {
                html +=
                  '<a href="javascript:like(' +
                  r.list[i].seq +
                  ')" id="like' +
                  r.list[i].seq +
                  '">' +
                  r.list[i].like.toLocaleString("en") +
                  "</a>";
              }
              html += "</div>";
              html += "</div>";
              html += "</li>";
              html += '<input type="hidden" value="' + r.list[i].seq + '">';
              ignore_seq.push(r.list[i].seq);
            }
          }

          $("#list").append(html);
          isFetching = false;
        }
      }
    );
  }

  function like(seq) {
    $.post("/event/like", { seq: seq }, function (result) {
      var r = JSON.parse(result);
      if (r.result) {
        $("#like" + seq).html(r.after);
        if (Number(r.after) > Number(r.before)) {
          $("#like" + seq).addClass("active");
        } else {
          $("#like" + seq).removeClass("active");
        }
      } else {
        alert(r.msg);
      }
    });
  }

  window.onscroll = function (e) {
    if (
      !isFetching &&
      window.innerHeight + window.scrollY + 100 >= document.body.offsetHeight
    ) {
      show_more();
    }
  };
</script>

<script src="/assets/js/rabbit-event.js"></script>
