<link rel="stylesheet" href="/assets/css/11/base.css" />
<link rel="stylesheet" href="/assets/css/11/event.css" />

<style>
  header {
    background: #000 !important;
  }
</style>

<div class="event">
  <div>
    <img
      src="/assets/imgs/round/11/event/pc_banner.webp"
      alt="event"
      title="event"
      class="pc_banner"
    />
    <img
      src="/assets/imgs/round/11/event/mo_banner.webp"
      alt="event"
      title="event"
      class="mo_banner"
    />
  </div>

  <div class="event-01">
    <div class="container">
      <p class="period pt10 pb10 pl20 pr20 f20">참여 기간 : 12/19 ~ 01/21</p>
      <div class="event-title mt20 mt-lg-25">
        <p>TASTY WINTER</p>
      </div>
      <div class="event-title event-image mt24 mt-lg-18 f20 f16-lg">
        <div class="block">
          오직 겨울에만 할 수 있는게 뭐가 있을까?<br />
          맛진이는 눈사람 만드는 게 가장 먼저 떠올랐어!<br />
          눈사람이 완성된 모습을 보면 얼마나 뿌듯한지 몰라~<br />
          인증샷 찍어서 친구들한테 자랑도 할 수 있다구 😎
        </div>
        <div class="block mt24">
          <b>우리 함께 귀여운 눈사람을 만들어보자! ⛄<br /></b>
          근데.. 뭔가 허전한 기분이 드는 건 왜일까..?!
        </div>
        <div class="block mt24">
          앗..! 너무 설레서 헐레벌떡 오는 바람에<br />
          눈사람을 장식해줄 소품도 깜빡하고<br />
          빈손으로 와버렸지 뭐야.. 😅
        </div>
        <div class="block mt34">
          <b>
            맛둥이들이 우리의 눈사람을 위해<br />
            맛진 속에 숨어있는 소품들을 찾아줘!
          </b>
        </div>
      </div>
      <div
        class="flex flex-vc flex-tc fd-lg-c nowrap gap30 gap-lg-60 mt140 mt-lg-100 pt100 pt-lg-0 is-pc"
      >
        <div class="event-item mt-lg-100">
          <div class="article-thumbnail-inner">
            <img src="/assets/imgs/round/11/event/prop01_BK.png" />
          </div>
          <div class="tc desc-inner pt30 pl30 pb40 pr30">
            <div class="f24"><b>STEP. 1</b></div>
            <div class="f20 mt20 mt-lg-15 desc">
              맛진의 콘텐츠들을 꼼꼼히 읽어주세요!<br />
              (Hint: 눈사람 소품은 POST,<br />
              NEWS 페이지 중 어딘가에 숨어있어요!)
            </div>
          </div>
        </div>
        <div class="event-item mt-lg-100">
          <div class="article-thumbnail-inner">
            <img src="/assets/imgs/round/11/event/prop02_BK.png" />
          </div>
          <div class="tc desc-inner pt30 pl30 pb40 pr30">
            <div class="f24"><b>STEP. 2</b></div>
            <div class="f20 mt20 mt-lg-15 desc">
              소품을 발견하셨다면, 클릭 후<br />
              <b>올 한 해 가장 기억에 남는 일과</b><br />
              <b>그 이유</b>를 댓글로 남겨주세요!
            </div>
          </div>
        </div>
        <div class="event-item mt-lg-100">
          <div class="article-thumbnail-inner">
            <img src="/assets/imgs/round/11/event/prop03_BK.png" />
          </div>
          <div class="tc desc-inner pt30 pl30 pb40 pr30">
            <div class="f24"><b>STEP. 3</b></div>
            <div class="f20 mt20 mt-lg-15 desc">
              소품들 중 하나를 찾아 댓글에 참여 하면,<br />
              추첨을 통해 총 20분에게<br />
              감사의 선물을 드립니다!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="event-03">
    <div class="container">
      <div class="event-title">
        <p>🎄 당신의 행복한 겨울을 위한 선물 🎄</p>
      </div>
      <div class="event-present">
        <div class="pre-01">
          <div class="col-12 relative fd-lg-c">
            <div class="giftcard">
              <div class="event_member">2명</div>
              <div class="event-image br">
                <img src="/assets/imgs/round/11/event/1.webp" />
                <p>닌텐도 스위치</p>
              </div>
            </div>
            <div class="giftcard">
              <div class="event_member">3명</div>
              <div class="event-image br">
                <img src="/assets/imgs/round/11/event/2.webp" />
                <p>코닥 미니샷3 레트로</p>
              </div>
            </div>
            <div class="giftcard">
              <div class="event_member">5명</div>
              <div class="event-image br">
                <img src="/assets/imgs/round/11/event/3.webp" />
                <p>이솝 핸드&바디케어 세트</p>
              </div>
            </div>
            <div class="giftcard">
              <div class="event_member">10명</div>
              <div class="event-image">
                <img src="/assets/imgs/round/11/event/4.webp" />
                <p>엔제리너스 아소부 얼티밋 머그</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="event-content mt40 mt-lg-20 pb100">
        <p class="tc f22">※경품은 선택이 불가하며, 랜덤 증정됩니다.</p>
      </div>
    </div>

    <div class="event-05">
      <div class="container">
        <div class="flex">
          <b>안내사항</b>
          <ul>
            <li>
              이벤트 참여 시, 개인정보 오기재으로 인한 당첨자 누락은 책임지지
              않습니다.
            </li>
            <li>당첨자 안내 및 경품 발송은 개별 연락처로 안내해 드립니다.</li>
            <li>
              본 이벤트의 경품 제공을 목적으로 개인 정보를 요구할 수 있습니다.
            </li>
            <li>
              당첨자 안내 개별 메시지 발송일 이후 14일 이내에 경품 수령 의사 및
              개인 정보 회신이 없을 시, 자동으로 당첨자 대상에서 제외될 수
              있습니다.
            </li>
            <li>
              이벤트 경품 수령을 위한 개인정보 회신 확인 후 순차적으로 경품을
              발송해드립니다.
            </li>
            <li>
              수집된 개인정보는 이벤트 안내 및 경품 증정 이외에는 사용되지
              않습니다.
            </li>
            <li>
              경품은 이벤트 참여 시 작성해주신 개인 정보로만 발송 가능하며, 다른
              이름, 연락처, 주소 등으로 변경하여 수령하는 것은 불가합니다.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="event-06">
      <div class="container">
        <div class="event-comment">
          <div class="comment-head">
            <strong>댓글</strong>
            <ul>
              <li class="active"><a href="javascript:;">추천순</a></li>
              <li><a href="javascript:;">최신순</a></li>
            </ul>
          </div>
          <div class="comment-body">
            <div class="comment-list">
              <!-- <p class="list-none">등록된 댓글이 없습니다.</p> -->
              <ul class="list" id="list"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var round = 11;
    var index = 1;
    var order = 1;
    var ignore_seq = [];
    var isFetching = false;

    $(document).ready(function () {
      show_more();
    });

    // 추천순/최신순 탭
    $(document).on("click", ".comment-head ul li a", function () {
      var parents = $(this).parent("li");
      var idx = parents.index();

      ignore_seq = [];
      if (parents.siblings().hasClass("active")) {
        order = order === 1 ? 2 : 1;
        init_reply_data();
        show_more();
      }

      parents.addClass("active").siblings().removeClass("active");
    });

    // 팝업
    function popupOpen(index) {
      $(`.modal`).css({
        visibility: "visible",
        "pointer-events": "inherit",
      });
      $(".event_popup_1").css("display", "block");
      $(".p_btn_1").attr("data-index", index);
    }

    function show_more() {
      isFetching = true;
      get_reply_data();
    }

    function init_reply_data() {
      $("#list").html("");
    }

    function get_reply_data() {
      $.post(
        "/event/get_reply_data",
        { round: round, index: index, order: order, ignore_seq: ignore_seq },
        function (result) {
          var r = JSON.parse(result);

          if (r.result) {
            var html = "";
            if (r.list.length) {
              for (var i = 0; i < r.list.length; i++) {
                html += '<li class="list-item">';
                html += '<div class="list-head">';
                if (r.list[i].image_datas.length > 0) {
                  html +=
                    '<img class="mo" src="/' +
                    r.list[i].image_datas[0].file_path +
                    '">';
                } else {
                  html +=
                    '<img class="mo" src="/assets/imgs/round/6/event/profile.svg">';
                }
                html += "<div>";
                html += "<b>" + r.list[i].nickname + "</b>";
                html += "<time>" + r.list[i].date + "</time>";
                html += "</div>";
                html += "</div>";
                html += '<div class="list-body">';
                html += "<p>" + r.list[i].text + "</p>";
                html += '<div class="list-body-like">';
                if (r.list[i].log_seq) {
                  html +=
                    '<a href="javascript:like(' +
                    r.list[i].seq +
                    ')" id="like' +
                    r.list[i].seq +
                    '" class="active">' +
                    r.list[i].like.toLocaleString("en") +
                    "</a>";
                } else {
                  html +=
                    '<a href="javascript:like(' +
                    r.list[i].seq +
                    ')" id="like' +
                    r.list[i].seq +
                    '">' +
                    r.list[i].like.toLocaleString("en") +
                    "</a>";
                }
                html += "</div>";
                html += "</div>";
                html += "</li>";
                html += '<input type="hidden" value="' + r.list[i].seq + '">';
                ignore_seq.push(r.list[i].seq);
              }
            }

            $("#list").append(html);
            isFetching = false;
          }
        }
      );
    }

    function like(seq) {
      $.post("/event/like", { seq: seq }, function (result) {
        var r = JSON.parse(result);
        if (r.result) {
          $("#like" + seq).html(r.after);
          if (Number(r.after) > Number(r.before)) {
            $("#like" + seq).addClass("active");
          } else {
            $("#like" + seq).removeClass("active");
          }
        } else {
          alert(r.msg);
        }
      });
    }

    window.onscroll = function (e) {
      if (
        !isFetching &&
        window.innerHeight + window.scrollY + 100 >= document.body.offsetHeight
      ) {
        show_more();
      }
    };
  </script>
</div>
