<link rel="stylesheet" href="/assets/css/11/eventWinners.css" />

<style>
  header {
    background: #000 !important;
  }
</style>

<div class="event content_box">
  <div class="image section1" data-aos="fade">
    <div class="image_pc">
      <img
        src="/assets/imgs/round/11/event/winner/pc_banner.png"
        alt="event"
        title="event"
      />
    </div>
    <div class="image_mo">
      <img
        src="/assets/imgs/round/11/event/winner/mo_banner.png"
        alt="event"
        title="event"
      />
    </div>
  </div>

  <div class="event_content wrap section2">
    <div class="event_title kr">
      <div class="event_finish_sub_title">마감된 이벤트</div>
      <div class="event_finish_title">맛진 TASTY WINTER<br/>당첨자 발표</div>
      <div class="event_finish_description">
        맛둥이들 덕분에 예쁜 눈사람을 완성했어 너무 고마워🥰<br />
        맛둥이들이 한 해 가장 기억에 남는 일을 알려준 덕분에 <br />
        우리가 더욱 가까워진 것 같아<br />
        <span class="event_finish_description-bold"
          >다음 2월호도 풍성한 이벤트로 찾아올게 또 만나!</span
        >
      </div>
      <div class="event_finish_description-hint">
        <p>※ 이벤트 당첨자 개별 안내 예정</p>
        <p>※ 경품은 선택이 불가하며, 랜덤 증정됩니다. </p>
      </div>
    </div>
  </div>
  <div class="lineBorder"></div>
  <div class="event_content wrap section3">
    <div class="event_finish_gift_title">
      🎁 행복한 겨울을 위한 선물 🎁
    </div>
    <div class="gift_wrapper mobile">
      <div class="gift_item" data-aos="fade-up">
        <div class="wrap_inner">
          <div class="inner">
            <div class="gift_item_count">2명</div>
            <img
              class="gift_img"
              src="/assets/imgs/round/11/event/winner/profile_1.png"
            />
            <div class="gift_item_description">닌텐도 스위치</div>
          </div>
          <i class="line"></i>
          <div class="inner">
            <div class="gift_item_count">3명</div>
            <img
              class="gift_img"
              src="/assets/imgs/round/11/event/winner/profile_2.png"
            />
            <div class="gift_item_description">코닥 미니샷3 레트로 </div>
          </div>
        </div>

        <div class="wrap_inner">
          <div class="inner">
            <div class="gift_item_count">5명</div>
            <img
              class="gift_img"
              src="/assets/imgs/round/11/event/winner/profile_3.png"
            />
            <div class="gift_item_description">이솝<br/> 핸드&바디케어 세트</div>
          </div>
          <i class="line"></i>
          <div class="inner">
            <div class="gift_item_count">10명</div>
            <img
              class="gift_img"
              src="/assets/imgs/round/11/event/winner/profile_4.png"
            />
            <div class="gift_item_description">엔제리너스<br/>아소부 얼티밋 머그 </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gift_wrapper pc">
      <div class="pre-01 gift_item" data-aos="fade-up">
        <div class="inner">
          <div class="gift_item_count">2명</div>
          <img
            class="gift_img"
            src="/assets/imgs/round/11/event/winner/profile_1.png"
          />
          <div class="gift_item_description">닌텐도 스위치</div>
        </div>
        <i class="line"></i>
        <div class="inner">
          <div class="gift_item_count">3명</div>
          <img
            class="gift_img"
            src="/assets/imgs/round/11/event/winner/profile_2.png"
          />
          <div class="gift_item_description">코닥 미니샷3 레트로 </div>
        </div>
        <i class="line"></i>
        <div class="inner">
          <div class="gift_item_count">5명</div>
          <img
            class="gift_img"
            src="/assets/imgs/round/11/event/winner/profile_3.png"
          />
          <div class="gift_item_description">이솝 핸드&바디케어 세트</div>
        </div>
        <i class="line"></i>
        <div class="inner">
          <div class="gift_item_count">10명</div>
          <img
            class="gift_img"
            src="/assets/imgs/round/11/event/winner/profile_4.png"
          />
          <div class="gift_item_description">엔제리너스<br/>아소부 얼티밋 머그 </div>
        </div>
      </div>
    </div>
    <div class="gift_description_wrapper" data-aos="fade-up">
      <div class="gift_text_description">
        ※ 당첨자 경품은 2월 내 발송 예정입니다<br />
      </div>
      <div class="gift_text_description">
        ※ 이벤트 당첨자 개별 안내 후<br class="mo" /> 개인정보 회신 확인에 따라 순차적 발송됩니다.
      </div>
    </div>
  </div>
  <div class="lineBorder"></div>
  <div class="event_content_wrap section4">
    <div class="sub_text mt100 mt-lg-60">
      <div class="pc">
        <div class="kr" data-aos="fade">
          <p>TASTY WINTER를 더 완성도 있게 만들어준 <span>18</span>인을 소개합니다</p>
        </div>
      </div>
      <div class="mo">
        <div class="kr" data-aos="fade">
          <p>TASTY WINTER를 더 완성도 있게 만들어준<br class="mo"> <span>18</span>인을 소개합니다</p>
        </div>
      </div>
    </div>
    <div class="border_box_wrapper">
      <div class="border_box">당첨을 축하합니다!</div>
    </div>
    <div class="reward fullin mt20">
      <div class="pc">
        <div class="left">
          <!-- 데이터 삽입 -->
        </div>
        <div class="right">
          <!-- 데이터 삽입 -->
        </div>
      </div>
      <div class="mo">
        <!-- 데이터 삽입 -->
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/event/11/event_winner.js" type="module"></script>
