<style>
section.gray {background-color:#F5F5F5;}
section.gray .content_wrap {padding-top:4.8rem;}
.txt_wrap img {width:10rem; height:10rem; object-fit:cover; border-radius:1000px; margin-right:3.6rem;}
.txt_wrap {display:flex;}
.txt_wrap span {color:#717171; font-size:2.2rem;}
.txt_wrap p {color:#3a3a3a; font-size:2.4rem; margin-top:.5rem;}
.ballon {padding:2rem; margin-bottom:4.3rem; font-size:2.4rem;}
.ballon span:first-child {font-weight:bold; color:#037781;}
.ballon.right span:first-child {margin-right:1.2rem;}
.ballon.left span:first-child {margin-right:1.5rem; color:#037781;}
.ballon.right::before {bottom:-4rem;}
.ballon.left::before {bottom:-4rem;}
.ballon.mint {background-color:#037781; color:#fff;}
.ballon.mint span:first-child {color:#fff;}
.ballon.mint::before {border-top: 4rem solid #037781; border-bottom: 5.2rem solid transparent; border-left: 0px solid #037781; border-right: 5.2rem solid #037781;}

.contents .sub_header .content_wrap {padding:9.6rem 3.6rem 4rem 3.6rem;}
.contents .video_wrap {position:relative; padding:56.25% 0 0 0; margin-top:4rem;}

@media (min-width: 1280px) {
	 section.gray .content_wrap {padding:4.8rem 0;}
	.contents section:last-of-type .content_wrap {padding-bottom:8.8rem;}
	.video {margin-top:7rem; width:100vw; margin-left: calc( 640px - 50vw ); margin-right: calc( 640px - 50vw );}
	.video::after {background:url('/assets/imgs/icon/play_pc.svg'); background-size:12rem 12rem; background-position:center center; background-repeat: no-repeat;}
	.ballon {}
	.ballon span:first-child {color:#037781;}
	.ballon span:last-child {}
	
	.contents .sub_header .content_wrap {padding:10rem 0 10rem;}
}
</style>
<div class="contents interview">
	<div class="top_banner">
		<div class="img_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/interview/interview_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/interview/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<h2>INTERVIEW</h2>
			<p>한 번 들어볼래?</p>
		</div>
	</div>
	
	<section class="sub_header">
		<div class="content_wrap">
			<h4 data-aos="fade">세대별 추억템, 라떼토크</h4>
			<h2 data-aos="fade">니네가 라떼를 알어?</h2>
			<div class="fullhalf">
				<div class="video_wrap">
					<iframe src="https://player.vimeo.com/video/720098660?h=7fc1f34f55" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>
	<section class="gray">
		<div class="content_wrap">
			<div class="ballon right" data-aos="fade-up">
				<div>
					<span>Q</span>
					<span><b>판치기</b> 기업문화개선팀 <span class="mint">김광우</span></span>
				</div>
				<div>
					<span>A</span>
					<span>판치기는 국사책이 근본이죠 !!! <br>처음엔 장난으로 시작했다가 도박이되요 ㅎㅋㅎㅋ</span>
				</div>
			</div>
			<div class="ballon left" data-aos="fade-up">
				<div>
					<span>Q</span>
					<span><b>카페</b> 마케팅홍보팀 <span class="mint">천누리</span></span>
				</div>
				<div>
					<span>A</span>
					<span>어릴 적에는 카페(with 담배)가기 쉽지 않아서 <br>롯데리아를 정말 많이 갔어요 !! <br><span class="mint">PS. 추억이 살아 숨 쉬는 롯데리아 ~ ♥</span></span>
				</div>
			</div>
			<div class="ballon right" data-aos="fade-up">
				<div>
					<span>Q</span>
					<span><b>회수권</b> 커피사업팀 <span class="mint">이만재</span></span>
				</div>
				<div>
					<span>A</span>
					<span>경기도 안양에서는 학생용을 팔았어요 ! <br>
					90년대 후반까지 있었답니다 ㅎㅎ <br>
					Ps. 80년대 아님... 진짜 아님....</span>
				</div>
			</div>
			<div class="ballon left" data-aos="fade-up">
				<div>
					<span>Q</span>
					<span><b>플로피디스크</b> 햄버거사업지원팀 <span class="mint">김혜원</span></span>
				</div>
				<div>
					<span>A</span>
					<span>초등학생 때는 플로피디스크로 숙제 제출했어요 <br>요즘 저장파일 버튼의 시초예요 !!</span>
				</div>
			</div>
		</div>
	</section>
</div>