<style>
section.gray {background-color:#F5F5F5;}
section.gray .content_wrap {padding-top:4.8rem;}
.txt_wrap img {width:10rem; height:10rem; object-fit:cover; border-radius:1000px; margin-right:3.6rem;}
.txt_wrap {display:flex;}
.txt_wrap span {color:#717171; font-size:2.2rem;}
.txt_wrap p {color:#3a3a3a; font-size:2.4rem; margin-top:.5rem;}
.ballon {padding:2rem; margin-bottom:4.3rem; font-size:2.4rem;}
.ballon span:first-child {font-weight:bold; color:#037781;}
.ballon.right span:first-child {margin-right:1.2rem;}
.ballon.left span:first-child {margin-right:1.5rem; color:#037781;}
.ballon.right::before {bottom:-4rem;}
.ballon.left::before {bottom:-4rem;}
.ballon.mint {background-color:#037781; color:#fff;}
.ballon.mint span:first-child {color:#fff;}
.ballon.mint::before {border-top: 4rem solid #037781; border-bottom: 5.2rem solid transparent; border-left: 0px solid #037781; border-right: 5.2rem solid #037781;}

.contents .video_wrap {position:relative; padding:56.25% 0 0 0; margin-top:4rem;}

.content_wrap .txt_img .img_wrap.cover::after {background: #000000 0% 0% no-repeat padding-box; opacity:.5;}
.content_wrap .txt_img .txt_wrap {position:relative;}
.content_wrap .txt_img .over_wrap p {font-family:'Noto Serif KR'; font-size:1.8rem; line-height:3rem; color:#fff;}

@media (min-width: 1280px) {
	 section.gray .content_wrap {padding:4.8rem 0;}
	.contents section:last-of-type .content_wrap {padding-bottom:8.8rem;}
	.video {margin-top:7rem; width:100vw; margin-left: calc( 640px - 50vw ); margin-right: calc( 640px - 50vw );}
	.video::after {background:url('/assets/imgs/icon/play_pc.svg'); background-size:12rem 12rem; background-position:center center; background-repeat: no-repeat;}
	.ballon {}
	.ballon span:first-child {color:#037781;}
	.ballon span:last-child {}
	
	.contents .sub_header .content_wrap {padding:10rem 0 10rem;}
	
}
</style>
<div class="contents interview">
	<div class="top_banner">
		<div class="img_wrap">
			<img src="/assets/imgs/common/mo_interview_main.png" class="mo">
			<img src="/assets/imgs/common/pc_interview_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<h2>INTERVIEW</h2>
			<p>한 번 들어볼래?</p>
		</div>
	</div>
	
	<section class="sub_header">
		<div class="content_wrap">
			<h4 data-aos="fade">드라마 '이상한 변호사 우영우'의 최수연처럼 <br>여러분들의 ‘봄날의 햇살’은 누구인가요?</h4>
			<h2 data-aos="fade" class="mt8">봄날의 햇살</h2>
			<p class="mt8 f22 tcenter full mt20" data-aos="fade">자폐 스펙트럼 장애를 가지고 있다는 이유만으로 <br>
			따돌림 받던 주인공 우영우에게 <br>
			아무런 대가없이 따사로운 햇살이 되어준 동료 최수연, <br><br>
			그런 최수연에게 우영우의 진심을 전하는 대사는 <br>
			보는 이의 마음을 울컥하게 만들었다.</p>
			
			<div class="txt_img full mt40" data-aos="fade">
				<div class="img_wrap cover">
					<img src="/assets/imgs/round/3/interview/mo_sub01.png" class="fullin">
				</div>
				<div class="txt_wrap fjcenter fleft" style="padding:0 0 0 7.6rem;">
					<div class="over_wrap">
						<p>너는 봄날의 햇살 같아. <br>
						로스쿨 다닐 때부터 그렇게 생각했어. <br>
						너는 나한테 강의실의 위치와 휴강정보와 바뀐 시험 범위를 알려주고 <br>
						동기들이 날 놀리거나 속이거나 따돌리지 못하게 하려고 노력해. <br>
						지금도 너는 내 물병을 열어주고 다음에 구내식당에 <br>
						또 김밥이 나오면 나한테 알려주겠다고 해. <br>
						너는 밝고 따뜻하고 착하고 다정한 사람이야 <br>
						봄날의 햇살 최수연이야 <br><br>
						- '이상한 변호사 우영우' 5화 대사 중 -</p>
					</div>
				</div>
			</div>
			
			<div class="mt40" data-aos="fade">
				<p class="f22 tcenter full">우리에게도 힘들고 지칠 때 빛이 되어준 사람이 있었다면 <br>오늘은 꼭 그 마음을 전해보는 게 어떨까?</p>
			</div>
			
			<div class="fullin mt60">
				<img src="/assets/imgs/round/3/interview/interview_01.jpg" loading="lazy">
				<img src="/assets/imgs/round/3/interview/interview_02.jpg" loading="lazy">
				<img src="/assets/imgs/round/3/interview/interview_03.jpg" loading="lazy">
				<img src="/assets/imgs/round/3/interview/interview_04.jpg" loading="lazy">
				<img src="/assets/imgs/round/3/interview/interview_05.jpg" loading="lazy">
				<img src="/assets/imgs/round/3/interview/interview_06.jpg" loading="lazy">
				<img src="/assets/imgs/round/3/interview/interview_07.jpg" loading="lazy">
				<img src="/assets/imgs/round/3/interview/interview_08.jpg" loading="lazy">
				<img src="/assets/imgs/round/3/interview/interview_09.jpg" loading="lazy">
				<img src="/assets/imgs/round/3/interview/interview_10.jpg" loading="lazy">
				<img src="/assets/imgs/round/3/interview/interview_11.jpg" loading="lazy">
				<img src="/assets/imgs/round/3/interview/interview_12.jpg" loading="lazy">
				<img src="/assets/imgs/round/3/interview/interview_13.jpg" loading="lazy">
				<img src="/assets/imgs/round/3/interview/interview_14.jpg" loading="lazy">
				<img src="/assets/imgs/round/3/interview/interview_15.jpg" loading="lazy">
				<img src="/assets/imgs/round/3/interview/interview_16.jpg" loading="lazy">
				<img src="/assets/imgs/round/3/interview/interview_17.jpg" loading="lazy">
				<img src="/assets/imgs/round/3/interview/interview_18.jpg" loading="lazy">
				<img src="/assets/imgs/round/3/interview/interview_19.jpg" loading="lazy">
				<img src="/assets/imgs/round/3/interview/interview_20.jpg" loading="lazy">
			</div>
		</div>
	</section>
</div>