.main_visual {background:#000;}
.main_visual .img_area.mo img {height:auto; object-fit:contain;}
.main_visual .img_area img {opacity:1;}
.main_visual .img_area img:nth-child(2) {animation:fadein 3s 0s; opacity:0; animation-fill-mode: forwards;}
.main_visual .img_area video {width:100%; pointer-events:none; position:absolute;}

@-webkit-keyframes fadeout {
	0% {opacity:1;}
	100% {opacity:0;}
}
@-webkit-keyframes fadein {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadeinout {
	0% {opacity:0;}
	50% {opacity:1;}
	100% {opacity:0;}
}

.main_visual .txt_area {justify-content:flex-end; align-items:flex-start; transform:none;}
.main_visual .txt_area h2 {color:#fff; display:none;}
.main_visual .txt_area h2 span {color:#fff;}
.main_visual .txt_area p {color:#fff; text-align:left; padding:0 7.2rem 7.2rem 7.2rem; width:100%; transform-origin:bottom left;}

.concept  {margin-top:-1px;}
.concept img.mo {height:auto; object-fit:contain;}
.concept .txt_wrap {justify-content:flex-start; padding-bottom:0; margin-top:0;}
.concept .txt_wrap p {color:#fff; padding-top:30rem; transform-origin:center top;}

#recommend .swiper-slide .slide-item a {align-items: flex-start; justify-content: space-between; flex-direction: column;}
#recommend .swiper-slide .slide-item a span {letter-spacing:0;}
#recommend .swiper-slide .slide-item a span.title::after {display:none;}

.jaress {border-bottom:.8rem solid #f5f5f5;}

.library .content_wrap {padding-left:0; padding-right:0;}
.library .content_wrap .sliderWrap-sl {margin-top:10rem; }
.library .content_wrap .swiper-pagination-sl {padding-bottom:0;}

@media (min-width: 1680px) {
	
	.recommend .content_wrap {width:86.6rem;}
	#recommend .swiper-slide {width:21.2rem;}
	#recommend .swiper-slide .slide-item img {width:21.2rem; height:21.2rem;}
	#recommend .swiper-slide .slide-item a {padding:1.6rem 1.4rem;}
	#recommend .swiper-slide .slide-item a span {font-size:1.4rem; font-weight:400;}
	#recommend .swiper-slide .slide-item a span::after {width:1.4rem; height:1.7rem; transform:translate(0.4rem,0.1rem)}
	
	.jaress .content_wrap {width:86.6rem;}
}

@media (min-width: 1280px) {
	
	/*
	.main_visual .img_area.pc {}
	.main_visual .img_area.pc img {height:1080px; object-fit:cover;}
	*/
	
	.main_visual .txt_area p {text-align:center; width:fit-content; padding:0 0 12rem 43rem; transform-origin:bottom left;}
	
	.concept .txt_wrap p {margin-top:0; padding-top:20.3rem;}
	
	.recommend .content_wrap {width:86.6rem; padding:10rem 0 5rem 0;}
	#recommend {margin-top:2rem;}
	#recommend .swiper-slide {width:21.2rem;}
	#recommend .swiper-slide .slide-item img {width:21.2rem; height:21.2rem;}
	#recommend .swiper-slide .slide-item a {padding:1.6rem 1.4rem;}
	#recommend .swiper-slide .slide-item a span {font-size:1.4rem; font-weight:400;}
	#recommend .swiper-slide .slide-item a span::after {width:1.4rem; height:1.7rem; transform:translate(0.4rem,0.1rem)}
	
	.recommend h4 {font-size:1.7rem;}
	.recommend h2 {font-size:2.4rem; line-height:2.9rem;}
	
	.jaress {border-bottom:0;}	
	.jaress .content_wrap {width:86.6rem; padding:5rem 0 5rem 0;}
	
	.jaress ul {margin-top:2rem; margin-left:-3rem;}
	.jaress ul li {margin-left:3rem;}
	.jaress li .title {margin-top:1.2rem; font-size:1.7rem;}
	.jaress li .date {font-size:1.3rem; margin-top:0;}
	.jaress h4 {font-size:1.7rem;}
	.jaress h2 {font-size:2.4rem; line-height:2.9rem;}
	.jaress button {margin-top:4rem; height:6.5rem; font-size:1.9rem;}
	
	.library h4 {font-size:1.7rem;}
	.library h2 {font-size:2.4rem; line-height:2.9rem;}
	.library .content_wrap {width:1000px; max-width:none; padding-top:5rem; overflow:hidden;}
	.library .content_wrap .sliderWrap-sl {margin-top:2rem; margin-left: calc( 500px - 50vw); }
	.library .swiper-container-sl .swiper-slide {background:unset;}
}