<div class="contents about">
	<div class="top_banner">
		<div class="img_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/about/about_main2.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/about/pc_about.png" class="pc">
		</div>
		<div class="txt_wrap">
			<h2>ABOUT</h2>
			<p>다시, 처음</p>
		</div>
	</div>
	<section>
		<div class="content_wrap">
			<h4 data-aos="fade">맛진 <b>VOL 01</b></h4>
			<h2 data-aos="fade">MZ에 열광하라!</h2>
			<img src="/assets/imgs/round/<?=$this->round?>/about/about_sub_01.png" data-aos="fade">
			<div class="title" data-aos="fade">최신 트렌드를 이끄는 MZ세대!</div>
			<p class="desc" data-aos="fade">이색적이고 트렌디한 콘텐츠와 <br>절대 지루하지 않을 그들만의 문화를 느껴보자. <br>롯데GRS인들을 <span>열광</span>하게 할 <span>맛진</span>의 첫번째 발행호 <br><span class="s2">MZ에 열광하라!</span></p>
		</div>
	</section>
	<section>
		<div class="content_wrap">
			<h4 data-aos="fade">맛진 소개</h4>
			<h2 data-aos="fade">TASTY ZINE</h2>
			<div class="img_wrap" data-aos="fade">
				<img src="/assets/imgs/round/<?=$this->round?>/about/about_sub_02.png" class="mo">
				<img src="/assets/imgs/round/<?=$this->round?>/about/pc_about_sub2.png" class="pc">
				<div>
					<span>매거진에서 <br><b><span>진한 맛</span>이 느껴져!</b></span>
				</div>
			</div>
			<div class="box" data-aos="fade-up">
			맛의 TASTY + 매거진의 ZINE = 맛ZINE <br>
롯데GRS만의 맛있는 이야기로 가득 채운 사내웹진 맛진, <br>
최신 트렌드부터 롯데GRS의 다양한 소식이 두 달에 한 번씩 여러분을 찾아갑니다.

			</div>
		</div>
	</section>
</div>