<style>
.subpage #header::before {background:#fff;}
.subpage #header .wrap h1 a img.white_back {display:none;}
.subpage #header .wrap h1 a img.black_back {display:block;}
.subpage #header .wrap h1 a img.white_logo {display:none;}
.subpage #header .wrap h1 a img.black_logo {display:block;}
.subpage #header .menu-right i {background: url(/assets/imgs/icon/MO_CAT_B.svg); background-size: 100%; background-repeat: no-repeat;}
.subpage #header.on .menu-right i {background: url(/assets/imgs/icon/MO_CAT_CLO_B.svg); background-size: 100%; background-repeat: no-repeat;}
.subpage #header .menu-right ul li a {color:#000;}
.swiper-slide {width:41.6rem;}
.img_wrap {width:41.6rem; position:relative;}
.img_wrap img {width:41.6rem; height:41.6rem;}
.img_wrap span {position:absolute; bottom:0; font-size:2.2rem; line-height:3.4rem; padding:.4rem 0; background-color:rgba(0,0,0,.3); display:block; width:100%; color:#fff; left:0; text-align:center;}

#footer {margin-bottom:9.6rem;}

@media (min-width: 1280px) {
	.content_wrap .full {width:1442px; margin-left:-409px; margin-right:-409px;}
	.img_wrap span {font-size:1.4rem; line-height:2.2rem;}
	
	.event_modal .content_wrap ul li:last-child {grid-column:2 / 3;}
	
	#footer {margin-bottom:0;}
	
	.event_modal li:nth-child(1) {grid-column:1 / 2; grid-row:1 / 2;}
	.event_modal li:nth-child(2) {grid-column:1 / 2; grid-row:2 / 3;}
	.event_modal li:nth-child(3) {grid-column:1 / 2; grid-row:3 / 4;}
	.event_modal li:nth-child(4) {grid-column:1 / 2; grid-row:4 / 5;}
	.event_modal li:nth-child(5) {grid-column:2 / 3; grid-row:1 / 3;}
	.event_modal li:nth-child(6) {grid-column:2 / 3; grid-row:3 / 5;}
}
</style>

<script src="/assets/js/event.js?11"></script>

<div class="contents event event_sub">
	<div class="sub_top">
		<div class="img_wrap">
			<img src="/assets/imgs/round/3/event/mo_event_banner.png" class="mo">
			<img src="/assets/imgs/round/3/event/pc_event_banner.png" class="pc">
		</div>
	</div>
	<section>
		<div class="content_wrap">
			<h4 data-aos="fade">EVENT 02</h4>
			<h2 data-aos="fade">금손의 가을 인생샷</h2>
			<p data-aos="fade">가을에 찍을 수 있는 가장 분위기있는 <br>
			무드있는 인생샷을 올려주시는 2인에게는 추첨을 통해 <br>
			‘<b class="mint">내셔널 지오그래픽 캠핑세트</b>’를 드립니다!</p>
			<p data-aos="fade">2022. 08. 22 – 2022. 09. 20</p>
			<div class="fullin mt60" data-aos="fade-up">
				<img src="/assets/imgs/round/3/event/event03.png">
			</div>
			<a href="https://www.nstationmall.com/goods/detail/5356" target="_blank" data-aos="fade-up"><b>내셔널 지오그래픽 캠핑세트</b>&nbsp;자세히 보러 가기</a>
		</div>
		
	</section>
	<section class="border_top">
		<div class="list_search" id="list_search">
			<select id="order">
				<option value="1" selected>추천순</option>
				<option value="2">최신순</option>
			</select>
			<button onclick="EVENT.open_event_modal()">금손의 가을 인생샷 <b>이벤트 참여하기</b></button>
		</div>
		<div class="content_wrap" id="list">
			<div class="nodata">등록된 댓글이 없습니다.</div>
			<div class="mo">
				<ul>
				</ul>
			</div>
			<div class="pc">
				<ul></ul>
				<ul></ul>
			</div>
			<div id="more">
				<a href="javascript:EVENT.show_more()">댓글 더보기</a>
			</div>
		</div>
	</section>
	
	<button class="event_open" onclick="EVENT.open_event_modal()">이벤트 참여하기</button>
</div>

<div class="event_modal">
	<form id="event_form">
		<div class="event_cont">
			<div class="content_wrap">
				<?=$this->load->view('/event/agree.html',null,true)?>
			</div>
			<div class="buttons">
				<button type="button" class="submit" onclick="EVENT.apply_event()">동의하고 계속하기</button>
			</div>
		</div>
		<div class="event_cont on">
			<div class="content_wrap">
				<h4 data-aos="fade">EVENT 02</h4>
				<h2 data-aos="fade">금손의 가을 인생샷</h2>
				<input type="hidden" name="round" value="<?=$this->round?>" id="round">
				<input type="hidden" name="index" value="<?=$this->index?>" id="index">
				<input type="hidden" name="title" value="금손의 가을 인생샷" id="title">
				<ul>
					<li>
						<label>닉네임<span>※ 댓글에 노출되는 이름입니다.</span></label>
						<input type="text" name="user_nickname" id="user_nickname" placeholder="닉네임을 입력해주세요.">
					</li>
					<li>
						<label>이름</label>
						<input type="text" name="user_name" id="user_name" placeholder="이름을 입력해주세요.">
					</li>
					<li>
						<label>부서/지점명</label>
						<input type="text" name="department" id="department" placeholder="부서/지점명을 입력해주세요.">
					</li>
					<li>
						<label>휴대폰 번호</label>
						<input type="text" name="user_hp" id="user_hp" onchange="EVENT.only_number()"  placeholder="-없이 입력해주세요.">
					</li>
					<li>
						<label>내용</label>
						<textarea name="text"  id="text" placeholder="내용을 입력해주세요."></textarea>
					</li>
					<li>
						<label class="mint justify">사진 첨부<span>최대 3장</span></label>
						<div class="user_images">
							<button class="image_select" type="button" id="select_button">
								<img src="/assets/imgs/round/3/event/camera.png">
							</button>
						</div>
					</li>
				</ul>
				<input name="select_file" id="select_file" accept="image/png, image/jpeg" type="file" multiple style="display:none;">
				<p>※ 본 이벤트는 롯데GRS 임직원 및 점주 한정 참여 가능합니다.</p>
			</div>
			<div class="buttons">
				<button type="button" class="back" onclick="EVENT.apply_back()">뒤로가기</button>
				<button type="button" class="submit" onclick="EVENT.apply_event()">이벤트 응모하기</button>
			</div>
		</div>
	</form>
	<a class="close" href="javascript:EVENT.hide_event_modal();">
		<img src="/assets/imgs/icon/close_b.svg">
	</a>
</div>

