<link rel="stylesheet" href="/assets/css/13/eventWinners.css" />

<style>
  header {
    background: #000 !important;
  }
</style>

<div class="event content_box">
  <div class="image section1" data-aos="fade">
    <div class="image_pc">
      <img
        src="/assets/imgs/round/13/event/winner/pc_banner.png"
        alt="event"
        title="event"
      />
    </div>
    <div class="image_mo">
      <img
        src="/assets/imgs/round/13/event/winner/mo_banner.png"
        alt="event"
        title="event"
      />
    </div>
  </div>

  <div class="event_content wrap section2">
    <div class="event_title kr">
      <div class="event_finish_sub_title">마감된 이벤트</div>
      <div class="event_finish_title">맛진 TASTY ZERO<br/>당첨자 발표</div>
      <div class="event_finish_description">
        환경지킴이 맛둥이들을 위해 준비한 선물! 🎁<br />
        꿀팁 공유해 준 맛둥이들 덕분에<br />
        맛진이도 환경지킴이로 거듭날 수 있었어!<br />
        다음 6월호도 풍성한 이벤트로 찾아올게 또 만나!<br />
      </div>
      <div class="event_finish_description-hint">
        <p>※ 이벤트 당첨자 개별 안내 예정</p>
        <p>※ 경품은 선택이 불가하며, 랜덤 증정됩니다. </p>
      </div>
    </div>
  </div>

  <div class="event_content section3">
    <div class="wrap">
      <div class="event_finish_gift_title pc">
        🌼 최고의 정원사 맛둥이를 위한 선물 🌼
      </div>

      <div class="event_finish_gift_title mobile">
        🌼<br/> 최고의 정원사 맛둥이를 위한 선물
      </div>
      <div class="gift_wrapper mobile">
        <div class="gift_item mb-10">
          <div class="wrap_inner">
            <div class="inner">
              <div class="gift_item_count">2명</div>
              <img
                class="gift_img"
                src="/assets/imgs/round/13/event/winner/profile_3.png"
              />
              <div class="gift_item_description">다이슨 슈퍼소닉<br/> 뉴럴 헤어드라이어</div>
            </div>
            <i class="line"></i>
            <div class="inner">
              <div class="gift_item_count">3명</div>
              <img
                class="gift_img"
                src="/assets/imgs/round/13/event/winner/profile_1.png"
              />
              <div class="gift_item_description">소니 레트로 블루투스<br/> 턴테이블</div>
            </div>
          </div>
        </div>
        <div class="gift_item">
          <div class="wrap_inner">
            <div class="inner">
              <div class="gift_item_count">5명</div>
              <img
                class="gift_img"
                src="/assets/imgs/round/13/event/winner/profile_2.png"
              />
              <div class="gift_item_description">러쉬 슬리피<br/> 기프트 세트</div>
            </div>
            <div class="line"></div>
            <div class="inner">
              <div class="gift_item_count">5명</div>
              <img
                class="gift_img"
                src="/assets/imgs/round/13/event/winner/profile_4.png"
              />
              <div class="gift_item_description">롯데 모바일<br/> 상품권 5만 원권</div>
            </div>
          </div>
        </div>

      </div>
      <div class="gift_wrapper pc">
        <div class="pre-01 gift_item">
          <div class="title">
            <p class="main-title">EVENT.1</p>
            <p class="sub-title">TASTY ZERO</p>
            <p class="desc">총 당첨 인원 : 10명</p>
          </div>
          <div class="pre-01-inner">
            <div class="inner">
              <div class="gift_item_count">2명</div>
              <img
                class="gift_img"
                src="/assets/imgs/round/13/event/winner/profile_3.png"
              />
              <div class="gift_item_description">다이슨 슈퍼소닉 뉴럴<br/>헤어드라이어</div>
            </div>
            <i class="line"></i>
            <div class="inner">
              <div class="gift_item_count">3명</div>
              <img
                class="gift_img"
                src="/assets/imgs/round/13/event/winner/profile_1.png"
              />
              <div class="gift_item_description">소니 레트로<br/> 블루투스 턴테이블</div>
            </div>
            <i class="line"></i>
            <div class="inner">
              <div class="gift_item_count">5명</div>
              <img
                class="gift_img"
                src="/assets/imgs/round/13/event/winner/profile_2.png"
              />
              <div class="gift_item_description">러쉬 슬리피<br/> 기프트 세트</div>
            </div>
          </div>
        </div>
        <div class="pre-01 gift_item">
          <div class="title">
            <p class="main-title">EVENT.2</p>
            <p class="sub-title">VIDEO EVENT</p>
            <p class="desc">총 당첨 인원 : 5명</p>
          </div>
          <div class="inner">
            <div class="gift_item_count">5명</div>
            <img
              class="gift_img"
              src="/assets/imgs/round/13/event/winner/profile_4.png"
            />
            <div class="gift_item_description">롯데 모바일 상품권</div>
          </div>
        </div>
      </div>
    </div>
    <div class="gift_description_wrapper" data-aos="fade-up">
      <div class="gift_text_description">
        EVENT1과 2의 경품은 상이하며, 선택이 불가합니다.<br />
      </div>
      <div class="gift_text_description">
        ※ 당첨자 경품은 6월 내 발송 예정입니다<br />
      </div>
      <div class="gift_text_description">
        ※ 이벤트 당첨자 개별 안내 후<br class="mo" /> 개인정보 회신 확인에 따라 순차적 발송됩니다.
      </div>
    </div>
  </div>

  <div class="event_content_wrap section4">
    <div class="event_inner_btn">
      <button class="event_btn active">EVENT.1</button>
      <button class="event_btn">EVENT.2</button>
    </div>
    <div class="sub_text mt40 mt-lg-20">
      <div class="pc">
        <div class="kr">
          <p>맛ZINE 최고의 환경지킴이 <span>10</span>인을 소개합니다</p>
        </div>
      </div>
      <div class="mo">
        <div class="kr">
          <p>맛ZINE 최고의 환경지킴이<br/> <span>10</span>인을 소개합니다</p>
        </div>
      </div>
    </div>
    <div class="border_box_wrapper">
      <div class="border_box">당첨을 축하합니다!</div>
    </div>
    <div class="reward fullin mt20">
      <div class="pc">
        <div class="left">
          <!-- 데이터 삽입 -->
        </div>
        <div class="right">
          <!-- 데이터 삽입 -->
        </div>
      </div>
      <div class="mo">
        <!-- 데이터 삽입 -->
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/event/13/event_winner.js" type="module"></script>
