html,body {margin: 0; padding: 0;}

.global.active::before {
  display: inline-block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
}
.close-btn {
  width: 30px;
  position: absolute;
  right: 0px;
  top: -50px;
}
.center {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 border: 1px solid #000;
 border-radius: 20rem;
 box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
 transition: 0.3s;
}
.center:hover {
  box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -54%);
}
.center a {
  color: inherit;
  text-decoration: none;
  padding: 16px 20px;
  display: inline-block;
}

.iframe-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 22%;
  width: 40%;
  height: 0;
  display: none;
}
.iframe-inner.active {
  display: block;
}

.iframe-inner > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}