<style>
.contents.story_sub .sub_top .img_wrap::before {display:none;}
.contents .video_wrap {position:relative; padding:56.25% 0 0 0; margin-top:4rem;}
.contents.story_sub section.sub_header h4 {text-align:center;}
.contents.story_sub section.sub_header h2 {text-align:center;}
.contents.story_sub .sub_header .content_wrap .video_wrap + p {margin-top:2rem; text-align:center;}
.contents.story_sub .sub_header .content_wrap img + p {margin-top:2rem; text-align:center; margin-left:-7.2rem; margin-right:-7.2rem;}
.contents.story_sub .sub_header .content_wrap a {font-size:2.6rem; font-weight:bold; height:6rem; width:100%; margin-top:4rem; margin-left:3.6rem; margin-right:3.6rem; width: calc( 100% - 7.2rem ); border:1px solid #037781; color:#037781; display:flex; justify-content:center; align-items:center;}
.contents.story_sub .box {background: #F3F3F3 0% 0% no-repeat padding-box; border-radius: 1rem; padding:2rem;}
.contents.story_sub .box li {display:flex; font-size:1.8rem; line-height:2.8rem; color:#3a3a3a;}
.contents.story_sub .box ul.list li::before {content:'-'; flex:0 0 6px;}
</style>
<div class="contents story_sub news_sub">
	<div class="sub_top">
		<div class="img_wrap cover">
			<img src="/assets/imgs/round/<?=$this->round?>/news/05/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/news/05/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/news/05/mo_main_txt.png" class="mo" data-aos="fade" style="width:52.6rem;">
			<img src="/assets/imgs/round/<?=$this->round?>/news/05/pc_main_txt.png" class="pc" data-aos="fade" style="width:104.4rem;">
		</div>
	</div>
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			우수 → 최우수 1단계 상승 첫 최고 등급 <br>
			협력업체 및 가맹점 경영 지원 등 대 ˙ 중소기업 상생협력 노력 결실
			</p>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade">지속적인 동반성장 기틀 마련에 힘쓰고 있는 롯데GRS</h4>
			<h2 data-aos="fade" class="full">5년간의 우수 등급에 이어 첫 최우수등급 선정!</h2>
			<img src="/assets/imgs/round/<?=$this->round?>/news/05/sub_01.png" data-aos="zoom-in" class="w416 center mt40">
			<p data-aos="fade-up" class="tcenter">롯데GRS가 동반성장위원회가 발표하는 <br>
			‘2021 동반성장지수 평가’에서 최우수 기업으로 선정됐다. <br>
			5년간의 우수 등급에 이어 첫 최우수등급 선정! <br><br>
			동반성장지수는 대·중소기업 간 동반성장을 촉진하기 위한 목적으로 <br>
			대기업의 동반성장 수준을 평가해 계량화한 지표다. <br>
			동반위의 동반성장 종합 평가와 공정위의 공정거래협약 이행평가 결과를 <br>
			합산하여 동반위가 매년 1회 정기적으로 공표한다. <br><br>
			이번에 발표한 ‘2021 동반성장지수’에서는 총 215개사가 공표됐으며, <br>
			최우수 등급을 획득한 기업은 롯데GRS를 포함해 총 38개사. <br><br>
			롯데GRS는 최우수 등급인 기업에 대해 공정위 직권조사 2년 면제, <br>
			조달청 공공입찰 참가자격사전심사(PQ) 가점 등 <br>
			정부 차원의 인센티브 혜택을 부여받게 된다!</p>
			
			
			<div class="mt60" data-aos="fade-up">
				<img src="/assets/imgs/round/<?=$this->round?>/news/05/sub_02.png" class="fullin">
				<p class="mt20">롯데GRS는 대 · 중소기업 상생협력을 위해 <br>기업 · 소상공인 · 청년 등 전방위적 지원책을 운영하고 있는데,</p>
				<div class="box mt20" data-aos="fade-up">
					<ul class="list">
						<li>17년 중소기업의 햄버거 빵 납품을 위한 판로 개방</li>
						<li class="mt12">제주농가 친환경 커피비료 무상지원</li>
						<li class="mt12">청년희망나눔 상생일자리 프로그램 지원 등</li>
					</ul>
				</div>
			</div>
			
			<img src="/assets/imgs/round/<?=$this->round?>/news/05/sub_03.png" class="full mt60" data-aos="zoom-out">
			
			<p class="tcenter full" data-aos="fade-up">또한 가맹점과의 상생을 위해 16년 공정거래 상생협력 협약 체결을 바탕으로 <br>
			가맹점 분쟁조정위원회 설치(19년) 가맹점 금전 · 기술 · 인력 지원 등 <br>
			표준 상생협력 협약 기반한 가맹점 지원사항들을 이행으로 <br>
			지난 20년 한국공정거래조정원의 <br>
			착한 프랜차이즈 기업으로 선정되기도 했다구. <br><br>
			롯데GRS의 성장은 가맹점 및 협력사와의 긴밀한 신뢰를 밑바탕으로 <br>
			공동 성장을 위한 지원책 마련에 적극 동참하고 있다. <br>
			기업의 사회적 책임을 바탕으로 지속적인 동반성장 기틀 마련에 <br>힘쓰고 있는 롯데GRS 자랑스러워!</p>
			
		</div>
	</section>
</div>