<style>
.contents.story_sub .sub_top .img_wrap::before {display:none;}
.contents .video_wrap {position:relative; padding:56.25% 0 0 0; margin-top:4rem;}
.contents.story_sub section.sub_header h4 {text-align:center;}
.contents.story_sub section.sub_header h2 {text-align:center;}
.contents.story_sub .content_wrap .video_wrap + p {margin-top:2rem; text-align:center;}
.contents.story_sub .content_wrap a {font-size:2.6rem; font-weight:bold; height:6rem; width:100%; margin-top:4rem; margin-left:3.6rem; margin-right:3.6rem; width: calc( 100% - 7.2rem ); border:1px solid #037781; color:#037781; display:flex; justify-content:center; align-items:center;}
.contents.story_sub .box {background: #F3F3F3 0% 0% no-repeat padding-box; border-radius: 1rem; padding:2rem;}
.contents.story_sub .box li {display:flex; font-size:1.8rem; line-height:2.8rem; color:#3a3a3a;}
.contents.story_sub .box ul.list li::before {content:'-'; flex:0 0 6px;}
</style>
<div class="contents story_sub news_sub">
	<div class="sub_top">
		<div class="img_wrap cover">
			<img src="/assets/imgs/round/<?=$this->round?>/news/02/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/news/02/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/news/02/mo_main_txt.png" class="mo" data-aos="fade" style="width:47.3rem;">
			<img src="/assets/imgs/round/<?=$this->round?>/news/02/pc_main_txt.png" class="pc" data-aos="fade" style="width:10.61rem;">
		</div>
	</div>
	<section class="sub_top_text">
		<div class="content_wrap">
			<p class="fullhalf mo" style="word-break:keep-all; font-size:1.6rem; color:#6D6D6D; margin-top:-1.2rem;"><지난 9월 27일 소공동 롯데호텔에서 열린 한국생산성본부가 주관하는 국가고객만족도(NCSI) 1위 기업 인증식, 차우철 대표님의 시상식! ></p>
			<p class="fullhalf pc tcenter" style="word-break:keep-all; font-size:1.6rem; color:#6D6D6D; margin-top:0rem;"><지난 9월 27일 소공동 롯데호텔에서 열린 한국생산성본부가 주관하는 국가고객만족도(NCSI) 1위 기업 인증식, 차우철 대표님의 시상식! ></p>
			<p data-aos="fade-left" class="topp mt20">
			롯데GRS가 한국생산성본부가 주관하는 <br>
			‘2021 국가고객만족도(NCSI,National Customer Satisfaction Index)’ <br>
			조사에서 12년 연속 패스트푸드 부문 1위 브랜드로 선정됐다. <br><br>
			국가고객만족도(NCSI), 그거 얼마나 좋은건데?! <br>
			국내외에서 생산해 소비자에게 판매되고 있는 제품 및 서비스에 대해 <br>
			사용 경험이 있는 고객의 품질과 만족 수준을 측정한 지수 모델로 <br>
			한국생산성본부와 미국 미시간대학과 함께 개발한 고객 만족 측정 지수이다. <br>
			여기서 12년 연속 1위면 우리 엄청난 거 아니냐구…! <br><br>
			우리 롯데리아는 소비자 만족을 위한 다양한 신메뉴 개발과 가성 · 가심 <br>
			소비 트렌드에 맞춘 다양한 프로모션 캠페인을 적극 운영했다!
			</p>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade">지역 경제 활성화를 위해 대구관광재단과 손잡은 엔제리너스</h4>
			<h2 data-aos="fade">이들은 현재 ‘대구 여행 챌린지’를 진행 중</h2>
			<img src="/assets/imgs/round/<?=$this->round?>/news/02/sub_01.png" class="full mt40" data-aos="zoom-in">
			<div class="box mt20" data-aos="fade-up">
				<ul class="list">
					<li>롯데리아 버거 제품 판매량 부동의 1위인 불고기 버거를 모티브로 <br>신제품 불고기4DX를 출시!</li>
					<li class="mt12">국내산 한우를 패티 원료로 한 한우 버거 라인업을 확대하며 <br>프리미엄 제품군 강화! (이는 업계 유일이라는 것!)</li>
				</ul>
			</div>
			<p data-aos="fade-up" class="tcenter">라인업 확대한 총 3종의 한우 버거 시리즈는 출시 첫 주 약 25만개 <br>
			2주차에 약 30만개로 판매량이 꾸준히 증가했으며, <br>
			제품 매출 구성비 역시 기존 약6%에서 약12%로 증가하는 등 <br>
			판매량 호조세를 나타내고 있는 것으로 집계됐다.</p>
			
			<img src="/assets/imgs/round/<?=$this->round?>/news/02/sub_02.png" class="fullin mt60" data-aos="fade">
			<p data-aos="fade-up" class="tcenter">이에 더해, 롯데리아는 매출 분석을 통해 전체 매출의 <br>
			약 3분의 1을 차지하는 ‘든든점심’ 시간대 고객들의 메뉴 <br>
			선택의 폭을 확대했는데~</p>
			
			<div class="box mt20" data-aos="fade-up">
				<ul>
					<li>한우 버거 시리즈 중 가장 판매량이 높은 한우 트러플머쉬룸버거 ˙ 음료 <br>
					구성의 콤보 메뉴를 든든점심 메뉴에 추가했으며, 라인업 확대 <br>
					전 대비 점심 시간대 약22% 매출액이 상승하는 등 고객들의 긍정적인 반응을 얻었다.</li>
				</ul>
			</div>
			
			<p data-aos="fade-up" class="tcenter full">롯데의 12년 연속 고객만족도 1위 기업 선정의 쾌거 달성! <br>
			앞으로도 고객 만족을 이어가기 위해 다양한 제품과 프로모션을 선보일 거야!</p>
		</div>
	</section>
</div>