<style>
.contents.story_sub .sub_top .img_wrap::before {display:none;}
.contents .video_wrap {position:relative; padding:56.25% 0 0 0; margin-top:4rem;}
.contents.story_sub section.sub_header h4 {text-align:center;}
.contents.story_sub section.sub_header h2 {text-align:center;}
.contents.story_sub .sub_header .content_wrap .video_wrap + p {margin-top:2rem; text-align:center;}
</style>
<div class="contents story_sub news_sub">
	<div class="sub_top">
		<div class="img_wrap cover">
			<img src="/assets/imgs/round/<?=$this->round?>/news/01/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/news/01/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/news/01/mo_main_txt.png" class="mo" data-aos="fade" style="width:33.1rem;">
			<img src="/assets/imgs/round/<?=$this->round?>/news/01/pc_main_txt.png" class="pc" data-aos="fade" style="width:45.1rem;">
		</div>
	</div>
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			고객 니즈에 맞춘 제품 리뉴얼! 다양한 라인업 재구성! <br>
			든든~한 판매 효과! <br><br>
			<span class="mint">
			‘통 오징어링’ 판매량 35% 증가 <br>
			디저트 전년대비 약 450만개 이상 추가 판매 <br>
			새로운 가상세계 플랫폼 ‘랏츠 스낵타운’ </span><br><br>
			롯데리아의 디저트 제품 리뉴얼과 라인업 확장이 성공적으로 이뤄졌다! <br>
			긍정적인 고객 반응과 제품 판매량이 모두 늘어났는데, <br>
			어떤 제품들이 리뉴얼 됐길래? 바로 알아보자.
			</p>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade">리뉴얼 전 대비 일 평균 판매량 약 35% 이상 증가!</h4>
			<h2 data-aos="fade">새롭게 선보인 오징어링</h2>
			<img src="/assets/imgs/round/<?=$this->round?>/news/01/sub_01.png" class="fullin mt40" data-aos="fade-up">
			<p data-aos="fade-up" class="tcenter">분쇄하지 않은 통 오징어를 튀겨 쫄깃한 식감을 더하고 <br>
			롯데리아 시그니처 소스인 ‘잠발라야 소스’를 <br>
			함께 제공해 감칠맛을 높인 ‘통 오징어링’. <br><br>
			리뉴얼 전 대비 일 평균 판매량 약 35% 이상 증가하는 등, <br>
			이미 인기 디저트 제품으로 자리잡았다고!</p>
			
			<div class="split_img twin mt60">
				<div data-aos="fade-right">
					<img src="/assets/imgs/round/<?=$this->round?>/news/01/sub_02.png" class="fullin">
				</div>
				<div data-aos="fade-left">
					<p class="mint">#롯데리아 #리뉴얼 #성공적!</p>
					<h2 class="tleft"><b>할매니얼 콘셉트의 <br>패스츄리 꽈배기</b></h2>
					<p class="mt8">남녀노소 전 객층이 선호하는 <br>
					치즈스틱, 모짜크림 치즈볼, <br>
					여름철 아이스샷 라인업 확대 등 <br>
					디저트 제품을 강화! <br><br>
					전년 동기간(1~8월) 대비 <br>
					디저트 판매량이 약 450만개 이상 <br>
					증가한 것으로 집계됐다니, <br>
					#롯데리아 #리뉴얼 #성공적!</p>
				</div>
			</div>
			
			<img src="/assets/imgs/round/<?=$this->round?>/news/01/sub_03.png" class="full mt60" data-aos="zoom-out">
			<div class="mt20" data-aos="fade-up">
				<p class="mint tleft">가상세계 플랫폼 통해 롯데리아를 다양하게 체험할 수 있는</p>
				<h2 class="tleft">‘랏츠 스낵타운’ 운영</h2>
				<p class="mt8">또한 롯데리아는 지난 7월 디저트 제품을 2.5D 디자인 기법으로 <br>
				메타버스 플랫 폼 내 가상 마을인 ‘랏츠 스낵타운’을 형성했으며, <br>
				랏츠테마파크, 감자밭, 롯캉스비치, 치즈목장 <br>
				4개의 콘셉트 존을 통해 테마 구역 별 다양한 체험과 신제품 출시 전달 등 <br>
				다양하게 고객과 소통할 수 있는 공간으로 운영 중이다. <br><br>
				고객선호 제품, 트랜드 조사 등, 롯데리아 임직원들은 <br>
				오늘도 신메뉴 개발에 열심히인데..! <br><br>
				브랜드 강화를 위해 앞으로도 다양하고 탄탄한 햄버거, 디저트, 음료의 <br>
				라인업이 펼쳐질 거라고 하니, <br>
				다음에는 어떤 즐거운 라인업이 또 펼쳐질까~?</p>
			</div>
		</div>
	</section>
</div>