<style>
.contents.story_sub .sub_top .img_wrap::before {display:none;}
.contents .video_wrap {position:relative; padding:56.25% 0 0 0; margin-top:4rem;}
.contents.story_sub section.sub_header h4 {text-align:center;}
.contents.story_sub section.sub_header h2 {text-align:center;}
.contents.story_sub .sub_header .content_wrap .video_wrap + p {margin-top:2rem; text-align:center;}
.contents.story_sub .sub_header .content_wrap img + p {margin-top:2rem; text-align:center;}
.contents.story_sub .sub_header .content_wrap a {font-size:2.6rem; font-weight:bold; height:6rem; width:100%; margin-top:4rem; margin-left:3.6rem; margin-right:3.6rem; width: calc( 100% - 7.2rem ); border:1px solid #037781; color:#037781; display:flex; justify-content:center; align-items:center;}
</style>
<div class="contents story_sub news_sub">
	<div class="sub_top">
		<div class="img_wrap cover">
			<img src="/assets/imgs/round/<?=$this->round?>/news/03/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/news/03/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/news/03/mo_main_txt.png?1" class="mo" data-aos="fade" style="width:39.2rem;">
			<img src="/assets/imgs/round/<?=$this->round?>/news/03/pc_main_txt.png?1" class="pc" data-aos="fade" style="width:53.4rem;">
		</div>
	</div>
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			엔제리너스가 9월 2일 출시한 시그니처 메뉴 <br>
			반미 샌드위치가 큰 사랑을 받고 있다!
			</p>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade">에스닉 푸드가 음식 트렌드라는데!</h4>
			<h2 data-aos="fade">에스닉 푸드가 뭔데 그래?</h2>
			<img src="/assets/imgs/round/<?=$this->round?>/news/03/sub_01.png" data-aos="zoom-in" class="w416 mt32 center" >
			<p data-aos="fade-up">
			반미 샌드위치는 에스닉 푸드라는데! 에스닉 푸드란? <br>
			민족을 뜻하는 에스닉(Ethnic)과 푸드의 합성어로, <br>
			원래는 각 나라의 고유한 음식을 의미한다. <br><br>
			지금은 주로 동남아시아, 중동, 아프리카, 중남미, 서아시아 등과 같은 <br>제3세계 음식을 뜻하는 말로 바뀌었다고.</p>
			<img src="/assets/imgs/round/<?=$this->round?>/news/03/sub_02.png" data-aos="zoom-out" class="full mt60">
			<p data-aos="fade-up" class="tcenter right">이번 신제품 반미는 베트남 붕따우 지역의 인기 메뉴 <br>
			‘반콧’을 모티브로 한 ‘오리지널 쉬림프 반미’로, <br>
			출시 직후 지금까지 꾸준히 인기를 끄는 중인데! <br><br>
			‘오리지널 쉬림프 반미’는 통통한 새우와 베트남 전통 피쉬소스인 <br>
			느억맘 소스ㆍ상큼한 무당근 피클을 넣어 베트남 현지의 맛을 재현했으며, <br>
			오이, 토마토, 계란 등을 바게트에 가득 넣어 든든하게 즐길 수 있는 제품이라구! <br><br>
			엔제리너스의 반미는 국내산 쌀로 만들어 부드럽고 쫄깃한 식감의 <br>
			바게트 빵에 신선한 야채와 고기 등 가득 넣어 푸드와 커피를 함께 즐기는 <br>
			‘든든한 한끼’ 전략을 바탕으로 고객들에게 차별화된 서비스를 제공한다.</p>
			
			<div class="txt_img split mt60 full gap20">
				<div class="img_wrap" data-aos="fade-right" style="width:40rem;">
					<img src="/assets/imgs/round/<?=$this->round?>/news/03/sub_03.png" class="fullin">
				</div>
				<div class="txt_wrap fbottom" data-aos="fade-left">
					<p>이에 더해, 엔제리너스는 <br>
					샌드위치 보다 가벼운 식사를 <br>
					원하는 고객들을 위해 <br>
					오리지널 쉬림프 반미와 <br>
					동일한 재료를 넣은 <br>
					‘쉬림프 샐러드’를 함께 출시했다는데, <br><br>
					가볍게 먹고 싶은 날은 <br>
					샐러드로 가면 되겠잖아~</p>
				</div>
			</div>
			
			<div class="mt60" data-aos="fade-up">
				<p class="tcenter">엔제리너스의 샌드위치 메뉴는 완제품을 단순히 데워 제공하지 않고 <br>
				즉석 조리형태의 제품을 제공하는 신선함이 특징이다. <br><br>
				앞으로도 고객들의 니즈에 맞춘 최신 트랜드 제품을 기획하겠다 하니, <br>
				앞으로도 엔제리너스의 행보가 기대될 수밖에!</p>
			</div>
		</div>
		
	</section>
</div>