<style>
.contents.story_sub .sub_top .img_wrap::before {display:none;}
.contents .video_wrap {position:relative; padding:56.25% 0 0 0; margin-top:4rem;}
.contents.story_sub section.sub_header h4 {text-align:center;}
.contents.story_sub section.sub_header h2 {text-align:center;}
.contents.story_sub .sub_header .content_wrap .video_wrap + p {margin-top:2rem; text-align:center;}
.contents.story_sub .sub_header .content_wrap img + p {margin-top:2rem; text-align:center; margin-left:-7.2rem; margin-right:-7.2rem;}
.contents.story_sub .sub_header .content_wrap a {font-size:2.6rem; font-weight:bold; height:6rem; width:100%; margin-top:4rem; margin-left:3.6rem; margin-right:3.6rem; width: calc( 100% - 7.2rem ); border:1px solid #037781; color:#037781; display:flex; justify-content:center; align-items:center;}
.contents.story_sub .box {background: #F3F3F3 0% 0% no-repeat padding-box; border-radius: 1rem; padding:2rem; max-width:62.4rem;}
.contents.story_sub .box li {display:flex; font-size:1.8rem; line-height:2.8rem; color:#3a3a3a;}
.contents.story_sub .box ul.list li::before {content:'-'; flex:0 0 6px;}
</style>
<div class="contents story_sub news_sub">
	<div class="sub_top">
		<div class="img_wrap cover">
			<img src="/assets/imgs/round/<?=$this->round?>/news/06/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/news/06/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/news/06/mo_main_txt.png" class="mo" data-aos="fade" style="width:47.4rem;">
			<img src="/assets/imgs/round/<?=$this->round?>/news/06/pc_main_txt.png" class="pc" data-aos="fade" style="width:30.6rem;">
		</div>
	</div>
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			반갑다 야구야! 2년만에 재개한 야외 스포츠 리그
			</p>
			<div class="box mt20" data-aos="fade-up">
				<ul class="list">
					<li>코로나19로 인한 2년만의 공개 스포츠행사</li>
					<li class="mt12">지난 6월부터 3개월간 30개교 약 800여명 학생 참여, 9월 3일 결선 리그 개최</li>
					<li class="mt12">우승 학교에게 전국 학교스포츠클럽 축전에 서울시 대표 출전 자격 부여</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade">약 2년만에 개최된 공식 스포츠 행사!</h4>
			<h2 data-aos="fade" class="full">2022 서울시 교육감배 학교스포츠클럽 야구리그</h2>
			<img src="/assets/imgs/round/<?=$this->round?>/news/06/sub_01.png" data-aos="zoom-in" class="full mt40">
			<p class="full mt8 tcenter" style="font-size:1.6rem; color:#6D6D6D;"><9월 3일 동작구 노량진 야구장, ‘2022 서울시교육감배 학교스포츠클럽 야구리그 결승>
			</p>
			<p data-aos="fade-up" class="tcenter">롯데GRS의 롯데리아가 후원하는 <br>
			‘2022 서울시 교육감배 학교스포츠클럽 야구리그’가 <br>
			지난 9월 3일 성황리에 마무리되었다. <br>
			이는 코로나 엔데믹 이후 약 2년만에 개최된 공식 스포츠 행사!</p>
			
			
			<img src="/assets/imgs/round/<?=$this->round?>/news/06/sub_02.png" class="fullin mt60" data-aos="zoom-out">
			
			<p class="fullin" data-aos="fade-up">롯데GRS는 학교 스포츠클럽 활성화를 위해 <br>
			이미 2013년부터 후원하고 있었는데! <br><br>
			지난 2013년 사기업 최초로 서울시 교육청과 <br>
			학교스포츠클럽 발전을 위한 업무협약(MOU) 체결 이후 <br>
			올해까지 학교스포츠클럽 활성화를 위해 <br>
			약 8억원 규모의 누적 후원을 이어오고 있다. <br><br>
			또한 코로나19의 장기화 속에서도 서울시 교육청 및 한국티볼연맹 등에 <br>
			온라인 스포츠 대회 후원 및 소외지역 티볼 장비 지원으로 <br>
			학교스포츠 클럽 활성화에 기여하고 있다.</p>
			
			<img src="/assets/imgs/round/<?=$this->round?>/news/06/sub_03.png" class="full mt60" data-aos="zoom-out">
			
			<p class="right" data-aos="fade-up">롯데GRS가 후원하고 서울시 교육청이 주최하는 <br>
			“2022 롯데리아와 함께하는 서울시 교육감배 학교 스포츠클럽 야구리그’는 <br>
			지난 6월부터 약 3개월간 초등학교 5개교, 중학교 14개교, 고등학교 11개교 등 <br>
			총 30개교 약 800여명의 학생들이 참여해 <br>
			지난 3일 노량진 야구장에서 결선 리그를 진행했다. <br><br>
			결선 리그에는 서울 학생 야구 홍보대사 유희관 KBSN 해설위원과 <br>
			여학생 선수들로 구성된 공치소서 홍보대사 <br>
			윤태진 전 아나운서, 개그맨 장동혁이 참여했다. <br><br>
			리그 결과 초등부 서울한천초, 중등부 경희중, 고등부 송곡고가 <br>
			최종 우승을 차지했으며 우승을 차지한 학교는 <br>
			오는 10월 부산에서 펼쳐지는 ‘제15회 전국 학교 스포츠 클럽 축전’에 <br>
			서울시 대표 출전 자격을 획득했다. <br><br>
			한편 롯데GRS는 지속적인 학교 스포츠 클럽 활성화를 위해 <br>
			야구 종목에 이어 골프 스포츠를 활용한 유소년 스포츠 육성 컨텐츠를 <br>
			다루는 유튜브 채널 ‘클럽 랏츠(Club Lotz)’를 9월 16일 공개하기도 했다!</p>
			
			<img src="/assets/imgs/round/<?=$this->round?>/news/06/sub_04.png" class="full mt60" data-aos="flip-up">
			
			<p data-aos="fade-up" class="tcenter">롯데GRS는 유소년 및 학교스포츠클럽 활성화를 위해 <br>
			‘찾아가는 야구교실’ ˙ ’롯데리아 페스티볼’ 등 스포츠를 매개체로 한 <br>
			스포츠 사회공헌 프로그램을 운영하고 있다.</p>
			
			<img src="/assets/imgs/round/<?=$this->round?>/news/06/sub_05.png" class="mt60 center" data-aos="zoom-out" style="width:42rem; border: 1px solid #6D6D6D;">
			
			<p data-aos="fade-up" class="tcenter">코로나 엔데믹 속에서도 다양한 스포츠 프로그램으로 <br>
			학생들의 건강 증진 및 유소년 스포츠 클럽 활성화 기여에 노력하고 있으니, <br>
			롯데GRS.. 이렇게 멋있을 수 있는 거냐며..</p>
			
		</div>
	</section>
</div>