<style>
.contents.story_sub .sub_top .img_wrap::before {display:none;}
.contents .video_wrap {position:relative; padding:56.25% 0 0 0; margin-top:4rem;}
.contents.story_sub section.sub_header h4 {text-align:center;}
.contents.story_sub section.sub_header h2 {text-align:center;}
.contents.story_sub .sub_header .content_wrap .video_wrap + p {margin-top:2rem; text-align:center;}
.contents.story_sub .sub_header .content_wrap img + p {margin-top:2rem; text-align:center; margin-left:-7.2rem; margin-right:-7.2rem;}
.contents.story_sub .sub_header .content_wrap a {font-size:2.6rem; font-weight:bold; height:6rem; width:100%; margin-top:4rem; margin-left:3.6rem; margin-right:3.6rem; width: calc( 100% - 7.2rem ); border:1px solid #037781; color:#037781; display:flex; justify-content:center; align-items:center;}
</style>
<div class="contents story_sub news_sub">
	<div class="sub_top">
		<div class="img_wrap cover">
			<img src="/assets/imgs/round/<?=$this->round?>/news/04/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/news/04/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/news/04/mo_main_txt.png" class="mo" data-aos="fade" style="width:65.1rem;">
			<img src="/assets/imgs/round/<?=$this->round?>/news/04/pc_main_txt.png" class="pc" data-aos="fade" style="width:88.8rem;">
		</div>
	</div>
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			3년만에 돌아왔다네 오프라인 플리마켓! <br><br>
			- 판로 개척과 유지로 한부모 자립 기회 제공 <br>
			- 직접 만든 수제품 판매, 수익금은 한부모 지원 전액 기부 <br>
			- 미리 선보인 PET병 20개로 만든 친환경 앞치마 (10월 도입 예정)
			</p>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade">플리마켓에서 미리 선보였다!</h4>
			<h2 data-aos="fade">엔제리너스에 도입 예정 친환경 앞치마!</h2>
			<img src="/assets/imgs/round/<?=$this->round?>/news/04/sub_01.png" data-aos="zoom-in" class="fullin mt40">
			<p data-aos="fade-up">미혼한부모의 자립 역량 강화를 위한 ‘MOM’s FESTA’ 플리마켓’이 열렸다. <br>
			우리 롯데 GRS가 진행하여 지난 9월 24일 오전 11시부터 19시까지 <br>
			롯데몰 김포공항점 썬큰광장에서 진행했다.</p>
			
			<div class="txt_img split mt60 gap20">
				<div class="img_wrap" data-aos="fade-right" style="width:32.8rem;">
					<img src="/assets/imgs/round/<?=$this->round?>/news/04/sub_02.png" class="fullin">
				</div>
				<div class="txt_wrap fbottom" data-aos="fade-left">
					<p>이 행사는 이번이 처음이 아니다! <br>
					2018년 처음 시작했으며, <br>
					코로나19로 2019년 이후 3년만에 <br>
					재개최한 오프라인 플리마켓. <br><br>
					지난 8월, 한부모 셀러들을 위해 <br>
					창업교육을 사전 실시하여 <br>
					브랜드 설정 및 홍보 방법을 <br>
					배울 수 있는 시간을 <br>
					마련해 준비해왔다.</p>
				</div>
			</div>
			
			<div class="txt_img split mt60 gap20">
				<div class="txt_wrap fbottom" data-aos="fade-left">
					<p>한부모가 직접 기획하고 제작한 <br>
					향수, 수제간식, 과일청, <br>
					생활잡화 등의 수제품을 <br>
					판매하며 자립 지원과 <br>
					장기적으로도 유지할 수 있는 <br>
					판로 기회를 제공하기 위한 <br>
					이번 플리마켓, <br><br>
					홀트아동복지회 주최 및 <br>
					롯데지주ㆍ롯데GRSㆍ롯데백화점 <br>
					김포공항점이 후원해 진행했다.</p>
				</div>
				<div class="img_wrap" data-aos="fade-right" style="width:29.6rem;">
					<img src="/assets/imgs/round/<?=$this->round?>/news/04/sub_03.png" class="fullin">
				</div>
			</div>
			
			<p data-aos="fade-up">롯데 임직원들도 자원봉사자로 직접 나섰는데! <br>
			플라마켓을 함께 운영했으며, <br>
			엔제리너스의 친환경 앞치마도 착용하여 미리 선보였다.</p>
			
			<img src="/assets/imgs/round/<?=$this->round?>/news/04/sub_04.png" data-aos="fade-up" class="fullin mt60">
			<p data-aos="fade-up" class="tcenter" >여러번 재활용해도 품질이 유지되는 <br>
			차세대 화학적(C-rpet) 기술을 적용한 엔제리너스의 <br>
			친환경 앞치마는 PET병 20개를 모아 1벌의 앞치마로 제작되었으며, <br>
			활동 시 편의성을 고려해 ‘발수기능’까지 겸비한 제품으로 <br>
			올해 10월에 엔제리너스 매장에서 만날 수 있다. <br><br>
			<span class="bold mint">롯데GRS는 환경 보호 캠페인에도 적극 앞장서는 중!</span></p>
		</div>
	</section>
</div>