.Button {
  display: inline-block;
  padding: 13px 24px;
  border: none;
  border-radius: 9999px;
  font-weight: 600;
  cursor: pointer;
}

a.Button {
  text-decoration: none;
}

.Button.primary {
  color: #FFFFFF;
  background-color: var(--primary-color);
}

.Button.secondary {
  color: #000000;
  background-color: #F2F2F2;
}

.Button.minimal {
  color: #000000;
  background-color: #FFFFFF;
}

.Button.outline {
  background-color: #FFFFFF;
  border: 1px solid #E1E1E1;
}
