.Container {
  background-color: #FFFFFF;
  border-bottom: 1px solid #D9D9D9;
  padding: 17px 180px;
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
}

.Nav.public {
  justify-content: center;
  align-items: center;
}

.AvatarContainer {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #DBDBDB;
  background-color: #F7F7F7;
  overflow: hidden;
}

.Avatar {
  width: 48px;
  height: 48px;
}

.Button {
  padding: 8px 16px;
}

.Logo {
  height: 20px;
}

.Menu {
  display: flex;
  gap: 16px;
  align-items: center;
}

.Divider {
  width: 1px;
  height: 32px;
  background-color: #DBDBDB;
  margin: 0 8px;
}
