<style>
.event section:last-of-type .content_wrap {padding:6rem 7.2rem;}

@media (min-width: 1280px) {
	.event section:first-of-type .content_wrap > p:last-of-type {font-size:3.6rem;}
	.event section:last-of-type .content_wrap {padding:6rem 0 7.2rem 0; width:1280px;}
}
</style>
<div class="contents event">
	<div class="top_banner">
		<div class="img_wrap">
			<img src="/assets/imgs/round/2/event/event_main.png" class="mo">
			<img src="/assets/imgs/round/2/event/pc_event_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<h2>EVENT</h2>
			<p>같이 즐겨봐</p>
		</div>
	</div>
	
	<section>
		<div class="content_wrap">
			<h4 data-aos="fade">이달의 이벤트</h4>
			<h2 data-aos="fade">가을 무드있게 보내는 건 어때?</h2>
			
			<p data-aos="fade">2022. 08. 22 – 2022. 09. 20</p>
			
			<img src="/assets/imgs/round/3/event/event01.png" class="fullin" data-aos="fade">
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade-up">EVENT 01</h4>
			<h2 data-aos="fade-up">햇살 아래 가을 시</h2>
			<img src="/assets/imgs/round/3/event/event02.png" class="fullin mt20" data-aos="fade-up">
			<p data-aos="fade-up">단풍이 물드는 가을은 오랫동안 잊고 지냈던 감성과 감각이 떠오릅니다. <br><b>가을 햇살 아래 감상 할 수 있는 가을 시</b>를 작성해주시는 1인에게는 <br> 추첨을 통해 ‘<b><span class="mint">LG 스타일러</span></b>’를 드립니다!</p>
			<a href="/event/view/<?=$this->round?>/1" data-aos="fade-up"><b>LG 스타일러</b>&nbsp;받으러 가기</a>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade-up">EVENT 02</h4>
			<h2 data-aos="fade-up">금손의 가을 인생샷</h2>
			<img src="/assets/imgs/round/3/event/event03.png" class="fullin mt20" data-aos="fade-up">
			<p data-aos="fade-up">가을에 찍을 수 있는 <b>가장 분위기있는 <br>무드있는 인생샷</b>을 올려주시는 2인에게는 추첨을 통해 <br>‘<b class="mint">내셔널 지오그래픽 캠핑세트</b>’를 드립니다!</p>
			<a href="/event/view/<?=$this->round?>/2" data-aos="fade-up"><b>내셔널 지오그래픽 캠핑세트</b>&nbsp;받으러 가기</a>
		</div>
	</section>
	<section class="gray">
		<div class="content_wrap">
			<ul class="info" data-aos="fade-up">
				<li>당첨자 안내 후 경품은 10월 7일 이내에 개인 연락처로 안내드립니다.</li>
				<li>본 이벤트 경품 수령 시에는 제세공과금 (22%) 발행하며 개인정보 및 <br class="mo">제세공과금 입금 확인 후 순차적으로 경품을 발송해드립니다.</li>
				<li>수집된 개인정보는 이벤트 안내 및 경품 증정 이외에는 사용되지 않습니다.</li>
				<li>20일 이상 경품 미수령자는 대상에서 제외될 수 있는 점 참고 부탁드립니다.</li>
			</ul>
		</div>
	</section>
	
	
</div>

