<style>

.event .content_wrap h2 + p {color:#000; font-weight:500;}

.event .content_wrap .event_main_img {margin-top:5rem; margin-bottom:8rem;}
.event .content_wrap .event_main_img + p {font-size:3.6rem; color:#000;}
.event .content_wrap .event_main_img + p + p {font-size:3.6rem; margin-top:4rem;}

.event section + section h4 {font-size:3rem;}
.event section + section h2 {font-size:4.4rem;}
.event section + section h2 span {color:#fff; background:#037781; padding:0 1rem;}
.event section + section img {margin-top: 3.2rem;}

.event section img {max-width:100%;}

.event .reward {padding:0 1.8rem;}
.event .reward .msg {text-align:center;}
.event .reward .msg span {padding:0rem 3.5rem; height:7rem; display:inline-flex; align-items:center; border:1px solid #acacac; border-radius:100px; font-size:3rem; color:#000; margin:0 auto; font-weight:500;}
.event .reward .info {font-size:2.8rem; color:#000; font-weight:bold; line-height:4rem; text-align:center; margin-top:2rem;}
.event .reward .info span {color:#fff; background:#037781; padding:0 .6rem;}
.event .content_wrap .box_wrap {display:flex; gap:3.2rem;}
.event .content_wrap .box_wrap .box {padding:0; padding-bottom:3rem; height:fit-content;}
.event .content_wrap .box_wrap .box h5 {height:3.3rem; line-height:3.2rem; border-bottom:1px solid #d6d6d6; font-size:1.6rem; text-align:center; font-weight:bold; color:#425654;}
.event .content_wrap .box_wrap .box p {padding:3rem 1rem 1.2rem 1rem; margin:0; text-align:center; font-size:1.6rem; line-height:2.5rem;}
.event .content_wrap .box_wrap .box img {margin:.8rem 1rem 0 1rem; width:calc( 100% - 2rem );}
.event .content_wrap .box {border:1px solid #D6D6D6; box-shadow: 0px 0px .6rem #00000029; border-radius: 1.2rem; padding:3rem; flex:1;}
.event .content_wrap .box h5 {color:#000; font-size:2.2rem; line-height:3.4rem;}
.event .content_wrap .box p {color:#000; font-size:2.2rem; line-height:3.4rem; white-space:pre-wrap; margin-top:1.2rem;}
.event .content_wrap .box.benefit {display:block; margin-left:0;}
.event .content_wrap .box.benefit p {text-align:center; font-weight:500; margin-top:0;}
.event .content_wrap .box.benefit p + p {color:#707070; font-weight:400; margin-top:.8rem;}

@media (min-width:1280px) {
	.content_wrap {width:62.4rem;}
	.content_wrap img {margin:0 auto;}
	.event section:last-of-type .content_wrap {padding:6rem 0 7.2rem 0; width:1280px;}
}

@media (max-width:1279px) {
	.event .content_wrap .event_main_img + p {font-size:2.2rem;}
	.event .content_wrap .event_main_img + p + p {font-size:2.2rem;}
	
	.event section + section h4 {font-size:2.2rem;}
	.event section + section h2 {font-size:3.6rem;}
	.event section + section img {margin-top: 3.2rem;}
	
	.event section img {max-width:100%;}
	
	.event .reward .msg {text-align:center;}
	.event .reward .msg span {padding:0rem 2.4rem; height:5rem; font-size:2.2rem;}
	.event .reward .info {font-size:2.8rem; margin-top:1.2rem;}
	
	.event .box {box-shadow: 0px 0px .6rem #00000029; border-radius: 1.2rem; padding:3rem;}
	.event .box h5 {color:#000; font-size:2.2rem; line-height:3.4rem; font-weight:bold;}
	.event .box p {color:#000; font-size:2.2rem; line-height:3.4rem; white-space:pre-wrap;}
}

</style>

<script src="/assets/js/event.js?12"></script>

<div class="contents event">
	<div class="top_banner">
		<div class="img_wrap">
			<img src="/assets/imgs/round/2/event/event_main.png" class="mo">
			<img src="/assets/imgs/round/2/event/pc_event_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<h2>EVENT</h2>
			<p>같이 즐겨봐</p>
		</div>
	</div>
	
	<section>
		<div class="content_wrap">
			<h4 data-aos="fade">마감된 이벤트</h4>
			<h2 data-aos="fade">가을 무드있게 보내는건 어때?<br> 당첨자 발표</h2>
			
			<p data-aos="fade">가을 무드 이벤트에 참여해주신 모든 분들 감사드립니다 <br>앞으로도 맛ZINE에 많은 관심과 참여 부탁드립니다!</p>
			<p data-aos="fade">※ 이벤트 당첨자 개별 안내 예정</p>
			
			<img src="/assets/imgs/round/3/event/event01.png" class="fullin mt30" data-aos="fade">
			
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade-up">EVENT 01</h4>
			<h2 data-aos="fade-up">햇살 아래 가을 시 <br><span>베스트 시인은 누구?</span></h2>
			<div class="reward fullin mt60">
				<div class="msg" data-aos="fade-up"><span>당첨을 축하합니다!</span></div>
				<div class="info" data-aos="fade-up">맛ZINE의 마음을 훔친 <span>롯데GRS 감성 100% 시인</span></div>
				<div class="box mt40" data-aos="fade-up">
					<h5>김작가</h5>
				<p>뜨거웠던 우리 사랑이
여름날의 향기처럼 져무를때쯤
가을 하늘에 편지를 씁니다
살살 분 가을 바람에 
그대에게 흘려 보내게요

아련했던 추억들
차창밖으로 미소 속에 비친 그대는 
아직 나를 반기는데
뿌옇게 서린 입김들
눈가에 맺힌 이슬만이 나를 위로하네요

헤어진 다음날…
가을 빗방울 소리 내게 스며 들면
그대 내 이름 다시 부를까 귀 기울여요
낙엽 즈려 밟는 소리에 놀라 뒤 돌아 보면
혹시 그대 아닐까 

아직 너무 사랑하기에
돌아 올거라 믿으며
그리워하며 마음을 담아
가을 하늘에 편지를 씁니다.
살살 분 가을 바람에 
그대에게 흘려 보내게요</p>
				</div>
				
				<div class="box benefit mt30" data-aos="fade-up">
					<p>당첨자 경품인 ‘LG 스타일러’는 <br>10월 중순이내 발송예정입니다.</p>
					<p>※ 이벤트 당첨자 개별 안내 예정</p>
					<img src="/assets/imgs/round/<?=$this->round?>/event/event02.png">
				</div>
				
				
			</div>
			
			
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade-up">EVENT 02</h4>
			<h2 data-aos="fade-up">금손의 가을 인생샷 <br><span>최고의 사진작가는 누구?</span></h2>
			<div class="reward fullin mt60">
				<div class="msg" data-aos="fade-up"><span>당첨을 축하합니다!</span></div>
				<div class="info" data-aos="fade-up">맛ZINE의 마음을 훔친 <span>롯데GRS 황금손 포토그래퍼</span></div>
				<div class="box_wrap mt40"  data-aos="fade-up">
					<div class="box">
						<h5>쭈니겨리</h5>
						<p>전남 담양 메타세콰이어가로수길을 
걸으면 마음이 편안해 집니다.
멀어도 찾아가게 되는 곳입니다. 

담양에서 순창으로 이어지는
24번 국도에 위치하고 
어느계절에 가도 정말 멋있는 풍경입니다.

어느덧.. 입장료를 받고 있다는.....

강원도 홍천 은행나무숲은 사유지인데 
1년에 10월 한달간만 개방합니다. 

아픈 아내를 위해 쾌유를 빌며 
사랑으로 가꾼 숲으로 5m 간격 
은행나무 2,000여 그루가 줄맞춰 
심어져 있습니다.

21년까지 코로나로 인해 미개방되었는데.. 
올해는 개방을 기대해 봅니다.</p>
						<img src="/assets/imgs/round/<?=$this->round?>/event/e1_1.png" onclick="EVENT.show_images(470,0)">
						<img src="/assets/imgs/round/<?=$this->round?>/event/e1_2.png" onclick="EVENT.show_images(470,1)">
					</div>
					<div class="box">
						<h5>기러기 토마토 스위스 인도인 별똥별</h5>
						<p>1. 언젠가부터 가을의 상징이 되버린 
핑크 뮬리 총괄님찍어주신게 
인생샷이 되었다. 
같이 캠핑가요^^

2. 사계절이 아름다운 가을 
한라산 영실코스에서

3. 출근길에 떨어진 가을 신호등  </p>
						<img src="/assets/imgs/round/<?=$this->round?>/event/e2_1.png" onclick="EVENT.show_images(473,0)">
						<img src="/assets/imgs/round/<?=$this->round?>/event/e2_2.png" onclick="EVENT.show_images(473,1)">
						<img src="/assets/imgs/round/<?=$this->round?>/event/e2_3.png" onclick="EVENT.show_images(473,2)">
					</div>
				</div>
				
				
				<div class="box benefit mt30" data-aos="fade-up">
					<p>당첨자 경품인 ‘내셔널지오그래픽 캠핑세트’는 <br>10월 중순이내 발송예정입니다.</p>
					<p>※ 이벤트 당첨자 개별 안내 예정</p>
					<img src="/assets/imgs/round/<?=$this->round?>/event/event03.png">
				</div>
				
				
			</div>
			
			
		</div>
	</section>
	
	<section class="gray">
		<div class="content_wrap" style="padding:6.2rem 7.2rem;">
			<ul class="info" data-aos="fade-up">
				<li>당첨자 안내 후 경품은 10월 7일 이내에 개인 연락처로 안내드립니다.</li>
				<li>본 이벤트 경품 수령 시에는 제세공과금 (22%) 발행하며 개인정보 및 <br class="mo">제세공과금 입금 확인 후 순차적으로 경품을 발송해드립니다.</li>
				<li>수집된 개인정보는 이벤트 안내 및 경품 증정 이외에는 사용되지 않습니다.</li>
				<li>20일 이상 경품 미수령자는 대상에서 제외될 수 있는 점 참고 부탁드립니다.</li>
			</ul>
		</div>
	</section>
</div>

<script>
EVENT.reply_datas[470] = {image_datas:[{},{}]};
EVENT.reply_datas[470].image_datas[0].file_path = 'uploads/16614366890.jpeg';
EVENT.reply_datas[470].image_datas[1].file_path = 'uploads/16614366891.jpeg';
EVENT.reply_datas[473] = {image_datas:[{},{},{}]};
EVENT.reply_datas[473].image_datas[0].file_path = 'uploads/16614756710.jpeg';
EVENT.reply_datas[473].image_datas[1].file_path = 'uploads/16614756711.jpeg';
EVENT.reply_datas[473].image_datas[2].file_path = 'uploads/16614756712.jpeg';
EVENT.resize_reply_data = function(){};
</script>