$black: #000;
$gray-1: #191a20;
$gray-3: #3f4150;
$gray-8: #8c8d96;
$gray-b: #b2b3b9;
$gray-e: #e0e2e7;
$gray-f: #f7f8fa;
$white: #fff;

$blue: #3da5f5;
$blue-dark: #3186c4;
$blue-light: #ecf6fe;

$red: #f86d7d;
$green: #22c58b;
