html {
  font-size: 18px;
}

body.dark {
  background-color: #121212;
}

body.dark,
body.dark a {
  color: #f9f9f9;
}

body.light {
  background-color: #ededed;
}

body.light,
body.light a {
  color: #1e1e1e;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
