<link rel="stylesheet" href="/assets/css/7/base.css" />
<link rel="stylesheet" href="/assets/css/7/event.css" />
<link rel="stylesheet" href="/assets/css/6/modal.css">

<style>
	header {
		background: #000 !important;
	}
</style>

<div class="event">
	<div data-aos="fade">
		<img src="/assets/imgs/round/7/event/pc_banner.png" alt="event" title="event" class="pc_banner" />
		<img src="/assets/imgs/round/7/event/mo_banner.png" alt="event" title="event" class="mo_banner" />
	</div>
	<div class="event-text">
		<p class="f20 tc"><b class="f20">맛진 1주년을 맞아 이벤트를 두 개 준비했어!</b></p>
		<p class="f18 tc mt15 mt-lg-10">재미도 두 배 경품도 두 배니까 놓치지 말라구~!</p>
	</div>
	<div class="event-04">
		<div class="container" style="max-width:1000px;">
			<div class="event-title">
				<p>🎒 EVENT POST🎒</p>
			</div>
			<div class="flex flex-vc mt100 mt-lg-40">
				<div class="event-content col-lg-12 order-lg-2 mt-lg-15">
					<p><b class="f30">가방계의 명품 “반누이스＂알아?</b></p>
					<p class="f18 mt34 mt-lg-15">
						직장인에게 떼어놓을 수 없는 필수품, 바로 가방이지!<br>
						중요한 미팅 서류도, 출출한 오후 시간을 위한<br>
						간식거리도 다 맛둥이들 가방 속에 들어있지?
					</p>
					<p class="mt24 mt-lg-10"><b class="f18">전문적인 직장인에게 찰떡인 반누이스 가방 소개해 줄게</b></p>
				</div>
				<div class="event-image pl80 pl-lg-0 col-lg-12">
					<img src="/assets/imgs/round/7/event/9.png">
				</div>
			</div>
			<div class="flex flex-vc mt90 mt-lg-40">
				<div class="event-content col-lg-12 order-lg-2 mt-lg-15">
					<p class="f18">
						반누이스는 미국과 일본의 디자이너가 Van Nuys 공항에서 만나 탄생한 가방 브랜드야 <br class="is-pc">
						한 명의 장인이 하나의 가방만을 책임지고 한 땀 한 땀 만드는 수제 가방이라구 <br class="is-pc">
						심플한 디자인에 특수한 원단, 뛰어난 마감 품질로 오랜 기간 튼튼하게 사용이 가능해!
					</p>
					<p class="f18 mt34 mt-lg-15">
						이쁘고 실용적이기까지 한 반누이스 가방이 맛둥이들을 위해 준비한 첫 번째 선물이야 <br class="is-pc">
						정성이 가득 담긴 가방의 주인공은 누가 될지..기대되지 않아? <br class="is-pc">
						<b class="f18">맛진 속 숨겨진 촛불을 찾으면 이벤트에 응모할 수 있어!</b>
					</p>
				</div>
				<div class="event-image col-lg-12">
					<img src="/assets/imgs/round/7/event/10.png">
				</div>
			</div>
			<div class="event-button mt50 mt-lg-25">
				<div class="flex flex-1 flex-tc">
					<a href="https://brand.naver.com/vannuys" target="_blank">반누이스 제품 보러 가기 ></a>
				</div>
			</div>
		</div>
	</div>
	<div class="event-01">
		<div class="container">
			<div class="event-title">
				<strong>EVENT 1</strong>
				<p>맛진이가 잃어버린 <br class="is-m">생일초를 찾아줘</p>
			</div>
			<div class="event-image mt90 mt-lg-45">
				<img src="/assets/imgs/round/7/event/1.png">
			</div>
			<div class="flex flex-vc flex-tc mt50">
				<div class="rabbit_wrapper">
					<div class="item">
						<div>
							<div class="f20">STEP. 1</div>
							<div class="f20">
								맛진이가 잃어버린 <span class="f20">생일초</span>을 찾아 <br><span class="f20">댓글에 소원</span>을 빌어보세요!
							</div>
						</div>
						<div class="rabbit">
							<img src="/assets/imgs/round/7/event/rabbit1.png" />
						</div>
						<div class="circle"></div>
					</div>
					<div class="item">
						<div>
							<div class="f20">STEP. 2</div>
							<div class="f20">
								잃어버린 생일초는 <br><span class="f20">POST</span>와 <span class="f20">NEWS</span> 페이지 <br>곳곳에 숨어있어요!
							</div>
						</div>
						<div class="rabbit">
							<img src="/assets/imgs/round/7/event/rabbit2.png" />
						</div>
						<div class="circle"></div>
					</div>
					<div class="item">
						<div>
							<div class="f20">STEP. 3</div>
							<div class="f20">
								생일초 3개 중 <span class="f20">하나</span>만 찾아도 <br><span class="f20">총 7인</span>에게 댓글 추첨을 통해 <br><span class="f20">특별한 선물</span>을
								드립니다!
							</div>
						</div>
						<div class="rabbit">
							<img src="/assets/imgs/round/7/event/rabbit3.png" />
						</div>
						<div class="circle"></div>
					</div>
				</div>

				<div class="rabbit_wrapper_mo">
					<div>
						<div>
							<div>STEP. 1</div>
							<div>
								맛진이가 잃어버린 <span>생일초</span>을 찾아 <br><span>댓글에 소원</span>을 빌어보세요!
							</div>
						</div>
						<div>
							<div>STEP. 2</div>
							<div>
								잃어버린 생일초는 <br><span>POST</span>와 <span>NEWS</span> 페이지 <br>곳곳에 숨어있어요!
							</div>
						</div>
						<div>
							<div>STEP. 3</div>
							<div>
								생일초 3개 중 <span>하나</span>만 찾아도 <br><span>총 7인</span>에게 댓글 추첨을 통해 <br><span>특별한 선물</span>을
								드립니다!
							</div>
						</div>
					</div>
				</div>
				<!--
				<div class="rabbits">
					<img class="third" src="/assets/imgs/round/7/event/rabbit3.png" />
				</div>
				-->
			</div>
		</div>
	</div>
	<div class="event-02">
		<div class="container">
			<div class="event-title">
				<strong style="color:##E86D84;">EVENT 2</strong>
				<p>특별한 날, 특별한 맛</p>
				<p class="f20 mt24 mt-lg-15 fw4">생일날 롯데리아에서 폴라로이드 사진 찍었던 맛둥이 분명 있을거야 <br class="is-pc">음식과 관련된 추억이 있으면 그
					음식을 괜히 더 찾게 되더라구</p>
				<p class="mt24 mt-lg-15">
					<div class="is-pc">
						<b class="block f20">좋은 사람들과 함께 하는 특별한 날, 맛둥이들은 기념일마다 찾게 되는 음식 있어?</b>
						<b class="block f20">맛진의 카메라에 담을 맛둥이의 이야기를 댓글로 알려줘!</b>
					</div>
					<div class="is-m">
						<b class="block f20">좋은 사람들과 함께 하는 특별한 날, 맛둥이들은 기념일마다 찾게 되는 음식 있어? 맛진의 카메라에 담을 맛둥이의 이야기를 댓글로 알려줘!</b>
					</div>
				</p>
			</div>
			<div class="event-image mt100 mt-lg-35">
				<img src="/assets/imgs/round/7/event/5.png">
			</div>
			<div class="event-button mt100 mt-lg-25">
				<div class="flex flex-1 flex-tc">
					<a href="javascript:;" onclick="popupOpen();">이벤트 참여하기 ></a>
				</div>
			</div>
		</div>
	</div>
	<div class="event-03">
		<div class="container">
			<div class="event-title">
				<p>🎁맛둥이를 위한 선물🎁</p>
			</div>
			<div class="event-present">
				<div class="pre-01">
					<strong>EVENT.1</strong>
					<p>맛진이가 잃어버린 생일 초를 찾아줘</p>
					<small>총 당첨 인원 : 2명</small>
					<div class="flex flex-vc">
						<div class="col-6">
							<div class="event-image br">
								<img src="/assets/imgs/round/7/event/6.png">
								<p>반누이스 백팩</p>
							</div>
						</div>
						<div class="col-6">
							<div class="event-image">
								<img src="/assets/imgs/round/7/event/7.png">
								<p>반누이스 슬링백</p>
							</div>
						</div>
					</div>
				</div>
				<div class="pre-02">
					<strong>EVENT.2</strong>
					<p>특별한 날, 특별한 맛</p>
					<small>당첨 인원 : 12명</small>
					<div class="event-image">
						<img src="/assets/imgs/round/7/event/8.png">
						<p>인스탁스 미니 40 + 필름 10매</p>
					</div>
				</div>
			</div>
			<div class="event-content mt40 mt-lg-20">
				<p class="tc f22">※ EVENT1과 2의 경품은 상이하며, 선택이 불가합니다.</p>
			</div>
		</div>
	</div>
	<div class="event-05">
		<div class="container">
			<div class="flex">
				<b>안내사항</b>
				<ul>
					<li>이벤트 참여 시, 개인정보 오기재으로 인한 당첨자 누락은 책임지지 않습니다.</li>
					<li>당첨자 안내 및 경품 발송은 개별 연락처로 안내해 드립니다.</li>
					<li>본 이벤트의 경품 제공을 목적으로 개인 정보를 요구할 수 있습니다.</li>
					<li>당첨자 안내 개별 메시지 발송일 이후 14일 이내에 경품 수령 의사 및 개인 정보 회신이 없을 시, 자동으로 당첨자 대상에서 제외될 수 있습니다.</li>
					<li>이벤트 경품 수령을 위한 개인정보 회신 확인 후 순차적으로 경품을 발송해드립니다.</li>
					<li>수집된 개인정보는 이벤트 안내 및 경품 증정 이외에는 사용되지 않습니다.</li>
					<li>경품은 이벤트 참여 시 작성해주신 개인 정보로만 발송 가능하며, 다른 이름, 연락처, 주소 등으로 변경하여 수령하는 것은 불가합니다.</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="event-06">
		<div class="container">
			<div class="event-comment">
				<div class="comment-head">
					<strong>댓글</strong>
					<ul>
						<li class="active"><a href="javascript:;">추천순</a></li>
						<li><a href="javascript:;">최신순</a></li>
					</ul>
				</div>
				<div class="comment-body">
					<div class="comment-tab">
						<ul>
							<li class="active"><a href="javascript:;">EVENT.1</a></li>
							<li><a href="javascript:;">EVENT.2</a></li>
						</ul>
					</div>
					<div class="comment-list">
						<!-- <p class="list-none">등록된 댓글이 없습니다.</p> -->
						<ul class="list" id="list">

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var round = 7;
	var index = 1;
	var order = 1;
	var ignore_seq = [];
	var isFetching = false;

	$(document).ready(function () {
		show_more();
	});

	// 이벤트 탭
	$(document).on("click", ".comment-tab ul li a", function () {
		var parents = $(this).parent("li");
		var idx = parents.index();
		
		ignore_seq = []

		if(parents.siblings().hasClass('active')){
			index = (index === 1) ? 2 : 1;
			init_reply_data();
			show_more();
		}
		parents.addClass("active").siblings().removeClass("active");
	});

	// 추천순/최신순 탭
	$(document).on("click", ".comment-head ul li a", function () {
		var parents = $(this).parent("li");
		var idx = parents.index();

		ignore_seq = []
		if(parents.siblings().hasClass('active')){
			order = (order === 1) ? 2 : 1;
			init_reply_data();
			show_more();
		}

		parents.addClass("active").siblings().removeClass("active");
	});

	// 팝업
	function popupOpen() {
		$(`.modal`).css({
			'visibility': 'visible',
			'pointer-events': 'inherit',
		})
		$(`.event_popup_0`).css('display', 'block');
	}

	function show_more() {
		isFetching = true;
		get_reply_data();
	}

	function init_reply_data() {
		$('#list').html('');
	}

	function get_reply_data() {
		$.post('/event/get_reply_data', { round: round, index: index, order: order, ignore_seq: ignore_seq }, function (result) {
			var r = JSON.parse(result);
			
			if (r.result) {
				var html = '';
				if (r.list.length) {
					for (var i = 0; i < r.list.length; i++) {
						html += '<li class="list-item">';
						html += '<div class="list-head">';
						if (r.list[i].image_datas.length > 0) {
							html += '<img class="mo" src="/' + r.list[i].image_datas[0].file_path + '">';
						} else {
							html += '<img class="mo" src="/assets/imgs/round/6/event/profile.svg">';
						}
						html += '<div>';
						html += '<b>' + r.list[i].nickname + '</b>';
						html += '<time>' + r.list[i].date + '</time>';
						html += '</div>';
						html += '</div>';
						html += '<div class="list-body">';
						html += '<p>' + r.list[i].text + '</p>';
						html += '<div class="list-body-like">';
						if (r.list[i].log_seq) {
							html += '<a href="javascript:like(' + r.list[i].seq + ')" id="like' + r.list[i].seq + '" class="active">' + r.list[i].like.toLocaleString('en') + '</a>';
						} else {
							html += '<a href="javascript:like(' + r.list[i].seq + ')" id="like' + r.list[i].seq + '">' + r.list[i].like.toLocaleString('en') + '</a>';
						}
						html += '</div>';
						html += '</div>';
						html += '</li>';
						html += '<input type="hidden" value="' + r.list[i].seq + '">';
						ignore_seq.push(r.list[i].seq);
					}
				}

				$('#list').append(html);
				isFetching = false;
			}
		});
	}

	function like(seq) {
		$.post('/event/like', { seq: seq }, function (result) {
			var r = JSON.parse(result);
			if (r.result) {
				$('#like' + seq).html(r.after);
				if (Number(r.after) > Number(r.before)) {
					$('#like' + seq).addClass('active');
				} else {
					$('#like' + seq).removeClass('active');
				}
			} else {
				alert(r.msg);
			}
		});
	}

	window.onscroll = function (e) {
		if (!isFetching && (window.innerHeight + window.scrollY + 100) >= document.body.offsetHeight) {
			show_more();
		}
	}
</script>

<!-- 이벤트 참여 모달 시작 -->
<div class="modal">
	<div class="popup popup_small event_popup_0 kr">
		<div class="p_con">
			<div class="popup_top">
				<div style="display: none; visibility: collapse;"></div>
				<div>특별한 날, 특별한 맛</div>
				<div style="display: none; visibility: collapse;"></div>
			</div>

			<div class="text_align_center">
				<img src="/assets/imgs/round/7/post/food/camera.png" class="rabbit_img" />
			</div>

			<div class="text_align_center">
				<div class="modal_description_title">특별한 음식을 댓글로 소개해 주세요!</div>
				<div class="modal_description_body">*나만의 맛 소개하고 이벤트 2 참여하러 가기</div>
			</div>
		</div>
		<div class="popup_close">
			X
		</div>
		<div class="button p_btn p_btn_0">
			이벤트 참여하기
		</div>
	</div>
	<div class="popup event_popup_1 kr">
		<div class="p_con">
			<div class="popup_top">
				<div>롯데GRS</div>
				<div>개인정보 활용 동의서</div>
				<div>※ 본 이벤트는 롯데GRS 임직원 및 점주 한정 참여 가능합니다.</div>
			</div>

			<div class="popup_content">
				<div class="check_all flex aic check_box allCheck">
					<!-- <label class="checkbox" for="N_big"> -->
					<input type="checkbox" id="N_big" hidden>
					<span class="checkbox_icon"></span>
					<span class="checkbox_text check_all_t">전체 동의하기</span>
					<!-- </label> -->
				</div>
				<p class="check_info">
					롯데GRS 사내웹진 ‘맛ZINE’ 이벤트 당첨안내 및 배송 관련 다양한 서비스 제공을 위해 개인 정보 수집, 이용에 관하여 관계법령에 의거하여 고지하오니, 동의해 주시기 바랍니다.
				</p>

				<div class="line"></div>

				<div class="check_detail">
					<b>맛진 동의 항목</b>

					<div class="check_list">
						<div class="check_box flex aic jcsb">
							<div class="checkbox flex aic minCheck">
								<input id="N_one" type="checkbox" hidden>
								<span class="checkbox_icon"></span>
								<span class="checkbox_text">[필수] 개인정보 수집 및 이용 동의</span>
							</div>

							<div class="arrow_btn p_modal_2_open">
								&gt;
							</div>
						</div>

						<div class="check_under_list">
							<div class="check_box">
								<div class="checkbox flex aic">
									<input type="checkbox">
									<span class="checkbox_icon"></span>
									<span class="checkbox_text">성명</span>
								</div>
							</div>
							<div class="check_box">
								<div class="checkbox flex aic">
									<input type="checkbox">
									<span class="checkbox_icon"></span>
									<span class="checkbox_text">부서/지점명</span>
								</div>
							</div>
							<div class="check_box">
								<div class="checkbox flex aic">
									<input type="checkbox">
									<span class="checkbox_icon"></span>
									<span class="checkbox_text">연락처</span>
								</div>
							</div>
						</div>

						<div class="check_box flex aic jcsb">
							<div class="checkbox min_check_2 flex aic">
								<input type="checkbox">
								<span class="checkbox_icon"></span>
								<span class="checkbox_text">[필수] 개인정보의 취급 위탁 동의</span>
							</div>

							<div class="arrow_btn p_modal_3_open">
								&gt;
							</div>
						</div>
					</div>

					<p class="kr warn">※ 개인정보 동의를 거부할 권리가 있으나, 거부할 경우 서비스 이용이 제한됩니다.</p>
				</div>
			</div>
		</div>
		<div class="popup_close">
			X
		</div>
		<div class="button p_btn p_btn_1">
			동의하고 계속하기
		</div>
	</div>
	<div class="popup event_popup_2 kr">
		<div class="p_con">
			<div class="popup_top">
				<p>롯데GRS</p>
				<h2>개인정보 수집 및 이용 동의</h2>
				<p>※ 본 이벤트는 롯데GRS 임직원 및 점주 한정 참여 가능합니다.</p>
			</div>

			<div class="popup_content">
				<p class="check_info">
					롯데GRS 사내웹진 ‘맛ZINE’ 이벤트 당첨안내 및 배송 관련 다양한 서비스 제공을 위해 <br> 개인 정보 수집, 이용에 관하여 관계법령에 의거하여 고지하오니, 동의해 주시기
					바랍니다.
				</p>


				<div class="info_box_pop">
					<div class="info_intro_item">
						<h3>1) 개인정보 수집 및 이용 동의</h3>
						<p>롯데GRS 사내웹진 이벤트</p>
					</div>
					<div class="info_intro_item">
						<h3>2) 수집하는 개인정보의 항목</h3>
						<p>이름, 부서/지점명, 연락처 등 경품 수령을 위한 개인정보</p>
					</div>
					<div class="info_intro_item">
						<h3>3) 개인정보 보유 및 이용기간</h3>
						<p>수집일로부터 6개월</p>
					</div>
				</div>
				<p class="kr warn">※ 개인정보 동의를 거부할 권리가 있으나, 거부할 경우 서비스 이용이 제한됩니다.</p>
			</div>
		</div>
		<!--
		<div class="popup_close">
			X
		</div>
		-->
		<div class="button p_btn p_btn_2">
			확인
		</div>
	</div>
	<div class="popup event_popup_3 kr">
		<div class="p_con">
			<div class="popup_top">
				<p>롯데GRS</p>
				<h2>개인정보의 취급 위탁 동의</h2>
				<p>※ 본 이벤트는 롯데GRS 임직원 및 점주 한정 참여 가능합니다.</p>
			</div>

			<div class="popup_content">
				<p class="check_info">
					롯데GRS 사내웹진 ‘맛ZINE’ 이벤트 당첨안내 및 배송 관련 다양한 서비스 제공을 위해 <br> 개인 정보 수집, 이용에 관하여 관계법령에 의거하여 고지하오니, 동의해 주시기
					바랍니다.
				</p>


				<div class="info_box_pop">
					<p>
						롯데GRS는 서비스 향상을 위해서 아래와 같이 개인정보를 위탁하고 있으며, 관계 법령에 의거 위탁계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 사항을 규정합니다.
					</p>

					<div class="info_back_item">
						<h3>1) 업무내용 : 서비스 운영, 이벤트 경품 배송, 고객지원</h3>
						<h3>2) 수탁업체 : (주)스카이벤처스</h3>
					</div>
				</div>
				<p class="kr warn">※ 개인정보 동의를 거부할 권리가 있으나, 거부할 경우 서비스 이용이 제한됩니다.</p>


			</div>
		</div>
		<!--
		<div class="popup_close">
			X
		</div>
		-->
		<div class="button p_btn p_btn_3">
			확인
		</div>
	</div>
	<div class="popup event_popup_4 kr">
		<div class="p_con">
			<div class="popup_top">
				<p style="color:#E86D84;">EVENT 2</p>
				<h2>특별한 날, 특별한 맛</h2>
			</div>

			<div class="popup_content">
				<form class="event_form kr" id="event_form">
					<!-- 이건 실서버에 반영할때 아래 input으로 변경 -->


					<!-- 개발용 실서버 반영할때 아래 input 두개 지우고 위에 input으로 변경 -->
					<input type="hidden" name="round" value="7" id="round">
					<input type="hidden" name="index" value="2" id="index">

					<div>
						<div>
							<input type="text" placeholder="닉네임을 입력해주세요." name="user_nickname" id="user_nickname">
							<p>※ 댓글에 노출되는 닉네임입니다.</p>
						</div>
						<div>
							<input type="text" placeholder="이름을 입력해주세요." name="user_name" id="user_name">
						</div>
					</div>
					<div>
						<div>
							<input type="text" placeholder="부서/지점명을 입력해주세요." name="department" id="department">
						</div>
						<div>
							<input type="text" placeholder="휴대폰 번호를 입력해주세요." name="user_hp" id="user_hp">
						</div>
					</div>
					<div style="display:block">
						<div style="width: 100%">
							<textarea cols="10" rows="10" placeholder="댓글을 입력해주세요" name="text" id="text"
								style="resize: none;"></textarea>
						</div>
						<!--
						<div style="padding-top:1rem">
							<p>프로필사진첨부</p>
							<input name="select_file" id="select_file" accept="image/png, image/jpeg" type="file"
								multiple style="display:none;">
							<div class="user_images">
								<button class="image_select" type="button" id="select_button">
									<img src="/assets/imgs/round/6/event/camera.png">
								</button>
							</div>
						</div>
						-->
					</div>
					<div class="form_photo_div" style="display: none;">
						<p>프로필사진첨부</p>
						<span style="display: flex;">
							<span class="images"></span>
							<label class="photo_label">
								<img src="/assets/imgs/round/5/event/camera.svg" alt="#" title="#">
								<input type="file" hidden>
							</label>
						</span>
					</div>
				</form>
			</div>
			<div class="popup_close">
				X
			</div>

			<p class="kr warn">※ 본 이벤트는 롯데GRS 임직원 및 점주 한정 참여 가능합니다.</p>
			<div class="button p_btn p_btn_4">
				이벤트 응모하기
			</div>
		</div>
	</div>
	<div class="popup event_popup_5 kr pb0">
		<div class="pop_top">
			<p class="">NOTICE</p>
			<div class="popup_close">
				X
			</div>
		</div>
		<div class="p_con py60 py-lg-30">
			<h2 style="color:#E86D84;">특별한 날, 특별한 맛</h2>
			<p>이벤트 응모 완료되었습니다!</p>
		</div>
	</div>

	<div class="comment_image_popup popup">
		<div class="image_slide swiper">
			<div class="swiper-wrapper slide">
				<div class="swiper-slide popup_image">
					<img src="/assets/imgs/round/5/event/1.png" alt="#" title="#">
				</div>
				<div class="swiper-slide popup_image">
					<img src="/assets/imgs/round/5/event/1.png" alt="#" title="#">
				</div>
				<div class="swiper-slide popup_image">
					<img src="/assets/imgs/round/5/event/1.png" alt="#" title="#">
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
		<div class="popup_close">
			X
		</div>
	</div>
</div>
<!-- 이벤트 참여 모달 끝 -->

<script src="/assets/js/rabbit-event.js"></script>