<link rel="stylesheet" href="/assets/css/7/eventWinners.css">

<div class="event content_box">
    <div class="image section1" data-aos="fade">
        <div class="image_pc">
            <img src="/assets/imgs/round/7/event/winner/pc_banner.png" alt="event" title="event">
        </div>
        <div class="image_mo">
            <img src="/assets/imgs/round/7/event/winner/mo_banner.png" alt="event" title="event">
        </div>
    </div>

    <div class="event_content wrap section2">
        <div class="event_title kr">
            <div class="event_finish_sub_title">마감된 이벤트</div>
            <div class="event_finish_title">
                맛돌잔치<br/>당첨자 발표
            </div>
            <div class="event_finish_description">
                맛진의 첫돌을 축하해 준 맛둥이들 고마워 ❤️<br/> 덕분에 맛둥이들과의 추억을 알차게 채울 수 있었어<br/>
                <span class="event_finish_description-bold">다음 6월호도 설레는 이벤트로 찾아올게 또 만나!</span>
            </div>
            <div class="event_finish_description-hint">
                ※ 이벤트 당첨자 개별 안내 예정
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="event_content wrap section3">
        <div class="event_finish_gift_title">
            🎁<br/>
            생일을 맞은 맛진이가 준비한 선물
        </div>
        <div class="gift_wrapper">
            <div class="pre-01" data-aos="fade-up">
                <div class="gift_item_tit_inner">
                    <h3>EVENT.1</h3>
                    <p class="decs">맛진이가 잃어버린 생일 초를 찾아줘</p>
                    <p class="tit">총 당첨 인원 : 2명</p>
                </div>
                <div class="gift_item">
                    <div class="gift_item_count">1명</div>
                    <img class="gift_img" src="/assets/imgs/round/7/event/winner/bag.png"/>
                    <div class="gift_item_description">
                        <span>반누이스 백팩</span>
                    </div>
                </div>
                <i class="line"></i>
                <div class="gift_item sling_bag">
                    <div class="gift_item_count">1명</div>
                    <img class="gift_img" src="/assets/imgs/round/7/event/winner/sling_bag.png"/>
                    <div class="gift_item_description">반누이스 슬링백</div>
                </div>
            </div>
            <div class="pre-02" data-aos="fade-up">
                <div class="gift_item_tit_inner">
                    <h3>EVENT.2</h3>
                    <p class="decs">특별한 날, 특별한 맛</p>
                    <p class="tit">당첨 인원 : 12명</p>
                </div>
                <div class="inner">
                    <div class="gift_item_count">12명</div>
                    <img class="gift_img" src="/assets/imgs/round/7/event/winner/profile_Instax.png"/>
                    <div class="gift_item_description">인스탁스 미니 40 + 필름 10매</div>
                </div>
            </div>
        </div>
        <div class="gift_description_wrapper" data-aos="fade-up">
            <div class="gift_text_description">
                EVENT1과 2의 경품은 상이하며, 선택이 불가합니다.
            </div>
            <div class="gift_text_description">
                ※ 당첨자 경품은 6월 내 발송 예정입니다.
            </div>
            <div class="gift_text_description">
                ※ 이벤트 당첨자 개별 안내 후<br class="mo"/> 개인정보 회신 확인에 따라 순차적 발송됩니다.
            </div>
        </div>

    </div>
    <div class="line"></div>
    <div class="event_content_wrap section4">
        <div class="sub_text">
            <div class="pc">
                <div class="kr" data-aos="fade">
                    <p>맛돌잔치를 더욱 빛내준 <span>14인</span>을 소개합니다</p>
                </div>
            </div>
            <div class="mo">
                <div class="kr" data-aos="fade">
                    <p>맛돌잔치를 더욱 빛내준 <span>14인</span>을 소개합니다</p>
                </div>
            </div>
        </div>
        <div class="border_box_wrapper">
            <div class="border_box">
                당첨을 축하합니다!
            </div>
        </div>
        <div class="reward fullin mt60">
            <div class="pc">
                <div class="left">
                    <!-- 데이터 삽입 -->
                </div>
                <div class="right">
                    <!-- 데이터 삽입 -->
                </div>
            </div>
            <div class="mo">
                <!-- 데이터 삽입 -->
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/event/7/event_winner.js" type="module"></script>