<style>
.content_wrap {padding:6rem 7.2rem 9.6rem 7.2rem;}
@media (min-width: 1280px) {
	.content_wrap {padding:6rem 0rem 9.6rem 0rem;}
}
</style>
<div class="contents story_sub">
	<div class="sub_top">
		<div class="img_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/story/culture/culture.png?1" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/story/culture/5. culture.png?1" class="pc">
		</div>
	</div>
	
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			어려서는 어른이 되고 싶었다. <br>
			그런데 어른이 되니 다시 어린이가 되고싶다. <br>
			오래 전 기억을 더듬어보면 어른들의 자유로움이 부러웠던 것 같다. <br>
			숙제가 없는 삶, 잔소리로부터 해방되고, 통금이 없는 삶. <br><br>
			물론 그 자유의 그림자가 책임이라는 것을 알았을 때 <br>
			비로소 어른이 되었지만. <br>
			그래도 가끔은 책임의 그림자에서 벗어날 수 있는 어린아이로 살고 싶다. <br>
			<b class="mint">‘괜아돼‘</b>라는 따스한 말을 건네며 말이다. <br><br>
			아이가 될 순 없어도, 잃었던 우리의 ‘동심’ 정도야 <br>잠시 되찾을 수 있지 않을까?
			</p>
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap">
			<p data-aos="fade-left">강원도 춘천시</p>
			<h2 class="mint" data-aos="fade-left"><b>레고랜드 코리아 리조트</b></h2>
			<p data-aos="fade-up" class="right mt20">어렸을 적 자주 갖고 논 장난감 하면, 레고 블록을 빼놓을 수 없다. <br>
			작은 종이에만 의존하여 건물을 짓고, 항공기와 우주선 따위를 만들어냈다. <br>
			그 때마다 ‘레고 블록으로만 지어진 세상이 있다면 얼마나 재밌을까? <br>
			하는 상상을 해본 적 있지 않은가.</p>
			<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub01.png" data-aos="fade" class="w416 center mt60">
			<p data-aos="fade-up" style="text-align:center;">그랬던 우리 어른이들과 어린이들을 위해 <br>
			‘레고랜드’가 춘천시에 문을 열었다. <br><br>
			입장과 동시에 국내 주요 도시와 건축물을 레고로 똑같이 구현한 세상은 <br>
			물론 40여 개의 놀이기구가 우리를 기다린다니, 생각만해도 짜릿하다. <br>
			사용된 레고 블록은 모두 50만 개. <br>
			구경하고 즐기다 보면 도저히 지루할 틈이 없다.</p>
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap">
			<p data-aos="fade-left">동대문디자인플라자(DDP)</p>
			<h2 class="mint" data-aos="fade-left"><b>팀 버튼 특별전</b></h2>
			<p data-aos="fade-up" class="right mt20">초콜릿 강이 흐르고, 땅에선 사탕이 자라는 윌리 웡카의 <br>
			초콜릿 공장을 보며 입맛을 다시곤 했다. <br>
			영화 ‘찰리와 초콜릿 공장’의 감독으로 유명한 <br>
			‘팀 버튼’의 특별전이 9월까지 DDP에서 진행된다.</p>
			<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub02.png" data-aos="fade" class="w416 center mt60">
			<p data-aos="fade-up" style="text-align:center;">그는 이 외에도 ‘가위손’과 ‘이상한 나라의 앨리스’, ‘유령 신부’ 등을 <br>
			제작한 거장이다. <br>
			학창시절 모든 교과진행을 마치고 방학까지 시간이 떴을 때, <br>
			학교에서 그의 영화를 자주 보여준 기억이 난다.</p>
			<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub03.png" data-aos="fade-up" class="full mt60">
			<p data-aos="fade-up">당시엔 그의 작품 속 캐릭터들이 괴이하고 공포스럽게 느껴졌는데, <br>
			어른이 된 지금은 꽤나 매력있게 다가온다. <br>
			지난 50년간 작업한 실제 작품들은 물론, <br>
			그가 한국 관람객들을 위해 직접 디자인한 새로운 조형물도 <br>
			이번 특별전을 통해 최초로 공개한다고 하니 놓치지 말자.</p>
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap">
			<p data-aos="fade-left">경기아트센터</p>
			<h2 class="mint" data-aos="fade-left"><b>최현우 The Brain 수원</b></h2>
			<p data-aos="fade-up" class="right mt20">채널을 돌리다가도 최현우가 보이면 일단 멈추게 된다. <br>
			떠도는 소문에 의하면 그는 정말 호그와트 졸업생일지도? <br>
			어렸을 때도 신기했지만, 머리가 커버린 지금 보아도 신기한 게 마술이다.</p>
			<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub04.png" data-aos="fade" class="w416 center mt60">
			<p data-aos="fade-up" style="text-align:center;">우리에게 친근한 듯 신비로운 마술사, 최현우가 7월 수원을 찾아간다. <br>
			그가 이번에 선보일 공연은 멘탈 매직으로, 과학과 마술을 접목시켜 <br>
			한층 더 업그레이드되었다고 하니 모두들 턱관절 조심!</p>
		</div>
	</section>
	
</div>