<style>
section .content_wrap {padding-top:0; padding-bottom:14rem;}
.contents.story_sub .sub_top .img_wrap::before {background: #000000 0% 0% no-repeat padding-box; opacity:.3; display:block;}
.contents.story_sub section.gray {padding-top:4.8rem;}
.contents .sub_header .content_wrap {width:auto;}
.contents.story_sub .sub_header h2 {}

.ballon li {display:flex;}
.ballon li span {margin-right:.8rem;}
@media all and (min-width:1280px) {
	section .content_wrap {padding-top:0; padding-bottom:21rem;}
	.ballon {margin-bottom:7rem;}
	.ballon span {padding-left:0;}
	.contents.story_sub section.gray {padding-top:10rem;}
	
	.contents.story_sub .sub_header h4 {text-align:center; font-size:3rem;}
	.contents.story_sub .sub_header h2 {text-align:center; font-size:5rem; line-height:7.2rem;}
	.contents.story_sub .sub_header .content_wrap p {margin-top:2rem;}
}
</style>
<div class="contents story_sub">
	<div class="sub_top">
		<div class="img_wrap video" onclick="window.open('https://youtu.be/KYwFKYD5uwc','_blank')">
			<img src="/assets/imgs/round/<?=$this->round?>/story/enjoy/enjoy.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/story/enjoy/4. enjoy.png" class="pc">
		</div>
	</div>
	
	<section class="sub_header">
		<div class="content_wrap">
			<h4 data-aos="fade-up">롯데grs 만의 플레이리스트 VOL 02</h4>
			<h2 data-aos="fade-up">동심은 안녕하신'가요'</h2>
			<p data-aos="fade-up">생일파티는 롯데리아가 국룰이지 ~~ <br>그때 그시절이 떠오르는 갬성 플리에 빠져보아요</p>
		</div>
	</section>
	

	
	<section class="gray" style="padding-top:4.8rem;">
		<div class="content_wrap">
			<div class="ballon right" data-aos="fade-up">
				<ul>
					<li><span>00:00</span> <b>거북이-비행기</b></li>
					<li><span>03:33</span> <b>다비치-8282</b></li>
					<li><span>07:12</span> <b>SS501-U R Man</b></li>
					<li><span>10:35</span> <b>에픽하이(EPIK HIGH)-Love Love Love <br>(Feat. Yoong Jin Of Casker)</b></li>
					<li><span>14:27</span> <b>브라운 아이즈-벌써 일년</b></li>
					<li><span>17:55</span> <b>프리스타일-Y</b></li>
					<li><span>22:35</span> <b>버즈-나에게로 떠나는 여행</b></li>
					<li><span>26:03</span> <b>V.O.S-Beautiful Life</b></li>
					<li><span>29:27</span> <b>플라워-애정표현</b></li>
					<li><span>32:35</span> <b>SHINee(샤이니)-Stand By Me</b></li>
					<li><span>36:42</span> <b>브리즈-뭐라할까</b></li>
					<li><span>40:46</span> <b>izi-응급실</b></li>
					<li><span>44:32</span> <b>브라운아이드걸스-Abracadabra</b></li>
					<li><span>47:34</span> <b>바다(BADA)-Mad(Feat.언터쳐블)</b></li>
				</ul>
			</div>
			<div class="ballon left" data-aos="fade-up">
				<ul>
					<li><span>50:56</span> <b>손담비-토요일밤에</b></li>
					<li><span>54:41</span> <b>원투-별이 빛나는 밤에</b></li>
					<li><span>58:32</span> <b>리쌍-헤어지지 못하는 여자, <br>떠나가지 못하는 남자(Feat.정인)</b></li>
					<li><span>1:03:16</span> <b>키네틱 플로우-몽환의 숲(Feat.이루마)</b></li>
					<li><span>1:07:21</span> <b>SS501-내 머리가 나빠서</b></li>
					<li><span>1:11:44</span> <b>씨야, 다비치, 티아라-여성시대</b></li>
					<li><span>1:15:16</span> <b>브라운아이드걸스-Sign</b></li>
					<li><span>1:18:40</span> <b>박지헌-보고싶은 날엔..</b></li>
					<li><span>1:22:13</span> <b>이승기-결혼해 줄래(Feat.BIZNIZ)</b></li>
					<li><span>1:26:04</span> <b>싸이(PSY)-연예인</b></li>
					<li><span>1:29:29</span> <b>김종국-사랑스러워</b></li>
					<li><span>1:33:58</span> <b>테이-같은 베개...</b></li>
					<li><span>1:38:23</span> <b>SG 워너비-내사람</b></li>
					<li><span>1:43:22</span> <b>원투-못된 여자 Ⅱ (With 서인영)</b></li>
					<li><span>1:47:20</span> <b>모세-사랑인걸</b></li>
					<li><span>1:51:36</span> <b>더 넛츠(The NuTs)-사랑의 바보</b></li>
					<li><span>1:55:57</span> <b>SG 워너비-라라라</b></li>
				</ul>
			</div>
		</div>
	</section>
</div>