<style>
.content_wrap {padding:6rem 7.2rem 9.6rem 7.2rem;}
.contents.story_sub .txt_img .txt_wrap {padding:2.6rem 3.6rem; }
.white_bg {background-color:#fff; padding:.3rem .8rem; display:inline-flex; width:100%;}
.contents.story_sub .txt_img .txt_wrap {gap:.4rem;}
.contents .sub_top_text + section .content_wrap {padding-top:3.6rem;}
.contents.story_sub .txt_img.split .txt_wrap {padding:0;}

@media all and (min-width:1280px) {
	.content_wrap {padding:6rem 0rem 9.6rem 0rem;}
	.contents .sub_top_text + section .content_wrap {padding-top:0rem;}
}
</style>
<div class="contents story_sub">
	<div class="sub_top">
		<div class="img_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/story/food/food.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/story/food/2. food.png" class="pc">
		</div>
	</div>
	
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp">추억이 가득한 물건을 오랜만에 볼 때면 <br class="mo">
			오래된 친구를 만난 것 같다. 음식도 마찬가지. <br><br>
			추억이 깃든 음식은 다 큰 어른이 된 우릴 다시 어린이로 만든다. <br>
			서툴지만 용감했고, 두려웠지만 뜨거웠던 그때 그 시절, <br class="mo">
			동네친구와 같았던 우리들의 ‘동심 푸드’를 살펴보자.</p>
		</div>
	</section>
	
	<section>
		<div class="content_wrap">
			<div class="txt_img left" data-aos="fade-right">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/food_sub01.png" class="fullin">
				</div>
				<div class="txt_wrap ftop fleft">
					<div class="over_wrap">
						<h2 class="mint white_bg"><b>X세대의 고개를</b></h2>
						<h2 class="mint white_bg"><b>끄덕이게 만드는</b></h2>
						<h2 class="mint white_bg"><b>첫 번째 음식!</b></h2>
					</div>
				</div>
			</div>
			<h2 class="mint" style="margin-top:2rem;" data-aos="fade-left"><b>경양식 돈가스</b></h2>
			<p data-aos="fade-up">“칼질하러 가자”는 부모님 말씀에 설레어 <br>
			전날부터 오므라이스를 먹을지, 돈가스를 먹을지 <br>
			고민해본 적이 있을 것이다. <br><br>
			그 말은 곧 외식하러 가자는 의미였으니, <br>
			당시 어린이들의 심쿵 유발 멘트가 아니었을까?</p>
			<img src="/assets/imgs/round/<?=$this->round?>/story/food/food_sub02.png" class="fullin" data-aos="fade-left">
			<p data-aos="fade-up">경양식집은 절대 돈가스를 썰어 내어주지 않는다. <br>
			고기를 덩어리 채 튀기어 노르스름한 소스가 한가득 부어져 나온다. <br><br>
			부먹 찍멱 논란 조차 없는 경양식 돈가스는 X세대 추억의 음식을 넘어, <br>
			어렸을 적 귀한 날 먹던 축제의 음식으로 기억되지 않을까?</p>
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap">
			<div class="txt_img right" data-aos="fade-right">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/food_sub03.png" class="fullin">
				</div>
				<div class="txt_wrap ftop fright">
					<div class="over_wrap">
						<h2 class="mint white_bg"><b>X세대의 고개를</b></h2>
						<h2 class="mint white_bg"><b>끄덕이게 만드는</b></h2>
						<h2 class="mint white_bg"><b>두 번째 음식!</b></h2>
					</div>
				</div>
			</div>
			<h2 class="mint" style="margin-top:2rem;" data-aos="fade-left"><b>냉동 삼겹살</b></h2>
			<p data-aos="fade-up">당시에는 싼 맛에 먹었다. <br>
			생육은 비쌌고, 냉동육은 비교적 저렴했기 때문이다. <br>
			질 낮은 고기라는 인식이 지배적이었으나, 알게뭐람. <br><br>
			삼겹살 사오라는 심부름은 반갑기까지 했다.</p>
			
			<div class="txt_img split full mt60 sright">
				<div class="txt_wrap fright">
					<p style="margin-right:2rem;" data-aos="fade-right">식육점까지 향하는 <br>발걸음이 가벼웠다.</p>
				</div>
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/food_sub04.png" data-aos="fade-left" class="w488">
				</div>
			</div>
			<div class="txt_img split full mt20 sleft">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/food_sub05.png" data-aos="fade-right" style="width:48.8rem;">
				</div>
				<div class="txt_wrap">
					<p style="margin-left:2rem;" data-aos="fade-left">요즘에야 두꺼운 냉장육이 <br>사랑을 받는다지만, <br>여전히 냉삼을 찾는 <br>사람들은 줄지 않는다.</p>
				</div>
			</div>
			<p data-aos="fade-up" style="text-align:center;">어쩌면, 삼겹살을 핑계로 추억을 맛보고싶어서 일지도?</p>
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap">
			<div class="txt_img fullhalf" data-aos="fade-right">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/food_sub06.png" class="fullin">
				</div>
				<div class="txt_wrap ftop fleft">
					<div class="over_wrap">
						<h2 class="mint white_bg"><b>X세대의 고개를</b></h2>
						<h2 class="mint white_bg"><b>끄덕이게 만드는</b></h2>
						<h2 class="mint white_bg"><b>세 번째 음식!</b></h2>
					</div>
				</div>
			</div>
			<h2 class="mint" style="margin-top:2rem;" data-aos="fade-left"><b>추억의 도시락</b></h2>
			<p data-aos="fade-up">‘요즘 친구들은 추억의 도시락을 포차에서 먹던데 <br>
			라떼는 말이야 교실에서 먹었어!’ <br><br>
			한 학급당 70명이 넘었던 그때 그 시절. <br>
			현실적으로 급식을 제공하기란 불가했고, <br>
			가정에서 싸주는 도시락이 곧 학생들의 점심식사였다. <br>
			양은 도시락 통을 손수건으로 감싸 들고 등교했다. <br>
			등굣길 걸음걸이는 조심스럽다. <br><br>
			추억의 도시락 안엔 밥, 계란후라이, 멸치볶음, 콩자반, 김치 등 <br>
			집 냉장고에서 볼 수 있는 반찬은 도시락통 한 구석을 꿰차고 있었다. <br>
			친구들의 도시락 속 반찬을 구경하는 것도, <br>
			또 함께 나눠 먹는 것도 하나의 재미였다.</p>
			
			<div class="txt_img split full mt60 sleft">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/food_sub07.png" data-aos="fade-right" class="w488">
				</div>
				<div class="txt_wrap">
					<p style="margin-left:2rem;" data-aos="fade-left">부자의 기준이 <br>
					도시락 통 안에 담긴 <br>
					분홍 소시지전 혹은 <br>
					비엔나로 결정되었던 <br>
					참 순수했던 시절이다.</p>
				</div>
			</div>
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap">
			<div class="txt_img right" data-aos="fade-right">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/food_sub08.png" class="fullin">
				</div>
				<div class="txt_wrap fbottom fright">
					<div class="over_wrap">
						<h2 class="mint white_bg"><b>MZ세대의 공감을</b></h2>
						<h2 class="mint white_bg"><b>일으키는</b></h2>
						<h2 class="mint white_bg"><b>첫 번째 음식!</b></h2>
					</div>
				</div>
			</div>
			<h2 class="mint" style="margin-top:2rem;" data-aos="fade-left"><b>캔모아</b></h2>
			<p data-aos="fade-up">이곳을 표현하는 단어는 딱 이거다. <br>
			‘아지트' 빙수카페의 원조라 불리는 곳이다. <br><br>
			제공되는 토스트에 생크림을 발라 한 입, 그 위에 빙수 올려 한 입 씩 <br>
			먹다 보면 저절로 튀어나온다. <br>
			‘사장님 토스트 리필이요!’</p>
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap">
			<div class="txt_img fullhalf" data-aos="fade-right">
				<div class="img_wrap" style="border: 1px solid #D4D4D4;">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/food_sub10.png" class="fullin">
				</div>
				<div class="txt_wrap fbottom glrgy">
					<div class="over_wrap">
						<h2 class="mint white_bg"><b>MZ세대의 공감을</b></h2>
						<h2 class="mint white_bg"><b>일으키는</b></h2>
						<h2 class="mint white_bg"><b>두 번째 음식!</b></h2>
					</div>
				</div>
			</div>
			<h2 class="mint" style="margin-top:2rem;" data-aos="fade-left"><b>띠부씰(포켓몬 빵)</b></h2>
			<p data-aos="fade-up">빵을 사고 빵을 버린다. 등짝 스매싱 유발하는 이 행위는 <br>
			당시에 흔히 이루어졌다. <br>
			이는 전부 빵에 동봉 되어있던 스티커, 일명 ‘띠부씰’을 모으기 위해서였다. <br><br>
			김국진빵을 시작으로 핑클빵, 포켓몬빵, 디지몬빵, 캐로로빵, <br>
			수많은 띠부씰 빵이 역사를 이어갔다. <br>
			초딩들의 지갑을 털었던 띠부씰 빵은 20여년이 지난 지금 다시 광기를 띈 <br>
			유행으로 번져가는 중이다.</p>
			<img src="/assets/imgs/round/<?=$this->round?>/story/food/food_sub11.png" class="fullin" data-aos="fade-left">
			<p data-aos="fade-up">그때 그 시절 용돈으로 사 모았던 띠부씰은 <br>
			이제 월급으로 가뿐히 사 모은다. <br>
			구매력은 상승했지만 인기 없는 띠부씰을 뽑게 될 때 드는 속상한 마음, <br>
			<b class="mint">it’s 괜아돼!</b> 늙어버린 우리가 잠깐이나마 어린이로 살 수 있는 순간이다.</p>
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap">
			<div class="txt_img fullhalf" data-aos="fade-right">
				<div class="img_wrap" style="border: 1px solid #D4D4D4;">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/food_sub12.png" class="fullin">
				</div>
				<div class="txt_wrap fbottom fright">
					<div class="over_wrap">
						<h2 class="mint white_bg"><b>MZ세대의 공감을</b></h2>
						<h2 class="mint white_bg"><b>일으키는</b></h2>
						<h2 class="mint white_bg"><b>세 번째 음식!</b></h2>
					</div>
				</div>
			</div>
			<h2 class="mint" style="margin-top:2rem;" data-aos="fade-left"><b>불량식품</b></h2>
			<p data-aos="fade-up">동네 슈퍼에서 과자 한 봉지에 700원 남짓 하던 시절, <br>
			문방구 간식거리는 1~300원 선이었다. <br>
			나름 프리미엄(?)이 붙는 것들도 절대 500원을 넘지 않았다. <br>
			천 원짜리 지폐 한 장이면 친구들한테 한 턱 쏘며 으스댈 수 있었다. <br><br>
			문방구에서 불량식품 쇼핑을 마치고 놀이터에 삼삼오오 모여 <br>
			나누어 먹던 게 생각난다. <br><br>
			아폴로를 입에 물고 아빠가 피우시던 담배를 흉내내 보기도 하고, <br>
			맥주 사탕에는 약간의 도수가 있어서 먹으면 취한다는 <br>
			말을 주워듣곤 취한 척(?)도 살짝 해보고. <br>
			환 모양의 콜라사탕도 자주 먹었는데, 그게 약인 마냥 입에 한꺼번에 <br>
			털어 넣는 환자 연기도 좀 해봤다. <br><br>
			부모님이 보면 극대노 했을, 마음 한편 어딘가 뜨끔하게 만들었던 <br>
			추억의 불량식이 맛있었던 이유는 몰래 먹어야 할 때가 많있기 때문.</p>
		</div>
	</section>
</div>