<style>
.content_wrap {padding:6rem 7.2rem 9.6rem 7.2rem;}
.sub_header .content_wrap {text-align:center;}
.contents.story_sub .sub_header h4 {text-align:center;}
.contents.story_sub .sub_header h2 {text-align:center;}
.sub_header .content_wrap img {margin:0 auto;}
.sub_header + section .content_wrap {padding-top:9.6rem;}

.contents.story_sub h5 {font-size:2.8rem; font-weight:bold; color:#037781; text-align:center;}
.contents.story_sub .years {display:flex; justify-content:center; white-space:nowrap; gap:2rem;}
.contents.story_sub .years h3 {font-size:7.2rem; line-height:9.5rem; font-weight:bold; color:#fff; -webkit-text-stroke:1px #037781; text-stroke:1px #037781;}
.contents.story_sub .years h3:nth-child(2) {color:#037781;}

@media all and (min-width:1280px) {
	.content_wrap {padding:6rem 0rem 9.6rem 0rem;}
	.contents.story_sub .sub_header .content_wrap {padding-top:3.5rem;}
}
</style>
<div class="contents story_sub">
	<div class="sub_top">
		<div class="img_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/style.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/3. style.png" class="pc">
		</div>
	</div>
	
	<section class="sub_header gray">
		<div class="content_wrap" style="padding-bottom:0;">
			<h4 data-aos="fade">연도별 인싸 패션 알아보기</h4>
			<h2 data-aos="fade">과거로 달려갈 열차시간표</h2>
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub01.png" style="width:62.4rem;"  data-aos="fade">
		</div>
	</section>
	
	<section>
		<div class="content_wrap">
			<h5 data-aos="fade">히피 & 디스코 스타일</h5>
			<div class="years" data-aos="fade-left">
				<h3>1960년대</h3>
				<h3>1970년대</h3>
				<h3>1980년대</h3>
			</div>
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub02.png" class="fullin mt20" data-aos="fade-up">
			<p style="text-align:center;" data-aos="fade-up">격동의 시대였다. 당시 한국은 엄격하고 규율이 강했던 유신 정권. <br>
			이 때문인지 미국에서 넘어온 반사회적 문화의 상징, <br>
			‘히피족’의 스타일이 전국을 장악했다.</p>

			<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub03.png" class="w416 center mt60" data-aos="fade-up">
			<p style="text-align:center;" data-aos="fade-up">장발에 통기타와 생맥주, 그리고 청바지로 대표되던 <br>
			히피들의 패션이 자유를 상징했던 셈이다.</p>
			
			<div class="mt6 full" style="display:flex; margin-top:6rem; align-items:flex-end;">
				<div class="txt_img w488" data-aos="fade-right">
					<div class="img_wrap">
						<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub04.png" class="fullin">
					</div>
					<div class="txt_wrap" style="z-index:1; align-items:flex-end; padding:2rem 6rem;">
						<h2 style="text-align:left;">뒷모습만 <br>보고서는 <br><b>남녀를 <br>구분할 수 <br>없었다.</b></h2>
					</div>
				</div>
				<p data-aos="fade-left" style="margin-left:2rem; padding-bottom:2rem;">당시에는 성별을 <br>
				불문하고 굵은 웨이브를 <br>
				넣은 장발이 유행했다.</p>
			</div>
			
			<p data-aos="fade-up">히피 스타일뿐 아니라, 화려한 색의 나팔바지와 와이셔츠로 대표되는 <br>
			‘디스코 스타일’도 같이 떠올랐다. <br><br>
			억압받던 청춘들에게 당시 패션은 단순 옷, 그 이상이었다. <br>
			기성세대에 대항하는, 일종의 욕망 분출 수단과도 같았다.</p>
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap">
			<h5 data-aos="fade">캐주얼 패션 (WITH 청청, 스포츠웨어)</h5>
			<div class="years" data-aos="fade-left">
				<h3>1970년대</h3>
				<h3>1980년대</h3>
				<h3>1990년대</h3>
			</div>
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub05.png" class="fullin mt20" data-aos="fade-up">
			<p style="text-align:center;" data-aos="fade-up">리바이스와 게스, 그리고 뱅뱅은 현재까지도 <br>
			데님을 대표하는 브랜드들이다. <br>
			이들은 40년 전, 한국에서 최고의 전성기를 맞이했다. <br>
			바로 1980년대는 ‘대 청청시대’였기 때문. <br><br>
			‘응답하라 1988’을 봤다면, 극 중 덕선이와 <br>
			친구들의 옷차림을 떠올리면 된다.</p>

			<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub06.png" class="full mt60" data-aos="fade-up">
			<p style="text-align:center;" data-aos="fade-up">1983년 교복이 자율화되면서, <br>
			10대 청소년들을 중심으로 패션이 발전한다. <br>
			당시 이들 사이에서는 청바지는 물론 그 위에 청재킷까지 <br>
			걸쳐줘야 인정받을 수 있었다. <br>
			88 서울올림픽을 계기로 스포츠웨어 또한 크게 유행하게 된다.</p>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub07.png" class="w416 mt60 center" data-aos="fade-up">
			<p style="text-align:center;" data-aos="fade-up">나이키와 아디다스가 국내 시장에 진출하였고, <br>
			각종 스포츠 브랜드의 가방과 운동화 붐이 일어나면서 <br>
			교내의 새로운 교복문화를 형성하였다.</p>
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap">
			<h5 data-aos="fade">힙합 패션</h5>
			<div class="years" data-aos="fade-left">
				<h3>1980년대</h3>
				<h3>1990년대</h3>
				<h3>2000년대</h3>
			</div>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub08.png" class="fullin mt20" style="margin-top:2rem;" data-aos="fade-up">
			<p style="text-align:center;" data-aos="fade-up">1992년 ‘서태지와 아이들’이 등장하였다. <br>
			이들은 비니와 벙거지 모자를 즐겨 썼고, <br>
			본인 몸 세 개는 들어갈 법한 오버핏 상의를 자주 입었다. <br>
			거기에 길이와 밑위가 매우 긴 배기 팬츠, <br>
			a.k.a 똥지린 바지를 코디함으로써 ‘힙합 패션’을 선도했다.</p>
			
			<div class="txt_img split fullin mt60">
				<div class="txt_wrap ftop black">
					<h2 data-aos="fade-right">힙합 <br class="mo">패션의 <br><b>편안함과 <br>자유로움</b></h2>
				</div>
				<div class="img_wrap w416">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub09.png">
				</div>
			</div>
			
			<p data-aos="fade-up">뉴욕 할렘가에서나 볼 법하게도 이들은 의상의 태그를 <br>
			제거하지 않은 채 무대에 오르곤 했다. <br>
			문화 대통령 서태지의 간지에 취해 따라만 입던 사람들 중에선 <br>
			힙합 패션의 편안함과 자유로움에 반해 정착하는 경우도 많았다.</p>

			<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub10.png" class="w416 mt60" data-aos="fade-up">
			<p style="text-align:center;" data-aos="fade-up">덕분에 힙합 스타일은 현재까지도 이어져 오면서 <br>
			오랜 기간 대중들에게 사랑받는 스타일 중 하나로 손 꼽힌다.</p>
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap">
			<h5 data-aos="fade">Y2K 패션</h5>
			<div class="years" data-aos="fade-left">
				<h3>1990년대</h3>
				<h3>2000년대</h3>
				<h3>2010년대</h3>
			</div>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub11.png" class="fullin mt20" data-aos="fade-up">
			<p style="text-align:center;" data-aos="fade-up">서기 2000년이 되면 컴퓨터가 연도를 인식하지 못해서 <br>
			엉뚱하게 작동하는 문제, “Y2K”. 이 시대는 살아남은 사람이 거의 없다하여 ‘패션의 암흑기’라고도 불린다.</p>

			<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub12.png" class="w416 mt60 center" data-aos="fade-up">
			<p style="text-align:center;" data-aos="fade-up">셔츠에 반소매 니트를 겹쳐 입는, 당최 이유를 알 수 없는 <br>
			레이어드는 기본이고, 진주나 스팽글이 잔뜩 박힌 딱 달라붙는 티셔츠 <br>
			그리고 트루릴리전, 세븐진과 같은 미쿡언냐 스타일의 <br>
			부츠컷 데님 팬츠까지. <br>
			전국민이 잠시 미쳤었나 보다.</p>			

			<div class="full mt60" style="display:flex; align-items:flex-end;">
				<div class="txt_img w488" data-aos="fade-right">
					<div class="img_wrap">
						<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub13.png" class="fullin">
					</div>
					<div class="txt_wrap" style="z-index:1; align-items:flex-end; padding:2rem 6rem;">
						<h2 style="text-align:left;">이 착장의 <br>마무리는 <br><b>샤기컷과 <br>울프컷</b></h2>
					</div>
				</div>
				<p data-aos="fade-left" style="margin-left:2rem; padding-bottom:2rem;">반짝거리고 <br>튀는 거라면 뭐든지 <br>겹쳐 입어야 하는 <br>저주에 걸렸던 것 같다.</p>
			</div>
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap">
			<h5 data-aos="fade">아웃도어 패션 (WITH 애슬레져의 시작)</h5>
			<div class="years" data-aos="fade-left">
				<h3>2000년대</h3>
				<h3>2010년대</h3>
				<h3>2020년대</h3>
			</div>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub14.png" class="fullin mt20" data-aos="fade-up">
			<p style="text-align:center;" data-aos="fade-up">이 시즌 노스페이스에 미쳐봤던 사람? 나야 나. <br>
			교복 위에 등산복 안 걸친 친구가 없었던 그 시절.</p>

			<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub15.png" class="left w488 mt60" data-aos="fade-right">
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub16.png" class="right w488 mt20" data-aos="fade-left">

			<p data-aos="fade-up" style="text-align:center;">요즘 많이 찾아볼 수 있는 일상과 스포츠의 경계를 허무는 <br>
			‘에슬레져 복’ 어쩌면 교복과 아웃도어 의류를 <br>
			함께 입던 그 시절부터 시작된 걸지도?</p>
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap">
			<h5 data-aos="fade">돌아온 Y2K 패션, 그리고 살아남는 법은?</h5>
			<div class="years" data-aos="fade-left">
				<h3>2010년대</h3>
				<h3>2020년대</h3>
				<h3>2030년대</h3>
			</div>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub17.png" class="fullin mt20" data-aos="fade-up">
			<p style="text-align:center;" class="full" data-aos="fade-up">앞서 패션의 암흑기라 칭했던 2000년대의 Y2K 패션이 요즘 다시 핫하다. <br>
			당시 2000년은 새로운 세기로 넘어가는 역사적 순간이었고, <br>
			문화 전반에서도 미래적인 것에 가치를 두는 분위기가 형성되었다. <br>
			이러한 분위기의 영향으로 다소 충격적인 패션이 유행하게 되었다고 본다.</p>
			
			<div class="full mt60 txt_img split" style="display:flex; margin-top:6rem; justify-content:flex-start; align-items:flex-end;">
				<div class="img_wrap w416">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub18.png" data-aos="fade-right">
				</div>
				<div class="txt_wrap">
					<p style="margin-left:2rem;" data-aos="fade-left">개성 표출을 <br>
					중요시하는 우리 MZ세대에게 <br>
					그 시절 문화는 <br>
					더 이상 흑역사가 아닌, <br><br>
					다양성으로 인정받는 것이다.</p>
				</div>
			</div>
			
			<div class="full txt_img split mt60 sright">
				<div class="txt_wrap ftop">
					<p style="margin-right:2rem; text-align:right;" data-aos="fade-right">조인성과 공유도 <br>
					흑역사를 생성하던 <br>
					그 시절에 <br>
					생존자가 있었으니, <br>
					<b>바로 ‘갓효리’.</b></p>
				</div>
				<div class="img_wrap" style="display:flex;">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub20.png" data-aos="fade-left" style="width:22.6rem; margin-right:.8rem; margin-top:0;">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub19.png" data-aos="fade-left" style="width:22.7rem; margin-right:3.6rem;">
				</div>
			</div>
			
			<p data-aos="fade-up" style="margin-top:2rem;">그녀의 트레이드 마크였던 <br>
			로우 라이즈 치마와 카고팬츠가 다시 유행하기 시작했다. <br>
			하이웨이스트가 극으로 치닫자 더 이상 갈 곳이 없던 디자이너들이 <br>
			선택한 허리선이 바로 로우 라이즈다.</p>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub21.png" class="w416 center mt60" data-aos="fade-up">
			<p style="text-align:center;" class="full" data-aos="fade-up">가뜩이나 짧은 다리, 최대한 끌어올려도 모자를 판에 <br>
			로우 라이즈라니 당황만 하고 있다면, 일단 입어볼 것. <br><br>
			대신 상의의 핏에 유의해야한다. <br>
			올해 트렌드는 잘록한 허리를 드러내는 것이 포인트라지만, <br>
			우리는 아직 준비되지 않았다. <br><br>
			로우 라이즈에 짧고 달라붙는 크롭 티를 매칭하는 것은 <br>
			할리우드 얘기고, 우린 우리다..</p>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub22.png" class="full mt60" style="margin-top:6rem;" data-aos="fade-up">
			<p style="text-align:center;" class="full" data-aos="fade-up">우리는 대신에 배꼽까지 오는 친절한 크롭 티를 택한다. <br>
			로우 라이즈로 선택한 하의가 핏하다면, 상의는 루즈해도 좋다. <br>
			브랜드 로고가 큼지막히 박혀 있는 복서 브리프를 코디해, <br>
			노출을 줄이거나 벨리 체인을 착용해 시선을 분산 시키는 것도 하나의 팁.</p>
			
			<div class="fullin txt_img split mt60 sright">
				<div class="txt_wrap black fleft">
					<h2 data-aos="fade-right">같이 <br><b>시도해보자.</b></h2>
				</div>
				<div class="img_wrap w416" data-aos="fade-left">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub23.png" class="fullin">
				</div>
			</div>
			<p data-aos="fade-up">화려한 컬러에 커다란 프레임이 돋보이는 <br>선글라스와 같이 과장된 디자인의 액세서리도 유행하고 있으니.</p>
			
			<div class="txt_img full mt60" data-aos="fade">
				<div class="img_wrap cover">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/sub24.png" class="fullin">
				</div>
				<div class="txt_wrap">
					<p class="white" style="position:absolute; right:7.2rem; margin-left:2rem; padding-bottom:2rem;">단순히 남들 눈에 예쁘고 멋있어 보이기 위해 <br>
					옷을 입는 건 아니라는 MZ세대. <br>
					타인과 자신을 구별 짓는 개성이야 말로 <br>
					더욱 인정받는 시대다.</p>
				</div>
			</div>
			
			<p data-aos="fade-up" style="text-align:center;">타인이 자신을 어떻게 볼 지에 대한 두려움부터 앞선다면, <br>
			이번 Y2K 패션을 통해 잃었던 자신감을 되찾아보자. <br>
			생각보다 남들은 우리에게 관심이 없으니까 말이다.</p>
		</div>
	</section>
	
</div>