<style>
.contents.story_sub .sub_header.map_area .content_wrap {padding:3.5rem 7.2rem; background-color:#F5F5F5;}
.contents.story_sub .sub_header.map_area h4 {text-align:center;}
.contents.story_sub .sub_header.map_area h2 {text-align:center;}
.contents.story_sub .sub_header.map_area .map {margin-left:-7.2rem; margin-right:-7.2rem; width:100vw; margin-top:2rem;}
.contents.story_sub .content_wrap p.plus {color:#fff; position:absolute; top:13.2rem; text-align:center; color:#fff; width:100%;}
.contents.story_sub .content_wrap p.plus::before {position:relative; content:'+'; font-size:5rem; height:7.2rem; line-height:3.2rem; color:#CFEAFF; display:block;}

.contents.story_sub .sub_header.map_area + section {margin-top:-14.6rem;}

.content_wrap {padding:6rem 7.2rem 9.6rem 7.2rem;}

.overwrap_txt {position:absolute; font-size:1.6rem; color:#fff;}
.overwrap_txt.black_bg {padding:.3rem .6rem; background:#000;}
.contents.story_sub section .content_wrap > p {margin-top:2rem;}

.overwrap_bg::after {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background: transparent linear-gradient(180deg, #FFFFFF00 0%, #00000073 100%) 0% 0% no-repeat padding-box;}

@media all and (min-width:1280px) {
	.content_wrap {padding:6rem 0rem 9.6rem 0rem;}
	.contents.story_sub .sub_header.map_area {width:100%;}
	.contents.story_sub .sub_header.map_area .content_wrap {width:100%;}
	.contents.story_sub .sub_header.map_area h2 {font-size:5.9rem;}
	.contents.story_sub .sub_header.map_area h4 {font-size:3.6rem;}
	.contents.story_sub .sub_header.map_area .map {width:85rem; margin:0 auto; margin-top:4rem;}
	.contents.story_sub .sub_header.map_area + section {margin-top:21rem;}
	
	.contents.story_sub .sub_header.map_area .content_wrap {padding:9rem;}
	
	.content_wrap #trip_01 .img_wrap {margin-right:3.6rem;}
	.content_wrap #trip_01.txt_img.split {margin-left:-7.2rem;}
	.content_wrap #trip_01 + p {margin-left:-7.2rem;}
}

</style>
<div class="contents story_sub">
	<div class="sub_top">
		<div class="img_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/story/trip/trip.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/story/trip/1. trip.png" class="pc">
		</div>
	</div>
	
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			시간이 지나간 자리엔 추억이 남는다. <br>
			그리고 추억을 꺼내 볼 때면 마음이 말랑해진다. <br><br>
			지난날 내 곁에 머물렀던 행복도, 후회도, 설렘도, <br class="mo">
			고통도 신기하게 다 반가워진다. <br><br>
			이번 여행지는 물리적 이동과 함께 시간 여행을 <br class="mo">
			떠날 수 있는 곳이다. <br class="pc">당신의 주말을 보다 말랑하게 <br class="mo">
			만들 여행지, 전라북도 군산. <br><br>
			코스는 맛진이 짜줄 테니 여행은 누가 떠날래?
			</p>
		</div>
	</section>
	<section class="sub_header map_area">
		<div class="content_wrap">
			<h4 data-aos="fade-up">군산이라 쓰고 시간여행이라 읽는다.</h4>
			<h2 data-aos="fade-up">추억 탐험 여행지 군산코스</h2>
			<img data-aos="fade-up" class="map full" src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_MAp.png">
		</div>
	</section>
	
	<section>
		<div class="content_wrap">
		
			<div class="txt_img split righthalf" id="trip_01">
				<div class="txt_wrap bottom" data-aos="fade-right">
					<h2 class="mint tleft" data-aos="fade-right"><b>초원 <br class="mo">사진관</b></h2>
				</div>
				<div class="img_wrap w488" data-aos="fade-left">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_01.png">
					<span class="overwrap_txt" style="top:2rem; right:3.6rem;">위치 : 전북 군산시 구영 2길 12-1</span>
				</div>
			</div>
		
			<p data-aos="fade-up">우리네 인생은 영화나 드라마가 아니라 하지만, 잠시나마 영화 작품 속 <br>
			주인공이 되는 상상을 할 때면 삶이 윤택해진다. <br><br>
			영화 <8월의 크리스마스> 촬영지로 유명한 초원사진관은 <br>
			영화 세트장 그 자체이다. <br><br>
			이 영화는 아버지를 모시며 시한부 인생을 사는 사진사 정원(한석규)과 <br>
			어느 날 그의 앞에 나타난 주차단속요원 다림(심은하)의 못다 한 사랑을 <br>
			그려낸 작품이다.</p>
			<img data-aos="fade" class="full" src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_02.png">
			<p data-aos="fade-up">촬영이 끝난 뒤 초원사진관은 철거됐다가 이후 군산시가 다시 복원해 <br>
			군산을 방문하는 사람들을 위해 무료 개방을 하고 있다. <br><br>
			사진관 외부에서 ‘초원사진관’ 간판을 걸고 사진을 찍는 것이 이곳에서의 <br>
			트레이드마크. 영화 촬영 당시 사용했던 사진기와 선풍기, 소품 등을 <br>
			그대로 전시해두어 영화를 좋아하는 사람이라면 <br>
			가슴이 두근대는 여행지일 것이다.</p>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<div class="txt_img fullin center" data-aos="fade-up">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_03.png">
				</div>
				<div class="txt_wrap" style="z-index:1; padding:2rem;">
					<h2><b>경암동 <br>철길마을</b></h2>
				</div>
				<span class="overwrap_txt black_bg" style="top:2rem; right:3.6rem;">위치 : 전북 군산시 구영 2길 12-1</span>
			</div>
			<p data-aos="fade-left" class="fullin center">
			군산엔 일제강점기의 흔적을 발견할 수 있는 여행지가 많다. <br>그중 하나가 경암동 철길마을이다.
			</p>
			<img data-aos="fade" class="full" src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_04.png">
			<p data-aos="fade-up">1944년 일제 강점기부터 개설된 철도 주변에 사람들이 모여 <br>
			살기 시작하면서 동네를 이루었고 1970년대 들어 본격적으로 <br>
			마을이 형성되었다.</p>
			
			<div class="left flex" style="margin-top:6rem;">
				<div style="flex:0 0 41.6rem;" data-aos="fade-right">
					<img data-aos="fade" class="fullin" src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_05.png">
				</div>
				<p style="flex:0 0 auto; margin-left:2rem; display:flex; align-items:flex-end;" data-aos="fade-left" >지금은 철길 주변으로 <br>
				다양한 체험 거리와 <br>
				추억의 먹거리 상점이 <br>
				가득하다. <br><br>
				이곳에서 교복을 빌려 <br>
				그때 그 시절을 추억하며 <br>
				쫀드기 하나 구워 먹으면, <br>
				마음만큼은 10대가 된다.</p>
			</div>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<div class="txt_img" data-aos="fade-up">
				<div class="img_wrap overwrap_bg">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_06.png" style="width:100%; display:block;">
				</div>
				<div class="txt_wrap" style="z-index:1; padding:2rem;">
					<h2><b>신흥동 일본식 가옥 <br>(히로쓰 가옥)</b></h2>
				</div>
				<span class="overwrap_txt black_bg" style="top:2rem; right:3.6rem;">위치 : 전북 군산시 구영1길 17</span>
			</div>
			<p data-aos="fade-left">
			히로쓰가옥이 위치한 신흥동 일대는 일제강점기 군산 시내 유지들이 <br>거주하던 부유층 거주지역이었다.
			</p>
			<img data-aos="fade" class="full" src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_07.png">
			<p data-aos="fade-up">영화 ''장군의 아들'', ''바람의 파이터'', ''타짜'' 등 <br>
			많은 한국 영화와 드라마가 이 주택에서 촬영되었다. <br><br>
			목조 2층 주택으로, 지붕과 외벽 마감, 내부, 일본식 정원 등이 <br>
			건립 당시의 모습을 유지하고 있어 건축사적 의의가 크며, <br>
			비행기를 타지 않고 갈 수 있는 일본 느낌 여행지이기도 하다.</p>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<div class="txt_img" data-aos="fade-up">
				<div class="img_wrap overwrap_bg">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_09.png" style="width:100%; display:block;">
				</div>
				<div class="txt_wrap" style="z-index:1; padding:2rem;">
					<h2><b>군산근대 <br>역사박물관</b></h2>
				</div>
				<span class="overwrap_txt black_bg" style="top:2rem; right:3.6rem;">위치 : 전북 군산시 구영 2길 12-1</span>
			</div>
			<p data-aos="fade-left">‘역사’, ‘박물관’ 이름만 들어도 지루할 것 같은 두 단어의 조합이지만, <br>
			군산근대역사박물관은 전혀 그렇지 않다. <br>
			추억을 꺼내 볼 수 있는 전시와 체험이 많기 때문이다.</p>
			
			<img data-aos="fade" class="full" src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_10.png">
			
			<div class="fullin" style="margin-top:2rem; position:relative;">
				<p data-aos="fade-left" >이곳은 해양물류역사관, 어린이체험관, 근대생활관, <br>
				기획전시실 등으로 구성된다. <br><br>
				특히 '1930년대 시간 여행'을 주제로 <br>
				1930년대 군산에 있던 건물을 복원한 <br>
				근대생활관이 인기다. <br><br>
				군산역, 영명학교, 야마구찌 술도매상, <br>
				형제고무신방, 홍풍행 잡화점 등 <br>
				당시 군산의 모습을 생생하게 재현해 <br>
				어른에겐 추억 여행을 아이에겐 역사 교육을, <br>
				두 마리 토끼를 다 잡을 수 있는 여행지이다.</p>
				<img data-aos="fade-right" style="position:absolute; width:21.6rem; right:0; bottom:0;" src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_11.png">
			</div>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<div class="txt_img" data-aos="fade-up">
				<div class="img_wrap overwrap_bg">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_12.png" style="width:100%; display:block;">
				</div>
				<div class="txt_wrap" style="z-index:1; padding:2rem;">
					<h2><b>고군산군도 <br>트레킹(대장봉)</b></h2>
				</div>
				<span class="overwrap_txt black_bg" style="top:2rem; right:3.6rem;">위치 : 전북 군산시 장미동 1-67</span>
			</div>
			<p data-aos="fade-left">
			이름부터 멋진 ‘대장봉’은 고군산군도에 위치한 가벼운 등산 포인트다. <br><br>
			고군산군도는 10개의 유인도와 47개의 무인도로 이루어진 섬의 군락이자 <br>
			자연이 창조해낸 수려한 경관을 자랑하는 천혜의 해상관광공원인데 <br>
			예전엔 여객선으로밖에 갈 수 없었지만 <br>고군산연결도로 개통으로 자동차로 쉽게 갈 수 있는 곳이 됐다.
			</p>
			<img data-aos="fade" class="full" src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_13.png">
			<p data-aos="fade-up">대장봉 등산 난이도는 하-중 으로 어린이들도 <br>
			씩씩하게 오를 수 있는 정도이지만 대장봉에서 바라보는 풍경은 <br>
			눈물나게 아름다워 난이도 대비 풍경이 좋기로 소문난 트레킹 코스다.</p>
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap">
			<div class="txt_img" data-aos="fade-up">
				<div class="img_wrap overwrap_bg">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_14.png" style="width:100%; display:block;">
				</div>
				<div class="txt_wrap" style="z-index:1; padding:2rem;">
					<h2><b>선유도 <br>해수욕장 & 짚라인</b></h2>
				</div>
				<span class="overwrap_txt black_bg" style="top:2rem; right:3.6rem;">위치 : 전북 군산시 옥도면 선유북길 136</span>
			</div>
			<p data-aos="fade-left">
			탁 트인 해수욕장과 시원한 바람을 만끽할 짚라인이 있는 선유도, <br>
			높이 45m의 12층 타워를 세워 망주봉 입구 쪽 바다에 잠겨있는 <br>
			조그만 솔 섬까지 700m 구간을 케이블에 매달려 하강하는 액티비티다.
			</p>
			
			<div class="split_img" style="margin-left:-3.6rem; margin-right:-3.6rem; grid-template-columns:1fr 1fr 1fr; gap:.8rem; margin-top:6rem;">
				<img data-aos="fade-right" src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_15.png">
				<img data-aos="fade" src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_16.png">
				<img data-aos="fade-left" src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_17.png">
			</div>
			
			<p data-aos="fade-up" style="text-align:center;">
			바다 위를 나는 새가 되는 시간. <br>
			만 30개월 이상 아이라면 부모와 함께 탑승 가능하니 <br>
			스릴을 즐길 줄 아는 어린이와도 함께 여행하기 좋은 곳이다.
			</p>
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap">
			<div class="txt_img" data-aos="fade-up">
				<div class="img_wrap overwrap_bg">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_18.png" style="width:100%; display:block;">
				</div>
				<div class="txt_wrap" style="z-index:1; padding:2rem;">
					<h2><b>선유도에 <br>물들다(숙소)</b></h2>
				</div>
				<span class="overwrap_txt black_bg" style="top:2rem; right:3.6rem;">위치 : 전북 군산시 옥도면 선유북길 136</span>
			</div>
			<p data-aos="fade-left">
			선유도의 유일한 한옥펜션이며 카페로도 운영된다. <br>선유도가 한 눈에 들어오는 마당에서 커피 한 잔의 여유를 부리면 <br>죽지 않아도 갈 수 있는 천국이 된다.
			</p>
			
			<div class="split_img" style="grid-template-columns:1fr 1fr; gap:1.8rem; margin-top:6rem;">
				<img data-aos="fade-right" src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_19.png">
				<img data-aos="fade-left" src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_20.png">
			</div>
			
			<div class="txt_img" data-aos="fade-up" style="margin-top:6rem;">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_21.png" class="full">
				</div>
				<p data-aos="fade-up" class="plus">
				시기별로 갯벌체험을 운영하기도 하니, <br>여분의 옷을 준비했다면 군산에서만 체험할 수 있는 <br>갯벌체험도 시도해보자.
				</p>
			</div>
		</div>
	</section>
</div>