<link rel="stylesheet" href="/assets/css/13/video.css">
<link rel="stylesheet" href="/assets/css/13/modal.css" />
<link rel="stylesheet" href="/assets/css/13/comment.css" />
<style>
header {background:#000 !important;}
</style>

<!-- POST 영역 -->
<div class="post content_box">
  <div class="video_content content_box wrap">
    <div class="now_video_text text kr pc">
      <h2>[알아보길 자레쓰] 다이어트 햄버거편</h2>
    </div>
    <div class="video_page">
      <div class="now_video">

        <div class="video_cont">
          <iframe src="https://player.vimeo.com/video/937590119" width="1920" height="1080" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
        <div class="text kr mobile">
          <h2>[알아보길 자레쓰] 다이어트 햄버거편</h2>
        </div>
      </div>

      <div class="monthly_video_list">
        <input type="radio" name="month_video" id="month_NEW" hidden checked>
        <input type="radio" name="month_video" id="month_all" hidden>

        <input type="checkbox" id="month_move" hidden>

        <div class="month_list">
          <div class="video_month_slide">
            <div class="monthly_video_top kr">
              <label class="" for="month_NEW">신규</label>
              <label for="month_all">이전</label>
            </div>
          </div>
        </div>

        <div class="month_video">
          <!-- 이전 -->
          <div class="month_all">
            <div class="month_video_item">
              <div class="month_sum" src="https://player.vimeo.com/video/912841271">
                <img src="/assets/imgs/round/12/video/Video_thumbnail_02.webp" width="168" height="94" />
              </div>
              <div class="month_video_info">
                <p>[롯면뭐하니] 인재육성팀</p>
                <div>
                  똑똑 강사님들과 함께한 smart 한 인터뷰!<br/>
                  웃음이 끊이질 않는 인재육성팀과의<br/>
                  TMI 대잔치
                </div>
              </div>
            </div>
            <div class="month_video_item">
              <div class="month_sum" src="https://player.vimeo.com/video/913161318">
                <img src="/assets/imgs/round/12/video/Video_thumbnail_01.webp" width="168" height="94" />
              </div>
              <div class="month_video_info">
                <p>[알아보길 자레쓰] 삼전동 미리 보기 2탄</p>
                <div>
                  얼마 남지 않은 롯데GRS 본사 이삿날<br/>
                  삼전동 미리 보기 2탄이 돌아왔다!<br/>
                  맛둥이들 나와 함께 삼전동 정복하자!
                </div>
              </div>
            </div>

            <div class="month_video_item">
              <div class="month_sum" src="https://player.vimeo.com/video/895676920">
                <img src="/assets/imgs/round/11/video/Video_thumbnail_02.webp" width="168" height="94" />
              </div>
              <div class="month_video_info">
                <p>컨세션 제1회 조리경연대회</p>
                <div>
                  롯데 GRS 제1회 조리경연 대회 개최<br/>
                  우승을 차지할 팀은 누굴까?<br/>
                  맛있는 현장으로 초대합니다!
                </div>
              </div>
            </div>
            <div class="month_video_item">
              <div class="month_sum" src="https://player.vimeo.com/video/895676388">
                <img src="/assets/imgs/round/11/video/Video_thumbnail_01.webp" width="168" height="94" />
              </div>
              <div class="month_video_info">
                <p>[알아보길 자레쓰] 삼전동 미리 보기 1탄</p>
                <div>
                  벌써부터 기대되는 NEW 보금자리?<br/>
                  롯데 GRS 본사 이삿날을 기다리는<br/>
                  맛둥이들을 위한 삼전동 맛집 코스!
                </div>
              </div>
            </div>

            <div class="month_video_item">
              <div class="month_sum" src="https://player.vimeo.com/video/876283598">
                <img src="/assets/imgs/round/10/video/Video_thumbnail_01.webp" width="168" height="94" />
              </div>
              <div class="month_video_info">
                <p>[롯면뭐하니] LAB 1004편</p>
                <div>
                  롯데 GRS 본사의 카페인을<br/>
                  책임지는 엔젤들의<br/>
                  화기애애 인터뷰 현장!
                </div>
              </div>
            </div>
		  	    <div class="month_video_item">
              <div class="month_sum" src="https://player.vimeo.com/video/876272277">
                <img src="/assets/imgs/round/10/video/Video_thumbnail_02.webp" width="168" height="94" />
              </div>
              <div class="month_video_info">
                <p>편의점 칵테일 레시피</p>
                <div>
                  집에서도 쉽게 따라 할 수 있는<br/>
                  맛ZINE 원 데이 클래스 오픈!<br/>
                  저렴한 칵테일 레시피와 안주 조합
                </div>
              </div>
            </div>

            <div class="month_video_item">
              <div class="month_sum" src="https://player.vimeo.com/video/853253654?h=560dfbb249">
                <img src="/assets/imgs/round/9/video/Video_thumbnail_01.png" width="168" height="94" />
              </div>
              <div class="month_video_info">
                <p>[롯면뭐하니] 컨세션 사업 팀</p>
                <div>
                  롯데 GRS의 특별한 맛, 컨세션 사업 팀<br>
                  아니 이 사진만 보고 메뉴를 다 맞춘다고?<br>
                  컨세션 사업 팀의 루키들 등장!                  
                </div>
              </div>
            </div>
		  	    <div class="month_video_item">
              <div class="month_sum" src="https://player.vimeo.com/video/853236783?h=294aba836a">
                <img src="/assets/imgs/round/9/video/Video_thumbnail_02.png" width="168" height="94" />
              </div>
              <div class="month_video_info">
                <p>[롯데리아/플레이팅] 제주도 단짠모음2.ZIP</p>
                <div>
                  달콤한 엔제리너스에 이어<br/>
                  제주 감성을 담은 짭짤한 맛!<br/>
                  바다를 바라보며 든든한 한 끼 어때?
                </div>
              </div>
            </div>
            <div class="month_video_item">
              <div class="month_sum" src="https://player.vimeo.com/video/853272272?h=b41bcba999">
                <img src="/assets/imgs/round/9/video/Video_thumbnail_03.png" width="168" height="94" />
              </div>
              <div class="month_video_info">
                <p>[ON AIR] 맛진한 라디오</p>
                <div>
                  롯데 GRS의 맛있고 진한 사연만 담았다<br/>
                  달콤 짭짤한 사연부터, 배꼽 잡는 이야기까지<br/>
                  맛 DJ와 함께 즐기는 흥미진진 썰 풀이!
                </div>
              </div>
            </div>

            <div class="month_video_item">
              <div class="month_sum" src="https://player.vimeo.com/video/836746266?h=1cfdbbbafe">
                <img src="/assets/imgs/round/8/video/Video_thumbnail_01.png" width="168" height="94" />
              </div>
              <div class="month_video_info">
                <p>[롯면뭐하니] KKD 사업팀</p>
                <div>
                  도넛과 함께한 sweet한 인터뷰!<br/>
                  KKD 사업팀이 선보이는<br/>
                  재치 만점 입담 대잔치!
                </div>
              </div>
            </div>
            <div class="month_video_item">
              <div class="month_sum" src="https://player.vimeo.com/video/836744392?h=23ed771bf5">
                <img src="/assets/imgs/round/8/video/Video_thumbnail_02.png" width="168" height="94" />
              </div>
              <div class="month_video_info">
                <p>[엔제리너스] 제주도 단짠모음.ZIP</p>
                <div>
                  달콤한 엔제리너스에 취해~♪<br/>
                  제주 감성이 가득한<br/>
                  엔제리너스를 만나다!
                </div>
              </div>
            </div>
            <div class="month_video_item">
              <div class="month_sum" src="https://player.vimeo.com/video/836419775?h=01b5fbf943">
                <img src="/assets/imgs/round/8/video/Video_thumbnail_03.png" width="168" height="94" />
              </div>
              <div class="month_video_info">
                <p>[키자니아] 버거연구소 OPEN</p>
                <div>
                  동심의 나라 키자니아로~<br/>
                  고사리 같은 손으로 직접 만드는<br/>
                  맛.없.없 꿀조합 버거!
                </div>
              </div>
            </div>

            <div class="month_video_item">
              <div class="month_sum" src="https://player.vimeo.com/video/816933268?h=1c8a9baca8">
                <img src="/assets/imgs/round/7/video/Video_thumbnail_01.png" width="168" height="94" />
              </div>
              <div class="month_video_info">
                <p>[롯면뭐하니] 구매전략팀</p>
                <div>
                  생산 공장에 직접 가볼 수 있다고?<br>
                  구매전략팀에 대해 쉽고,<br>
                  재밌게 알아볼 수 있는 시간
                </div>
              </div>
            </div>
		  	    <div class="month_video_item">
              <div class="month_sum" src="https://player.vimeo.com/video/816934391?h=b009a861fa">
                <img src="/assets/imgs/round/7/video/Video_thumbnail_03.png" width="168" height="94" />
              </div>
              <div class="month_video_info">
                <p>[롯데잇츠] 한강 EAT크닉</p>
                <div>
                  롯데잇츠와 함께<br>
                  알찬 피크닉 즐기기<br>
                  음식 주문부터 EATZ 마일리지까지! 
                </div>
              </div>
            </div>
            <div class="month_video_item">
              <div class="month_sum" src="https://player.vimeo.com/video/816929904?h=31e13d7769">
                <img src="/assets/imgs/round/7/video/Video_thumbnail_02.png" width="168" height="94" />
              </div>
              <div class="month_video_info">
                <p>[롯데 GRS] 맛진 1주년 축하 영상</p>
                <div>
                  맛진의 돌잔치를 맞아 준비한,<br> 
                  롯데 GRS 직원들의 축하 영상과<br>
                  자레쓰의 돌잡이!
                </div>
              </div>
            </div>
			      <div class="month_video_item">
              <div class="month_sum" src="https://player.vimeo.com/video/816934226?h=4e20b335d1">
                <img src="/assets/imgs/round/7/video/Video_thumbnail_04.png" width="168" height="94" />
              </div>
              <div class="month_video_info">
                <p>[엔제리너스] 온수 DT점</p>
                <div>
                  엔제리너스가 달라졌어요<br>
                  다양한 종류의 빵에<br>
                  감성 가득한 인테리어는 덤으로!
                </div>
              </div>
            </div>

		  	    <div class="month_video_item">
              <div class="month_sum" src="https://player.vimeo.com/video/798748697?h=b468f00548">
                <img src="/assets/imgs/round/6/video/video3.png" width="168" height="94" />
              </div>
              <div class="month_video_info">
                <p>[롯취록] 롯면뭐하니? - 안전경영팀</p>
                <div>
                  잘 봐~ 이게 안전경영팀의 열정이다~
                </div>
              </div>
            </div>
            <div class="month_video_item">
              <div class="month_sum" src="https://player.vimeo.com/video/795259236?h=b17eea5c8b">
                <img src="/assets/imgs/round/6/video/video2.png" width="168" height="94" />
              </div>
              <div class="month_video_info">
                <p>[롯데리아] 안산DT점</p>
                <div>
                  안산 D/T점에 가면~ (D/T점만의) 특화 메뉴도 있고~
                </div>
              </div>
            </div>
            <div class="month_video_item">
              <div class="month_sum" src="https://player.vimeo.com/video/795256004?h=7652be7b5c">
                <img src="/assets/imgs/round/6/video/video1.png" width="168" height="94" />
              </div>
              <div class="month_video_info">
                <p>[KKD] 부산연산점</p>
                <div>
                  부산의 유일한 생산매장이 떴다
                </div>
              </div>
            </div>  
            <div class="month_video_item">
              <div class="month_sum">
                <iframe src="https://player.vimeo.com/video/781742294?h=1b4486b14c" frameborder="0"
                  allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div class="month_video_info">
                <p>[맛침표] KKD편</p>
                <div>
                  ‘맛’에 대한 고민으로 뭉친 신메뉴 개발팀 크리스피 크림 도넛의 비밀 레시피?!
                </div>
              </div>
            </div>
            <div class="month_video_item">
              <div class="month_sum">
                <iframe src="https://player.vimeo.com/video/781742096?h=41b47c09ac" frameborder="0"
                  allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div class="month_video_info">
                <p>[맛침표] 엔제리너스편</p>
                <div>
                  ‘맛’에 대한 고민으로 뭉친 신메뉴 개발팀 엔제리너스의 비밀 레시피?!
                </div>
              </div>
            </div>
            <div class="month_video_item">
              <a href="https://youtu.be/M6DbGMnw36A" target="_blank">
                <div class="month_sum">
                  <img src="/assets/imgs/round/5/video/12Playlist.png" alt="sum" title="sum">
                </div>
                <div class="month_video_info">
                  <p>캐롤 Playlist</p>
                  <div>
                    추운 겨울 눈 내리는 날 따듯한 코코아 마시며 듣는 K-캐롤 모음
                  </div>
                </div>
              </a>
            </div>

            <div class="month_video_item">
              <a href="https://youtu.be/fZQehbSNByA" target="_blank">
                <div class="month_sum">
                  <img src="/assets/imgs/round/5/video/10Playlist.png" alt="sum" title="sum">
                </div>
                <div class="month_video_info">
                  <p>힙합 Playlist</p>
                  <div>
                    워워킹 유발하는 힙합 플리들으면 자존감 두배 세배 네배 ~!
                  </div>
                </div>
              </a>
            </div>
            <div class="month_video_item">
              <div class="month_sum">
                <iframe src="https://player.vimeo.com/video/764395489?h=bc4da06e38" frameborder="0"
                  allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div class="month_video_info">
                <p>자레쓰 생일파티</p>
                <div>
                  10월 25일, 롯데GRS 창립 43주년, 앞으로 더 사랑받는 롯데GRS가 되길!
                </div>
              </div>
            </div>
            <div class="month_video_item">
              <div class="month_sum">
                <iframe src="https://player.vimeo.com/video/761370868?h=160ffc4367" frameborder="0"
                  allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div class="month_video_info">
                <p>지글지글 불고기로드</p>
                <div>
                  불고기 버거 출시 30주년을 맞아 오픈한 ‘불고기랩 9222’ 속으로~
                </div>
              </div>
            </div>
            <div class="month_video_item">
              <div class="month_sum">
                <iframe src="https://player.vimeo.com/video/761385631?h=42cbc1b0c1" frameborder="0"
                  allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div class="month_video_info">
                <p>[롯취록] 롯데리아 수원매탄점</p>
                <div>
                  대화가 필요해~ 좋아하는 것도 사는곳도 다른 이들을 소개합니다.
                </div>
              </div>
            </div>
            <div class="month_video_item">
              <a href="https://youtu.be/uceXG-7SDzY" target="_blank">
                <div class="month_sum">
                  <img src="/assets/imgs/round/5/video/8Playlist.png" alt="sum" title="sum">
                </div>
                <div class="month_video_info">
                  <p>와인바 Playlist</p>
                  <div>
                    플리를 틀어놓으면 내 방구석도 고급스러워지는 매직🧙‍♂️✨✨
                  </div>
                </div>
              </a>
            </div>
            <div class="month_video_item">
              <div class="month_sum">
                <iframe src="https://player.vimeo.com/video/739880164?h=3524337b45" frameborder="0"
                  allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div class="month_video_info">
                <p>그린캠페인</p>
                <div>
                  맛있는 아메리카노 마시며 환경까지 생각하는 우리! 천사가 따로 없잖아~
                </div>
              </div>
            </div>
            <div class="month_video_item">
              <div class="month_sum">
                <iframe src="https://player.vimeo.com/video/740957951?h=131c8d97a8"" frameborder=" 0"
                  allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div class="month_video_info">
                <p>도심 속 힐링정원</p>
                <div>
                  바쁜 일상에서 벗어나 향긋한 커피와 맛있는 베이커리로 힐링해보자!
                </div>
              </div>
            </div>
            <div class="month_video_item">
              <a href="https://youtu.be/KYwFKYD5uwc" target="_blank">
                <div class="month_sum">
                  <img src="/assets/imgs/round/5/video/6Playlist.png" alt="sum" title="sum">
                </div>
                <div class="month_video_info">
                  <p>그 시절 Playlist [유튜브 영상]
                  </p>
                  <div>
                    생일👑파티는 롯데리아🍔가 국룰이었던 그때 그시절 추억의 롯리,, 아니 플리 💖
                  </div>
                </div>
              </a>
            </div>
            <div class="month_video_item">
              <div class="month_sum">
                <iframe src="https://player.vimeo.com/video/720098882?h=e4af08c769" frameborder="0"
                  allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div class="month_video_info">
                <p>나만의 홈카페</p>
                <div>
                  언제리너스가 우리집으로 찾아온다?! 스마트스토어 오픈기념 시음회 행사
                </div>
              </div>
            </div>
            <div class="month_video_item">
              <div class="month_sum">
                <iframe src="https://player.vimeo.com/video/720509691?h=5f23b0670f" frameborder="0"
                  allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div class="month_video_info">
                <p>사옥이전 1주년</p>
                <div>
                  ESG 경영 강화와 헌혈증 기부로 더불어 살아가는 GRS 정말 자레쓰!
                </div>
              </div>
            </div>
            <div class="month_video_item">
              <div class="month_sum">
                <iframe src="https://player.vimeo.com/video/720098660?h=7fc1f34f55" frameborder="0"
                  allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div class="month_video_info">
                <p>라떼토크</p>
                <div>
                  세대별 추억의 아이템을 탐구하다! 그때 그 시절로 돌아간 토크 토크
                </div>
              </div>
            </div>
            <div class="month_video_item">
              <a href="https://youtu.be/qyt1vD2lv1c" target="_blank">
                <div class="month_sum">
                  <img src="/assets/imgs/round/5/video/4Playlist.png" alt="sum" title="sum">
                </div>
                <div class="month_video_info">
                  <p>벚꽃 Playlist</p>
                  <div>
                    벚꽃보니까 생각나는데 나 때는 말야,, 부장님 라떼는 천사표가 맛있습니다 ☕️☕️☕️
                  </div>
                </div>
              </a>
            </div>
            <div class="month_video_item">
              <div class="month_sum">
                <iframe src="https://player.vimeo.com/video/710237148?h=aedc57da1f" frameborder="0"
                  allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div class="month_video_info">
                <p>롯데월드&롯데리아</p>
                <div>
                  따끈한 신상 테마파크와 화끈한 뷰 햄버거 맛집이 한 곳에 모였다!
                </div>
              </div>
            </div>
            <div class="month_video_item">
              <div class="month_sum">
                <iframe src="https://player.vimeo.com/video/710208227?h=67e41c80f6" frameborder="0"
                  allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div class="month_video_info">
                <p>무엇이든 말해보살</p>
                <div>
                  넌 나에게 MZ감을 줬어.... 하이텐션 무당에 기빨리고 온 대표님!
                </div>
              </div>
            </div>
          </div>
          <!-- 이전// -->
          
          <!-- 신규 -->
          <div class="month_NEW">
            <div class="month_video_item">
              <a href="/video/index/13">
                <div class="month_sum" src="https://player.vimeo.com/video/936186622">
                  <img src="/assets/imgs/round/13/video/Vemeo_thumbnail2.webp" width="168" height="94" />
                </div>
                <div class="month_video_info">
                  <p>[롯면뭐하니] 디자인센터 디자인팀</p>
                  <div>
                    상상을 현실로 만드는 조물주들과 함께한 인터뷰!<br/>
                    디자인팀의 원픽 디자인부터 센스만점 비하인드까지
                  </div>
                </div>
              </a>
            </div>
            <div class="month_video_item">
              <a href="/video/index/13/2">
                <div class="month_sum" src="https://player.vimeo.com/video/936187251">
                  <img src="/assets/imgs/round/13/video/Vemeo_thumbnail.webp" width="168" height="94" />
                </div>
                <div class="month_video_info">
                  <p>[알아보길 자레쓰] 다이어트 햄버거편</p>
                  <div>
                    다이어트하는 맛둥이들 주목!<br/>
                    햄버거를 다이어트할 때 먹어도 된다고?<br/>
                    맛둥이들을 위해 준비한 특별 이벤트까지!
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- 신규// -->
        </div>
      </div>
    </div>
  </div>

  <!-- 비디오 댓글 영역 -->
  <div class="video_comment wrap show">
    <!-- 댓글 참여 영역 -->
      <div class="p_modal_1_open">
        <div class="video_comment_info">
          <p class="title">👊 건강한 치팅데이를 즐기는 맛둥이를 위한 특별한 선물 👊</p>
          <p class="desc">
            맛둥이들만의 ‘건강한 치팅데이’를 즐기는 법을 알려줘~<br/>
            만약 생각나는 게 없다면 ‘일주일에 한 번 치킨 먹기!’ 같은 단순한 것도 좋아 🤩<br/>
            추첨을 통해 <b>[롯데 모바일 상품권]</b>을 드립니다!
          </p>
          <div class="event_init">
            <p class="event">
              EVENT
            </p>
            <p class="info">총 당첨 인원 5명</p>
            <img src="/assets/imgs/round/13/video/gift-card.png" alt="롯데모바일상품권">

            <div class="video_comment_btn video_comment_modal">
              <p>이벤트 참여하기 ></p>
            </div>
          </div>
        </div>
      </div>
      <!-- //댓글 참여 영역 -->
      <!-- 안내 사항 -->
      <div class="video_notification">
        <p class="title">안내사항</p>
        <p class="desc">- 이벤트 참여 시, 개인정보 오기재으로 인한 당첨자 누락은 책임지지 않습니다.</p>
        <p class="desc">- 당첨자 안내 및 경품 발송은 개별 연락처로 안내해 드립니다.</p>
        <p class="desc">- 본 이벤트의 경품 제공을 목적으로 개인 정보를 요구할 수 있습니다.</p>
        <p class="desc">- 당첨자 안내 개별 메시지 발송일 이후 14일 이내에 경품 수령 의사 및 개인 정보 회신이 없을 시, 자동으로 당첨자 대상에서 제외될 수 있습니다.</p>
        <p class="desc">- 이벤트 경품 수령을 위한 개인정보 회신 확인 후 순차적으로 경품을 발송해드립니다.</p>
        <p class="desc">- 수집된 개인정보는 이벤트 안내 및 경품 증정 이외에는 사용되지 않습니다.</p>
        <p class="desc">- 경품은 이벤트 참여 시 작성해주신 개인 정보로만 발송 가능하며, 다른 이름, 연락처, 주소 등으로 변경하여 수령하는 것은 불가합니다.</p>
      </div>
      <!-- //안내 사항 -->

      <div class="container">
        <div class="event-comment">
          <div class="comment-head">
            <strong>댓글</strong>
            <ul>
              <li class="active"><a href="javascript:;">추천순</a></li>
              <li><a href="javascript:;">최신순</a></li>
            </ul>
          </div>
          <div class="comment-body">
            <div class="comment-list">
              <!-- <p class="list-none">등록된 댓글이 없습니다.</p> -->
              <ul class="list" id="list">
                 <!-- 댓글 데이터 동적 삽입 -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //비디오 댓글 영역 -->
  </div>


  <!-- 이벤트 참여 모달 시작 -->
  <div class="modal">
    <div class="popup event_popup_0 kr">
      <div class="p_con">
        <div class="popup_top">
          <p class="f30"><b>새로운 시작을 상징하는 꽃이야!<br/>
            맛둥이들의 목표 달성을 응원해</b></p>
        </div>
        <div class="w300 center mt20 mb20">
          <img
            src="/assets/imgs/round/14/event/snow_man.png"
            alt="snow_man"
          />
        </div>
        <div class="text_align_center randomImage f24">
          <b>맛둥이들의 올해 목표는 뭐야?</b>
          <p class="f16 mt20">
            ※올해 목표를 댓글로 남기고, 경품 응모하러 가기
          </p>
        </div>
      </div>
      <div class="popup_close">
        <img src="/assets/imgs/round/9/close.png" alt="닫기 버튼" />
      </div>
      <div class="button p_btn p_btn_0">이벤트 참여하기</div>
    </div>
    <div class="popup event_popup_1 kr">
      <div class="p_con">
        <div class="popup_top">
          <div>롯데GRS</div>
          <div>개인정보 활용 동의서</div>
          <div>※ 본 이벤트는 롯데GRS 임직원 및 점주 한정 참여 가능합니다.</div>
        </div>

        <div class="popup_content">
          <div class="check_all flex aic check_box allCheck">
            <!-- <label class="checkbox" for="N_big"> -->
            <input type="checkbox" id="N_big" hidden />
            <span class="checkbox_icon"></span>
            <span class="checkbox_text check_all_t">전체 동의하기</span>
            <!-- </label> -->
          </div>
          <p class="check_info">
            롯데GRS 사내웹진 ‘맛ZINE’ 이벤트 당첨안내 및 배송 관련 다양한 서비스
            제공을 위해 개인 정보 수집, 이용에 관하여 관계법령에 의거하여
            고지하오니, 동의해 주시기 바랍니다.
          </p>

          <div class="line"></div>

          <div class="check_detail">
            <b>맛진 동의 항목</b>

            <div class="check_list">
              <div class="check_box flex aic jcsb">
                <div class="checkbox flex aic minCheck">
                  <input id="N_one" type="checkbox" hidden />
                  <span class="checkbox_icon"></span>
                  <span class="checkbox_text"
                    >[필수] 개인정보 수집 및 이용 동의</span
                  >
                </div>

                <div class="arrow_btn p_modal_2_open">&gt;</div>
              </div>

              <div class="check_under_list">
                <div class="check_box">
                  <div class="checkbox flex aic">
                    <input type="checkbox" />
                    <span class="checkbox_icon"></span>
                    <span class="checkbox_text">성명</span>
                  </div>
                </div>
                <div class="check_box">
                  <div class="checkbox flex aic">
                    <input type="checkbox" />
                    <span class="checkbox_icon"></span>
                    <span class="checkbox_text">부서/지점명</span>
                  </div>
                </div>
                <div class="check_box">
                  <div class="checkbox flex aic">
                    <input type="checkbox" />
                    <span class="checkbox_icon"></span>
                    <span class="checkbox_text">연락처</span>
                  </div>
                </div>
              </div>

              <div class="check_box flex aic jcsb">
                <div class="checkbox min_check_2 flex aic">
                  <input type="checkbox" />
                  <span class="checkbox_icon"></span>
                  <span class="checkbox_text"
                    >[필수] 개인정보의 취급 위탁 동의</span
                  >
                </div>

                <div class="arrow_btn p_modal_3_open">&gt;</div>
              </div>
            </div>

            <p class="kr warn">
              ※ 개인정보 동의를 거부할 권리가 있으나, 거부할 경우 서비스 이용이
              제한됩니다.
            </p>
          </div>
        </div>
      </div>
      <div class="popup_close">X</div>
      <div class="button p_btn p_btn_1">동의하고 계속하기</div>
    </div>
    <div class="popup event_popup_2 kr">
      <div class="p_con">
        <div class="popup_top">
          <p>롯데GRS</p>
          <h2>개인정보 수집 및 이용 동의</h2>
          <p>※ 본 이벤트는 롯데GRS 임직원 및 점주 한정 참여 가능합니다.</p>
        </div>

        <div class="popup_content">
          <p class="check_info">
            롯데GRS 사내웹진 ‘맛ZINE’ 이벤트 당첨안내 및 배송 관련 다양한 서비스
            제공을 위해 <br />
            개인 정보 수집, 이용에 관하여 관계법령에 의거하여 고지하오니, 동의해
            주시기 바랍니다.
          </p>

          <div class="info_box_pop">
            <div class="info_intro_item">
              <h3>1) 개인정보 수집 및 이용 동의</h3>
              <p>롯데GRS 사내웹진 이벤트</p>
            </div>
            <div class="info_intro_item">
              <h3>2) 수집하는 개인정보의 항목</h3>
              <p>이름, 부서/지점명, 연락처 등 경품 수령을 위한 개인정보</p>
            </div>
            <div class="info_intro_item">
              <h3>3) 개인정보 보유 및 이용기간</h3>
              <p>수집일로부터 6개월</p>
            </div>
          </div>
          <p class="kr warn">
            ※ 개인정보 동의를 거부할 권리가 있으나, 거부할 경우 서비스 이용이
            제한됩니다.
          </p>
        </div>
      </div>
      <div class="popup_close">X</div>
      <div class="button p_btn p_btn_2">확인</div>
    </div>
    <div class="popup event_popup_3 kr">
      <div class="p_con">
        <div class="popup_top">
          <p>롯데GRS</p>
          <h2>개인정보의 취급 위탁 동의</h2>
          <p>※ 본 이벤트는 롯데GRS 임직원 및 점주 한정 참여 가능합니다.</p>
        </div>

        <div class="popup_content">
          <p class="check_info">
            롯데GRS 사내웹진 ‘맛ZINE’ 이벤트 당첨안내 및 배송 관련 다양한 서비스
            제공을 위해 <br />
            개인 정보 수집, 이용에 관하여 관계법령에 의거하여 고지하오니, 동의해
            주시기 바랍니다.
          </p>

          <div class="info_box_pop">
            <p>
              롯데GRS는 서비스 향상을 위해서 아래와 같이 개인정보를 위탁하고
              있으며, 관계 법령에 의거 위탁계약 시 개인정보가 안전하게 관리될 수
              있도록 필요한 사항을 규정합니다.
            </p>

            <div class="info_back_item">
              <h3>1) 업무내용 : 서비스 운영, 이벤트 경품 배송, 고객지원</h3>
              <h3>2) 수탁업체 : (주)스카이벤처스</h3>
            </div>
          </div>
          <p class="kr warn">
            ※ 개인정보 동의를 거부할 권리가 있으나, 거부할 경우 서비스 이용이
            제한됩니다.
          </p>
        </div>
      </div>
      <div class="popup_close">X</div>
      <div class="button p_btn p_btn_3">확인</div>
    </div>
    <div class="popup event_popup_4 kr">
      <div class="p_con">
        <div class="popup_top">
          <p style="color: #005648">EVENT2</p>
          <h2>VIDEO</h2>
        </div>

        <div>
          <form class="event_form kr" id="event_form">
            <div class="video_key">
              <!-- input태그 동적으로 삽입 -->
              <input type="hidden" name="video_key" id="video_key" value="https://player.vimeo.com/video/937590119"  /> <!--특정 비디오만 댓글 참여 -->
            </div>
            <div>
              <div>
                <input
                  type="text"
                  placeholder="닉네임을 입력해주세요."
                  name="user_nickname"
                  id="user_nickname"
                />
                <p>※ 댓글에 노출되는 닉네임입니다.</p>
              </div>
              <div>
                <input
                  type="text"
                  placeholder="이름을 입력해주세요."
                  name="user_name"
                  id="user_name"
                />
              </div>
            </div>
            <div>
              <div>
                <input
                  type="text"
                  placeholder="부서/지점명을 입력해주세요."
                  name="department"
                  id="department"
                />
              </div>
              <div>
                <input
                  type="text"
                  placeholder="휴대폰 번호를 입력해주세요."
                  name="user_hp"
                  id="user_hp"
                />
              </div>
            </div>
            <div style="display: block">
              <div style="width: 100%">
                <textarea cols="12" rows="12"
                  placeholder="댓글을 입력해주세요"
                  name="text"
                  id="text"
                  style="resize: none"
                ></textarea>
              </div>
            </div>
            <div class="form_photo_div" style="display: none">
              <p>프로필사진첨부</p>
              <span style="display: flex">
                <span class="images"></span>
                <label class="photo_label">
                  <img
                    src="/assets/imgs/round/5/event/camera.svg"
                    alt="#"
                    title="#"
                  />
                  <input type="file" hidden />
                </label>
              </span>
            </div>
          </form>
        </div>
        <div class="popup_close">X</div>

        <p class="kr warn">
          ※ 개인정보 동의를 거부할 권리가 있으나, 거부할 경우 서비스 이용이
          제한됩니다.
        </p>
        <div class="button p_btn p_btn_4">이벤트 응모하기</div>
      </div>
    </div>
    <div class="popup event_popup_5 kr pb0">
      <div class="pop_top">
        <p class="">NOTICE</p>
        <div class="popup_close">X</div>
      </div>
      <div class="p_con py60 py-lg-30">
        <h2 style="color: #005648">VIDEO EVENT</h2>
        <p>이벤트 응모 완료되었습니다!</p>
      </div>
    </div>

    <div class="comment_image_popup popup">
      <div class="image_slide swiper">
        <div class="swiper-wrapper slide">
          <div class="swiper-slide popup_image">
            <img src="/assets/imgs/round/5/event/1.png" alt="#" title="#" />
          </div>
          <div class="swiper-slide popup_image">
            <img src="/assets/imgs/round/5/event/1.png" alt="#" title="#" />
          </div>
          <div class="swiper-slide popup_image">
            <img src="/assets/imgs/round/5/event/1.png" alt="#" title="#" />
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="popup_close">X</div>
    </div>
  </div>
  <!-- 이벤트 참여 모달 끝 -->
</div>

<script src="/assets/js/round/13/video-modal.js"></script>
<script>
  $(document)
    .on(`click`, ".month_video_item", (e) => {
      const src = $(e.currentTarget).find(`iframe`).attr('src') || $(e.currentTarget).find(`.month_sum`).attr('src');
      const title = $(e.currentTarget).find(`.month_video_info p`).text();
      const ex = $(e.currentTarget).find(`.month_video_info div`).text();

      $(`.now_video .video_cont iframe`).attr('src', src)
      $(`.now_video h2`).html(title)
      $(`.now_video_text h2`).html(title)
      $(`.now_video p`).html(ex);

      if(title !== '[알아보길 자레쓰] 다이어트 햄버거편'){
        $(".video_comment").removeClass('show');
      } else {
        $(".video_comment").addClass('show');
      }
    })

  $('label[for="month_move"]').on('click', () => {
    $('label[for="month_move"]').toggleClass('rotate')
  })
</script>
<script>
  var video_key = 'https://player.vimeo.com/video/937590119'; //특정 비디오만 댓글 조회
  var order = 1;
  var ignore_seq = [];
  var isFetching = false;

  // $(document).on('click', '.month_video_item', function(e) {
  //   video_key = $(e.currentTarget).find('.month_sum').attr('src');
  //   ignore_seq = []; // ignore_seq 배열 초기화
  //   $("#list").empty(); // 기존 댓글 목록을 비우움
  //   get_reply_data(video_key, order, ignore_seq);
  // });

  // 비디오 댓글 추천순/최신순 탭
  $(document).on("click", ".comment-head ul li a", function () {
    var parents = $(this).parent("li");
    var idx = parents.index();

    ignore_seq = [];
    if (parents.siblings().hasClass("active")) {
      order = order === 1 ? 2 : 1;
      init_reply_data();
      show_more();
    }

    parents.addClass("active").siblings().removeClass("active");
  });

  function show_more() {
    isFetching = true;
    get_reply_data(video_key, order, ignore_seq);
  }

  function init_reply_data() {
    $("#list").html("");
  }

  function get_reply_data(video_key, order, ignore_seq) {
    $.post(
      "/video/get_reply_data",
      { video_key: video_key, order: order, ignore_seq: ignore_seq },
    
      function (result) {
        var r = JSON.parse(result);

        if (r.result) {
          var html = "";
          if (r.list.length) {
            for (var i = 0; i < r.list.length; i++) {
              // 댓글 목록을 생성하는 코드
              html += '<li class="list-item">';
              html += '<div class="list-head">';
              html += '<img class="mo" src="/assets/imgs/round/6/event/profile.svg">';
              html += "<div>";
              html += "<b>" + r.list[i].nickname + "</b>";
              html += "<time>" + r.list[i].reg_time + "</time>";
              html += "</div>";
              html += "</div>";
              html += '<div class="list-body">';
              html += "<p>" + r.list[i].text + "</p>";
              html += '<div class="list-body-like">';
              if (r.list[i].log_seq) {
                html +=
                  '<a href="javascript:like(' +
                  r.list[i].seq +
                  ')" id="like' +
                  r.list[i].seq +
                  '" class="active">' +
                  r.list[i].like.toLocaleString("en") +
                  "</a>";
              } else {
                html +=
                  '<a href="javascript:like(' +
                  r.list[i].seq +
                  ')" id="like' +
                  r.list[i].seq +
                  '">' +
                  r.list[i].like.toLocaleString("en") +
                  "</a>";
              }
              html += "</div>";
              html += "</div>";
              html += "</li>";
              html += '<input type="hidden" value="' + r.list[i].seq + '">';
              ignore_seq.push(r.list[i].seq);
            }
          }
          
          
          $("#list").append(html);
          isFetching = false;
        }
      }
    );
  }

  function like(seq) {
    $.post("/video/like", { seq: seq }, function (result) {
      var r = JSON.parse(result);
      if (r.result) {
        $("#like" + seq).html(r.after);
        if (Number(r.after) > Number(r.before)) {
          $("#like" + seq).addClass("active");
        } else {
          $("#like" + seq).removeClass("active");
        }
      } else {
        alert(r.msg);
      }
    });
  };

  $(window).scroll(function(e) {
    if (!isFetching && window.innerHeight + window.scrollY + 100 >= document.body.offsetHeight) {
      show_more();
    }
  });

  show_more();
</script>