<link rel="stylesheet" href="/assets/css/9/eventWinners.css">

<div class="event content_box">
    <div class="image section1" data-aos="fade">
        <div class="image_pc">
            <img src="/assets/imgs/round/9/event/winner/pc_banner.png" alt="event" title="event">
        </div>
        <div class="image_mo">
            <img src="/assets/imgs/round/9/event/winner/mo_banner.png" alt="event" title="event">
        </div>
    </div>

    <div class="event_content wrap section2">
        <div class="event_title kr">
            <div class="event_finish_sub_title">마감된 이벤트</div>
            <div class="event_finish_title">
                맛진의 힐링 스토리<br/>당첨자 발표
            </div>
            <div class="event_finish_description">
               맛둥이들의 힐링 장소와 에피소드를 알려줘서 고마워<br/> 맛둥이들의 추억을 함께 나눌 수 있어서 너무 좋았어!<br/>
                <span class="event_finish_description-bold">다음 10월호도 풍성한 이벤트로 찾아올게 곧 만나!</span>
            </div>
            <div class="event_finish_description-hint">
                ※ 이벤트 당첨자 개별 안내 예정<br/>
            </div>
            <p class="f20 f12-lg fw7 mt10">※ EVENT2 이벤트 당첨자 개별 안내 완료</p>
            <p class="f20 f12-lg fw7 lh40 lh-lg-20">※ EVENT2 당첨 사연은 <br class="mo"/> 웹진 8월호 VIDEO [맛진한 라디오]에서 들으실 수 있습니다.</p>
        </div>
    </div>
    <div class="line"></div>
    <div class="event_content wrap section3">
        <div class="event_finish_gift_title">
            🎁<br/>
            추억을 나누어준 맛둥이들을 위한 선물
        </div>
        <div class="gift_wrapper">
            <div class="pre-01 gift_item" data-aos="fade-up">
                <div class="gift_item_tit_inner">
                    <h3>EVENT.1</h3>
                    <p class="decs">맛진 캠프</p>
                    <p class="tit">당첨 인원 : 5명</p>
                </div>
                <div class="inner">
                    <div class="gift_item_count">5명</div>
                    <img class="gift_img" src="/assets/imgs/round/9/event/winner/profile_1.png"/>
                </div>
                <div class="gift_item_description">
                    <span>엔제리너스 캠핑 드립 세트</span>
                </div>
            </div>
            <div class="pre-02 gift_item" data-aos="fade-up">
                <div class="gift_item_tit_inner">
                    <h3>EVENT.2</h3>
                    <p class="decs">맛진한 라디오</p>
                    <p class="tit">총 당첨 인원 : 7명</p>
                </div>
                <div class="wrapper">
                    <div class="inner">
                        <div class="gift_item_count item_01">5명</div>
                        <img class="gift_img" src="/assets/imgs/round/9/event/winner/profile_2.png"/>
                        <div class="gift_item_description">쿠쿠 에어프라이어기</div>
                    </div>
                    <i class="line"></i>
                    <div class="inner">
                        <div class="gift_item_count item_02">2명</div>
                        <img class="gift_img" src="/assets/imgs/round/9/event/winner/profile_3.png"/>
                        <div class="gift_item_description">위닉스 미니 건조기</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gift_description_wrapper" data-aos="fade-up">
            <div class="gift_text_description">
                EVENT1과 2의 경품은 상이하며, 선택이 불가합니다.<br/>
                ※ EVENT1 당첨자 경품은 9월 내 발송 예정입니다.<br class="mobr" /> (EVENT2 배송 완료)
            </div>
            <div class="gift_text_description">
                ※ 이벤트 당첨자 개별 안내 후 <br class="mobr"/> 개인정보 회신 확인에 따라 순차적 발송됩니다.
            </div>
        </div>

    </div>
    <div class="line"></div>
    <div class="event_content_wrap section4">
        <div class="sub_text">
            <div class="pc">
                <div class="kr" data-aos="fade">
                    <p>힐링 마스터와 맛진의 첫 라디오를 채워주신 <span>12인</span>을 소개합니다</p>
                </div>
            </div>
            <div class="mo">
                <div class="kr" data-aos="fade">
                    <p>힐링 마스터와 맛진의 첫 라디오를 채워주신 <span>12인</span>을 소개합니다</p>
                </div>
            </div>
        </div>
        <div class="border_box_wrapper">
            <div class="border_box">
                당첨을 축하합니다!
            </div>
        </div>
        <div class="reward fullin mt20">
            <div class="pc">
                <div class="left">
                    <!-- 데이터 삽입 -->
                </div>
                <div class="right">
                    <!-- 데이터 삽입 -->
                </div>
            </div>
            <div class="mo">
                <!-- 데이터 삽입 -->
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/event/9/event_winner.js" type="module"></script>