@import '../../../../../../scss_global/scss-common2';

.sec_project_wrap { // MO
    .pt_font--red {color: #D62E2E;}

    .pt_popup--samsungcare {

        .pt_popup__section {
            @include vw-mo(padding-bottom,37);
            &:last-child {padding-bottom: 0;}
        }
        .pt_popup__title {
            @include vw-mo(margin-bottom,17); @include vw-mo(font-size,32); font-weight: 700; @include vw-mo(line-height,42);
            &--small {@include vw-mo(font-size,28); font-weight: 700; @include vw-mo(line-height,44);}
        }
        .pt_list { // 리스트
            &__item {
                position: relative; @include vw-mo(font-size,28); @include vw-mo(line-height,48);
                .pt_popup__discs {@include vw-mo(margin-top,8);}
            }
            &__disc {@include vw-mo(padding-left,10); @include vw-mo(text-indent,-10);}
            &__indent {@include vw-mo(padding-left,24); @include vw-mo(text-indent,-24);}

            // 라인 형태 (-)
            &--line {
                & > .pt_list__item {
                    @include vw-mo(padding-left,23);

                    &::before {content: "-"; position: absolute; top: 0; left: 0;} 
                }
            }

            // 번호 형태 (1, ①)
            &--number {
                & > .pt_list__item {
                    @include vw-mo(padding-left,35);

                    .pt_list__number {position: absolute; top: 0; left: 0;} 
                }
            }

        }
        .pt_popup__discs {@include vw-mo(margin-top,18);}
        .pt_popup__disc {@include vw-mo(padding-left,10); color: #777; @include vw-mo(font-size,22); @include vw-mo(line-height,30); letter-spacing: -0.025em; @include vw-mo(text-indent,-10);}
        .pt_popup__btns {
            @include vw-mo(margin-top,34); text-align: center;

            .btn_common { // 버튼
                &.type_round {@include vw-mo(width,171); @include vw-mo(height,64); @include vw-mo(font-size,24); @include vw-mo(border-radius,32);} 
            }
        }
        .pt_table {
            .pt_bo--top {border-top: 1px solid #ddd;}
            .pt_bo--bottom {border-bottom: 1px solid #ddd;}
            .pt_bo--left {border-left: 1px solid #ddd;}
            .pt_bo--right {border-right: 1px solid #ddd;}

            &--col { // thead 포함 테이블 (세로형 테이블)
                

                table {width: 100%; border-collapse: collapse; background: #fff;}
                thead {
                    th {
                        background: #eee;

                        .pt_small {display: block; @include vw-mo(font-size,22); font-weight: 400; @include vw-mo(line-height,30);}
                    }
                }
                th, td {@include vw-mo(padding,24 0); @include vw-mo(font-size,24); @include vw-mo(line-height,30); text-align: center; vertical-align: middle;  letter-spacing: -0.025em; border: 1px solid #ddd; @include vw-mo(border-width,2);}
                th {font-weight: 700;}
            }
        }

    }
}

@media screen and (min-width: 769px) { // PC
    .sec_project_wrap {

        .pt_popup--samsungcare {
            // @include vw-pc(width,549); // BC 팝업 컨텐츠 사이즈

            .pt_popup__section {@include vw-pc(padding-bottom,30);}
            .pt_popup__title {
                @include vw-pc(margin-bottom,10); @include vw-pc(font-size,18); @include vw-pc(line-height,24);
                &--small {@include vw-pc(font-size,16); @include vw-pc(line-height,24);}
            }
            .pt_list { // 리스트
                &__item {
                    @include vw-pc(font-size,16); @include vw-pc(line-height,26); letter-spacing: -0.025em;
                    .pt_popup__discs {@include vw-pc(margin-top,8);}
                }
                &__indent {@include vw-pc(padding-left,12); @include vw-pc(text-indent,-12);}

                // 라인 형태 (-)
                &--line {
                    & > .pt_list__item {@include vw-pc(padding-left,10);}
                }

                // 번호 형태 (1, ①)
                &--number {
                    & > .pt_list__item {@include vw-pc(padding-left,17);}
                }

            }
            .pt_popup__discs {@include vw-pc(margin-top,19);}
            .pt_popup__disc {@include vw-pc(padding-left,10); @include vw-pc(font-size,14); @include vw-pc(line-height,18); @include vw-pc(text-indent,-10);}
            .pt_popup__btns {
                @include vw-pc(margin-top,30);
            
                .btn_common { // 버튼
                    &.type_round {@include vw-pc(width,110); @include vw-pc(height,40); @include vw-pc(font-size,14); @include vw-pc(border-radius,20);} 
                }
            }
            .pt_table {
                &--col { // thead 포함 테이블 (세로형 테이블)
                    thead {
                        th {
                            .pt_small {font-size: inherit; line-height: inherit;}
                        }
                    }
                    th, td {@include vw-pc(padding,12 0); @include vw-pc(font-size,14); @include vw-pc(line-height,20); border-width: 1px;}
                    th {letter-spacing: -0.05em;}
                }
            }

        }
    }
}

@media screen and (min-width: 1001px) { // PC 버전 BC 팝업 사이즈 지정
    .sec_project_wrap.galaxy_ring {
        .pt_popup--samsungcare {
            @include vw-pc(width,706);
        }
    }
}