  <link rel="stylesheet" href="/assets/css/5/about.css">
  <!-- VISUAL 영역 -->
  <div class="visual" data-aos="fade">
    <div class="now flex pr">
      <div class="now_slide flex en pa">
        <p>ABOUT</p>
        <p>ABOUT</p>
        <p>ABOUT</p>
        <p>ABOUT</p>
        <p>ABOUT</p>
        <p>ABOUT</p>
        <p>ABOUT</p>
        <p>ABOUT</p>
        <p>ABOUT</p>
        <p>ABOUT</p>
        <p>ABOUT</p>
        <p>ABOUT</p>
        <p>ABOUT</p>
        <p>ABOUT</p>
        <p>ABOUT</p>
        <p>ABOUT</p>
        <p class="hide">ABOUT</p>
        <p class="hide">ABOUT</p>
        <p class="hide">ABOUT</p>
        <p class="hide">ABOUT</p>
        <p class="hide">ABOUT</p>
        <p class="hide">ABOUT</p>
      </div>
    </div>

    <div class="image">
      <img class="normal_banner" src="/assets/imgs/round/5/about/visual/banner.png" alt="#" title="#">
      <div class="mobile_banner">
        <img src="/assets/imgs/round/5/about/visual/main_banner_768.png" alt="#" title="#">
        <img src="/assets/imgs/round/5/about/visual/main_banner_320.png" alt="#" title="#">
      </div>
    </div>

    <!-- <div class="container wrap flex fdc jcsb">
      <b class="kr">맛의 TASTY + 매거진의 ZINE = 맛ZINE</b>

      <p class="kr">
        맛의 'Tasty'와 매거진의 'Zine'이 만나 탄생한 사내웹진 맛ZINE.<br>
        최신 트렌드부터 롯데GRS의 다양한 소식까지<br>
        맛있는 이야기를 가득 담아 두 달에 한번 여러분을 찾아갑니다.
      </p>
    </div> -->
  </div>

  <!-- HISTORY 영역 -->
  <div class="history">
    <div data-aos="fade-up"><b class="title en">HISTORY</b></div>

    <div class="container wrap flex jcc aic pr history_rap" data-aos="fade-up">
      <div class="box flex jcsb controller">
        <div class="btn flex jcc aic pointer prev">
          <img src="/assets/imgs/icon/back_w.svg" alt="#" title="#">
        </div>

        <div class="btn flex jcc aic pointer next">
          <img src="/assets/imgs/icon/back_w.svg" alt="#" title="#">
        </div>
      </div>

      <div class="historySlider swiper">
        <div class="swiper-wrapper slide">
          <div class="swiper-slide">
            <a href="http://tastyzine.co.kr/main/index/3">
              <img src="/assets/imgs/round/5/about/history/8월.png" alt="#" title="#">
            </a>
            <p class="text kr">
              <b>나의 가을, 짙은 향기</b><br>

              <span>
                <span>와인을 음미하고 재즈의 선율을 즐기기 좋은 가을</span>
                <br>
                <span>무드있는 가을을 더 짙은 향기로 즐겨보자!</span>
                
              </span>
            </p>
          </div>

          <div class="swiper-slide">
            <a href="http://tastyzine.co.kr/main/index/4">
              <img src="/assets/imgs/round/5/about/history/10월.png" alt="#" title="#">
            </a>
            <p class="text kr">
              <b>우리들의 축제는 지금부터야!</b><br>

              <span>
                <span>롯데가 가장 불타는 10월!</span>
                <br>
                <span>빼앗긴 열정을 되찾고 축제를 즐기자!!</span>
                
              </span>
            </p>
          </div>

          <div class="swiper-slide">
            <a href="http://tastyzine.co.kr">
              <img src="/assets/imgs/round/5/about/history/12월.png" alt="#" title="#">
            </a>
            <p class="text kr">
              <b>펑펑 내리는 눈, 그 속의 겨울</b><br>

              <span>
                <span>동화 속 나라에 온 듯 아름다운 겨울</span>
                <br>
                <span>꽁꽁 언 마음을 녹여줄 따뜻한 맛zine 속으로</span>
                
              </span>
            </p>
          </div>

          <div class="swiper-slide">
            <a href="http://tastyzine.co.kr/main/index/1">
              <img src="/assets/imgs/round/5/about/history/4월.png" alt="#" title="#">
            </a>
            <p class="text kr small">
              <b>세상에서 가장 맛있는 매거진 ‘맛진’</b><br>

              <span>
                <span>롯데GRS만의 맛있는 이야기로 가득 채운 사내웹진 맛진,</span>
                <br>
                <span>최신 트렌드부터 롯데GRS의 다양한 소식이 두 달에 한 번씩 여러분을 찾아갑니다.</span>
                
              </span>
            </p>
          </div>

          <div class="swiper-slide">
            <a href="http://tastyzine.co.kr/main/index/2">
              <img src="/assets/imgs/round/5/about/history/6월.png" alt="#" title="#">
            </a>
            <p class="text kr">
              <b>아직 어린, 어른이</b><br>

              <span>
                <span>바쁘게 살아가는 현대인들에게</span>
                <br>
                <span>잠깐의 휴식과 여유로움,</span>
                <br>
                <span>그리고 즐거움을 주기 위해</span>
                <br>
                <span>잠시 동심으로 돌아가보는 시간을 선사합니다!</span>
                
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    AOS.init();

    const swiper = new Swiper('.historySlider', {
      loop: true,
      centeredSlides: true,

      navigation: {
        nextEl: '.controller .next',
        prevEl: '.controller .prev',
      },

      breakpoints: {
        1081: {
          slidesPerView: 3,
          spaceBetween: 100,
        },

        320: {
          slidesPerView: 1.6,
          spaceBetween: 10,
          slidesOffsetBefore: 0,
          centeredSlides: true,
        }
      }
    });

    swiper.slideNext();

    if (window.innerWidth > 1080) {
      swiper.on('slideChange', (v) => {
        $('.historySlider .swiper-slide')
          .removeClass('active')
          .eq(v.realIndex)
          .addClass('active');
      })
    }

    $('.now_slide').html(new Array(5000).fill().map(_ => "<p>ABOUT</p>"))
  </script>