// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// 모바일 퍼스트로 제작된 프로젝트입니다.
// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★

.galaxy_book4_edge_alarm {
    .sec_benefit {
        @include vw-mo(padding, 96 0 103);

        .pt_benefit {
            &__title {
                @include vw-mo(margin-bottom, 22); text-align: center;

                &--eyebrow {@include vw-mo(border-bottom, 6); @include vw-mo(font-size, 30); @include vw-mo(line-height, 38); font-weight: 700;}
                &--main {@include vw-mo(font-size, 48); @include vw-mo(line-height, 60); font-weight: 700; letter-spacing: -0.025em;}
            }

            &__tab {
                display: flex; justify-content: center; align-items: center; @include vw-mo(width, 672); @include vw-mo(height, 98); @include vw-mo(gap, 24); @include vw-mo(margin, 0 auto);

                &--btn {
                    display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; border: 1px solid #E5E5E5; @include vw-mo(border-radius, 10);


                    .pt_benefit__tab--txt {
                        @include vw-mo(font-size, 24); @include vw-mo(line-height, 30); font-weight: 700; letter-spacing: -0.025em;

                        &.txt01 {
                            &::before {display: block; content: ''; @include vw-mo(width, 40); @include vw-mo(height, 40); margin: 0 auto; background: url('../../../is/images/alarm/tab/gbe_icon_tab01_mo.png') no-repeat; @include vw-mo(background-size, 40 40);}
                        }

                        &.txt02 {
                            &::before {display: block; content: ''; @include vw-mo(width, 40); @include vw-mo(height, 40); margin: 0 auto; background: url('../../../is/images/alarm/tab/gbe_icon_tab01_mo.png') no-repeat; @include vw-mo(background-size, 40 40);}
                        }
                    }

                    &.active {
                        background-color: #333; border: 1px solid #333;

                        .pt_benefit__tab--txt {color: #fff;}
                    }
                }
            }

            &__content{
                @include vw-mo(width, 672); @include vw-mo(margin, 0 auto);
                
                .pt_benefit__box {
                    .pt_benefit__insta {
                        position: relative;

                        &--num {position: absolute; @include vw-mo(top, 18); @include vw-mo(left, 18); @include vw-mo(width, 32); @include vw-mo(height, 32); background-color: #000; border-radius: 50%; color: #fff; @include vw-mo(font-size, 20); @include vw-mo(line-height, 32); font-weight: 700; text-align: center;}
                        &--title {z-index: 1; position: absolute; @include vw-mo(top, 44); left: 50%; transform: translateX(-50%); width: 100%; @include vw-mo(font-size, 36); @include vw-mo(line-height, 38); font-weight: 700; text-align: center; letter-spacing: -0.05em;}

                        .pt_benefit__mission {
                            z-index: 1; position: absolute; @include vw-mo(top, 443); left: 50%; transform: translateX(-50%); display: flex; justify-content: space-between; @include vw-mo(width, 622); @include vw-mo(height, 194);

                            &--item {@include vw-mo(width, 300); @include vw-mo(height, 194); @include vw-mo(padding, 30 26); background-color: #fff; @include vw-mo(border-radius, 10); border: 1px solid #ddd; text-align: center;}
                            &--tag {display: inline-block; @include vw-mo(width, 92); @include vw-mo(height, 38); @include vw-mo(margin-bottom, 17); background-color: #333; @include vw-mo(border-radius, 6); color: #fff; @include vw-mo(font-size, 24); @include vw-mo(line-height, 38); font-weight: 700; letter-spacing: -0.03em; text-align: center;}
                            &--title {@include vw-mo(font-size, 28); @include vw-mo(line-height, 40); font-weight: 700; letter-spacing: -0.03em;}
                        }

                        &--desc {z-index: 1; position: absolute; @include vw-mo(top, 667); left: 50%; transform: translateX(-50%); width: 100%; color: #666; @include vw-mo(font-size, 22); @include vw-mo(line-height, 32); letter-spacing: -0.03em; text-align: center;}
                    }

                    .pt_benefit__list {
                        display: flex; flex-wrap: wrap;

                        .pt_benefit__item {
                            position: relative; display: flex; align-items: center; width: 100%; @include vw-mo(height, 160); @include vw-mo(margin-top, 24); @include vw-mo(padding-left, 24);

                            &--num {position: absolute; @include vw-mo(top, 18); @include vw-mo(left, 18); @include vw-mo(width, 32); @include vw-mo(height, 32); background-color: #000; border-radius: 50%; color: #fff; @include vw-mo(font-size, 20); @include vw-mo(line-height, 32); font-weight: 700; text-align: center;}
                            &.pt_benefit__item--single02 {@include vw-mo(height, 226);}
                            &.pt_benefit__item--single06 {@include vw-mo(height, 197);}

                            &--img {z-index: -1; position: absolute; @include vw-mo(top, 1); @include vw-mo(left, 1); width: 100%; height: 100%;}

                            .pt_benefit__txt {
                                z-index: 1;

                                &--eyebrow {@include vw-mo(margin-bottom, 6); color: #2294EF; @include vw-mo(font-size, 24); @include vw-mo(line-height, 34); font-weight: 700; letter-spacing: -0.07em;}
                                &--title {@include vw-mo(font-size, 28); @include vw-mo(line-height, 36); font-weight: 700; letter-spacing: -0.05em;}
                                &--blue {color: #2294EF;}

                                .pt_benefit__btn {
                                    &--detail {display: inline-block; @include vw-mo(margin-top, 13); border-bottom: 1px solid #000; @include vw-mo(font-size, 24); @include vw-mo(line-height, 32); font-weight: 700; letter-spacing: -0.025em;}
                                    &--more {
                                        display: inline-block; @include vw-mo(margin-top, 6); @include vw-mo(font-size, 22); @include vw-mo(line-height, 22); font-weight: 700; letter-spacing: -0.05em;

                                        &::after {display: inline-block; content: ''; @include vw-mo(width, 21); @include vw-mo(height, 21); @include vw-mo(margin-left, 3); background: url('../../../is/images/alarm/common/gbe_icon_more_mo.png') no-repeat; @include vw-mo(background-size, 21 21); vertical-align: middle;}
                                    }
                                }

                                .pt_benefit__txt--desc {
                                    &.single01 {@include vw-mo(margin-top, 15);}
                                    &.single02 {@include vw-mo(margin-top, 19);}
                                    &.single06 {@include vw-mo(margin-top, 15);}
                                    &.common02 {@include vw-mo(margin-top, 11);}

                                    li {color: #666; @include vw-mo(font-size, 20); @include vw-mo(line-height, 26); letter-spacing: -0.08em;}
                                }
                            }
                            
                        }
                    }

                    .pt_benefit__notice {
                        @include vw-mo(margin-top, 45); text-align: center;

                        &--btn-detail {display: block; @include vw-mo(width, 244); @include vw-mo(height, 60); @include vw-mo(margin, 0 auto 29); @include vw-mo(font-size, 24); @include vw-mo(line-height, 56); font-weight: 700; letter-spacing: -0.025em; text-align: center;}

                        &--btn-notice {
                            display: inline-block; border-bottom: 1px solid #000; @include vw-mo(font-size, 24); @include vw-mo(line-height, 32); font-weight: 700; letter-spacing: -0.025em;

                            &::after {display: inline-block; content: ''; @include vw-mo(width, 19); @include vw-mo(height, 12); @include vw-mo(margin-left, 10); background: url('../../../is/images/alarm/common/gbe_icon_benefit_mo.png') no-repeat; @include vw-mo(background-size, 19 12); vertical-align: middle;}
                        }
                    }
                }
            }
        }
    }
}

// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// 모바일 퍼스트로 제작된 프로젝트입니다.
// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★

@media screen and (min-width:769px) {
    .galaxy_book4_edge_alarm {
        .sec_benefit {
            @include vw-pc(padding, 116 0 120);
    
            .pt_benefit {
                &__title {
                    @include vw-pc(margin-bottom, 46); text-align: center;
    
                    &--eyebrow {@include vw-pc(border-bottom, 6); @include vw-pc(font-size, 28); @include vw-pc(line-height, 35); font-weight: 700;}
                    &--main {@include vw-pc(font-size, 46); @include vw-pc(line-height, 60); font-weight: 700; letter-spacing: -0.025em;}
                }
    
                &__tab {
                    display: flex; justify-content: center; align-items: center; @include vw-pc(width, 1320); @include vw-pc(height, 100); @include vw-pc(gap, 24); @include vw-mo(margin, 0 auto);
    
                    &--btn {
                        display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; border: 1px solid #E2E2E2; @include vw-pc(border-radius, 10);
    
    
                        .pt_benefit__tab--txt {
                            @include vw-pc(font-size, 24); @include vw-pc(line-height, 56); font-weight: 700; letter-spacing: -0.025em;
    
                            &.txt01 {
                                &::before {display: inline-block; content: ''; @include vw-pc(width, 56); @include vw-pc(height, 56); margin: 0 auto; background: url('../../../is/images/alarm/tab/gbe_icon_tab01_pc.png') no-repeat; @include vw-pc(background-size, 56 56); vertical-align: top;}
                            }
    
                            &.txt02 {
                                &::before {display: inline-block; content: ''; @include vw-pc(width, 56); @include vw-pc(height, 56); margin: 0 auto; background: url('../../../is/images/alarm/tab/gbe_icon_tab02_pc.png') no-repeat; @include vw-pc(background-size, 56 56); vertical-align: top;}
                            }
                        }
    
                        &.active {
                            background-color: #333; border: 1px solid #333;
    
                            .pt_benefit__tab--txt {color: #fff;}
                        }
                    }
                }
    
                &__content{
                    @include vw-pc(width, 1320); @include vw-pc(margin, 30 auto 0);
                    
                    .pt_benefit__box {
                        .pt_benefit__insta {
                            position: relative;

                            &--num {position: absolute; @include vw-pc(top, 18); @include vw-pc(left, 20); @include vw-pc(width, 25); @include vw-pc(height, 25); background-color: #000; border-radius: 50%; color: #fff; @include vw-pc(font-size, 14); @include vw-pc(line-height, 25); font-weight: 700; text-align: center;}    
                            &--title {z-index: 1; position: absolute; @include vw-pc(top, 79); @include vw-pc(left, 56); transform: none; width: auto; @include vw-pc(font-size, 24); @include vw-pc(line-height, 38); font-weight: 700; text-align: center; letter-spacing: -0.05em;}
    
                            .pt_benefit__mission {
                                z-index: 1; position: absolute; @include vw-pc(top, 41); @include vw-pc(left, 382); transform: none; display: flex; justify-content: space-between; @include vw-pc(width, 556); @include vw-pc(height, 134);

                                &--item {@include vw-pc(width, 268); @include vw-pc(height, 134); @include vw-pc(padding, 25 54); background-color: #fff; @include vw-pc(border-radius, 10); border: 1px solid #ddd; text-align: center;}
                                &--tag {display: inline-block; @include vw-pc(width, 66); @include vw-pc(height, 24); @include vw-pc(margin-bottom, 9); background-color: #333; @include vw-pc(border-radius, 4); color: #fff; @include vw-pc(font-size, 16); @include vw-pc(line-height, 24); font-weight: 700; letter-spacing: -0.03em; text-align: center;}
                                &--title {@include vw-pc(font-size, 18); @include vw-pc(line-height, 26); font-weight: 700; letter-spacing: -0.03em;}
                            }
    
                            &--desc {z-index: 1; position: absolute; @include vw-pc(top, 121); @include vw-pc(left, 56); transform: none; width: auto; color: #666; @include vw-pc(font-size, 14); @include vw-pc(line-height, 17); letter-spacing: -0.03em; text-align: left;}
                        }
    
                        .pt_benefit__list {
                            display: flex; flex-wrap: wrap; @include vw-pc(width, 1320); margin: 0 auto;
    
                            .pt_benefit__item {
                                position: relative; display: flex; align-items: center; @include vw-pc(width, 648); @include vw-pc(height, 174); @include vw-pc(margin-top, 24); @include vw-pc(padding-left, 56); @include vw-pc(border-radius, 15);
    
                                &--num {position: absolute; @include vw-pc(top, 18); @include vw-pc(left, 20); @include vw-pc(width, 25); @include vw-pc(height, 25); background-color: #000; border-radius: 50%; color: #fff; @include vw-pc(font-size, 14); @include vw-pc(line-height, 25); font-weight: 700; text-align: center;}

                                &.pt_benefit__item--single02 {@include vw-pc(height, 174); @include vw-pc(padding-top, 20);}
                                &.pt_benefit__item--single06 {@include vw-pc(height, 174);}
                                &:nth-child(odd) {@include vw-pc(margin-right, 24);}
    
                                &--img {z-index: -1; position: absolute; @include vw-pc(top, 1); @include vw-pc(left, 1); width: 100%; height: 100%;}
    
                                .pt_benefit__txt {
                                    z-index: 1;
    
                                    &--eyebrow {@include vw-pc(margin-bottom, 6); color: #2294EF; @include vw-pc(font-size, 16); @include vw-pc(line-height, 22); font-weight: 700; letter-spacing: -0.07em;}
                                    &--title {@include vw-pc(font-size, 24); @include vw-pc(line-height, 30); font-weight: 700; letter-spacing: -0.025em;}
                                    &--blue {color: #2294EF;}
    
                                    .pt_benefit__btn {
                                        &--detail {display: inline-block; @include vw-pc(margin-top, 5); border-bottom: 1px solid #000; @include vw-pc(border-width, 2); @include vw-pc(font-size, 14); @include vw-pc(line-height, 20); font-weight: 700; letter-spacing: 0;}
                                        &--more {
                                            display: inline-block; @include vw-pc(margin-top, 11); @include vw-pc(font-size, 16); @include vw-pc(line-height, 22); font-weight: 700; letter-spacing: -0.05em;
    
                                            &::after {display: inline-block; content: ''; @include vw-pc(width, 14); @include vw-pc(height, 14); @include vw-pc(margin-top, -3); @include vw-pc(margin-left, 7); background: url('../../../is/images/alarm/common/gbe_icon_more_pc.png') no-repeat; @include vw-pc(background-size, 14 14); vertical-align: middle;}
                                        }
                                    }
    
                                    .pt_benefit__txt--desc {
                                        &.single01 {@include vw-pc(margin-top, 19);}
                                        &.single02 {@include vw-pc(margin-top, 13);}
                                        &.single06 {@include vw-pc(margin-top, 10);}
                                        &.common02 {@include vw-pc(margin-top, 9);}
    
                                        li {color: #666; @include vw-pc(font-size, 14); @include vw-pc(line-height, 20); letter-spacing: -0.05em;}
                                    }
                                }
                                
                            }
                        }
    
                        .pt_benefit__notice {
                            @include vw-pc(margin-top, 60); text-align: center;
    
                            &--btn-detail {display: block; @include vw-pc(width, 146); @include vw-pc(height, 42); @include vw-pc(margin, 0 auto 30); @include vw-pc(font-size, 16); @include vw-pc(line-height, 40); font-weight: 700; letter-spacing: -0.025em; text-align: center;}
    
                            &--btn-notice {
                                display: inline-block; border-bottom: 1px solid #000; @include vw-pc(border-width, 2); @include vw-pc(font-size, 16); @include vw-pc(line-height, 22); font-weight: 700; letter-spacing: 0;
    
                                &::after {display: inline-block; content: ''; @include vw-pc(width, 16); @include vw-pc(height, 16); @include vw-pc(margin-left, 3); background: url('../../../is/images/alarm/common/gbe_icon_benefit_pc.png') no-repeat; @include vw-pc(background-size, 16 16); vertical-align: middle;}
                            }
                        }
                    }
                }
            }
        }
    }
}

// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// 모바일 퍼스트로 제작된 프로젝트입니다.
// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★