<link rel="stylesheet" href="/assets/css/6/event.css" />

<div class="event">
  <div data-aos="fade">
    <img src="/assets/imgs/round/6/event/pc_banner.png" alt="event" title="event" class="pc_banner" />
    <img src="/assets/imgs/round/6/event/mo_banner.png" alt="event" title="event" class="mo_banner" />
  </div>

  <div class="event_content">
    <div class="title kr">
      <div>검은 토끼의 해를 맞아,</div>
      <div>맛진에 토끼 친구들이 놀러왔어요</div>
    </div>

    <div class="contents_area">
      <div class="top">
        <p class="kr">
          이곳저곳 숨어있는 장난꾸러기 토끼 친구들을 찾아주세요🐰
        </p>
      </div>
      <div class="rabbit_wrapper">
        <div class="item">
          <div>
            <div>STEP. 1</div>
            <div>
              장난꾸러기 <span>흑토끼 삼총사</span>를 찾아<br /><span>질문에 답변</span>을 달아주세요!
            </div>
          </div>
          <div class="rabbit">
            <img src="/assets/imgs/round/6/event/rabbit1.png" />
          </div>
          <div class="circle"></div>
        </div>
        <div class="item">
          <div>
            <div>STEP. 2</div>
            <div>
              장난꾸러기 삼총사들은<br /><span>POST</span>와
              <span>NEWS</span> 페이지<br />곳곳에 숨어있어요!
            </div>
          </div>
          <div class="rabbit">
            <img src="/assets/imgs/round/6/event/rabbit2.png" />
          </div>
          <div class="circle"></div>
        </div>
        <div class="item">
          <div>
            <div>STEP. 3</div>
            <div>
              흑토끼 삼총사 중 <span>한마리</span>만 찾아도<br /><span>총 20인</span>에게 <span>댓글 추첨</span>을 통해<br /><span>특별한 선물</span>을
              드립니다!
            </div>
          </div>
          <div class="rabbit">
            <img src="/assets/imgs/round/6/event/rabbit3.png" />
          </div>
          <div class="circle"></div>
        </div>
      </div>

      <div class="rabbit_wrapper_mo">
        <div>
          <div>
            <div>STEP. 1</div>
            <div>
              장난꾸러기 <span>흑토끼 삼총사</span>를 찾아<br /><span>질문에 답변</span>을 달아주세요!
            </div>
          </div>
          <div>
            <div>STEP. 2</div>
            <div>
              장난꾸러기 삼총사들은<br /><span>POST</span>와
              <span>NEWS</span> 페이지<br />곳곳에 숨어있어요!
            </div>
          </div>
          <div>
            <div>STEP. 3</div>
            <div>
              흑토끼 삼총사 중 <span>한마리</span>만 찾아도<br /><span>총 20인</span>에게 <span>댓글 추첨</span>을 통해<br /><span>특별한 선물</span>을
              드립니다!
            </div>
          </div>
        </div>

        <div class="rabbits">
          <img class="first" src="/assets/imgs/round/6/event/rabbit1.png" />
          <img class="second" src="/assets/imgs/round/6/event/rabbit2.png" />
          <img class="third" src="/assets/imgs/round/6/event/rabbit3.png" />
        </div>

        <div class="circle"></div>
        <div>
          <div class="explain text">
            <div>
              <span>TIP</span>. 삼총사는 <span>서로 다른 페이지</span>에
              숨어있어요
            </div>
            <div>
              ※흑토끼 삼총사의 <span>질문 답변</span>을 <span>댓글</span>에
              달아주세요
            </div>
          </div>
        </div>
      </div>
      <div class="goods_wrapper goods_wrapper_pc">
        <div>✨흑토끼 삼총사가 주는 선물✨</div>
        <div>당첨 인원 : 총 20인 (각 10인)</div>

        <div>
          <div>
            <div>10명</div>
            <img class="first" src="/assets/imgs/round/6/event/bag2.png" />
            <img class="second" src="/assets/imgs/round/6/event/bag1.png" />
            <div>코베아 엔제리너스 하드 캐리 백 + 침낭 세트</div>
          </div>

          <div>
            <div>10명</div>
            <img class="third" src="/assets/imgs/round/6/event/iphone1.png" />
            <img class="fourth" src="/assets/imgs/round/6/event/iphone2.png" />
            <div>케이스티파이 휴대폰 케이스</div>
            <div>※커스텀 제외, 기종별 케이스 선택 가능</div>
          </div>
        </div>

        <div>※경품은 두가지 중 선택이 불가하며, 랜덤 증정됩니다.</div>
      </div>

      <div class="goods_wrapper goods_wrapper_mo">
        <div>✨흑토끼 삼총사가 주는 선물✨</div>
        <div>당첨 인원 : 총 20인 (각 10인)</div>

        <div>
          <div>
            <div>10명</div>
            <img class="first" src="/assets/imgs/round/6/event/bag2.png" />
            <img class="second" src="/assets/imgs/round/6/event/bag1.png" />
            <div>코베아 엔제리너스<br />하드 캐리 백 + 침낭 세트</div>
          </div>

          <div>
            <div>10명</div>
            <img class="third" src="/assets/imgs/round/6/event/iphone1.png" />
            <img class="fourth" src="/assets/imgs/round/6/event/iphone2.png" />
            <div>케이스티파이 휴대폰 케이스</div>
            <div>※커스텀 제외,<br />기종별 케이스 선택 가능</div>
          </div>
        </div>

        <div>※경품은 두가지 중 선택이 불가하며, 랜덤 증정됩니다.</div>
      </div>

      <div class="info_wrapper">
        <div class="info_title">
          <div>안내사항</div>
          <!-- 접기(위 화살표) -->
          <div class="toggle_control pc_hide" style="display: none">
            <img src="/assets/imgs/icon/top.svg" />
          </div>
          <!-- 펼치기(아래 화살표) -->
          <div class="toggle_control pc_hide">
            <img src="/assets/imgs/icon/bottom.svg" />
          </div>
        </div>
        <div class="info_content">
          <div>
            - 5만원 초과의 경품 당첨 시, 제세공과금(22%)은 당첨자
            부담입니다.
          </div>
          <div>
            - 이벤트 참여 시, 개인정보 오기재으로 인한 당첨자 누락은
            책임지지 않습니다.
          </div>
          <div>
            - 당첨자 안내 및 경품 발송은 개별 연락처로 안내해 드립니다.
          </div>
          <div>
            - 본 이벤트의 경품 제공을 목적으로 개인 정보를 요구할 수
            있습니다.
          </div>
          <div>
            - 당첨자 안내 개별 메시지 발송일 이후 14일 이내에 경품 수령 의사
            및 개인 정보 회신이 없을 시, 자동으로 당첨자 대상에서 제외될 수
            있습니다.
          </div>
          <div>
            - 이벤트 경품 수령을 위한 개인정보 회신 확인 후 순차적으로
            경품을 발송해드립니다.
          </div>
          <div>
            - 수집된 개인정보는 이벤트 안내 및 경품 증정 이외에는 사용되지
            않습니다.
          </div>
          <div style="padding-bottom: 34px">
            - 경품은 이벤트 참여 시 작성해주신 개인 정보로만 발송 가능하며,
            다른 이름, 연락처, 주소 등으로 변경하여 수령하는 것은
            불가합니다.
          </div>
        </div>
      </div>

      <div class="comment_area">
        <div class="line"></div>

        <div class="comment_title kr wrap">
          <h2>댓글</h2>
          <p>
            <a href="javascript:likesort()"><span class="likesort">추천순</span></a>
            |
            <a href="javascript:newsort()"><span class="newsort">최신순</span></a>
          </p>
        </div>

        <div class="line"></div>

        <div class="comment_list wrap" id="list">
          <ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal">
  <div class="popup event_popup_1 kr">
    <div class="p_con">
      <div class="popup_top">
        <div>롯데GRS</div>
        <div>개인정보 활용 동의서</div>
        <div>
          ※ 본 이벤트는 롯데GRS 임직원 및 점주 한정 참여 가능합니다.
        </div>
      </div>

      <div class="popup_content">
        <div class="check_all flex aic check_box allCheck">
          <!-- <label class="checkbox" for="N_big"> -->
          <input type="checkbox" id="N_big" hidden />
          <span class="checkbox_icon"></span>
          <span class="checkbox_text check_all_t">전체 동의하기</span>
          <!-- </label> -->
        </div>
        <p class="check_info">
          롯데GRS 사내웹진 ‘맛ZINE’ 이벤트 당첨안내 및 배송 관련 다양한
          서비스 제공을 위해 개인 정보 수집, 이용에 관하여 관계법령에
          의거하여 고지하오니, 동의해 주시기 바랍니다.
        </p>

        <div class="line"></div>

        <div class="check_detail">
          <b>맛진 동의 항목</b>

          <div class="check_list">
            <div class="check_box flex aic jcsb">
              <div class="checkbox flex aic minCheck">
                <input id="N_one" type="checkbox" hidden />
                <span class="checkbox_icon"></span>
                <span class="checkbox_text">[필수] 개인정보 수집 및 이용 동의</span>
              </div>

              <div class="arrow_btn p_modal_2_open">&gt;</div>
            </div>

            <div class="check_under_list">
              <div class="check_box">
                <div class="checkbox flex aic">
                  <input type="checkbox" />
                  <span class="checkbox_icon"></span>
                  <span class="checkbox_text">성명</span>
                </div>
              </div>
              <div class="check_box">
                <div class="checkbox flex aic">
                  <input type="checkbox" />
                  <span class="checkbox_icon"></span>
                  <span class="checkbox_text">부서/지점명</span>
                </div>
              </div>
              <div class="check_box">
                <div class="checkbox flex aic">
                  <input type="checkbox" />
                  <span class="checkbox_icon"></span>
                  <span class="checkbox_text">연락처</span>
                </div>
              </div>
            </div>

            <div class="check_box flex aic jcsb">
              <div class="checkbox min_check_2 flex aic">
                <input type="checkbox" />
                <span class="checkbox_icon"></span>
                <span class="checkbox_text">[필수] 개인정보의 취급 위탁 동의</span>
              </div>

              <div class="arrow_btn p_modal_3_open">&gt;</div>
            </div>
          </div>

          <p class="kr warn">
            ※ 개인정보 동의를 거부할 권리가 있으나, 거부할 경우 서비스
            이용이 제한됩니다.
          </p>
        </div>
      </div>
    </div>
    <div class="popup_close">X</div>
    <div class="button p_btn p_btn_1">동의하고 계속하기</div>
  </div>
  <div class="popup event_popup_2 kr">
    <div class="p_con">
      <div class="popup_top">
        <p>롯데GRS</p>
        <h2>개인정보 수집 및 이용 동의</h2>
        <p>※ 본 이벤트는 롯데GRS 임직원 및 점주 한정 참여 가능합니다.</p>
      </div>

      <div class="popup_content">
        <p class="check_info">
          롯데GRS 사내웹진 ‘맛ZINE’ 이벤트 당첨안내 및 배송 관련 다양한
          서비스 제공을 위해 <br />
          개인 정보 수집, 이용에 관하여 관계법령에 의거하여 고지하오니,
          동의해 주시기 바랍니다.
        </p>

        <div class="info_box_pop">
          <div class="info_intro_item">
            <h3>1) 개인정보 수집 및 이용 동의</h3>
            <p>롯데GRS 사내웹진 이벤트</p>
          </div>
          <div class="info_intro_item">
            <h3>2) 수집하는 개인정보의 항목</h3>
            <p>이름, 부서/지점명, 연락처 등 경품 수령을 위한 개인정보</p>
          </div>
          <div class="info_intro_item">
            <h3>3) 개인정보 보유 및 이용기간</h3>
            <p>수집일로부터 6개월</p>
          </div>
        </div>
        <p class="kr warn">
          ※ 개인정보 동의를 거부할 권리가 있으나, 거부할 경우 서비스 이용이
          제한됩니다.
        </p>
      </div>
    </div>
    <div class="popup_close">X</div>
    <div class="button p_btn p_btn_2">확인</div>
  </div>
  <div class="popup event_popup_3 kr">
    <div class="p_con">
      <div class="popup_top">
        <p>롯데GRS</p>
        <h2>개인정보의 취급 위탁 동의</h2>
        <p>※ 본 이벤트는 롯데GRS 임직원 및 점주 한정 참여 가능합니다.</p>
      </div>

      <div class="popup_content">
        <p class="check_info">
          롯데GRS 사내웹진 ‘맛ZINE’ 이벤트 당첨안내 및 배송 관련 다양한
          서비스 제공을 위해 <br />
          개인 정보 수집, 이용에 관하여 관계법령에 의거하여 고지하오니,
          동의해 주시기 바랍니다.
        </p>

        <div class="info_box_pop">
          <p>
            롯데GRS는 서비스 향상을 위해서 아래와 같이 개인정보를 위탁하고
            있으며, 관계 법령에 의거 위탁계약 시 개인정보가 안전하게 관리될
            수 있도록 필요한 사항을 규정합니다.
          </p>

          <div class="info_back_item">
            <h3>1) 업무내용 : 서비스 운영, 이벤트 경품 배송, 고객지원</h3>
            <h3>2) 수탁업체 : (주)스카이벤처스</h3>
          </div>
        </div>
        <p class="kr warn">
          ※ 개인정보 동의를 거부할 권리가 있으나, 거부할 경우 서비스 이용이
          제한됩니다.
        </p>
      </div>
    </div>
    <div class="popup_close">X</div>
    <div class="button p_btn p_btn_3">확인</div>
  </div>
  <div class="popup event_popup_4 kr">
    <div class="p_con">
      <div class="popup_top">
        <p>이달의 이벤트</p>
        <h2>산타의 선물 컬렉션</h2>
      </div>

      <div class="popup_content">
        <form class="event_form kr" id="event_form">
          <!-- 이건 실서버에 반영할때 아래 input으로 변경 -->

          <!-- 개발용 실서버 반영할때 아래 input 두개 지우고 위에 input으로 변경 -->
          <input type="hidden" name="round" value="6" id="round" />
          <input type="hidden" name="index" value="1" id="index" />

          <div>
            <div>
              <input type="text" placeholder="닉네임을 입력해주세요." name="user_nickname" id="user_nickname" />
              <p>※ 댓글에 노출되는 닉네임입니다.</p>
            </div>
            <div>
              <input type="text" placeholder="이름을 입력해주세요." name="user_name" id="user_name" />
            </div>
          </div>
          <div>
            <div>
              <input type="text" placeholder="부서/지점명을 입력해주세요." name="department" id="department" />
            </div>
            <div>
              <input type="text" placeholder="휴대폰 번호를 입력해주세요." name="user_hp" id="user_hp" />
            </div>
          </div>
          <div>
            <textarea cols="10" rows="10" placeholder="댓글을 입력해주세요" name="text" id="text"
              style="resize: none"></textarea>
          </div>
          <div class="form_photo_div" style="display: none">
            <p>프로필사진첨부</p>
            <span style="display: flex">
              <span class="images"></span>
              <label class="photo_label">
                <img src="/assets/imgs/round/5/event/camera.svg" alt="#" title="#" />
                <input type="file" hidden />
              </label>
            </span>
          </div>
        </form>
      </div>
      <div class="popup_close">X</div>

      <p class="kr warn">
        ※ 개인정보 동의를 거부할 권리가 있으나, 거부할 경우 서비스 이용이
        제한됩니다.
      </p>
      <div class="button p_btn p_btn_4">이벤트 응모하기</div>
    </div>
  </div>
  <div class="popup event_popup_5 kr">
    <div class="pop_top">
      <p class="en">NOTICE</p>
    </div>
    <div class="p_con">
      <h2>산타 선물 컬렉션</h2>
      <p>이벤트 응모 완료되었습니다!</p>
    </div>
    <div class="popup_close">X</div>
  </div>

  <div class="comment_image_popup popup">
    <div class="image_slide swiper">
      <div class="swiper-wrapper slide">
        <div class="swiper-slide popup_image">
          <img src="/assets/imgs/round/5/event/1.png" alt="#" title="#" />
        </div>
        <div class="swiper-slide popup_image">
          <img src="/assets/imgs/round/5/event/1.png" alt="#" title="#" />
        </div>
        <div class="swiper-slide popup_image">
          <img src="/assets/imgs/round/5/event/1.png" alt="#" title="#" />
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="popup_close">X</div>
  </div>
</div>

<script>
  AOS.init();

  var ignore_seq = [];
  var isFetching = false;
  var order = 1;

  $(document).ready(function () {
    likesort();
  });

  const pop = localStorage.getItem("pop");

  if (pop) {
    localStorage.removeItem("pop");
    $(`.modal`).css({
      visibility: "visible",
      "pointer-events": "inherit",
    });
    $(`.event_popup_1`).css("display", "block");
  }

  const swiper = new Swiper(".swiper", {
    loop: false,
    centeredSlides: true,
    pagination: {
      el: ".swiper-pagination",
      type: "bullets",
    },

    navigation: {
      nextEl: ".controller .next",
      prevEl: ".controller .prev",
    },

    breakpoints: {
      1081: {
        slidesPerView: 1,
        spaceBetween: 0,
      },

      320: {
        slidesPerView: 1,
        spaceBetween: 0,
        slidesOffsetBefore: 0,
        centeredSlides: true,
      },
    },
  });

  $(() => {
    let isAll = false;
    let debug = false;
    let idx1 = false;
    let idx2 = false;
    let isMinCheck = [];
    let isAllCheck = [];

    $(".check_box")
      .off()
      .on("click", (e) => {
        isMinCheck = [];
        isAllCheck = [];

        const now = $(e.currentTarget).find("input").prop("checked");

        $(e.currentTarget).find("input").prop("checked", !now);

        $(
          `.checkbox:not(.allCheck):not(.minCheck):not(.min_check_2) input`
        ).each((i, v) => {
          isMinCheck.push($(v).prop("checked"));
        });

        $(`.checkbox:not(.allCheck) input`).each((i, v) => {
          isAllCheck.push($(v).prop("checked"));
        });

        if (!isMinCheck.includes(false)) {
          $(`.minCheck input`).prop("checked", true);
        } else {
          $(`.minCheck input`).prop("checked", false);
        }

        if (!isAllCheck.includes(false)) {
          isAll = true;
          $(`#N_big`).prop("checked", isAll);
        } else {
          isAll = false;
          $(`#N_big`).prop("checked", isAll);
        }
      });

    $(".allCheck")
      .off()
      .on("click", () => {
        if (debug) {
          return;
        }

        debug = true;
        isAll = !isAll;

        $(`#N_big`).prop("checked", isAll);

        $("input").each((i, v) => {
          $(v).prop("checked", isAll);
        });

        setTimeout(() => {
          debug = false;
        }, 0);
      });

    $(".minCheck")
      .off()
      .on("click", () => {
        if (idx2) {
          return;
        }

        idx2 = true;
        idx1 = !idx1;

        $(`#N_one`).prop("checked", idx1);

        $(".check_under_list input").each((i, v) => {
          $(v).prop("checked", idx1);
        });

        setTimeout(() => {
          idx2 = false;
        }, 0);
      });
  });

  let files = [];

  $("input[type=file]").on("change", function (e) {
    if (files.length >= 2) {
      return alert("최대 2장까지만 가능합니다.");
    }

    const file = e.target.files[0];
    files.push(file);

    $(".images").html(
      files.map((v) => `<img src="${URL.createObjectURL(v)}" />`).join("")
    );
  });

  $(document)
    .on(`click`, ".p_btn_1", () => {
      if (!$(`.allCheck input`).prop("checked")) {
        alert("모든 항목에 동의해주세요.");
        return;
      }

      $(`.event_popup_1`).css("display", "none");
      $(`.event_popup_4`).css("display", "block");
    })
    .on(`click`, ".p_btn_2", () => {
      $(`.event_popup_2`).css("display", "none");
    })
    .on(`click`, ".p_btn_3", () => {
      $(`.event_popup_3`).css("display", "none");
    })
    .on(`click`, ".p_btn_4", () => {
      submit();
    })
    .on(`click`, ".p_modal_2_open", () => {
      $(`.event_popup_2`).css("display", "block");
    })
    .on(`click`, ".p_modal_3_open", () => {
      $(`.event_popup_3`).css("display", "block");
    })
    .on(`click`, ".popup_close", () => {
      $(`.modal`).css({
        visibility: "hidden",
        "pointer-events": "none",
      });
      $(`.popup, .event_popup_5`).css("display", "none");
    })
    .on(`click`, ".event_popup_on", () => {
      $(`.modal`).css({
        visibility: "visible",
        "pointer-events": "inherit",
      });
      $(`.event_popup_1`).css("display", "block");
    })
    .on(`click`, ".comment_image", () => {
      $(`.modal`).css({
        visibility: "visible",
        "pointer-events": "inherit",
      });
      $(`.comment_image_popup`).css("display", "block");
    });

  const submit = () => {
    if ($("#user_nickname").val() == "") {
      alert("닉네임을 입력해주세요.");
      $("#user_nickname").focus();
      return false;
    }

    if ($("#user_name").val() == "") {
      alert("이름을 입력해주세요.");
      $("#user_name").focus();
      return false;
    }

    if ($("#department").val() == "") {
      alert("부서/지점명을 입력해주세요.");
      $("#department").focus();
      return false;
    }

    var regPhone = /^01([0|1|6|7|8|9])-?([0-9]{3,4})-?([0-9]{4})$/;
    var hp = $("#user_hp").val().replace(/-/gi, "");
    if (regPhone.test(hp) === false) {
      alert("휴대번호를 정확하게 입력해주세요.");
      $("#user_hp").focus();
      return false;
    }

    if ($("#text").val().length < 5) {
      alert("댓글을 최소 5자 이상 입력해주세요.");
      $("#text").focus();
      return false;
    }

    var formData = new FormData($("#event_form")[0]);
    var url = "/event/apply";

    if (files.length) {
      $.each(files, function (index, file) {
        formData.append("upload_files[]", file);
      });
      url = "/event/apply_with_img";
    }

    $.ajax({
      type: "POST",
      url: url,
      processData: false,
      contentType: false,
      data: formData,
      success: function (result) {
        var r = JSON.parse(result);
        console.log(r.result);

        if (r.result) {
          $(`.event_popup_4`).css("display", "none");
          $(`.event_popup_5`).css("display", "block");

          $('input[type="text"], input[type="file"], textarea').each(
            (i, v) => {
              $(v).val("");
            }
          );

          files = [];
          $(".images").html("");
        } else {
          alert(r.msg);
        }
      },
      err: function (err) { },
    });
  };

  //안내사항(모바일) 펼치기 접기 기능
  $(".toggle_control").click(function () {
    $(".info_content").slideToggle();
    $(".toggle_control").toggle();
  });

  function show_more() {
    isFetching = true;
    get_reply_data();
  }

  function init_reply_data() {
    $('#list ul').html('');
  }

  function get_reply_data() {
    var round = '<?=$this->round?>';
    var index = '<?=$this->index?>';
    if (!order) order = 1;
    $.post('/event/get_reply_data', { round: round, index: index, order: order, ignore_seq: ignore_seq }, function (result) {
      var r = JSON.parse(result);
      if (r.result) {
        var html = '';

        if (r.list.length) {
          for (var i = 0; i < r.list.length; i++) {
            html += '<div class="comment_item" data-aos="fade-right">';
            html += '<div class="comment_top">';
            html += '<div class="user_img">';
            if (r.list[i].image_datas.length > 0) {
              html += '<img src="/' + r.list[i].image_datas[0].file_path + '" alt="#" title="#">';
            } else {
              html += '<img src="/assets/imgs/round/6/event/profile.svg" alt="#" title="#">';
            }
            html += '</div>';
            html += '<div class="user_text kr">';
            html += '<h4 style="line-height: 1.8">' + r.list[i].nickname + '</h4>';
            html += '<p>' + r.list[i].date + '</p>';
            html += '</div>';
            html += '</div>';
            html += '<div class="comment_content kr">';
            html += '<p>' + r.list[i].text + '</p>';
            html += '</div>';
            html += '<div class="comment_bot kr">';
            html += '<div class="flex aic" onclick="javascript:like(' + r.list[i].seq + ')" style="margin-left: -0.5rem; cursor: pointer;">';
            if (r.list[i].like.toLocaleString('en') == '0') {
              html += '<img class="likeimg' + r.list[i].seq + '" src="/assets/imgs/round/5/event/heart_line.svg" alt="#" title="#">';
            } else {
              html += '<img class="likeimg' + r.list[i].seq + '" src="/assets/imgs/round/5/event/heart.svg" alt="#" title="#">';
            }
            html += '<a href="javascript:like(' + r.list[i].seq + ')" id="like' + r.list[i].seq + '"><span class="like ' + (r.list[i].log_seq ? 'on' : '') + '">' + r.list[i].like.toLocaleString('en') + '</span></a>';
            html += '</div>';
            html += '</div>';
            html += '<div class="line"></div>';
            html += '</div>';
            html += '<input type="hidden" value="' + r.list[i].seq + '">';
            ignore_seq.push(r.list[i].seq);
          }
        }

        $('#list ul').append(html);
        isFetching = false;
      }
    });
  }

  function like(seq) {
    $.post('/event/like', { seq: seq }, function (result) {
      var r = JSON.parse(result);
      if (r.result) {
        $('#like' + seq + ' .like').html(r.after);
        if (r.after == 0) {
          $('.likeimg' + seq).attr("src", "/assets/imgs/round/5/event/heart_line.svg");
        } else {
          $('.likeimg' + seq).attr("src", "/assets/imgs/round/5/event/heart.svg");
        }
        if (Number(r.after) > Number(r.before)) {
          $('#like' + seq + ' .like').addClass('on');
        } else {
          $('#like' + seq + ' .like').removeClass('on');
        }
      } else {
        alert(r.msg);
      }
    });
  }

  function likesort() {
    $('.likesort').css('color', '#222222');
    $('.newsort').css('color', '#C6C6C6');
    order = 1;
    ignore_seq = []
    init_reply_data();
    get_reply_data();
  }

  function newsort() {
    $('.likesort').css('color', '#C6C6C6');
    $('.newsort').css('color', '#222222');
    order = 2;
    ignore_seq = []
    init_reply_data();
    get_reply_data();
  }

  window.onscroll = function (e) {
    if (!isFetching && (window.innerHeight + window.scrollY + 100) >= document.body.offsetHeight) {
      show_more();
    }
  }
</script>