img {width: 100%;height: auto;}
.txtBG {background-color: #000; color: #fff; display: inline-block; padding: 0 10px;}

/* post-food-01 */
.post-food-01 .flex .flex > div{flex: 1;}
.post-food-01 .inner {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.post-food-02 .flex-02 {width: 60%; margin: 0 auto;}
.post-food-02 .flex-02 .flex > div:nth-child(1){flex: 0.46;}
.post-food-02 .flex-02 .flex > div:nth-child(2){flex: 0.75;}
.post-food-02 .flex-02 .flex > div.full {flex: 1;}
.post-food-02 .inner {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.post-food-02 .flex-03 {width: 60%; margin: 0 auto;}
.post-food-02 .flex-03 .flex > div:nth-child(1){flex: 0.74;}
.post-food-02 .flex-03 .flex > div:nth-child(2){flex: 0.45;}
.post-food-03 .flex-01 .wrap {display: flex; width: 75%;}
.post-food-03 .flex-01 .wrap .inner {width: 100%;}
.post-food-03 .flex-01 .wrap .inner img {height: 100%;}
.post-food-03 .flex-02 .wrap {display: flex; width: 95%;}
.post-food-03 .flex-02 .wrap .inner {width: 100%;}
.post-food-03 .flex-02 .wrap .inner img {height: 100%;}
.post-food-03 .flex-03 .wrap {display: flex; width: 75%;}
.post-food-03 .flex-03 .wrap .inner {width: 100%;}
.post-food-03 .flex-03 .wrap .inner img {height: 100%;}

.post-food-04 .itmeWrapper .item{width:100%;height:272px;border-top-right-radius:30px;border-bottom-left-radius:30px;color:#fff;display:flex;gap:40px;justify-content:center;align-items:center;}
.post-food-04 .itmeWrapper .item:nth-child(3){margin-top: 230px;}
.post-food-04 .itmeWrapper .item:nth-child(5){margin-top: 230px;}
.post-food-04 .itmeWrapper .item.item01{background-color:#1C2C4D;}
.post-food-04 .itmeWrapper .item.item02{background-color:#6997A7;}
.post-food-04 .itmeWrapper .item.item03{background-color:#300A19;}
.post-food-04 .itmeWrapper .item .img {width: 278px;max-width: 270px;}
.post-food-04 .itmeWrapper .txt_inner {flex: 0.5;}
.post-food-04 .flex-01 .wrap {display: flex; width: 75%;}
.post-food-04 .flex-01 .wrap .inner {width: 100%;}
.post-food-04 .flex-01.end .wrap img {max-width: 60%;}

@media (max-width: 991px){
  .post-food-04 .itmeWrapper .item {padding: 0 20px;}
  .post-food-04 .itmeWrapper .item .img {max-width: 140px;}
  .post-food-04 .itmeWrapper .txt_inner {flex: 1;}
}

@media (max-width: 991px){
  .post-food-03 .flex-01 .wrap{flex-direction: column;}
  .post-food-03 .flex-02 .wrap{flex-direction: column;}
  .post-food-03 .flex-03 .wrap{flex-direction: column;}
}

.position-relative {position: relative;}