.post-style-02 {
  /* Color */
  --color-yellow-e09: #E09B00;
}

/* ========== PC ========== */
.bg-component .bg-wrap {position: relative;}
.bg-component .bg-inner {width: 50%; height: 100%; display: flex;flex-direction: column;justify-content: center;position: absolute; right: 0;top: 0;}
.bg-component .bg-inner-00 {height: auto;background-color: rgba(255, 255, 255, 0.3);border-radius: 220px;top: 50%;right: 9%;transform: translate(0, -50%);}
.bg-component .bg-inner-01 {background-color: #6CA5B8;}
.bg-component .bg-inner-02 {background-color: #EA7314;}
.bg-component .bg-inner-03 {background-color: #2BA7B5;}
/* ========== Tablet ========== */
@media (max-width: 991px){
  .bg-component .bg-inner-00 {transform: none;}
  .bg-component .bg-inner {width: 100%; position: static;}
}


.post-style-01 .post-image {flex: 1;}

/* ========== PC ========== */
.post-style-02 .tc{width:924px;margin:0 auto;}
.post-style-02 .col-5 {width: 38%;}
.post-style-02 .flex{width: 1080px; flex-wrap: nowrap;}
.post-style-02 .flex.flex_01::before{content:'';display:inline-block;background-color:#F6F6F6;width:880px;height:800px;position:absolute;right:0;bottom:-90px;border-top-right-radius:40px;border-bottom-left-radius:40px}
.post-style-02 .flex.flex_02::before{content:'';display:inline-block;background-color:#F6F6F6;width:880px;height:800px;position:absolute;right:0;bottom:-90px;border-top-right-radius:40px;border-bottom-left-radius:40px}
.post-style-02 .flex.flex_03::before{content:'';display:inline-block;background-color:#F6F6F6;width:880px;height:820px;position:absolute;right:0;bottom:90px;border-top-right-radius:40px;border-bottom-left-radius:40px}
.post-style-02 .flex:nth-child(n+1) {margin-top: 280px;}
.post-style-02 .flex .flex_inner{display: flex;}
.post-style-02 .flex .flex_inner .post-image {flex: 1;}
.post-style-02 .flex .flex_inner .post-image:nth-child(2) {flex: 1.5;}
.post-style-02 .item {border-bottom: 1px solid #E8E8E8; padding-bottom: 20px; margin-bottom: 20px;}
.post-style-02 .item:last-child {border: none; padding-bottom: 0; margin-bottom: 0;}
.post-style-02 .title {display: inline-block; border: 2px solid var(--color-yellow-e09); color: var(--color-yellow-e09);}
/* ========== Tablet ========== */
@media (max-width: 991px){
  .post-style-02 .flex {width: 100%; flex-direction: column;}
  .post-style-02 .flex::before {display: none;}
  .post-style-02 .flex:nth-child(n+1) {margin-top: 20px;}
  .post-style-02 .col-5 {width: 100%;}
  .post-style-02 .tc{width:100%;}
  .post-style-02 .mt100 {margin-top: 0 !important;}
  .post-style-02 .pt50 {padding-top: 0 !important;}
}
.post-style-04 .post-image{width: 70%;}
.post-style-04 .txt {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff; font-weight: 600;}

.post-style-05 .txt {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff; font-weight: 600; width: 100%; text-align: center;}

.post-style-06 .flex:last-child .post-image {width: 100%;}

