<style>
section .content_wrap {padding-top:0; padding-bottom:14rem;}
.contents.story_sub .sub_top .img_wrap::before {background: #000000 0% 0% no-repeat padding-box; opacity:.3; display:block;}
.contents.story_sub section.gray {padding-top:4.8rem;}
.contents .sub_header .content_wrap {width:auto;}
.contents.story_sub .sub_header h2 {}

.ballon li {display:flex; line-height:1.75em;}
.ballon li span {margin-right:.8rem; line-height:1.75em;}
@media all and (min-width:1280px) {
	section .content_wrap {padding-top:0; padding-bottom:21rem;}
	.ballon {margin-bottom:7rem;}
	.ballon span {padding-left:0;}
	.contents.story_sub section.gray {padding-top:10rem;}
	
	.contents.story_sub .sub_header h4 {text-align:center; font-size:3rem;}
	.contents.story_sub .sub_header h2 {text-align:center; font-size:5rem; line-height:7.2rem;}
	.contents.story_sub .sub_header .content_wrap p {margin-top:2rem;}
}
</style>
<div class="contents story_sub">
	<div class="sub_top">
		<div class="img_wrap video" onclick="window.open('https://youtu.be/uceXG-7SDzY','_blank')">
			<img src="/assets/imgs/round/<?=$this->round?>/story/enjoy/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/story/enjoy/pc_main.png" class="pc">
		</div>
	</div>
	
	<section class="sub_header">
		<div class="content_wrap">
			<h4 data-aos="fade-up">롯데GRS 만의 플레이리스트 VOL 03</h4>
			<h2 data-aos="fade-up">방구석 와인바</h2>
			<p data-aos="fade-up" class="mt8">와인마시면서 플리들으면 얼마나 좋게요? <br>무드 즐겨볼 롯데GRS인들은 모두 함께 들어요!</p>
		</div>
	</section>
	

	
	<section class="gray" style="padding-top:4.8rem;">
		<div class="content_wrap">
			<div class="ballon right" data-aos="fade-up">
				<ul> 
					<li><span>00:00</span> <b>정바스 | Orange Splash (feat. 진동욱)</b></li>
					<li><span>02:23</span> <b>윤현상 | Fallin'</b></li>
					<li><span>05:34</span> <b>소수빈 | See you again</b></li>
					<li><span>09:23</span> <b>백예린 (Yerin Baek) | 산책</b></li>
					<li><span>12:49</span> <b>폴킴 | 사랑은 타이밍</b></li>
					<li><span>17:06</span> <b>제이유나 (J.UNA) | 오늘도 내 하루는 (Acoustic Ver.)</b></li>
					<li><span>21:18</span> <b>적재 | 처음 사랑해</b></li>
					<li><span>24:20</span> <b>아이유 | 푸르던</b></li>
					<li><span>28:27</span> <b>폴킴 | One More Time</b></li>
					<li><span>32:31</span> <b>슬로디 (Slou.D) | 그런거 아냐</b></li>
					<li><span>35:51</span> <b>진동욱 | 그런 날</b></li>
					<li><span>38:54</span> <b>소수빈 | 나도 날 잘 (umm)</b></li>
					<li><span>41:56</span> <b>CHEEZE (치즈) | Our Blue (아는 여자애 X CHEEZE )</b></li>
					<li><span>45:27</span> <b>slchld | you won’t be there for me</b></li>
					<li><span>48:29</span> <b>yoono | Rainbow</b></li>
				</ul>
			</div>
			<div class="ballon left" data-aos="fade-up">
				<ul>
					<li><span>53:47</span> <b>아이유 | 잠 못 드는 밤 비는 내리고</b></li>
					<li><span>58:13</span> <b>멜로망스 | 너랑</b></li>
					<li><span>1:01:54</span> <b>jeje | would u</b></li>
					<li><span>1:04:40</span> <b>Jimmy Brown | 2 Things</b></li>
					<li><span>1:08:27</span> <b>권진아 | Silly Silly Love</b></li>
					<li><span>1:12:01</span> <b>HAAN, Chan | 화창해 (Feat. JUNE)</b></li>
					<li><span>1:14:52</span> <b>수우 (soowoo) | All I Have</b></li>
					<li><span>1:17:41</span> <b>스텔라장 | L’Amour, Les Baguettes, Paris</b></li>
					<li><span>1:20:28</span> <b>Sam Ock | Again</b></li>
					<li><span>1:24:05</span> <b>레몬시티(Lemon City) | You Got Me!</b></li>
					<li><span>1:27:24</span> <b>BIG Naughty (서동현) | Vancouver</b></li>
					<li><span>1:31:00</span> <b>이아람 | i</b></li>
					<li><span>1:33:40</span> <b>그래쓰 (GRASS) | babyblue</b></li>
					<li><span>1:37:27</span> <b>샘김 (Sam Kim) | 그 여름밤</b></li>
					<li><span>1:41:37</span> <b>재만 (JAEMAN) | day off</b></li>
					<li><span>1:44:27</span> <b>Collective Arts (콜렉티브아츠), ecru (에크루) | Slow</b></li>
					<li><span>1:48:05</span> <b>정바스 | enough (Feat. 이고도)</b></li>
					<li><span>1:51:04</span> <b>샘김 (Sam Kim) | The One</b></li>
					<li><span>1:55:24</span> <b>김뮤지엄 (KIMMUSEUM) | 281.31km ( To. )</b></li>
					<li><span>1:58:18</span> <b>네이비쿼카 (NavyQuokka) | You and I</b></li>
				</ul>
			</div>
		</div>
	</section>
</div>