<style>
.content_wrap {padding:6rem 7.2rem 9.6rem 7.2rem;}
.white_bg {background-color:#fff; padding:.3rem .8rem; display:inline-flex; width:100%;}
.contents .sub_top_text + section .content_wrap {padding-top:0rem;}
.contents.story_sub .txt_img .txt_wrap {gap:.4rem;}
.contents.story_sub .txt_img.split .txt_wrap {padding:0;}

@media all and (min-width:1280px) {
	.content_wrap {padding:6rem 0rem 9.6rem 0rem;}
	.contents .sub_top_text + section .content_wrap {padding-top:0rem;}
}
</style>
<div class="contents story_sub">
	<div class="sub_top">
		<div class="img_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/story/food/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/story/food/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/story/food/mo_main_txt.png" data-aos="fade" class="mo" style="width:37.3rem;">
			<img src="/assets/imgs/round/<?=$this->round?>/story/food/pc_main_txt.png" data-aos="fade" class="pc" style="width:50.8rem;">
		</div>
	</div>
	
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp">위스키, 그거 영화에나 나오는 거 아니야? <br>
			에취! 에취! 곧 쌀쌀해질 날씨 <br>
			기침할 시간에 우리 엣지를 찾아보는 건 어때?</p>
		</div>
	</section>
	
	<section>
		<div class="content_wrap">
			<div class="txt_img left" data-aos="fade-right">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/SUB_01.png" class="fullin">
				</div>
				<div class="txt_wrap fbottom fleft" style="padding:5.2rem 7.2rem;">
					<div class="over_wrap">
						<h2 class="white"><b>‘위스키’</b></h2>
						<p class="white">영화에서 소위 ‘멋진’ 사람들이 마시는 술, <br>
						부자들이 사치부리는 장면에서 나오는 술, <br>
						누구에게는 낯설고 어색한 술.</p>
					</div>
				</div>
			</div>
			<div class="split_img right mt8">
				<img data-aos="fade-right" src="/assets/imgs/round/<?=$this->round?>/story/food/SUB_02.png">
				<img data-aos="fade" src="/assets/imgs/round/<?=$this->round?>/story/food/SUB_03.png">
				<img data-aos="fade-left" src="/assets/imgs/round/<?=$this->round?>/story/food/SUB_04.png">
			</div>
			<p class="tcenter" data-aos="fade-up">하지만 요즘에는 없어서 못 살 정도로 인기인 ‘위스키’ <br><br>
			센치해지는 가을, 차가운 도시 남녀가 되어보고 싶다면 <br>
			엣지있는 가을을 보내기 위한 속성 과외, 들어볼래?</p>
			
			<div class="txt_img split mt60">
				<div class="txt_wrap ftop" data-aos="fade-right">
					<h2 class="mint tleft" data-aos="fade-right"><b>무드남녀 <br>되려면 <br></b>이 정도는 <br>알아두자</h2>
				</div>
				<div class="img_wrap w416" data-aos="fade-left">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/SUB_05.png">
				</div>
			</div>
			
			<div class="f28 fit mint bold bb5" data-aos="fade-up" style="margin-top:-4.2rem;">‘위스키’란?</div>
			
			<p data-aos="fade-up">스코틀랜드 지방에서 기원전부터 민간에 전해 내려오는 전통주. <br>
			보리를 발효시켜 맥주와 비슷한 보리술을 만들고, <br>
			만든 술을 증류하여 오크통에서 몇 년간 숙성시키면 위스키가 된다.</p>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/food/SUB_06.png" class="full" data-aos="fade">
			<h2 class="mt40 bold mint" data-aos="fade-right">위스키 마시는 법</h2>
			<div class="list mt20" data-aos="fade-left">
				<p data-text="1. "><span>시각, 후각, 미각을 모두 이용한다. 돌려보면 무언가 흘러내려 오는데, <br>그걸 위스키 레그스(Whiskey legs)라고 한다.</span></p><br>
				<p data-text="2. "><span>잔을 굴려서 냄새를 맡는다. 입에 한 모금 정도 머금었을 때, 혓바닥 중간에서 느껴지는 맛을 찾아볼 것.</span></p><br>
				<p data-text="3. "><span>단번에 마시고 여운을 즐긴다.</span></p><br>
				<p data-text="4. "><span>목을 타고 넘어간 여운을 즐긴 후 숨을 뱉는다. 그리고 향을 느낀다. <br>아, 실수로 숨을 들이쉬면 콜록거릴 수 있으니 조심!</span></p>
			</div>
			
			<div class="txt_img full mt60" data-aos="fade">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/SUB_07.png" class="fullin">
				</div>
				<div class="txt_wrap ftop facenter" style="padding:8rem 0;">
					<div class="over_wrap">
						<h2 class="white tcenter" data-aos="fade-up"><b>위스키와 어울리는 안주는?</b></h2>
						<p class="white tcenter mt20" data-aos="fade-up">가까운 편의점에서 살 수 있는 미니 프레첼, 빈츠, 다크 초콜릿 카카오, <br>
						빼빼로, 오늘의 견과 등 가벼운 주전부리류 추천</p>
					</div>
				</div>
			</div>
			
			<h2 class="mint mt60" data-aos="fade-right">너를 입담꾼으로 만들어 줄 <span class="bold">위스키 이야기</span></h2>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/food/SUB_08.png" class="right mt20" data-aos="fade-left">
			<div class="f28 mint bold mt20" data-aos="fade-up">원 샷(one shot)</div>
			<p data-aos="fade-up" class="mt8">한국에서는 잔을 남기지 않고 한 번에 마신다는 표현으로 많이 사용된다. <br>
			사실 본래 의미는 말 그대로 ‘샷 하나’. <br><br>
			오래 전 미서부 지역의 가난한 카우보이들은 <br>
			돈을 들고 다니지 않는 경우가 많았다. <br><br>
			이들이 바에서 술을 찾을 때 총알 한 발과 <br>
			위스키 한 잔을 거래했다는 것에서 유래된 것이 지금의 원 샷이다.</p>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/food/SUB_09.png" class="left mt60" data-aos="fade-right">
			<div class="f28 mint bold mt20" data-aos="fade-up">온 더 락(on the rock)</div>
			<p data-aos="fade-up" class="mt8">잔에 얼음과 위스키를 섞어 마시는 방법을 뜻한다. <br>
			과거 얼음이 보편화되지 않았던 시절, 스코틀랜드인들이 <br>
			위스키를 차게 마시기 위해 계곡의 차가운 돌멩이를 주워 쓰기 <br>
			시작한 데에서 유래되었다.</p>
			
			<div class="txt_img full mt60" data-aos="fade">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/SUB_10.png" class="fullin">
				</div>
				<div class="txt_wrap ftop facenter" style="padding:5.5rem 0;">
					<div class="over_wrap">
						<h2 class="white tcenter" data-aos="fade-up"><b>얼음(Ice)</b></h2>
						<p class="white tcenter mt8" data-aos="fade-up">영화에서 위스키를 마실 때 잔 속 얼음이 구 형태를 띄는 모습을 자주 접한다. <br>
						그 이유는 ‘표면적’에 있다. 위스키를 시원하게 오래 유지하면서 밍밍해지는 걸 <br>
						늦추기 위해 표면적이 적은 구 형태의 얼음을 쓰기 시작한 것이다.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap">
		
			<h2 class="mint bold" data-aos="fade-left">나도 헤밍웨이? <br>책과 술이 함께하는 바</h2>
			<p class="mt8" data-aos="fade-left">어디로 가야할 지 방황하는 너를 위한 바 추천</p>
		
			<div class="txt_img mt40" data-aos="fade-up">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/SUB_10_5.png" class="fullin">
				</div>
				<div class="txt_wrap fbottom fleft" style="padding:2rem;">
					<div class="over_wrap">
						<h2 class="white"><b>마이시크릿덴</b></h2>
						<span class="overwrap_txt right top">
							<span class="black_bg">위치 : 서울특별시 중구 태평로2가 367-1</span>
							<span class="black_bg mt8">영업시간 : 매일 09:00 ~ 22:00 (예약 필수)</span>
						</span>
					</div>
				</div>
			</div>
			
			<p data-aos="fade-left">고요하게 책 읽을 수 있는 공간. <br>특별히 낮 시간은 대화를 금지하는 컨셉으로 운영중.</p>
			<a class="mint mt20 fullin link" data-aos="fade-up" href="https://www.instagram.com/my.secret.den/" target="_blank"><span class="bold">마이시크릿덴 인스타그램</span> 보러가기</a>

			
			<div class="txt_img mt60" data-aos="fade-up">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/SUB_11.png" class="fullin">
				</div>
				<div class="txt_wrap fbottom fleft" style="padding:2rem;">
					<div class="over_wrap">
						<h2 class="white"><b>문학살롱 초고</b></h2>
						<span class="overwrap_txt right top">
							<span class="black_bg">위치 : 서울 마포구 독막로2길 30</span>
							<span class="black_bg mt8">영업시간 : 매일 09:00 ~ 22:00 (예약 필수)</span>
						</span>
					</div>
				</div>
			</div>
			
			<p data-aos="fade-left">고풍스럽고 차분한 분위기의 공간. <br>
			이곳의 시그니처인 ‘문학 칵테일’ 메뉴는 주문하면 <br>
			음료와 함께 책을 가져다 준다.</p>
			<a class="mint mt20 fullin link" data-aos="fade-up" href="https://www.instagram.com/chogo_seoul/" target="_blank"><span class="bold">문학살롱 초고 인스타그램</span> 보러가기</a>
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap">
		
			<h2 class="mint bold" data-aos="fade-left">센치해지는 가을, <br>음악과 술이 함께하는 바</h2>
			<p class="mt8" data-aos="fade-left">어디로 가야할 지 방황하는 너를 위한 바 추천</p>
		
			<div class="txt_img mt40" data-aos="fade-up">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/SUB_12.png" class="fullin">
				</div>
				<div class="txt_wrap fbottom fleft" style="padding:2rem;">
					<div class="over_wrap">
						<h2 class="white"><b>르챔버</b></h2>
						<span class="overwrap_txt right top">
							<span class="black_bg">위치 : 서울 강남구 도산대로55길 42</span>
							<span class="black_bg mt8">영업시간 : 매일 19:00 ~ 03:00</span>
						</span>
					</div>
				</div>
			</div>
			
			<p data-aos="fade-left">비밀의 문을 열어야 들어갈 수 있는 공간. <br>피아노 라이브를 들을 수 있다.</p>
			<a class="mint mt20 fullin link" data-aos="fade-up" href="https://www.instagram.com/le_chamber/" target="_blank"><span class="bold">르챔버 인스타그램</span> 보러가기</a>

			
			<div class="txt_img mt60" data-aos="fade-up">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/SUB_13.png" class="fullin">
				</div>
				<div class="txt_wrap fbottom fleft" style="padding:2rem;">
					<div class="over_wrap">
						<h2 class="white"><b>플랫나인</b></h2>
						<span class="overwrap_txt right top">
							<span class="black_bg">위치 : 서울 서초구 강남대로65길 10 5층</span>
							<span class="black_bg mt8">영업시간 : 매일 17:00 ~ 02:00</span>
						</span>
					</div>
				</div>
			</div>
			
			<p data-aos="fade-left">매력적인 재즈 음악과 시그니처 칵테일을 즐길 수 있는 재즈바. <br>
			라이브로 펼쳐지는 재즈 공연에 귀가 즐거워지는 공간.</p>
			<a class="mint mt20 fullin link" data-aos="fade-up" href="https://www.instagram.com/flatnine_jazzbar/" target="_blank"><span class="bold">플랫나인 인스타그램</span> 보러가기</a>
			
			
			<div class="txt_img mt60" data-aos="fade-up">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/SUB_14.png" class="fullin">
				</div>
				<div class="txt_wrap fbottom fleft" style="padding:2rem;">
					<div class="over_wrap">
						<h2 class="white"><b>인현골방</b></h2>
						<span class="overwrap_txt right top">
							<span class="black_bg">서울 중구 마른내로 60-1 2층</span>
							<span class="black_bg mt8">영업시간 : 매일 17:00 ~ 01:00</span>
						</span>
					</div>
				</div>
			</div>
			
			<p data-aos="fade-left">이미 누군가의 아지트일지도. 혼자서도 술과 음악을 음미할 수 있는 공간.</p>
			<a class="mint mt20 fullin link" data-aos="fade-up" href="https://www.instagram.com/inhyungolbang/" target="_blank"><span class="bold">인현골방 인스타그램</span> 보러가기</a>
		</div>
	</section>
	
</div>