<style>
.content_wrap {padding:4rem 7.2rem 9.6rem 7.2rem;}

.contents .video_wrap {position: relative; padding: 56.25% 0 0 0;}

@media all and (min-width:1280px) {
	.content_wrap {padding:6rem 0rem 9.6rem 0rem;}
}

</style>
<div class="contents story_sub">
	<div class="sub_top">
		<div class="img_wrap cover">
			<img src="/assets/imgs/round/<?=$this->round?>/story/nature/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/story/nature/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/story/nature/mo_main_txt.png" class="mo" style="width:33.1rem;" data-aos="fade">
			<img src="/assets/imgs/round/<?=$this->round?>/story/nature/pc_main_txt.png" class="pc" style="width:45.1rem;" data-aos="fade">
		</div>
	</div>
	
	<section>
		<div class="content_wrap">
			<div class="fullhalf">
				<div class="video_wrap">
					<iframe src="https://player.vimeo.com/video/740957951?h=131c8d97a8" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>
			</div>
			<div class="mt40">
				<p data-aos="fade-left" style="color:#717171;" class="mo">
				대전광역시 유성구에 7번째 지역특화 플래그십 스토어가 오픈했다! <br><br>
				Around Nature, 도심 속 힐링 정원의 컨셉으로 <br>
				매장을 폭포ㆍ하늘ㆍ식물로 인테리어해서 <br>
				자연을 확 느낄 수 있는 힐링장소이다. <br><br>
				불필요한 쓰레기를 줄이기위해 다회용기를 가지고 베이커리를 <br>
				3번 구매하면 아메리카노 한잔을 증정하는 <br>
				‘제로웨이스트 챌린지’도 운영중이라니 ..! <br><br>
				바쁜 일상에서 벗어나 향긋한 커피와 맛있는 베이커리로 힐링할 사람은 <br>
				엔제리너스 대전유성D/I점으로 모이자!
				</p>
				<p data-aos="fade-left" style="color:#717171;" class="pc fullhalf">
				대전광역시 유성구에 7번째 지역특화 플래그십 스토어가 오픈했다! <br><br>
				Around Nature, 도심 속 힐링 정원의 컨셉으로 <br>
				매장을 폭포ㆍ하늘ㆍ식물로 인테리어해서 <br>
				자연을 확 느낄 수 있는 힐링장소이다. <br><br>
				불필요한 쓰레기를 줄이기위해 다회용기를 가지고 베이커리를 <br>
				3번 구매하면 아메리카노 한잔을 증정하는 <br>
				‘제로웨이스트 챌린지’도 운영중이라니 ..! <br><br>
				바쁜 일상에서 벗어나 향긋한 커피와 맛있는 베이커리로 힐링할 사람은 <br>
				엔제리너스 대전유성D/I점으로 모이자!
				</p>
			</div>
		</div>
	</section>
	
</div>