<style>
.content_wrap {padding:6rem 7.2rem 9.6rem 7.2rem;}
.sub_header .content_wrap {text-align:center;}
.contents.story_sub .sub_header h4 {text-align:center;}
.contents.story_sub .sub_header h2 {text-align:center;}
.sub_header .content_wrap img {margin:0 auto;}
.sub_header + section .content_wrap {padding-top:9.6rem;}

.contents.story_sub h5 {font-size:2.8rem; font-weight:bold; color:#037781; text-align:center;}
.contents.story_sub .years {display:flex; justify-content:center; white-space:nowrap; gap:2rem;}
.contents.story_sub .years h3 {font-size:7.2rem; line-height:9.5rem; font-weight:bold; color:#fff; -webkit-text-stroke:1px #037781; text-stroke:1px #037781;}
.contents.story_sub .years h3:nth-child(2) {color:#037781;}

.contents.story_sub .img_wrap.cover::after {opacity:.3; background: transparent linear-gradient(180deg, #000000 0%, #54545400 100%) 0% 0% no-repeat padding-box;}
.contents .sub_top_text + section .content_wrap {    padding-top: 0rem;}

@media all and (min-width:1280px) {
	.content_wrap {padding:6rem 0rem 9.6rem 0rem;}
	.contents.story_sub .sub_header .content_wrap {padding-top:3.5rem;}
}
</style>
<div class="contents story_sub">
	<div class="sub_top">
		<div class="img_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/mo_main_txt.png" class="mo" style="width:49.2rem;">
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/pc_main_txt.png" class="pc" style="width:49.2rem;">
		</div>
	</div>
	
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			나의 냄새가 누군가의 추억이 되길 <br>
			“흔들리는 꽃들 속에서 네 샴푸향이 느껴진거야~” <br><br>
			옷장에 넣어둔 옷들, <br>
			아침에 입으려고 꺼내면 이게 무슨 냄새인지… 싶은 적 아마 있을 걸? <br>
			그럴 때마다 찾는 ‘페브리즈’. <br>
			설마 향수처럼 사용하고 있다면 제발 멈춰!
			</p>
		</div>
	</section>
	
	<section>
		<div class="content_wrap">
			<div class="txt_img left" data-aos="fade-right">
				<div class="img_wrap">
					<img src="/assets/imgs/round/3/story/style/SUB_01.png" class="fullin">
				</div>
				<div class="txt_wrap fbottom fleft" style="padding:0 0 4rem 7.2rem;">
					<div class="over_wrap">
						<p class="white">“나는 취향이 없어”, <br>“나를 어떻게 표현해야 할지 모르겠어” 라고 말하는 너를 위한 비책</p>
					</div>
				</div>
			</div>
			
			<div class="txt_img split mt60">
				<div class="txt_wrap ftop" data-aos="fade-right">
					<h2 class="mint tleft" data-aos="fade-right"><b>향수</b>에 대한 <br><b>기본 지식</b></h2>
				</div>
				<div class="img_wrap w416" data-aos="fade-left">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_02_01.png">
				</div>
			</div>
			
			<div class="f28 fit mint bold bb5" data-aos="fade-up" style="margin-top:-4.2rem;">‘향수’는?</div>
			
			<p data-aos="fade-up">향수는 보통 처음과 중간, 그리고 마지막에 조금씩 다른 향이 난다.</p>
			
			<div class="fullin mt12" data-aos="fade-up" style="padding:1.2rem 2rem; background:#F3F3F3;">
				<p class="bold mint">01. 탑 노트(헤드 노트)</p>
				<p class="mt4">향수를 뿌린 직후 15분 정도까지 나는 향. <br>향수의 첫 인상 결정한다.</p>
			</div>
			<div class="fullin mt12" data-aos="fade-up" style="padding:1.2rem 2rem; background:#F3F3F3;">
				<p class="bold mint">02. 미들 노트(하트 노트, 소울 노트)</p>
				<p class="mt4">향수를 뿌린 뒤 15분이 지나고 느껴지는 향. <br>조향사의 의도가 가장 많이 담겨있는 핵심이 되는 향이다.</p>
			</div>
			<div class="fullin mt12" data-aos="fade-up" style="padding:1.2rem 2rem; background:#F3F3F3;">
				<p class="bold mint">03. 베이스 노트(라스트 노트)</p>
				<p class="mt4">향수를 뿌리고 2시간이 지나야 느껴지는 향. <br>피부에서 가장 오래 지속되며, 피부와의 반응에 따라 <br>개인이 풍기는 향이 결정된다. 부향률에 따라 향수 종류가 나뉜다.</p>
			</div>
			
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_02.png" class="full mt60" data-aos="fade-up">
			
			<div class="mt20">
				<p data-aos="fade-up">01. 부향률 : 알코올에 첨가된 향료 원액의 비율. 즉, 향수의 농도를 뜻한다.</p>
				<p class="mt4" data-aos="fade-up">02. 부향률에 따라 지속력이 달라진다.</p>
				<p class="mt24 mint bold" data-aos="fade-up">
					 <span class="mint bold">· 퍼퓸(Parfum) - 오드 퍼퓸(Eau De Parfum/EDP)<br>
					 - 오드 뚜왈렛(Eau De Toilette/EDT) - 오드 코롱(Eau De Cologne/EDC)<br>
					 - 샤워 코롱(Shower Cologne)</span> 순으로 지속력이 좋다.
				</p>
				<p class="mt4" data-aos="fade-up"><span class="lightgray">* Fl.oz. : ‘플루이드 온스’ 라고 읽는다. 1fl.oz.는 대략 30ml 정도이다.</span></p>
			</div>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_03.png" class="mt60 fullin" data-aos="fade-up">
			
			<h2 class="mint bold mt40" data-aos="fade-up">매력을 상승시키는 향수, 제대로 뿌리려면?</h2>
			
			<div class="mt20" data-aos="fade-up">
				<p>
					<span class="mint bold">01. 몸에 무향 로션을 바른 후 향수를 뿌린다.</span> <br>
					몸이 건조하면 금세 향이 사라지기에 로션을 통해 지속시간을 늘릴 것! <br><br>
					<span class="mint bold">02. 향수를 손목에 뿌린 뒤 비비지 않는다.</span> <br>
					손목을 비비게 되면 탑 노트가 깨져버리기 때문. <br><br>
					<span class="mint bold">03. 향수는 옷을 입기 전 맨살에 뿌린다.</span> <br>
					옷에서 나는 냄새와 섞일 수 있으며, 얼룩이 생길 수도 있기 때문. <br><br>
					<span class="mint bold">04. 목 뒷부분에 향수를 뿌리길 추천한다.</span> <br>
					머리카락이 흩날릴 때 자연스럽게 향이 살아난다.
				</p>
			</div>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_04.png" class="mt60 full" data-aos="fade-up">
			
			<div class="f24 mt34 tcenter" data-aos="fade-up" >입문하기 좋은 국내 향수 브랜드 추천</div>
			<h2 class="mint mt12 tcenter" data-aos="fade-up" style="font-weight:500;">GRANHAND</h2>
			<p data-aos="fade-up" class="tcenter">좋아하는 향을 찾기 위해 시향을 해보고 싶은데 <br>막상 백화점 1층을 가면 왜 항상 망설여지는지...</p>
			
			<div class="flex mt20 gap20 full">
				<div class="w416" data-aos="fade-right">
					<img class="fullin" src="/assets/imgs/round/3/story/style/SUB_05.png">
				</div>
				<div class="flex bottom" data-aos="fade-left">
					<p>그랑핸드 매장에서는 <br>
					걱정할 필요가 없다. <br>
					그랑핸드 매장, 공간 <br>
					그 자체로도 즐길거리가 <br>
					충분하지만 <br>
					부담스럽지 않게 <br>
					취향의 향수를 찾아줄 직원들. <br><br>
					속는 셈치고 <br>
					한번만 방문해 보자. <br>
					이미 그랑핸드의 팬이 <br>
					되어있을지도?</p>
				</div>
			</div>
			
			<div class="txt_img full mt60" data-aos="fade">
				<div class="img_wrap cover">
					<img src="/assets/imgs/round/3/story/style/SUB_06.png" class="fullin">
				</div>
				<div class="txt_wrap ftop facenter" style="padding:8rem 0;">
					<div class="over_wrap">
						<h2 class="white tcenter" data-aos="fade-up"><b>너에게 향기로운 가을을 <br>선사할 향수 추천</b></h2>
						<p class="white tcenter mt20" data-aos="fade-up">쌀쌀해지는 날씨에 센치해지는 가을. <br>
						이 향수들과 함께라면 너는 어느새 ‘걸어다니는 가을’이 되어있을지도..? <br>
						코르가즘 나만 느끼기 아까워서 공유하는, ‘가을에 뿌리기 좋은 향수들’. <br>
						서둘러 메모할 것.</p>
					</div>
				</div>
			</div>
			
			<div class="mt96">
				<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_07.png" class="w416 center" data-aos="fade-up">
				<div class="mint f28 bold mt20 tcenter" data-aos="fade-up">르 라보(Le Labo) – Thé Noir 29</div>
				<p class="mt8 tcenter" data-aos="fade-up">가을에 어울리는 향이라 하면, 보통 무거운 향을 떠올린다. <br>
				무거운 향조가 부담스러운 사람이라면 이 향은 어떨까. <br>
				홍차의 향을 우아하게 표현한다.</p>
			</div>
			
			<div class="mt60">
				<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_08.png" class="w416 center" data-aos="fade-up" style="border:1px solid #f3f3f3;">
				<div class="mint f28 bold mt20 tcenter" data-aos="fade-up">키엘(Kiehl’s) – ORIGINAL MUSK BLEND No.1</div>
				<p class="mt8 tcenter" data-aos="fade-up">남녀 구분 없이 사용하기 좋다. <br>
				머스크 향의 교과서가 있다면 이 향수가 아닐까. <br>
				은은하게 풍기는 묵직한 머스크향으로 가을에 제격인 향수.</p>
			</div>
			
			<div class="mt60">
				<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_09.png" class="w416 center" data-aos="fade-up" style="border:1px solid #f3f3f3;">
				<div class="mint f28 bold mt20 tcenter" data-aos="fade-up">바이레도(BYREDO) – MUMBAI NOISE</div>
				<p class="mt8 tcenter" data-aos="fade-up">트렌치 코트 휘날리는 가을, 내 매력을 극대화시켜줄 향수. <br>
				창업자의 어린 시절 뭄바이에서의 추억을 재해석한 향수다. <br>
				스파이시한 향신료향이 중독성 있다.</p>
			</div>
			
			<div class="mt60">
				<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_10.png" class="w416 center" data-aos="fade-up" style="border:1px solid #f3f3f3;">
				<div class="mint f28 bold mt20 tcenter" data-aos="fade-up">그랑핸드(GRANHAND) – LUMBERJACK</div>
				<p class="mt8 tcenter" data-aos="fade-up">사실 호불호가 갈리는 향수다. <br>
				그만큼 호인 사람에게는 마약과도 같은 향수. <br>
				‘그랑핸드’라는 브랜드를 잘 표현한 향이다. <br>
				절간냄새를 좋아한다면 이 향수, 고르지 않을 이유가 없다.</p>
			</div>
			
	</section>
	
</div>