<style>
.contents.story_sub .grid_wrap {display:grid; grid-template-columns:1fr 1fr; grid-gap:1.2rem;}
.contents.story_sub .grid_wrap > div {text-align:center; padding:4rem 0; background:#F5F5F5; border-radius:2.8rem;}
.contents.story_sub .grid_wrap .title {letter-spacing:0;}
.contents.story_sub .grid_wrap .slogan {color:#000000; font-size:3.6rem; font-weight:bold; margin-bottom:1.2rem;}
.contents.story_sub .grid1 {grid-column:1 / 3;}

.contents.story_sub .sub_top_text .content_wrap {padding-bottom:0;}


.contents.story_sub .content_wrap p.plus {color:#fff; position:absolute; top:13.2rem; text-align:center; color:#fff; width:100%;}
.contents.story_sub .content_wrap p.plus::before {position:relative; content:'+'; font-size:5rem; height:7.2rem; line-height:3.2rem; color:#CFEAFF; display:block;}

.contents.story_sub .sub_header.map_area + section {margin-top:-14.6rem;}

.content_wrap {padding:6rem 7.2rem 9.6rem 7.2rem;}

.contents.story_sub section .content_wrap > p {margin-top:2rem;}

@media all and (min-width:1280px) {
	.content_wrap {padding:6rem 0rem 9.6rem 0rem;}
	
}

</style>
<div class="contents story_sub">
	<div class="sub_top">
		<div class="img_wrap cover">
			<img src="/assets/imgs/round/<?=$this->round?>/story/trip/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/story/trip/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/story/trip/mo_main_txt.png" data-aos="fade" class="mo" style="width:34.9rem;">
			<img src="/assets/imgs/round/<?=$this->round?>/story/trip/pc_main_txt.png" data-aos="fade" class="pc" style="width:47.6rem;">
		</div>
	</div>
	
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			돌연히 떠나고 싶어지는 요즘 <br>
			유유자적을 꿈꾸지만 마음처럼 쉽지 않다. <br>
			여행은 버거워도 1박 캠핑 정도야… 뭐, 나쁘지 않잖아? <br><br>
			백패킹이 처음이라도 괜찮아! <br class="mo">
			그런 너를 위해 준비한 <br>
			<b class="mint">‘서울 근교 백패킹 명소 TOP 3’</b> <br><br>
			이번 추석 연휴에는 오로지 자연뿐인 <br>
			이곳에서 네 마음의 소리에만 집중해봐.
			</p>
		</div>
	</section>
	
	<section>
		<div class="content_wrap">
			<div class="grid_wrap">
				<div class="grid1" data-aos="fade-down">
					<p class="title mint"><b>그래서</b></p>
					<div class="slogan">‘백패킹’ 이 뭔데?</div>
					<p>1박 이상의 야영생활에 필요한 장비를 <br>
					배낭 가방 하나에 넣고 떠나는 여행</p>
				</div>
				<div class="grid2" data-aos="fade-right">
					<p class="title mint"><b>그래서</b></p>
					<p>배낭 하나면 <br>
					준비가 끝나기 때문에 <br>
					낚시나 자전거, <br>
					오토바이와 같은 <br>
					<b class="mint">다양한 액티비티와의 <br>
					결합이 가능하다는 것이 <br>
					백패킹의 큰 장점!</b></p>
				</div>
				<div class="grid3" data-aos="fade-left">
					<p class="title mint"><b>그래서</b></p>
					<p>백패킹이 처음이라면 <br>
					비교적 시내에서 거리가 가깝고, <br>
					난이도가 낮은 곳 <br>
					(ex. 경사가 낮은 산)부터 <br>
					시작해 볼 것. <br>
					<b class="mint">난이도가 높은 곳에 도전할 경우, <br>
					백패킹의 매력을 느끼기도 전에 <br>
					질려버릴 가능성이 크기 때문.</b></p>
				</div>
			</div>
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap">
		
			<h2 class="mint tcenter mb20"><b>서울 근교 백패킹 명소 TOP 3</b></h2>
		
			<div class="txt_img split right" id="trip_01">
				<div class="txt_wrap bottom" data-aos="fade-right">
					<h2 class="mint tleft" data-aos="fade-right"><b>인천 <br>굴업도 <br>(개머리언덕)</b></h2>
				</div>
				<div class="img_wrap w479" data-aos="fade-left">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/01/sub01.png">
					<span class="overwrap_txt black_bg right top">위치 : 인천 옹징군 덕적면 굴업리</span>
				</div>
			</div>
		
			<p data-aos="fade-up">제주 비양도, 강원 선자령과 함께 국내 백패킹 3대 성지 중 한 곳. <br>
			이 셋 중에서도 가장 훌륭하다는 평이 많다. <br><br>
			백패커들의 재방문의사 또한 월등히 높은 곳이라, <br>
			훗날 3대 성지를 모두 찾아 갈 백린이라면 가장 마지막에 이곳을 방문할 것! <br>
			굴업도가 너무 예뻐서 다른 박지에 실망할지도 모르니 말이다.</p>
			<img data-aos="fade" class="full" src="/assets/imgs/round/<?=$this->round?>/story/trip/01/sub02.png">
			<p data-aos="fade-up">백패커들 사이에서는 ‘한국의 갈라파고스’로 통한다. <br>
			약 9000만년 전 화산활동으로 생긴 지형이 <br>
			거의 훼손되지 않고 남아있기 때문. <br><br>
			트래킹하면서 펼쳐지는 경치 또한 갈라파고스를 연상시키기 충분하다.</p>
			
			<div class="full flex mt60 gap20">
				<div class="w416" data-aos="fade-right">
					<img data-aos="fade" class="fullin" src="/assets/imgs/round/<?=$this->round?>/story/trip/01/sub03.png">
				</div>
				<p class="flex bottom" data-aos="fade-left" >트래킹 구간 중 대부분이 <br>
				평지라서 초보 백패커들에게 <br>
				부담스럽지 않다. <br><br>
				개머리언덕에서 보는 일몰은 <br>
				환상적이기로 유명하다. <br>
				괜히 한국의 갈라파고스가 아니다.</p>
			</div>
			
			<div class="split_img fullhalf mt60">
				<img data-aos="fade-right" src="/assets/imgs/round/<?=$this->round?>/story/trip/01/sub04.png">
				<img data-aos="fade" src="/assets/imgs/round/<?=$this->round?>/story/trip/01/sub05.png">
				<img data-aos="fade-left" src="/assets/imgs/round/<?=$this->round?>/story/trip/01/sub06.png">
			</div>
			
			<img data-aos="fade" class="full mt60" src="/assets/imgs/round/<?=$this->round?>/story/trip/01/sub07.png">
			<p data-aos="fade-up">이곳에서는 흐린 날에도 별이 관측된다. <br>
			시기가 좋다면, 은하수가 넘실거리는 진귀한 풍경도 볼 수 있으니, <br>
			가기 전 날씨 확인은 필수! <br><br>
			귀여운 사슴친구들이 목격되기도 한다. <br>
			자연에서 뛰노는 사슴을 볼 수 있는 박지, 한국에서는 흔치 않을 걸?</p>
			
			<div class="summary_info mt40" data-aos="fade-up">
				<p class="title mint mb12"><b>인천 굴업도(개머리언덕) 코스</b></p>
				<p class="l1">인천여객터미널에서 덕적도로 가는 배편 탑승</p>
				<p class="l2">덕적도로 이동</p>
				<p class="l2"><span>덕적도에서 굴업도로 들어가는 나래호(2시간) <br><b>or</b> 쾌속선(1시간) 탑승</span></p>
				<p class="l2">하차 후, 굴업도해변에서 개머리언덕까지 1시간 정도 트래킹</p>
				<p class="l2">개머리언덕 도착</p>
			</div>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<div class="txt_img split right" id="trip_02">
				<div class="txt_wrap bottom" data-aos="fade-right">
					<h2 class="mint tleft" data-aos="fade-right"><b>경기 양주시 <br>노고산 <br>(헬기 착륙장)</b></h2>
				</div>
				<div class="img_wrap w479" data-aos="fade-left">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/02/sub01.png">
					<span class="overwrap_txt black_bg right top">위치 : 경기 양주시 장흥면 삼하리</span>
				</div>
			</div>
			<p data-aos="fade-left" class="fullin center">
			해발 487m로 산세가 험하지 않아 가벼운 마음으로 떠날 수 있다. <br>
			정상까지 가는동안 눈이 즐겁다. <br><br>
			능선길을 따라 오르다보면 중간중간에 위치한 조망처에서 <br>
			북한사의 주봉인 삼각산은 물론, 진흥왕순수비가 위치한 <br>
			비봉과 향로봉까지 한 눈에 볼 수 있다.
			</p>
			<img data-aos="fade" class="full" src="/assets/imgs/round/<?=$this->round?>/story/trip/02/sub02.png">
			<p data-aos="fade-up">백운대 방향으로 떠오르는 해를 보고 있으면, 애국가가 절로 나온다. <br>
			괜스레 마음이 웅장해지고, 경건해진다면 당신은 뼛 속까지 코리안 <br>
			(bgm. 국기에 대한 경례) <br><br>
			등산로 초입까지 자가용 이용이 가능하다. <br>
			노고산 아래에 위치한 흥국사 주차장을 이용할 것. <br>
			주차비가 무료라 부담 제로!</p>
			
			<div class="summary_info mt40" data-aos="fade-up">
				<p class="title mint mb12"><b>경기 양주시 노고산(헬기 착륙장) 코스</b></p>
				<p class="l1">지하철 3호선 구파발역 하차</p>
				<p class="l2">2번 출구로 나와 만남의 광장으로 이동</p>
				<p class="l2">704번 버스 탑승 후, 흥국사 정류장에서 하차(10분 소요)</p>
				<p class="l2"><span>초입은 흥국사 둘레길을 따라 오르고, 이후엔 <br>노고산 등산 코스로 합류하길 추천</span></p>
				<p class="l2">노고산 정상(헬기 착륙장) 도착</p>
			</div>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<div class="txt_img split right" id="trip_03">
				<div class="txt_wrap bottom" data-aos="fade-right">
					<h2 class="mint tleft" data-aos="fade-right"><b>경기 이천시 <br>원적산</b></h2>
				</div>
				<div class="img_wrap w479" data-aos="fade-left">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/03/sub01.png">
					<span class="overwrap_txt black_bg right top">위치 : 경기 이천시 백사면 경사리</span>
				</div>
			</div>
			<p data-aos="fade-left" class="fullin center">
			광활한 산맥과 함께 펼쳐지는 뷰가 아름다워서 ‘경기도의 알프스’라 불린다. <br>
			특히 도심을 내려다보는 야경이 화려하기로 유명하다. <br><br>
			박지(원적봉 <span class="mint">></span> 중간 헬기장 <span class="mint">></span> 평지 <span class="mint">></span> 천덕봉 등)가 많다. <br>
			주말 혹은 공휴일에 방문 예정인 백패커라면, <br>
			박지 전쟁에서 조금은 해방될 수 있다.
			</p>
			<img data-aos="fade" class="full" src="/assets/imgs/round/<?=$this->round?>/story/trip/03/sub02.png">
			<p data-aos="fade-up">본인이 저질체력 소유자라면 특히 이곳에 주목! <br>
			영원사 주차장에서 고작 1.5km만 가면 첫 번 째 박지가 기다리고 있다. <br>
			또한, 등산시간 대비 멋진 뷰를 마주할 수 있어서 가성비가 좋은 곳이다. <br><br>
			영원사 출발 기준 1시간 30분 정도면 가장 높은 천덕봉까지 갈 수 있으니, <br>
			초보 백패커들에게 이보다 달콤한 곳이 있을까?</p>
			
			<div class="full flex mt60 gap20">
				<div class="w416" data-aos="fade-right">
					<img data-aos="fade" class="fullin" src="/assets/imgs/round/<?=$this->round?>/story/trip/03/sub03.png">
				</div>
				<p class="flex bottom" data-aos="fade-left" >등산로 초입까지 <br>
				자가용 이용이 가능하다. <br><br>
				원적산 아래에 위치한 <br>
				영원사 주차장을 이용할 것. <br><br>
				주차비가 무료라 부담 제로!</p>
			</div>
			<div class="summary_info mt40" data-aos="fade-up">
				<p class="title mint mb12"><b>경기 이천시 원적산 코스</b></p>
				<p class="l1">영원사 주차장 출발 <span class="mint">&nbsp;<b>></b>&nbsp;</span> 영원사 갈림길</p>
				<p class="l2">경사리 갈림길 <span class="mint">&nbsp;<b>></b>&nbsp;</span> 원적상 정상 <span class="mint">&nbsp;<b>></b>&nbsp;</span> 천덕봉 도착</p>
			</div>
		</div>
	</section>
	<section>
		<div class="content_wrap">
			<div class="bottom_box full" data-aos="fade">
				<p class="mint bold tcenter">LNT(Leave No Trace) 매너는 필수</p>
				<p class="tcenter mt12">백패킹에서 가장 중시되는 매너다. <br>
				즉, 흔적을 남기지 않고 떠나는 것을 의미한다. <br>
				백패킹 도중 만나는 들판은 백패커들의 집이 되고, <br>
				별이 쏟아지는 하늘은 천장이 되어준다. <br>
				이렇듯 자연에게 선물받은 자유와 휴식을 만끽하되, <br>
				피해주지 말고 돌아올 것. 백패커라면 필수적인 매너다.</p>
			</div>
			<img data-aos="fade" class="full" src="/assets/imgs/round/<?=$this->round?>/story/trip/mo_sub.png">
			<p class="full tcenter" data-aos="fade-up">백패킹의 매력은 자연 속에서 시간의 흐름을 오롯이 느낄 수 있다는 점 아닐까. <br>
			일상 속에만 머물렀다면 볼 수 없었을 풍경들을 마주하고, <br>
			그것들을 오감으로 즐긴다. <br><br>
			백패킹을 통해 얻어가는 영감은 박지마다 다르고, <br>
			감동의 모양새 또한 제각각이다. <br>
			이 묘미를 깨닫는 순간, 너는 이미 프로 백패커가 되어있을지도!</p>
		</div>
	</section>
</div>