.layout_image_768 {
  display: none;
}

.layout_image_768 img:nth-child(1) {
  margin-top: 52px;
}

/* VISUAL 영역 */
.visual {
  height: 47.5rem;
  background: #222222;
}

.visual .slide {
  width: 60%;
  background: #181818;
}

.visual .text {
  width: 40%;
  padding: 0 0 0 2.5rem;
}

.visual .text * {
  color: #f2f2f2;
}

.visual .text b {
  font-size: 54px;
  margin: 0 0 4rem;
}

.visual .text b::before {
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -8px;
  position: absolute;
  background: #f2f2f2;
}

.visual .text p {
  font-size: 20px;
  line-height: 1.7rem;
  font-weight: 200;
  color: #dadada;
}

.visual .text p span {
  line-height: 3.5rem;
  font-size: 18px;
  font-weight: 600;
}

.visual .text .pa {
  bottom: 4rem;
  right: 4rem;
  font-size: 100px;
  color: #3a3a3a;
}

/* INTRO 영역 */
.intro {
  padding: 3rem 0 0;
}

.intro .block {
  width: 15px;
  height: 15px;
  margin: 0 .5rem 0 0;
  display: block;
  background: #222222;
}

.intro .top .image {
  height: 25rem;
}

.intro .top p {
  padding: 2rem 0 6rem;
  font-size: 18px;
  text-align: center;
  color: #666666;
}

.intro .top p b {
  line-height: 4rem;
  font-size: 28px;
  font-weight: 800;
}

.intro .center {
  padding: 8rem 0 5rem;
}

.intro .center .title {
  padding: 0 0 0 1.5rem;
  margin: 0 0 50px;
}

.intro .center .title b {
  padding: 0 0 5px;
  font-size: 20px;
}

.intro .center .title span {
  font-weight: 400;
  opacity: .8;
  color: #666666;
}

.intro .center .title::before {
  content: '';
  width: 8px;
  height: 100%;
  left: 0;
  position: absolute;
  background: #222222;
}

.intro .center .container .cell:first-child {
  width: 57.5%;
  gap: 1rem;
}

.intro .center .container .cell:first-child .image {
  height: 50%;
}

.intro .center .container .cell:last-child {
  width: 42.5%;
  padding: 0 0 0 1rem;
}

.intro .center .container .cell:last-child p {
  line-height: 1.5rem;
  padding: 0 0 2.5rem;
}

.intro .center .container .cell:last-child p b {
  font-size: 20px;
  font-weight: 800;
  line-height: 3rem;
}

.intro .center .container .cell:last-child .image {
  height: 42.5rem;
}

.intro .bottom {
  padding: 0 0 6rem;
}

.intro .bottom > .image {
  width: 42.5%;
}

.intro .bottom .container {
  width: 57.5%;
  padding: 0 0 0 1rem;
}

.intro .bottom .container p {
  line-height: 1.5rem;
  padding: 0 0 2.5rem;
}

.intro .bottom .container p b {
  font-size: 20px;
  font-weight: 800;
  line-height: 3rem;
}

.intro .bottom .container .image {
  height: 30rem;
}

.intro_imo .text {
  padding-bottom: 2rem;
}

/* GALLERY 영역 */
.gallery {
  padding: 6rem 0 0;
}

.gallery .block {
  width: 15px;
  height: 15px;
  margin: 0 .5rem 0 0;
  display: block;
  background: #222222;
}

.gallery .title {
  padding: 0 0 0 1.5rem;
  margin: 0 0 50px;
}

.gallery .title b {
  padding: 0 0 5px;
  font-size: 20px;
}

.gallery .title span {
  font-weight: 400;
  opacity: .8;
  color: #666666;
}

.gallery .title::before {
  content: '';
  width: 8px;
  height: 100%;
  left: 0;
  position: absolute;
  background: #222222;
}

.gallery .top {
  padding: 0 0 6rem;
}

.gallery .top > .image {
  height: 25rem;
}

.gallery .top .container {
  padding: 1rem 0 6rem;
  gap: 1rem;
}

.gallery .top .container > * {
  width: 33.33%;
}

.gallery .top .container .image {
  height: 20rem;
}

.gallery .top .container p b {
  font-size: 20px;
  font-weight: 800;
  line-height: 3rem;
}

.gallery .top .container p span {
  font-weight: 800;
}

.gallery .top .container p {
  line-height: 1.5rem;
}

.gallery .top .box > .image {
  width: 42.5%;
}

.gallery .top .box .text {
  width: 57.5%;
  padding: 0 0 0 1rem;
}

.gallery .top .box .text p {
  line-height: 1.5rem;
  padding: 0 0 2.5rem;
}

.gallery .top .box .text p b {
  font-size: 20px;
  font-weight: 800;
  line-height: 3rem;
}

.gallery .top .box .text .image {
  height: 30rem;
}

.intro_imo p,
.gallery .center > p {
  line-height: 1.5rem;
}

.intro_imo p b,
.gallery .center > p b {
  font-size: 20px;
  font-weight: 800;
  line-height: 3rem;
}

.gallery .center .container {
  padding: 2.5rem 0 6rem;
  justify-content: space-between;
}

.gallery .center .container .image {
  height: 37.5rem;
  width: calc(50% - .5rem);
}

.gallery .center .box {
  padding: 6rem 0 0;
  gap: 1rem;
}

.gallery .center .box > div > * {
  width: 50%;
}

.gallery .center .box .text {
  padding: 0 0 0 1rem;
}

.gallery .center .box .text .image {
  height: 25rem;
}

.gallery .center .box .text p {
  padding: 2.5rem 0 0;
  line-height: 1.5rem;
}

.gallery .center .box .text p b {
  font-weight: 800;
}

.gallery .center .box .text p b:first-child {
  font-size: 20px;
  font-weight: 800;
  line-height: 3rem;
}

.gallery .bottom {
  padding: 6rem 0 0;
}

.gallery .bottom > p {
  padding: 0 0 2.5rem;
  line-height: 1.5rem;
}

.gallery .bottom > p b {
  font-size: 20px;
  font-weight: 800;
  line-height: 3rem;
}

.gallery .bottom .container {
  padding: 0 0 2.5rem;
  gap: 1rem;
}

.gallery .bottom .container .image {
  width: 33.33%;
  height: 20rem;
}

.gallery .bottom .container .image:last-child {
  height: 30rem;
}

.gallery .bottom .box {
  gap: 1rem;
}

.gallery .bottom .box > * {
  width: 50%;
}

.gallery .bottom .box .text p {
  padding: 2.5rem 0;
  line-height: 1.5rem;
}

.gallery .bottom .box .text .image {
  height: 30rem;
}

/* LOVE 영역 */
.love > p {
  padding: 2.5rem 0;
  font-size: 20px;
  line-height: 2rem;
  word-break: keep-all;
}

.love .top .container div {
  gap: 1rem;
}

.love .top .container .image {
  width: 100%;
  height: 22.5rem;
}

.love .top .container a {
  margin: 1rem 0 0;
  padding: 1.5rem;
  font-size: 20px;
  display: block;
  text-align: center;
  color: #f2f2f2;
  background: #222222;
}

.love .top .container a b {
  color: #f2f2f2;
}
.home_party .bottom .container .image:first-child {
  width: 55%;
}

.home_party .bottom .container .image:last-child {
  width: 45%;
}

.home_party .bottom .container .image {
  height: 30rem;
}

.home_party .bottom .bottom_big {
  width: 80%;
  height: 43rem;
}
.home_party .bottom .box {
  margin-top: 5rem;
  gap: 2rem;
}

.home_party .bottom .box .text {
  display: flex;
  align-items: end;
}

.life_section .center .box .image {
  width: 100%;
  height: 36rem;
}

.link_span {
  color: #ef1d1d;
}

.donate_item:not(.first-don-item) {
  padding-top: 8rem;
}

@media (max-width: 1480px) {
  .banner .image {
    width: 100%;
  }

  .banner {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .visual {
    display: block;
    height: auto;
    position: relative;
    margin-bottom: 30vh;
  }

  .layout {
    display: none !important;
  }

  .layout_image_768 {
    display: block !important;
  }

  .visual .slide {
    width: 100%;
  }

  .visual .text {
    width: 60%;
    /* height: 20rem; */
    padding: 4.5rem 4rem 7rem;
    position: absolute;
    top: 80%;
    z-index: 1;
    background: #222;
  }

  .visual .text b {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 2rem;
  }

  .visual .text p {
    font-size: 1rem;
  }

  .visual .text .en {
    font-size: 3.5rem;
    color: #fff;
    opacity: .3;
    position: absolute;
    right: 4%;
    bottom: 10%;
  }

  .intro .center .container {
    gap: 1rem;
  }

  .intro .bottom .container,
  .intro .center .container .cell {
    width: 100%;
  }

  .intro .bottom {
    flex-direction: column-reverse !important;
  }

  .intro .center .container .cell:first-child {
    width: 60%;
  }

  .intro .bottom .container .image {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .intro .bottom .container .image img {
    width: 49%;
  }

  .intro .center .container .cell:last-child p {
    word-break: keep-all;
  }

  .intro .center .container .cell:last-child p b {
    word-break: keep-all;
    align-items:baseline;
    line-height: 2.2rem;
    font-size: 1.4rem;
  }

  .intro .center .container .cell:last-child p {
    padding: 0 0 2rem;
  }

  .intro .center .container .cell:last-child {
    padding: 0;
  }

  .intro .bottom {
    flex-direction: column;
  }

  .intro .bottom > .image {
    width: 49%;
    height: 30rem;
    transform: translateY(-100%);
  }

  .intro .bottom {
    padding: 0;
    margin-bottom: -24rem;
  }

  .gallery .bottom .box .text p,
  .gallery .bottom > p,
  .gallery .center .box .text p,
  .gallery .top .box .text p,
  .gallery .top .container p,
  .intro .bottom .container p,
  .intro_imo p, .gallery .center > p,
  .intro .bottom .container p,
  .intro .center .container .cell:last-child p {
    font-size: 1.2rem;
  }

  .gallery .center .container,
  .gallery .top .box {
    flex-direction: column-reverse;
  }

  .gallery .top .container {
    flex-wrap: wrap;
  }

  .gallery .top .container p b {
    justify-content: center;
  }

  .gallery .top .container > div:nth-child(1) {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .gallery .top .container > div:not(:nth-child(1)) {
    width: 47%;
  }

  .gallery .top .container,
  .intro_imo .container {
    gap: 1rem;
  }

  .gallery .top .container > * {
    width: 100%;
  }

  .gallery .top .box > .image {
    width: 100%;
    height: 30rem;
  }

  .gallery .top .box .text {
    padding: 0;
    width: 100%;
  }

  .gallery .center .container .image {
    height: 25rem;
  }

  .gallery .center .box > div {
    flex-direction: column;
  }

  .gallery:not(.home_party):not(.life_section) .center .box > div > * {
    width: 100%;
  }

  .gallery:not(.home_party):not(.life_section) .center .box > div > .image {
    height: 45rem;
  }

  .gallery .center .box .text {
    padding: 0;
  }

  .gallery .bottom .container {
    flex-direction: column;
  }

  .gallery .bottom .container .image {
    width: 100%;
  }

  .love .top .container div,
  .gallery .bottom .box {
    flex-direction: column;
  }

  .gallery .bottom .box > * {
    width: 100%;
  }

  .home_party .bottom .container .image {
    width: 100% !important;
  }

  .gallery .center .box .text p b:first-child {
    font-size: 18px;
    align-items: baseline;
  }

  .intro .bottom .container {
    padding: 0;
  }

  .gallery .top .box .text .image {
    height: 25rem;
    display: flex;
    justify-content: flex-end;
  }

  .gallery .top .box > .image {
    width: 44%;
    transform: translateY(-100%);
  }
  
  .gallery .top .box .text .image img {
    width: 54%;
  }

  .gallery .top .box .text p {
    padding: 0 0 6.5rem;
  }

  .gallery .top {
    padding: 0;
  }

  .gallery:not(.home_party):not(.life_section) .center {
    transform: translateY(-15%);
  }

  .gallery .center .container {
    flex-direction: row;
    gap: 1rem;
  }

  .gallery .center .container .image {
    width: 100%;
  }

  .gallery:not(.home_party):not(.life_section) .center .box > div > .image {
    width: 85%;
    transform: translateX(-15%);
  }

  .gallery:not(.home_party):not(.life_section) .center .box .text {
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    transform: translateX(30%);
    gap: 1rem;
  }

  .gallery:not(.home_party):not(.life_section) .bottom {
    padding: 0;
    transform: translateY(-5%);
  }

  .gallery .bottom > p:nth-child(1) b {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .gallery .bottom > p:nth-child(1) {
    text-align: center;
    padding: 0 3rem 2.5rem;
  }
  .gallery .bottom .container {
    flex-direction: row;
    padding: 0 0 5.5rem;
  }

  .gallery .bottom .box {
    flex-direction: row;
  }

  .gallery .bottom .box > .image {
    height: 35rem;
  }

  .gallery .bottom .box .text p b {
    line-height: 3rem;
    font-size: 1.6rem;
  }

  .love > p {
    font-size: 1.5rem;
    text-align: center;
    padding: 2.5rem 3.4rem;
    word-wrap: break-word;
  }

  .home_party .center .box .text,
  .home_party .center .box .text p {
    width: 100%;
  }

  .home_party .center .pc_hide .image {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .home_party .center .pc_hide .image img {
    width: 49%;
    height: auto;
  }

  .home_party .bottom .container {
    padding: 0;
  }

  .baking_text {
    padding-top: 2.8rem !important;
    font-size: 1.2rem !important;
  }

  .banner {
    width: 50vw;
  }
}

@media (max-width: 500px) {
  .intro .bottom .container {
    width: 100%;
  }

  .visual {
    display: block;
    height: auto;
    position: relative;
    margin-bottom: 0;
  }

  .visual .slide {
    width: 100%;
  }

  .visual .text {
    width: 100%;
    /* height: 20rem; */
    padding: 4.5rem 4rem 7rem;
    position: inherit;
    background: #222;
  }

  .intro .center .container .cell:last-child .image {
    height: 32rem;
  }

  .intro .center .container .cell:last-child p {
    font-size: 1.1rem;
  }

  .intro_imo p {
    font-size: 1rem;
  }

  .intro_imo .container .image {
    height: 20rem;
  }

  .gallery .bottom > p:nth-child(1) {
    padding: 0 1.5rem 2.5rem;
  }

  .home_party .bottom .box .text p {
    font-size: 1rem;
  }

  .life_section .center .box .text {
    width: 100%;
  }

  .life_section .center .box .text p b:first-child {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .donate_item .link_span {
    word-break: break-all;
  }

  .banner {
    width: 80vw;
  }
}
