* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  color: #222222;
}

.layout_image_768 img:nth-child(1) {
  margin-top: 52px;
}

.kr {
  font-family: 'Pretendard', sans-serif;
  letter-spacing: -0.025em;
}

.en {
  font-family: 'Gfs', sans-serif;
  letter-spacing: -0.030em;
}

body, html {
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  transition: .2s;
  cursor: pointer;
  object-fit: cover;
}

.image:hover img {
  transform: scale(1.02);
}

.flex {display: flex;}
.jcs {justify-content: start;}
.jcc {justify-content: center;}
.jce {justify-content: end;}
.jcsb {justify-content: space-between;}
.ais {align-items: start;}
.aic {align-items: center;}
.aie {align-items: end;}
.fdc {flex-direction: column;}
.pa {position: absolute;}
.pr {position: relative;}
.pointer {cursor: pointer;}

.wrap {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.line {
  height: 1px;
  background: #e8e8e8;
}

/* HEADER 영역 */
header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  backdrop-filter: blur(7px);
  border-bottom: none;
  transition: .4s;
  background: #000;
}

header .logo img {
  height: 32px !important;
  display: block;
  height: auto;
}

@media (max-width: 700px) {
  header .logo img {
    width: 70px;
    height: auto !important;
  }

  header .wrap {
    height: auto !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}


header .wrap {
  padding: 16px 0;
  height: 70px;
}

header .menu {
  gap: 25px;
}

header .menu img {
  display: none;
}

header .menu > a {
  font-size: 20px;
  letter-spacing: -0.030em;
  color: #f2f2f2;
  transition: .3s;
}

header .menu > a:hover {
  opacity: .6;
}

@media (max-width: 768px) {
  header .wrap {
    justify-content: center !important;
    width: 100%;
    position: relative;
  }

  header .mobile-menu {
    position: relative;
    width: calc(26px * .8);
    height: calc(18px * .8);
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    transition: .3s;
  }

  header .mobile-menu::after,
  header .mobile-menu::before {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    transition: .3s;
  }

  header .mobile-menu.active {
    border-color: transparent;
  }

  header .mobile-menu.active::after {
    transform: translateY(-50%) rotate(45deg);
  }

  header .mobile-menu.active::before {
    transform: translateY(-50%) rotate(-45deg);
  }

  header .menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    display: block !important;
    padding: 10rem 1.5rem 0 1.5rem;
    transform: translateX(100%);
    transition: .3s;
    text-align: end;
    font-family: "Gfs";
  }

  header .menu img {
    display: block;
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    margin-top: 6rem;
  }

  header .menu.active {
    transform: translateX(0);
  }

  header .menu a {
    display: block;
    padding-top: 2.5rem;
    /* padding-bottom: 1.5rem; */
    font-size: 4rem;
  }
}

/* 현재 페이지 */
marquee p {
  padding: 0 20px 0 0;
  display: inline;
}

.now_white {
  height: 5rem;
  padding: 0.45rem 0;
  line-height: 1.5;
  font-size: 2.875rem;
  letter-spacing: -0.030em;
  overflow: hidden;
  background: #fff;
  border-top: 1px solid #222222;
  border-bottom: 1px solid #222222;
}

.now {
  height: 5rem;
  padding: 0.45rem 0;
  line-height: 1.5;
  font-size: 2.875rem;
  letter-spacing: -0.030em;
  overflow: hidden;
  background: #000;
  border-top: 1px solid #222222;
  border-bottom: 1px solid #222222;
}

.now_slide {
  height: 100%;
  gap: 2rem;
  animation: 10000s now infinite linear;
}

.now_slide p {
  text-align: center;
  white-space: nowrap;
}

.now_slide p:nth-child(odd) {
  color: #f2f2f2;
}

.now_slide .hide {
  display: none;
}

@keyframes now {
  0%, 100% {transform: translateX(0);}
  100% {transform: translateX(-100%);}
}

/* BANNER 영역 */
.banner {
  width: 30rem;
  margin: 10rem auto 5rem;
  background: #000;
  border: 2px solid #000;
}

.banner .image {
  height: 35rem;
}

.banner p {
  padding: 1rem 0;
  line-height: 2rem;
  font-weight: 200;
  text-align: center;
  color: #f2f2f2;
}

/* FOOTER 영역 */
footer {
  border-top: 1px solid #e8e8e8;
}

footer .wrap {
  height: auto;
  padding: 85px 0;
}

footer .logo img {
  width: 170px;
  height: 150px;
}

footer .text {
  padding: 0 0 0 70px;
  line-height: 30px;
}

footer .text b {
  letter-spacing: -0.025em;
}

footer .text span  {
  letter-spacing: -0.030em;
  font-weight: 100;
  color: #c6c6c6;
}

.family_site {
  width: 180px;
  font-weight: 100;
  padding: 6px 10px;
  margin: 0 0 5px;
  font-size: 12px;
  letter-spacing: -0.030em;
  border: 1px solid #666666;
  position: relative;
  cursor: pointer;
}

.family_site > a::after {position: absolute; content:'>'; font-weight: bold; font-size: 1rem; transform: rotate(270deg); right: 5%; top: 10%;}

.family_site ul {list-style: none; display:none; border:2px solid #F5F5F5; background-color:#fff; position:absolute; bottom: 1.8rem; left: 0; width:100%;}
.family_site ul.on {display:block;}
.family_site ul li {font-size: .8rem; color:#333; border-bottom:2px solid #f5f5f5;}
.family_site ul li:last-child {border-bottom:0;}
.family_site ul li a {color:inherit; padding: 8px 18px; display:block;}

/* SNOW 영역 */
.snow {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  position: absolute;
  pointer-events: none;
}

.snow span {
  width: calc(var(--s) * 10px);
  height: calc(var(--s) * 10px);
  border-radius: 50%;
  filter: blur(calc(var(--b) * .6px));
  transform-origin: bottom;
  background: #fff;
  animation: 7s rain linear infinite;
  animation-duration: calc(50s / var(--i));
}

@keyframes rain {
  0% {transform: translateY(0) scale(1);}
  70% {transform: translateY(110vh) scale(1);}
  100% {transform: translateY(110vh) scale(0);}
}

.mobile_title_empty {
  width: 15%;
  display: none;
  opacity: 0;
}

.pc_hide {
  display: none;
}

@media (max-width: 1480px) {
  html, body {
    font-size: 14px;
  }
}

@media (max-width: 1080px) {
  html, body {
    font-size: 12px;
  }

  .wrap {
    max-width: 960px;
  }
  
  .now_slide {
    gap: 2.6rem;
  }
}

@media (max-width: 768px) {
  html, body {
    font-size: 12px;
  }

  .now_slide {
    gap: 1.6rem;
  }

  .wrap {
    width: calc(100vw - 5rem);
  }

  .history_wrap {
    max-width: 100% !important;
  }

  footer .wrap {
    width: calc(100vw - 1.5rem);
    padding: 5.3rem 0;
  }

  footer .wrap > div {
  }

  footer .text {
    word-break: keep-all;
  }

  footer .wrap > div {
    justify-content: center;
    align-items: center;
  }

  footer .logo img {
    width: 4.8rem;
    height: 4.4rem;
    object-fit: fill;
  }

  footer b {
    font-size: 1.2rem;
    font-weight: 400;
  }

  footer .text {
    padding-left: 1rem;
    margin-left: 0;
    line-height: 1.5;
    margin-top: .1rem;
  }

  footer .text span {
    padding-top: .4rem;
    display: block;
  }

  .family_site {
    width: 12rem;
    /* margin: 0 auto; */
  }

  header .wrap {
    justify-content: flex-start !important;
    padding: 1.6rem 15px;
  }

  .mobile_title_empty {
    display: flex;
  }

  .news_title h2, .video_area_title h2, .area_title h2 {
    text-align: center;
  }

  .pc_hide {
    display: block;
  }

  .mobile_hide {
    display: none;
  }
}

.top_button {
  width: 5rem;
  height: 5rem;
  font-size: 22px;
  right: 3rem;
  bottom: 10rem;
  z-index: 89;
  letter-spacing: 1px;
  border-radius: 50%;
  position: fixed;
  color: #f2f2f2;
  background: #222222;
}

.top_button img {
  width: 12px;
  height: 20px;
  transform: rotate(90deg);
}

@media (max-width: 600px) {
  .family_site {
    width: 8rem;
  }

  footer .wrap {
    padding: 2rem 0;
  }
  footer .logo img {
    width: 2.8rem;
    height: 2.4rem;
  }

  footer .text b {
    font-size: .8rem;
  }
  footer .text {
    font-size: .6rem;
  }

  .top_button {
    width: 3.5rem;
    height: 3.5rem;
    right: 2rem;
    bottom: 7rem;
  }
}

@media (max-width: 500px) {
  .family_site ul {bottom: 2.4rem;}
  }

.popup_content .check_info:nth-child(2) {
  padding-top: 0;
  padding-bottom: 1.6rem;
  margin-top: -.5rem;
  line-height: 1.5;
  opacity: .8;
}

.popup_content .check_detail > b:first-child {
  padding: 1rem 0 0 2.5rem;
  display: block;
}

.popup_content .warn {
  padding-top: 3rem;
}