<style>
.subpage #header::before {background: #fff; opacity: 1; box-shadow: 0px 4px 10px #00000029;}
.subpage #header .wrap h1 a img.white_back {display:none;}
.subpage #header .wrap h1 a img.black_back {display:block;}
.subpage #header .wrap h1 a img.white_logo {display:none;}
.subpage #header .wrap h1 a img.black_logo {display:block;}
.subpage #header .menu-right i {background: url(/assets/imgs/icon/MO_CAT_B.svg); background-size: 100%; background-repeat: no-repeat;}
.subpage #header.on .menu-right i {background: url(/assets/imgs/icon/MO_CAT_CLO_B.svg); background-size: 100%; background-repeat: no-repeat;}
.subpage #header .menu-right ul li a {color:#000;}

.news_header {padding-top:18rem; margin-left:3.6rem; margin-right:3.6rem;}
.news_header .content_wrap {padding:0; display:flex; width:100%; justify-content:space-between;}
.news .content_wrap {padding-top:0rem;}
.news > .content_wrap li {margin-bottom:6rem;}
.news > .content_wrap li:last-child {margin-bottom:0;}

@media (min-width: 1500px) {
	.news_header {margin:0;}
	.news_header .content_wrap {width:696px;}
	
	.news .content_wrap {padding-left:0; padding-right:0;}
	
	/*
	.news > .content_wrap {width:1452px; padding-left:0; padding-right:0;}
	.news > .content_wrap ul {margin-left:-6rem; display:flex; flex-flow:column wrap; align-content: space-between; height:2680px;}
	.news > .content_wrap li {margin-left:6rem; width:696px; margin-bottom:10rem;}
	.news > .content_wrap li:nth-of-type(1) {order:1;}
	.news > .content_wrap li:nth-of-type(2) {order:5;}
	.news > .content_wrap li:nth-of-type(3) {order:2;}
	.news > .content_wrap li:nth-of-type(4) {order:6;}
	.news > .content_wrap li:nth-of-type(5) {order:3;}
	.news > .content_wrap li:nth-of-type(6) {order:7;}
	.news > .content_wrap li:nth-of-type(7) {order:4;}
	.news > .content_wrap li:last-of-type {margin-bottom:0;}
	*/
}

@media (min-width: 1280px) {

}

</style>

<div class="contents news">
	<div class="news_header">
		<div class="content_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/news/news_main_t1.png" style="width:44.8rem;">
			<img src="/assets/imgs/round/<?=$this->round?>/news/main_logo.png" style="width:5.2rem;">
		</div>
	</div>
	<div class="content_wrap">
		<ul class="mt60 fullhalf">
			<li data-aos="fade-up">
				<img class="fullin" src="/assets/imgs/round/<?=$this->round?>/news/news_main_08.svg">
				<a href="/news/view/2/8"><b>한우불고기 신제품</b> 자세히 보러가기</a>
			</li>
			<li data-aos="fade-up">
				<img class="fullin" src="/assets/imgs/round/<?=$this->round?>/news/news_main_01.svg">
				<a href="/news/view/2/1"><b>사옥이전 1주년</b> 자세히 보러가기</a>
			</li>
			<li data-aos="fade-up">
				<img class="fullin" src="/assets/imgs/round/<?=$this->round?>/news/news_main_02.svg">
				<a href="/news/view/2/2"><b>스마트스토어</b> 자세히 보러가기</a>
			</li>
			<li data-aos="fade-up">
				<img class="fullin" src="/assets/imgs/round/<?=$this->round?>/news/news_main_03.svg">
				<a href="/news/view/2/3"><b>뉴트로 신제품</b> 자세히 보러가기</a>
			</li>
			<li data-aos="fade-up">
				<img class="fullin" src="/assets/imgs/round/<?=$this->round?>/news/news_main_04.svg">
				<a href="/news/view/2/4"><b>스마일 캠페인</b> 자세히 보러가기</a>
			</li>
			<li data-aos="fade-up">
				<img class="fullin" src="/assets/imgs/round/<?=$this->round?>/news/news_main_05.svg?ver=1">
				<a href="/news/view/2/5"><b>시즌 빙수 출시</b> 자세히 보러가기</a>
			</li>
			<li data-aos="fade-up">
				<img class="fullin" src="/assets/imgs/round/<?=$this->round?>/news/news_main_06.svg">
				<a href="/news/view/2/6"><b>KLPGA 팝업스토어</b> 자세히 보러가기</a>
			</li>
			<li data-aos="fade-up">
				<img class="fullin" src="/assets/imgs/round/<?=$this->round?>/news/news_main_07.svg?ver=1">
				<a href="/news/view/2/7"><b>어린이날 100주년</b> 자세히 보러가기</a>
			</li>
		</ul>
	</div>
	
</div>