<style>
.contents.story_sub .sub_top .img_wrap::before {display:none;}
.contents .video_wrap {position:relative; padding:56.25% 0 0 0; margin-top:4rem;}
.contents.story_sub section.sub_header h4 {text-align:center;}
.contents.story_sub section.sub_header h2 {text-align:center;}
.contents.story_sub .sub_header .content_wrap .video_wrap + p {margin-top:2rem; text-align:center;}
.contents.story_sub .sub_header .content_wrap img + p {margin-top:2rem; text-align:center; margin-left:-7.2rem; margin-right:-7.2rem;}
.contents.story_sub .sub_header .content_wrap a {font-size:2.6rem; font-weight:bold; height:6rem; width:100%; margin-top:4rem; margin-left:3.6rem; margin-right:3.6rem; width: calc( 100% - 7.2rem ); border:1px solid #037781; color:#037781; display:flex; justify-content:center; align-items:center;}
</style>
<div class="contents story_sub news_sub">
	<div class="sub_top">
		<div class="img_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/news/5/news_시즌빙수출시.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/news/5/05.png" class="pc">
		</div>
	</div>
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			혼밥은 익숙해도 혼빙이 익숙치 않을 MZ를 위해 엔제리너스가 나섰다. <br>
			가슴 속까지 시원하게 즐길 수 있는 <br>
			하절기 신제품 빙수 3종을 출시했기 때문!
			</p>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade">하절기 시즌 시원한 빙수 3종</h4>
			<h2 data-aos="fade">혼빙족 사냥, 여름맞이 빙수 출시</h2>
			<img src="/assets/imgs/round/<?=$this->round?>/news/5/sub01.png" data-aos="fade-up" class="fullin" style="margin-top:4rem;">
			<p data-aos="fade-up" class="tcenter">작년에 이어 선보인 ‘오리지널 눈꽃빙수’는 연유, 팥, 콩고물 등을 <br>
			올려 기본에 충실한 조합으로 고객들의 큰 사랑을 받은 제품이다. <br>
			비교적 저렴한 가격으로 혼빙족들의 큰 사랑을 받았다.</p>
			<img src="/assets/imgs/round/<?=$this->round?>/news/5/sub02.png" data-aos="fade-up" class="w416 center">
			<p data-aos="fade-up" class="tcenter">MZ 세대들의 니즈에 맞춰 기존의 빙수를 <br>
			새롭게 선보인 뉴트로 콘셉트의 빙수 2종은 <br>
			오리지널 팥빙수와 소르베 망고빙수다. <br><br>
			부드러운 대패형 우유 얼음 위에 달콤한 팥과 고소한 콩고물, <br>
			바닐라와 그린티 아이스크림을 얹은 오리지널 팥빙수, <br>
			그리고 대패형 샤베트 망고 얼음 위에 새콤달콤한 애플망고와 <br>
			달콤한 아이스크림을 올린 소르베 망고빙수로 <br><br>
			빙수계에 도전장을 내미는 엔젤리너스! <br>
			여름 시즌 음료도 내달 출시할 예정이라고 하니, <br>
			벌써부터 JMT 각에 군침이 싹도노</p>
		</div>
	</section>
</div>