<style>
.contents.story_sub .sub_top .img_wrap::before {display:none;}
.contents .video_wrap {position:relative; padding:56.25% 0 0 0; margin-top:4rem;}
.contents.story_sub section.sub_header h4 {text-align:center;}
.contents.story_sub section.sub_header h2 {text-align:center;}
.contents.story_sub .sub_header .content_wrap .video_wrap + p {margin-top:2rem;}
.contents.story_sub .sub_header .content_wrap img + p {margin-top:2rem;}
.contents.story_sub .sub_header .content_wrap a {font-size:2.6rem; font-weight:bold; height:6rem; width:100%; margin-top:4rem; margin-left:3.6rem; margin-right:3.6rem; width: calc( 100% - 7.2rem ); border:1px solid #037781; color:#037781; display:flex; justify-content:center; align-items:center;}
.contents.story_sub .box {background:#fbfbfb; border:1px solid #D8D8D8; padding:2rem;}
</style>
<div class="contents story_sub news_sub">
	<div class="sub_top">
		<div class="img_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/news/7/07_mo.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/news/7/07_pc.png" class="pc">
		</div>
	</div>
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			100주년을 맞이한 이번 어린이날(이라 쓰고, <br>
			6일에 연차 쓴 우리 어른이들은 황금 휴일이라 읽는다( ͡° ͜ʖ ͡°)ㅎ) <br>
			롯데리아가 빠질 수 없지! 이를 기념하여 롯데리아는 어린이와 <br>
			동반 가족을 위한 오프라인 체험 이벤트를 운영하였다. <br>
			이번 이벤트는 영역 구분을 없애고자 스포츠 구단과 <br>
			직업 체험 테마파크와 제휴해 진행했다.
			</p>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade">가정의 달 기념 영역 구분 없는 고객 이벤트</h4>
			<h2 data-aos="fade">어린이가 있다면 빠질 수 없지 !</h2>
			<img src="/assets/imgs/round/<?=$this->round?>/news/7/sub01.png" data-aos="fade-up" class="full mt40">
			<p data-aos="fade-up" class="tleft">5월 5일 어린이날, 수원은 종일 시끄러웠다. <br>
			바로 K 리그 수원 FC의 홈경기가 열렸기 때문. <br><br>
			‘불고기는 롯데리아’의 테마를 주제로 <br>
			‘롯데리아 브랜드 DAY’가 당일 운영되었다. <br>
			이날 경기가 열리는 수원종합운동장을 찾아준 <br>
			어린이와 동반 가족을 대상으로 진행된 ‘슛팅 이벤트’가 메인 이벤트!</p>
			<img src="/assets/imgs/round/<?=$this->round?>/news/7/sub02.png" data-aos="fade-up" class="fullhalf">
			<p data-aos="fade-up" class="tcenter fullin">이날 우리 어른이 관람객들을 빼놓으면 섭섭하지. <br>
			어른이들을 위해서는 선착순 SNS 업로드 이벤트가 진행되었다. <br>
			전광판 및 경기장 내외에 있는 롯데리아와 관련된 컨텐츠를 촬영 후, <br><br>
			SNS에 게시한 선착순 100명에게 <br>
			롯데리아 불고기버거세트 교환권을 증정하였다던데! <br>
			어린이날은 있고 왜 어른이날은 없냐는 우리 어른이들, <b class="mint">괜아돼!</b></p>
			<img src="/assets/imgs/round/<?=$this->round?>/news/7/sub03.png" data-aos="fade-up" class="w416 center">
			<p data-aos="fade-up" class="tcenter fullin">이와 더불어 롯데리아는 <br>
			서울과 부산에 있는 어린이 직업 체험 테마파크, 키자니아를 찾아갔다. <br>
			어린이날부터 다음날까지 이틀간 입장고객에게 선착순으로 <br>
			불고기버거세트 교환권 및 스티커 굿즈 등을 제공했다는 소문이! <br><br>
			특히, 키자니아 서울에서는 테마파크 내 중앙광장에서 입장 <br>
			어린이들을 위한 체험 경품 이벤트 부스가 운영되었다고 하니, <br>
			서울 어린이들 정말 부러운 걸?</p>
			<div class="box mt40 fullhalf" data-aos="fade-up">
				<p class="tleft">포스트 코로나를 환영하며, <br>
				롯데리아는 오프라인 고객과의 접점을 늘리고 있다. <br>
				지난 4월에는 롯데자이언츠의 홈 개막 3 연전 경기내 선수단을 위해 <br>
				약 300잔의 커피를 지원하였다.
				</p>
			</div>
			<div class="fullin mt60">
				<p data-aos="fade-up" class="tcenter fullin">이어 잠실롯데월드타워에서 개최된 ‘스카이런’ 행사에서는 <br>
				롯데리아 한우불고기버거 포토존 및 이벤트 운영과 더불어 <br>
				엔제리너스 커피 차량을 통한 시음 행사를 진행했다. <br>
				스포츠와 테마파크 등 영역 구분 없이 고객과의 스킨십 강화를 위해 <br>
				노력하는 롯데리아의 행보, 기대해도 좋다!</p>
			</div>
		</div>
	</section>
</div>