<style>
.contents.story_sub .sub_top .img_wrap::before {display:none;}
.contents .video_wrap {position:relative; padding:56.25% 0 0 0; margin-top:4rem;}
.contents.story_sub section.sub_header h4 {text-align:center;}
.contents.story_sub section.sub_header h2 {text-align:center;}
.contents.story_sub .sub_header .content_wrap .video_wrap + p {margin-top:2rem; text-align:center;}
</style>
<div class="contents story_sub news_sub">
	<div class="sub_top">
		<div class="img_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/news/1/news_사옥이전.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/news/1/01.png" class="pc">
		</div>
	</div>
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			롯데GRS가 사옥 이전한 지 1주년 되던, 6월 7일! <br>
			이 날 기념식에서 선언한 ‘인권경영헌장’은 총 12가지 원칙을 내세우며 <br>
			공정사회와 인류우선을 강조했다.
			</p>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade">‘인권경영헌장’ 선언 및 헌혈증 기부 행사</h4>
			<h2 data-aos="fade">차별없는 공정사회를 꿈꾸는 우리</h2>
			<div class="fullhalf">
				<div class="video_wrap" data-aos="fade-up">
					<iframe src="https://player.vimeo.com/video/720509691?h=5f23b0670f" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" data-ready="true"></iframe>
				</div>
			</div>
			<p data-aos="fade-up" class="tcenter">ESG 경영 강화와 더불어 인간의 존엄과 가치 향상을 위한 선언을 하며, <br>
			롯데 GRS의 클라스를 보여주었던 순간! <br><br>
			1층에서 이루어진 소아암 환아를 위한 헌혈증 기부 행사에 참여한 <br>
			임직원들은 특히 더 자래쓰! 매우 자래쓰!</p>
			<img src="/assets/imgs/round/<?=$this->round?>/news/1/sub01.png" class="full">
		</div>
	</section>
</div>