<style>
.contents.story_sub .sub_top .img_wrap::before {display:none;}
.contents .video_wrap {position:relative; padding:56.25% 0 0 0; margin-top:4rem;}
.contents.story_sub section.sub_header h4 {text-align:center;}
.contents.story_sub section.sub_header h2 {text-align:center;}
.contents.story_sub .sub_header .content_wrap .video_wrap + p {margin-top:2rem;}
.contents.story_sub .sub_header .content_wrap img + p {margin-top:2rem;}
.contents.story_sub .sub_header .content_wrap a {font-size:2.6rem; font-weight:bold; height:6rem; width:100%; margin-top:4rem; margin-left:3.6rem; margin-right:3.6rem; width: calc( 100% - 7.2rem ); border:1px solid #037781; color:#037781; display:flex; justify-content:center; align-items:center;}
</style>
<div class="contents story_sub news_sub">
	<div class="sub_top">
		<div class="img_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/news/6/news_팝업스토어.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/news/6/06.png" class="pc">
		</div>
	</div>
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			혼밥은 익숙해도 혼빙이 익숙치 않을 MZ를 위해 엔제리너스가 나섰다. <br>
			가슴 속까지 시원하게 즐길 수 있는 <br>
			하절기 신제품 빙수 3종을 출시했기 때문!
			</p>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade">‘KLPGA 롯데 오픈’서 팝업 매장 오픈</h4>
			<h2 data-aos="fade">맛있는 즐거움 그린 위에서도 계속</h2>
			<img src="/assets/imgs/round/<?=$this->round?>/news/6/sub01.png" data-aos="fade-up" class="w416 center mt40">
			<p data-aos="fade-up" class="tcenter">대회 기간동안 참여하는 브랜드는 롯데리아와 엔제리너스, <br>
			크리스피크림도넛. 말 그대로 오마이갓… 리틀 GRS 이즈 히얼! <br>
			각 브랜드 별로 팝업 스토어를 구성해 참관 갤러리들을 위한 <br>
			시식 코너 및 이벤트 체험존이 기획되었다.</p>
			<img src="/assets/imgs/round/<?=$this->round?>/news/6/sub02.png" data-aos="fade-up" class="full">
			<p data-aos="fade-up" class="tleft fullin">이날 반응이 좋았던 롯데리아 퍼팅 이벤트 존. <br>
			참관 갤러리들의 TPO에 맞춘 ‘칩샷’ 행사를 진행해서 화제다. <br>
			이는 선착순 이벤트로, 하루에 6회씩 총 24회 진행되었다. <br>
			행사 참여자들에겐 골프공과 캐릭터 굿즈, 버거 상품권 등 <br>
			다양한 선물이 증정되었다고 하니, 왜 핫했는지 알 것 같기도!</p>
			<div style="display:flex; gap:2rem;" class="mt60 fullhalf">
				<div style="flex:1;">
					<img src="/assets/imgs/round/<?=$this->round?>/news/6/sub03.png" data-aos="fade-right" style="width:100%;">
				</div>
				<div style="flex:1">
					<img src="/assets/imgs/round/<?=$this->round?>/news/6/sub04.png" data-aos="fade-left" style="width:100%;">
				</div>
			</div>
			<p data-aos="fade-up" class="fullin mt20 tcenter">엔제리너스는 이번 네이버 스마트스토어 공식 온라인몰 오픈을 기념하여 <br>
			대회 기간 동안 원두 및 MD 용품을 소개했다. <br>
			원두별 시음 및 시향 행사 등도 함께 진행하였는데, <br>
			이들 덕분에 그린 위는 대회 내내 향기로웠다는 소문이..!</p>
			
			<img src="/assets/imgs/round/<?=$this->round?>/news/6/sub05.png" data-aos="fade-up" class="full">
			<p data-aos="fade-up" class="tcenter fullin">코로나로 인하여 그간 KLPGA에는 갤러리들이 참가할 수 없었다. <br>
			이번 롯데 오픈을 통해 2년만에 갤러리들이 초청된 셈. <br>
			최근 골프에 대한 MZ세대의 관심이 커지면서, <br>
			이벤트 기간 동안 여러 세대의 갤러리들을 볼 수 있었다. <br><br>
			이들과의 접점 확대의 일환으로 <br>
			이번 푸드존과 이벤트를 운영한 롯데 GRS, 정말 자래쓰!</p>
		</div>
	</section>
</div>