<style>
.contents.story_sub .sub_top .img_wrap::before {display:none;}
.contents .video_wrap {position:relative; padding:56.25% 0 0 0; margin-top:4rem;}
.contents.story_sub section.sub_header h4 {text-align:center;}
.contents.story_sub section.sub_header h2 {text-align:center;}
.contents.story_sub .sub_header .content_wrap .video_wrap + p {margin-top:2rem;}
.contents.story_sub .sub_header .content_wrap img + p {margin-top:2rem;}
.contents.story_sub .sub_header .content_wrap a {font-size:2.6rem; font-weight:bold; height:6rem; width:100%; margin-top:4rem; margin-left:3.6rem; margin-right:3.6rem; width: calc( 100% - 7.2rem ); border:1px solid #037781; color:#037781; display:flex; justify-content:center; align-items:center;}
.contents.story_sub .box {background:#fbfbfb; border:1px solid #D8D8D8; padding:2rem;}
</style>
<div class="contents story_sub news_sub">
	<div class="sub_top">
		<div class="img_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/news/8/main_img.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/news/8/main_img_pc.png" class="pc">
		</div>
	</div>
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			아직까지도 불고기 4DX 맛보지 않은 흑우 없제? K-푸드하면 불고기, <br>
			또 불고기하면 롯데리아의 불고기버거. <br>
			이것은 변치않는 진리 아니던가. (반박 시, 불고기 4DX 사줘야함)
			</p>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade">한우불고기 신제품 2종 출시</h4>
			<h2 data-aos="fade">더 푸짐하게! 더 풍미있게!</h2>
			<img src="/assets/imgs/round/<?=$this->round?>/news/8/sub01.png" data-aos="fade-up" class="fullin mt40">
			<p data-aos="fade-up" class="tcenter">롯데리아가 지난 2월 불고기버거의 출시 30주년을 기념해 선보인 <br>
			불고기 4DX에 이어 한국적 K-버거 신제품 2종을 출시했다. <br>
			2004년에 한우불고기버거 출시 이후, <br>
			약 18년만에 한우버거 시리즈 라인업을 확장한 것!</p>
			<img src="/assets/imgs/round/<?=$this->round?>/news/8/sub02.png" data-aos="fade-up" class="w416 center">
			<p data-aos="fade-up" class="tcenter fullin">이번 신메뉴의 핵심은 업계 유일 국내산 한우를 패티의 주 원료로 한 <br>
			한우불고기버거의 라인업을 강화했다는 점이다. <br>
			기존 제품에 패티가 1장뿐이라 아쉬웠던 사람들은 <br>
			‘더블 한우불고기버거’에 주목! <br><br>
			더 푸짐하게 즐길 수 있도록 한우 패티 2장으로 돌아왔다. <br>
			버거의 풍미를 제대로 느껴보고자 하는 이들이 <br>
			주목할 신메뉴는 ‘한우 트러플머쉬룸버거’다. <br>
			양송이 버섯 원물이 약 40%나 들어감은 물론, <br>
			트러플 오일을 함유한 크림소스가 가미되어 맛이 풍부해졌다.!</p>
			<div class="mt60 fullhalf split_img twin">
				<div>
					<img src="/assets/imgs/round/2/news/8/sub03.png" data-aos="fade-right">
				</div>
				<div>
					<img src="/assets/imgs/round/2/news/8/sub04.png" data-aos="fade-left">
				</div>
			</div>
			<p data-aos="fade-up" class="tcenter full">한우 신제품 2종은 기존 한우불고기버거와 <br>
			동일하게 브리오쉬 번이 기본으로 제공된다. <br>
			저온에서 12시간 발효한 통밀 효모를 사용해 <br>
			기존 번보다 부드럽다는 것이 브리오쉬 번의 가장 큰 장점. <br><br>
			번에는 국내산 한우를 패티 원료로 한 제품 특성을 위해 <br>
			한우협회 인증 마크인 ‘한우 불 도장’이 각인되어 있어 <br>
			먹는 이로 하여금 특별함을 더 한다. <br><br>
			그냥 먹어도 맛있을 조합에 식감과 디테일까지 <br>
			신경쓰는 롯데리아, 불고기버거에 누구보다 진심일 거라는 킹리적 갓심 발동!</p>
			<img src="/assets/imgs/round/<?=$this->round?>/news/8/sub05.png" data-aos="fade-up" class="full">
			<p data-aos="fade-up" class="full tcenter">롯데리아는 더블 한우불고기버거와 한우 트러플머쉬룸 버거의 출시를 기념해 <br>
			7월 6일부터 약 2주간 콤보 업그레이드 이벤트를 진행한다. <br><br>
			매장 혹은 롯데잇츠 앱을 <br>
			통해 한우버거 3종 단품을 구매한 고객에게 음료를 증정하는 이벤트다. <br>
			런치플레이션에 작은 돈도 아끼게되는 우리, <br>
			조금이나마 진정할 수 있을지도..?</p>
			<img src="/assets/imgs/round/<?=$this->round?>/news/8/sub06.png" data-aos="fade-up" class="fullin">
			<p data-aos="fade-up" class="full tcenter">23일에는 신제품 2종 출시 및 불고기버거 출시 30주년을 기념하여 <br>
			롯데리아 홍대점에서 사진행사와 함께 소비자 대상 이벤트가 진행되었다. <br>
			SNS 해시태그 사진이벤트와 에어볼 추첨이 이날의 메인 행사. <br><br>
			특히 에어볼 추첨은 한우불고기버거 세트 교환권과 <br>
			롯데GRS 금액권 등 야무진 경품이 준비되어 있던만큼 <br>
			현장을 찾은 MZ의 호응이 가장 좋았다고?! 지난 30년동안 받은 사랑에 감사하고, <br>
			이를 보답하고자 한 롯데리아의 마음이 전해진 순간이다.</p>
		</div>
	</section>
</div>