<style>
.contents.story_sub .sub_top .img_wrap::before {display:none;}
.contents .video_wrap {position:relative; padding:56.25% 0 0 0; margin-top:4rem;}
.contents.story_sub section.sub_header h4 {text-align:center;}
.contents.story_sub section.sub_header h2 {text-align:center;}
.contents.story_sub .sub_header .content_wrap .video_wrap + p {margin-top:2rem; text-align:center;}
.contents.story_sub .sub_header .content_wrap img + p {margin-top:2rem; text-align:center; margin-left:-7.2rem; margin-right:-7.2rem;}
.contents.story_sub .sub_header .content_wrap a {font-size:2.6rem; font-weight:bold; height:6rem; width:100%; margin-top:4rem; margin-left:3.6rem; margin-right:3.6rem; width: calc( 100% - 7.2rem ); border:1px solid #037781; color:#037781; display:flex; justify-content:center; align-items:center;}
</style>
<div class="contents story_sub news_sub">
	<div class="sub_top">
		<div class="img_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/news/4/스마일캠페인.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/news/4/04.png" class="pc">
		</div>
	</div>
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			포스트 코로나로 일상이 새로워졌다. 새롭게 시작된 일상을 맞이하는 <br>
			고객들에게 즐거움을 선물하기 위해 크리스피크림 도넛에서 <br>
			미션 이벤트를 진행했다. 이름하여 ‘스마일 캠페인’!
			</p>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade">설립연도 1937년 당첨자도 1937명 ?!</h4>
			<h2 data-aos="fade">달콤한 순간 셀 위 스마일 도넛!</h2>
			<img src="/assets/imgs/round/<?=$this->round?>/news/4/sub01.png" data-aos="fade-up" class="w416 center mt40">
			<p data-aos="fade-up" class="tcenter">‘스마일 캠페인’은 5월 25일부터 6월 14일까지 진행되었다. <br>
			당첨자는 1,937명으로 크리스피크림 도넛의 <br>
			설립연도인 1937년에 맞춘 것은 안 비밀… ( ͡° ͜ʖ ͡°) <br>
			참여하는 방법이 매우 간단해서 경품대비 꿀이었다는 반응이 많다.</p>
			<img src="/assets/imgs/round/<?=$this->round?>/news/4/sub02.png" data-aos="fade-up" class="w416 center mt60">
			<p data-aos="fade-up" class="tcenter">참여방법은 크리스피크림 도넛과 함께 스마일 사진을 찍어 <br>
			개인 인스타그램 혹은 트위터에 올리면 된다. <br>
			올릴 때 해시태그 #크리스피크림, #쉘위스마일도넛 은 물론 필수!</p>
			<img src="/assets/imgs/round/<?=$this->round?>/news/4/sub03.png" data-aos="fade-up" class="fullin">
			<p data-aos="fade-up" class="tcenter">1등 1명에게는 오리지널 글레이즈드 <br>
			실물 사이즈의 24K 골드 글레이즈드 도넛(20돈)이 증정된다. <br>
			2등은 2명으로, 서울 시그니엘 룸 디럭스 숙박권을 제공될 예정. <br><br>
			이 밖에도 참여자 중 100명에게는 <br>
			오리지널 글레이즈드 하프더즌 모바일교환권이, <br>
			1,837명에게는 오리지널 글레이즈드 1개 모바일 교환권이 증정된다. <br>
			오는 28일 크리스피크림 도넛 공식 SNS계정을 통해 <br>
			당첨 결과를 알려준다고 하니, 기다림마저 달콤해지는 순간이다.</p>
		</div>
	</section>
</div>