<style>
.contents.story_sub .sub_top .img_wrap::before {display:none;}
.contents .video_wrap {position:relative; padding:56.25% 0 0 0; margin-top:4rem;}
.contents.story_sub section.sub_header h4 {text-align:center;}
.contents.story_sub section.sub_header h2 {text-align:center;}
.contents.story_sub .sub_header .content_wrap .video_wrap + p {margin-top:2rem; text-align:center;}
.contents.story_sub .sub_header .content_wrap img + p {margin-top:2rem; text-align:center;}
.contents.story_sub .sub_header .content_wrap a {font-size:2.6rem; font-weight:bold; height:6rem; width:100%; margin-top:4rem; margin-left:3.6rem; margin-right:3.6rem; width: calc( 100% - 7.2rem ); border:1px solid #037781; color:#037781; display:flex; justify-content:center; align-items:center;}
</style>
<div class="contents story_sub news_sub">
	<div class="sub_top">
		<div class="img_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/news/3/news_뉴트로신제품.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/news/3/03.png" class="pc">
		</div>
	</div>
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			할머니 입맛 소유자들을 위해 롯데리아는 오늘도 열일 중! <br>
			최근 MZ 세대를 중심으로 인기를 얻고있는 ‘할매니얼’(할머니+밀레니얼) <br>
			트렌드를 반영해 새로운 디저트 2종과 드링크를 출시했기 때문!
			</p>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade">MZ 트렌드 반영한 디저트&음료 출시</h4>
			<h2 data-aos="fade">K-주전부리 ‘할매니얼’ 입맛 저격</h2>
			<img src="/assets/imgs/round/<?=$this->round?>/news/3/sub01.png" data-aos="fade-up" style="width:41.6rem; margin:0 auto; margin-top:4rem;">
			<p data-aos="fade-up" class="tcenter">새로 출시되는 디저트는 전통 간식인 꽈배기를 재해석한 뉴트로 제품이다. <br>
			페스츄리 생지를 튀겨 겉바속촉을 실천한 ‘페스츄리 꽈배기 플레인’, <br>
			여기에 시나몬 슈가 시즈닝을 뿌려 더욱 달콤하고 <br>
			중독성 강한 ‘페스츄리 꽈배기 시나몬’ 까지. <br><br>
			듣기만 해도 군침 도는 이 둘에 미숫가루 라떼(R/L)가 빠질 수 없지. <br>
			우유 베이스에 미숫가루를 더해, 엄마가 어릴 적 해주던 맛 그대로라구!</p>
			<img src="/assets/imgs/round/<?=$this->round?>/news/3/sub02.png" data-aos="fade-up" class="fullin" >
			<p data-aos="fade-up" class="full tcenter">아이부터 어른까지 전 객층이 선호하는 대중적인 맛을 구현하기 위해 노력했다. <br>
			든든하되 부담없이 즐길 수 있도록 디저트와 음료로 구성된 <br>
			‘꽈배기 콤보’로도 만나볼 수 있으니, <br>
			식사대용으로도 넘나 좋을 듯. 꽈배기 콤보는 단품 별 구매 금액 대비 <br>
			약 15%나 저렴하다고 하니, 콤보로 먹지 않을 이유가 없다. <br><br>
			할매니얼 뿐 아니라, 최근 바쁜 일상으로 <br>
			간편식을 선호하는 현대인들을 겨냥했다. <br>
			시간대비 든든하게 즐길 수 있다는 게 이번 신제품의 가장 큰 장점. <br>
			향후에도 새로운 디저트와 드링크 출시로 라인업을 강화할 예정이라고 한다. <br><br>
			한국인은 역시 밥심 아닌가. 아무리 바빠도 굶지 말고 다니자 우리!</p>
		</div>
	</section>
</div>