<style>
.contents.story_sub .sub_top .img_wrap::before {display:none;}
.contents .video_wrap {position:relative; padding:56.25% 0 0 0; margin-top:4rem;}
.contents.story_sub section.sub_header h4 {text-align:center;}
.contents.story_sub section.sub_header h2 {text-align:center;}
.contents.story_sub .content_wrap .video_wrap + p {margin-top:2rem; text-align:center;}
.contents.story_sub .content_wrap a {font-size:2.6rem; font-weight:bold; height:6rem; width:100%; margin-top:4rem; margin-left:3.6rem; margin-right:3.6rem; width: calc( 100% - 7.2rem ); border:1px solid #037781; color:#037781; display:flex; justify-content:center; align-items:center;}
</style>
<div class="contents story_sub news_sub">
	<div class="sub_top">
		<div class="img_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/news/2/news_스마트스토어.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/news/2/02.png" class="pc">
		</div>
	</div>
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			엔제리너스가 우리집으로 찾아온다니, 머선 129? <br>
			네이버 스마트스토어에 공식 온라인몰을 오픈한 엔제리너스는 <br>
			이번 오픈을 기념하여 계열사 임직원을 대상으로 시음회를 개최했다.
			</p>
		</div>
	</section>
	<section class="border_top">
		<div class="content_wrap">
			<h4 data-aos="fade">네이버 스마트스토어 공식 온라인몰 오픈</h4>
			<h2 data-aos="fade">취향에 맞춰 즐기는 나만의 홈카페</h2>
			<div class="fullhalf">
				<div class="video_wrap" data-aos="fade-up">
					<iframe src="https://player.vimeo.com/video/720098882?h=e4af08c769" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" data-ready="true"></iframe>
				</div>
			</div>
			<p data-aos="fade-up" class="tcenter">오전에 갓 볶은 원두를 오후에 배송하는 시스템으로, <br>
			구매 진행 시 원두의 맛과 드립 방식에 따른 분쇄도까지 <br>
			선택이 가능하니 리얼 복세편살… <br><br>
			배송은 엔제리너스가 할테니, 오늘부터 우리는 방구석에서 주불!</p>
			<img src="/assets/imgs/round/<?=$this->round?>/news/2/sub01.png" data-aos="fade-up" class="full">
			
			<a href="https://smartstore.naver.com/angelinusmall" target="_blank" data-aos="fade-up">스마트 스토어 바로가기</a>
		</div>
	</section>
</div>