.fs12{ font-size: 12px; }
.fs14{ font-size: 14px; }
.fs16{ font-size: 16px; }
.fs18{ font-size: 18px; }
.fs20{ font-size: 20px; }
.fs22{ font-size: 22px; }
.fs24{ font-size: 24px; }

.fw100 {font-weight: 100;}
.fw200 {font-weight: 200;}
.fw300 {font-weight: 300;}
.fw400 {font-weight: 400;}
.fw500 {font-weight: 500;}
.fw600 {font-weight: 600;}
.fw700 {font-weight: 700;}
.fw800 {font-weight: 800;}

.bold {font-weight: 600;}
.bolder{font-weight: 700!important;}

.gray383 {color: #383D41;}
.redFF4 {color: #FF432F;}
.green01C {color: #01C73C;}
.blue1C5 {color: #1C5BFF;}
.pinkFF1 {color: #FF1CF6;}

.pt12{padding-top: 12px!important;}
.pt16{padding-top: 16px!important;}
.pt20{padding-top: 20px!important;}
.pt28{padding-top: 28px!important;}
.pt40{padding-top: 40px !important;}
.pt54{padding-top: 54px !important;}
.pt55{padding-top: 55px !important;}
.pl0{padding-left: 0px !important;}
.pl10{padding-left: 10px;}
.pl12{padding-left: 12px;}
.pl14{padding-left: 14px;}
.pl22{padding-left: 22px;}
.pb0{padding-bottom: 0px !important;}
.pb4{padding-bottom: 4px;}
.pb8{padding-bottom: 8px;}
.pb16{padding-bottom: 16px;}
.pb20{padding-bottom: 20px;}
.pb25{padding-bottom: 25px;}
.pb26{padding-bottom: 26px;}
.pb32{padding-bottom: 32px;}
.pl90{padding-left: 90px;}

.mt8{margin-top: 8px !important;}
.mt12{margin-top: 12px !important;}
.mt16{margin-top: 16px !important;}
.mt20 {margin-top: 20px !important;}
.mt24 {margin-top: 24px !important;}
.mt32 {margin-top: 32px !important;}
.ml10 {margin-left: 10px !important;}
.mb0 {margin-bottom: 0px !important;}
.mb8 {margin-bottom: 8px !important;}
.mb12 {margin-bottom: 12px !important;}
.mb16 {margin-bottom: 16px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb24 {margin-bottom: 24px !important;}
.mb28 {margin-bottom: 28px !important;}
.mb32 {margin-bottom: 32px !important;}

.effect_in-screen{opacity: 0;}
/* .effect_in-screen.animate__animated{opacity: 1;} */