<style>
.content_wrap {padding:6rem 7.2rem 9.6rem 7.2rem;}
@media (min-width: 1280px) {
	.content_wrap {padding:6rem 0rem 9.6rem 0rem;}
}
</style>
<div class="contents story_sub">
	<div class="sub_top">
		<div class="img_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/story/culture/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/story/culture/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/story/culture/mo_main_txt.png" data-aos="fade" class="mo" style="width:44.4rem;">
			<img src="/assets/imgs/round/<?=$this->round?>/story/culture/pc_main_txt.png" data-aos="fade" class="pc" style="width:60.5rem;">
		</div>
	</div>
	
	<section class="sub_top_text">
		<div class="content_wrap" style="padding-bottom:9.6rem;">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			볼 게 너무 많아서 OTL… <br>
			입맛대로 골라보자, 국내 OTT 콘텐츠 <br><br>
			오징어 게임의 폭발적인 인기로 <br>
			‘OTT(Over The Top)'는 어느덧 우리의 일상에 자리 잡았는데… <br><br>
			볼 게 없어서 봤던 콘텐츠 보고 또 보던 건 <br>
			이제 옛날 이야기. <br><br>
			볼 게 너무 많아 고민이 되는 요즘, <br>
			한 눈에 정리한 OTT콘텐츠, 그리고 개봉예정영화까지.
			</p>
			
			<div class="center mt60" style="max-width:696px;">
				<div class="split_img twin gap18">
					<div data-aos="flip-right">
						<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub_01.png">
					</div>
					<div data-aos="flip-left">
						<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub_02.png">
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap">
			
			<p class="tcenter" data-aos="fade-up">웹툰을 보지 않았더라도 입증됐기에 볼만한 개봉예정 OTT</p>
			<h2 class="mint tcenter" data-aos="fade-up">웹툰을 원작으로 한 <b>콘텐츠</b></h2>
			
			<div class="full mt20" data-aos="fade-up">
				<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub_03.png" class="w304 center ">
				
				<h2 class="mint mt20 tcenter"><b>마스크걸</b></h2>
				<p class="tcenter mt8">감독 : 김용훈석 (필모 - 지푸라기라도 잡고 싶은 짐승들 등) <br>출연 : 고현정, 나나, 안재홍 등</p>
				<p class="tcenter mt20 mint">내용</p>
				<p class="tcenter">외모 콤플렉스를 가진 평범한 직장인이 밤마다 마스크로 얼굴을 가린 채 <br>인터넷 방 BJ로 활동하면서 의도치 않은 사건에 휘말리면서 벌어지는 이야기</p>
			</div>
			
			<div class="full mt60" data-aos="fade-up">
				<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub_04.png" class="w304 center">
				
				<h2 class="mint mt20 tcenter"><b>이두나!</b></h2>
				<p class="tcenter mt8">감독 : 이정효 (필모 - 사랑의 불시착 등) <br>출연 : 수지, 양세종 등</p>
				<p class="tcenter mt20 mint">내용</p>
				<p class="tcenter">대학생과 은퇴한 아이돌인 이두나와 한집에 살면서 벌어지는 이야기</p>
			</div>
			
			<div class="full mt60" data-aos="fade-up">
				<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub_05.png" class="w304 center">
				
				<h2 class="mint mt20 tcenter"><b>사냥개들</b></h2>
				<p class="tcenter mt8">감독 : 김주환 (필모 - 청년경찰, 사자 등) <br>출연 : 우도환, 이상이, 박성웅, 허준호 등</p>
				<p class="tcenter mt20 mint">내용</p>
				<p class="tcenter">돈을 쫓아 사채업의 세계에 발을 들인 <br>세 젊은이가 거대한 세력에 휘말리며 벌어지는 이야기</p>
			</div>
			
			<div class="full mt60" data-aos="fade-up">
				<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub_06.png" class="w304 center">
				
				<h2 class="mint mt20 tcenter"><b>택배기사</b></h2>
				<p class="tcenter mt8">감독 : 조의석 (필모 - 마스터, 감시자들 등) <br>출연 : 김우빈, 송승헌, 이솜 등</p>
				<p class="tcenter mt20 mint">내용</p>
				<p class="tcenter">극심한 대기 오염이 된 2071년, 비범한 싸움 실력을 갖춘 <br>택배기사와 택배기사를 꿈꾸는 난민이 만나며 벌어지는 이야기</p>
			</div>
			
			<div class="full mt60" data-aos="fade-up">
				<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub_07.png" class="w304 center">
				
				<h2 class="mint mt20 tcenter"><b>살인자o난감</b></h2>
				<p class="tcenter mt8">감독 : 이창희 (필모 - 타인은 지옥이다, 사라진 밤 등) <br>출연 : 최우식, 손석구, 이희준 등</p>
				<p class="tcenter mt20 mint">내용</p>
				<p class="tcenter">우연히 살인을 시작하게 된 평범한 남자의 그를 쫓는 형사의 이야기 <br>엄청난 인기로 시즌2 제작확정</p>
			</div>
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap" style="padding-top:7rem;">
		
			<p class="tcenter" data-aos="fade-up">시즌1을 봤다면 분명 시즌2를 기다렸을테니</p>
			<h2 class="mint tcenter" data-aos="fade-up">화제작 <b>시즌2 영화</b></h2>
			
			<div class="split_img twin mt20 gap16">
				<div>
					<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub_08.png" data-aos="zoom-out-right">
					<h2 class="mint tcenter mt20" data-aos="fade-up"><b>스위트홈</b></h2>
				</div>
				<div>
					<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub_09.png" data-aos="zoom-out-left">
					<h2 class="mint tcenter mt20" data-aos="fade-up"><b>지금 우리 학교는</b></h2>
				</div>
			</div>
			
			<div class="split_img twin mt60 gap16">
				<div>
					<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub_10.png" data-aos="zoom-out-right">
					<h2 class="mint tcenter mt20" data-aos="fade-up"><b>D.P.</b></h2>
				</div>
				<div>
					<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub_11.png" data-aos="zoom-out-left">
					<h2 class="mint tcenter mt20" data-aos="fade-up"><b>오징어 게임</b></h2>
				</div>
			</div>
		
		</div>
	</section>
	
	<section class="border_top">
		<div class="content_wrap">
			<p class="tcenter" data-aos="fade-up">2022~2023 상영된, 그리고 상영 예정인,</p>
			<h2 class="mint tcenter" data-aos="fade-up">신작 <b>인기영화</b></h2>
			
			<div class="split_img twin mt20 gap16">
				<div>
					<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub_12.png" data-aos="zoom-out-right">
					<h2 class="mint tcenter mt20" data-aos="fade-up"><b>자백</b></h2>
					<p class="tcenter mt8" data-aos="fade-up">개봉일 : 2022.10.06 <br>감독 : 윤종석 <br>출연 : 소지섭, 김윤진 등 <br><br>*웰메이드 서스펜스 스릴러</p>
				</div>
				<div>
					<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub_13.png" data-aos="zoom-out-left">
					<h2 class="mint tcenter mt20" data-aos="fade-up"><b>스마일</b></h2>
					<p class="tcenter mt8" data-aos="fade-up">개봉일 : 2022.10.26 <br>감독 : 파커 핀 <br>출연 : 소시 베이컨, 제시 어셔 등 <br><br>*포스터에서 웃고 있어도 <br>웃긴 영화는 아니야...</p>
				</div>
			</div>
			
			<div class="split_img twin mt60 gap16">
				<div>
					<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub_14.png" data-aos="zoom-out-right">
					<h2 class="mint tcenter mt20" data-aos="fade-up"><b>바빌론</b></h2>
					<p class="tcenter mt8" data-aos="fade-up">개봉일 : 2023 <br>감독 : 데이미언 샤젤 <br>출연 : 브래드 피트, 마고 로비 등 <br><br>*위플래쉬, 라라랜드 감독의 영화</p>
				</div>
				<div>
					<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub_15.png" data-aos="zoom-out-left">
					<h2 class="mint tcenter mt20" data-aos="fade-up"><b>미션 임파서블: <br>데드 레코닝 <br>PART ONE</b></h2>
					<p class="tcenter mt8" data-aos="fade-up">개봉일 : 2023 <br>감독 : 크리스토퍼 맥쿼리 <br>출연 : 톰 크루즈, 레베카 퍼거슨 등 <br><br>*늙지 않는 톰 크루즈를 <br>보는 재미가 쏠쏠</p>
				</div>
			</div>
		</div>
	</section>
	
	
</div>