<style>
section .content_wrap {padding-top:0; padding-bottom:14rem;}
.contents.story_sub .sub_top .img_wrap::before {background: #000000 0% 0% no-repeat padding-box; opacity:.3; display:block;}
.contents.story_sub section.gray {padding-top:4.8rem;}
.contents .sub_header .content_wrap {width:auto;}
.contents.story_sub .sub_header h2 {}

.contents.story_sub .sub_top_text .content_wrap {padding-bottom:3.2rem;}
.contents.story_sub .sub_top_text .fullhalf {margin-top:3.2rem;}
.contents.story_sub section.gray {padding-top:3.2rem;}

.contents.story_sub .sub_top .img_wrap.cover6::before {background: #000000 0% 0% no-repeat padding-box; opacity: 0.3;}

.contents .video_wrap {position: relative; padding: 56.25% 0 0 0;}

.ballon li {display:flex; line-height:1.75em;}
.ballon li span {margin-right:.8rem; line-height:1.75em; font-weight:bold;}
.ballon li b {font-weight:400;}

@media all and (min-width:1280px) {
	section .content_wrap {padding-top:0; padding-bottom:21rem;}
	.ballon {margin-bottom:7rem;}
	.ballon span {padding-left:0;}
	.contents.story_sub section.gray {padding-top:10rem;}
	
	.contents.story_sub .sub_header h4 {text-align:center; font-size:3rem;}
	.contents.story_sub .sub_header h2 {text-align:center; font-size:5rem; line-height:7.2rem;}
	.contents.story_sub .sub_header .content_wrap p {margin-top:2rem;}
	
	.contents.story_sub .sub_top_text .content_wrap {padding-bottom:10rem;}
	.contents.story_sub .sub_top_text .fullhalf {margin-top:10rem;}
	.contents.story_sub section.gray {padding-top:10rem;}
}
</style>
<div class="contents story_sub">
	<div class="sub_top">
		<div class="img_wrap cover cover6">
			<img src="/assets/imgs/round/<?=$this->round?>/story/enjoy/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/story/enjoy/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/story/enjoy/mo_main_txt.png" class="mo" style="width:30.6rem;">
			<img src="/assets/imgs/round/<?=$this->round?>/story/enjoy/pc_main_txt.png" class="pc" style="width:41.8rem;">
		</div>
	</div>
	
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-up">나도 모르게 비트타는 <br>멋짐 그 자체 힙합속으로!</p>
			
			<div class="center">
				<div class="fullhalf">
					<div class="video_wrap player">
						<a href="https://youtu.be/fZQehbSNByA" target="_blank">
							<img src="/assets/imgs/round/<?=$this->round?>/story/enjoy/enjoy_video.png">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
                                 
	
	<section class="gray">
		<div class="content_wrap">
			<div class="ballon right" data-aos="fade-up">
				<ul> 
					<li><span>00:00</span> <b>지코 (ZICO) | 새삥 (Prod. ZICO) (Feat. 호미들)</b></li>
					<li><span>02:27</span> <b>Crush | Rush Hour (Feat. j-hope of BTS)</b></li>
					<li><span>05:24</span> <b>박재범 | 몸매 (MOMMAE) (Feat. Ugly Duck)</b></li>
					<li><span>08:49</span> <b>우원재 | 시차 (We Are) (Feat. 로꼬 & GRAY)</b></li>
					<li><span>12:05</span> <b>한요한 | 범퍼카 (Feat. NO:EL, Young B)</b></li>
					<li><span>15:25</span> <b>이영지 | 나는 이영지</b></li>
					<li><span>18:27</span> <b>사이먼 도미닉 | DAx4</b></li>
					<li><span>20:35</span> <b>기리보이 | 호랑이소굴 (Feat. Jvcki Wai)</b></li>
					<li><span>23:55</span> <b>Skinny Brown | if i die (Feat. ASH ISLAND)</b></li>
					<li><span>26:50</span> <b>지코 (ZICO) | 유레카 (Feat. Zion.T)</b></li>
					<li><span>29:54</span> <b>개코, 쿠기 (Coogie) <br>Fast (스터디그룹 X 개코, 쿠기 (Coogie))</b></li>
					<li><span>32:54</span> <b>한요한 | 400km (Feat. Kid Milli)</b></li>
					<li><span>36:26</span> <b>박재범 | All I Wanna Do (K) (Feat. Hoody, Loco)</b></li>
					<li><span>40:02</span> <b>ASH ISLAND | 멜로디</b></li>
					<li><span>43:04</span> <b>효린, 창모 (CHANGMO) <br>BLUE MOON (Prod. GroovyRoom)</b></li>
					<li><span>46:27</span> <b>기리보이 <br>100℃ (Prod. 기리보이, YEOHO) (Feat. YUNHWAY)</b></li>
					<li><span>49:39</span> <b>BewhY (비와이) | Celebration</b></li>
					<li><span>52:55</span> <b>박재범 | My Last (Feat. 로꼬 & GRAY)</b></li>
					<li><span>56:52</span> <b>아넌딜라이트(Anandelight) <br>My Last (Feat. 로꼬 & GRAY)</b></li>
				</ul>
			</div>
			                                 
			<div class="ballon left" data-aos="fade-up">
				<ul>
					<li><span>1:00:25</span> <b>윤누구 | Drunk All Night</b></li>
					<li><span>1:03:23</span> <b>BewhY (비와이) | Day Day (Feat. 박재범) (Prod. by GRAY)</b></li>
					<li><span>1:06:52</span> <b>Crush | Oasis (Feat. ZICO)</b></li>
					<li><span>1:10:03</span> <b>헤이즈 (Heize) | Shut Up & Groove (Feat. DEAN)</b></li>
					<li><span>1:13:22</span> <b>BE'O (비오) | LOVE me</b></li>
					<li><span>1:16:15</span> <b>유토 (JUTO) | 스물</b></li>
					<li><span>1:19:57</span> <b>빈지노 (Beenzino) | Boogie On & On</b></li>
					<li><span>1:23:29</span> <b>수퍼비 (SUPERBEE), 창모 (CHANGMO) <br>Maserati & Porsche</b></li>
					<li><span>1:26:41</span> <b>pH-1, 키드밀리 (Kid Milli), 루피 (Loopy) <br>Good Day (Feat. 팔로알토) (Prod. 코드 쿤스트)</b></li>
					<li><span>1:31:07</span> <b>Jvcki Wai | Enchanted Propaganda</b></li>
					<li><span>1:33:53</span> <b>BE'O (비오) | 리무진 (Feat. MINO) (Prod. GRAY)</b></li>
					<li><span>1:31:00</span> <b>이아람 | i</b></li>
					<li><span>1:33:40</span> <b>그래쓰 (GRASS) | babyblue</b></li>
					<li><span>1:37:33</span> <b>허성현 (Huh) | MBT</b></li>
					<li><span>1:39:55</span> <b>DPR LIVE | Yellow Cab</b></li>
					<li><span>1:43:21</span> <b>쿠기 (Coogie) | Good Night (Feat. BE'O)</b></li>
					<li><span>1:46:31</span> <b>sokodomo <br>회전목마 (Feat. Zion.T, 원슈타인) (Prod. Slom)</b></li>
					<li><span>1:50:41</span> <b>meenoi (미노이) | DA DA! (Feat. pH-1)</b></li>
					<li><span>1:53:35</span> <b>Jayci yucca (제이씨 유카) <br>She's mine (Feat. ASH ISLAND) (Prod. TOIL)</b></li>
					<li><span>1:56:11</span> <b>ASH ISLAND | Paranoid</b></li>
				</ul>
			</div>
		</div>
	</section>
</div>