<style>
.content_wrap {padding:6rem 7.2rem 9.6rem 7.2rem;}
.white_bg {background-color:#fff; padding:.3rem .8rem; display:inline-flex; width:100%;}
.contents .sub_top_text + section .content_wrap {padding-top:0rem;}
.contents.story_sub .txt_img .txt_wrap {gap:.4rem;}
.contents.story_sub .txt_img.split .txt_wrap {padding:0;}

.content_wrap .txt_img .img_wrap.cover5::after {background: transparent linear-gradient(180deg, #C4A83363 0%, #54545400 100%) 0% 0% no-repeat padding-box; opacity: 0.3;}

@media all and (min-width:1280px) {
	.content_wrap {padding:6rem 0rem 9.6rem 0rem;}
	.contents .sub_top_text + section .content_wrap {padding-top:0rem;}
	
	.sub_top_inner {width:100%; max-width:768px; position:relative; padding-left:7.2rem;}
	.sub_top_inner .right {margin-right:0;}
}
</style>
<div class="contents story_sub">
	<div class="sub_top">
		<div class="img_wrap cover">
			<img src="/assets/imgs/round/<?=$this->round?>/story/food/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/story/food/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/story/food/mo_main_txt.png" data-aos="fade" class="mo" style="width:42.6rem;">
			<img src="/assets/imgs/round/<?=$this->round?>/story/food/pc_main_txt.png" data-aos="fade" class="pc" style="width:58.1rem;">
		</div>
	</div>
	
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp">전통주가 유행이라며? <br>
			앉은뱅이 술, 막걸리. <br><br>
			토끼소주, 원소주가 대박을 내면서 관심이 몰린 <br>
			‘전통주’.</p>
			<div class="center sub_top_inner">
				<div class="txt_img split right mt28">
					<div class="txt_wrap fbottom" data-aos="fade-right">
						<p>그 중에서도… <br><br>
						시골에서 새참으로 마시는 술. <br>
						비 오는 날, 파전과 함께 하는 술. <br>
						두부 김치 먹을 때면 생각나는 술.</p>
					</div>
					<div class="img_wrap w384" data-aos="fade-left">
						<img src="/assets/imgs/round/<?=$this->round?>/story/food/sub_01.png">
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section>
		<div class="content_wrap">
		
			<div class="txt_img full" data-aos="fade">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/sub_02.png" class="fullin">
				</div>
				<div class="txt_wrap ftop facenter" style="padding:4rem 0 0 0;">
					<div class="over_wrap">
						<p class="tcenter f24">한국의 전통주의 한 종류로 <br>‘막 걸러냈다’고 해서 붙은 이름</p>
						<h2 class="brown tcenter mt4"><b>막걸리</b></h2>
					</div>
					<div style="padding:0 7.2rem;">
						<img src="/assets/imgs/round/<?=$this->round?>/story/food/sub_03.png" class="fullin mt40" data-aos="fade-up">
					</div>
				</div>
			</div>
			
			<p class="tcenter">하지만! <br>이런 이미지가 위협(?)받고 있다는데…</p>
			
			<div class="split_img twin mt40">
				<div data-aos="fade-right">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/sub_04.png">
					<h2 class="mint mt8"><b>막걸리 쉐이크</b></h2>
					<p class="mt4">한국 진출 5주년 한정 제품. <br>
					쉐이크쉑X지평막걸리</p>
				</div>
				<div data-aos="fade-left">
					<img  src="/assets/imgs/round/<?=$this->round?>/story/food/sub_05.png">
					<h2 class="mint mt8"><b>국순당 쌀 바밤바밤</b></h2>
					<p class="mt4">국민 아이스크림 바밤바를 <br>밤 막걸리로 국순당X바밤바</p>
				</div>
			</div>
			
			<div class="txt_img full mt60" data-aos="fade">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/sub_06.png" class="fullin">
				</div>
				<div class="txt_wrap black ftop facenter" style="padding:5rem 0 0 0;">
					<div class="over_wrap">
						<p class="tcenter f28 black">다양한 아이디어와 개성으로 <br><span class="mint bold">막걸리는 더욱 트렌디해지는 중</span></p>
					</div>
				</div>
				<div class="txt_wrap black fbottom facenter" style="padding:0 0 4rem 0;">
					<div class="over_wrap">
						<p class="tcenter f24">더 유명해지면 구하기 힘들어질걸? 그래서 추천하는</p>
						<h2 class="tcenter"><b>병나발 마려운 ‘<span class="mint">막걸리 리스트</span>’</b></h2>
					</div>
				</div>
			</div>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/food/sub_07.png" class="w416 center mt20" data-aos="fade-up">
			<div class="mt20" data-aos="fade-up">
				<p class="tcenter f28 mint bold">이상헌 탁주 19도 (500ml) 25,000원</p>
				<p class="tcenter mt8">현존하는 막걸리 중 가장 높은 도수. <br>처음 입에 닿을 땐 막걸리인데, 목구멍을 넘어갈 땐 화요가 되는 마법.</p>
			</div>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/food/sub_08.png" class="w416 center mt60" data-aos="fade-up">
			<div class="mt20" data-aos="fade-up">
				<p class="tcenter f28 mint bold">이화백주 (940ml) 36,000원</p>
				<p class="tcenter mt8">‘청와대 만찬주’로 잘 알려진 막걸리. <br>자연발효 과정에서 생긴 천연 탄산때문에 막걸리계의 샴페인이라 불린다.</p>
			</div>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/food/sub_09.png" class="w416 center mt60" data-aos="fade-up">
			<div class="mt20" data-aos="fade-up">
				<p class="tcenter f28 mint bold">백수환동주 (375ml) 31,800원</p>
				<p class="tcenter mt8">좋은 자리의 좋은 스타터. <br>요거트처럼 걸쭉하고 새콤한 누룩향이 진수. <br>안주없이 마실 때 본연의 맛을 느낄 수 있다.</p>
			</div>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/food/sub_10.png" class="w416 center mt60" data-aos="fade-up">
			<div class="mt20" data-aos="fade-up">
				<p class="tcenter f28 mint bold">팔팔막걸리 (750ml) 6,500원</p>
				<p class="tcenter mt8">입소문 타고 있는, 맛 좋은 막걸리. <br>산미가 적은 편이라 부드럽고 순하며 밸런스가 좋은 막걸리.</p>
			</div>
			
			<div class="txt_img full mt60" data-aos="fade">
				<div class="img_wrap cover cover5">
					<img src="/assets/imgs/round/<?=$this->round?>/story/food/sub_11.png" class="fullin">
				</div>
				<div class="txt_wrap black ftop facenter" style="padding:9.4rem 0 0 0;">
					<div class="over_wrap">
						<p class="tcenter">막걸리에 안주가 빠지면 안 되지. </p>
						<h2 class="mint tcenter"><b>파전만큼 맛난 ‘막걸리 이야기’</b></h2>
						<p class="tcenter mt20"><span class="black bold">생막걸리는 밀봉되어 있지 않다.</span> <br>: 마트 주류코너에 가면 유독 강한 막걸리 향. <br>숨구멍이 뚫려있는 구조라 세워서 운반 보관해야 한다.</p>
					</div>
				</div>
			</div>
			<div class="txt_img">
				<div class="txt_wrap black" style="padding:0;">
					<p><span class="bold">막걸리의 영어 명칭?</span><br>
					예전에는 라이스 와인(rice wine, 쌀 와인) <br>
					잘 모르는 유럽인들은 코리안 칵테일(Korean Cocktail) <br><br>
					로마자 표기 ‘Makgeolli’<br>
					<span class="black bold">세계화를 위한 애칭 공모전 1등은 드렁큰 라이스(Drunken Rice, 취한 쌀)</span>
					</p>
				</div>
			</div>
		
			
	</section>
	
</div>