<style>
@media all and (min-width:1280px) {
	.content_wrap .fullin {margin-left:-7.2rem; margin-right:-7.2rem; width:calc( 100% + 14.4rem );}
}
</style>
<div class="contents story">
	<div class="top_banner">
		<div class="img_wrap">
			<img src="/assets/imgs/common/mo_story_main.png" class="mo">
			<img src="/assets/imgs/common/pc_story_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<h2>STORY</h2>
			<p>우리의 이야기</p>
		</div>
	</div>
	
	<section>
		<div class="content_wrap">
			<h4 data-aos="fade">스토리 보드</h4>
			<h2 data-aos="fade"><img src="/assets/imgs/common/story_title.png"></h2>
			<div class="fullin">
				<ul>
					<li data-aos="fade-up">
						<a href="/story/store/<?=$this->round?>">
							<span class="img_wrap">
								<img src="/assets/imgs/round/<?=$this->round?>/story/story_su_00.png?1">
								<span>
									<span><span>01</span> Store</span>
									<span>더보기</span>						
								</span>
							</span>
							<span class="title">지글지글 불고기 로드 보러가기</span>
						</a>
					</li>
					<li data-aos="fade-up">
						<a href="/story/trip/<?=$this->round?>">
							<span class="img_wrap">
								<img src="/assets/imgs/round/<?=$this->round?>/story/story_sub_01.png?1">
								<span>
									<span><span>02</span> Trip</span>
									<span>더보기</span>						
								</span>
							</span>
							<span class="title">밤하늘 터지는 나의 감성 보러가기</span>
						</a>
					</li>
					<li data-aos="fade-up">
						<a href="/story/food/<?=$this->round?>">
							<span class="img_wrap">
								<img src="/assets/imgs/round/<?=$this->round?>/story/story_sub_02.png?1">
								<span>
									<span><span>03</span> Food</span>
									<span>더보기</span>						
								</span>
							</span>
							<span class="title">막 끌리는 막걸리 한 잔 보러가기</span>
						</a>
					</li>
					<li data-aos="fade-up">
						<a href="/story/style/<?=$this->round?>">
							<span class="img_wrap">
								<img src="/assets/imgs/round/<?=$this->round?>/story/story_sub_03.png?1">
								<span>
									<span><span>04</span> Style</span>
									<span>더보기</span>						
								</span>
							</span>
							<span class="title">2022년 F/W 트렌드 보러가기</span>
						</a>
					</li>
					<li data-aos="fade-up">
						<a href="/story/enjoy/<?=$this->round?>">
							<span class="img_wrap">
								<img src="/assets/imgs/round/<?=$this->round?>/story/story_sub_04.png?1">
								<span>
									<span><span>05</span> Enjoy</span>
									<span>더보기</span>						
								</span>
							</span>
							<span class="title">샤라웃 투 GRS 보러가기</span>
						</a>
					</li>
					<li data-aos="fade-up" class="border_none">
						<a href="/story/culture/<?=$this->round?>">
							<span class="img_wrap">
								<img src="/assets/imgs/round/<?=$this->round?>/story/story_sub_05.png?1">
								<span>
									<span><span>06</span> Culture</span>
									<span>더보기</span>						
								</span>
							</span>
							<span class="title">핫한 OTT 개봉 예정작 보러가기</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
	
</div>