<style>
.content_wrap {padding:4rem 7.2rem 9.6rem 7.2rem;}

.contents .video_wrap {position: relative; padding: 56.25% 0 0 0;}

@media all and (min-width:1280px) {
	.content_wrap {padding:6rem 0rem 9.6rem 0rem;}
}

</style>
<div class="contents story_sub">
	<div class="sub_top">
		<div class="img_wrap cover">
			<img src="/assets/imgs/round/<?=$this->round?>/story/store/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/story/store/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/story/store/mo_main_txt.png" class="mo" style="width:40.3rem;" data-aos="fade">
			<img src="/assets/imgs/round/<?=$this->round?>/story/store/pc_main_txt.png" class="pc" style="width:54.9rem;" data-aos="fade">
		</div>
	</div>
	
	<section class="sub_top_text">
		<div class="content_wrap" style="padding-bottom:3.2rem;">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			생일 축하합니다 ~ 생일 축하합니다 ~ <br>
			사랑하는 롯데리아 불♪고♬기 <br>
			생일 축하합니다 !
			</p>
		</div>
	</section>
	
	<section>
		<div class="content_wrap">
			<div class="fullhalf">
				<div class="video_wrap">
					<iframe src="https://player.vimeo.com/video/761370868?h=160ffc4367" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>
			</div>
			<div class="mt32">
				<p data-aos="fade-left">
				1992년 처음으로 출시되었던 불고기버거가 어느덧 30살이 되다!? <br>
				롯데리아에서는 불고기버거에게 30주년을 기념하기 위해서 <br>
				서울의 핫플레이스 종로구 익선동에 첫 팝업스토어인 <br>
				'불고기랩 9222'을 오픈했다.   <br><br>
				팝업스토어는 총 3개의 동으로 이루어져 <br>
				A동에서는 1992년 과거를, <br>
				B동에서는 2022년 현재를, <br>
				C동에서는 2052년 미래를 <br>
				경험할 수 있도록 만들었다.   <br><br>
				다양한 포토존과 체험존에서 사진도 찍고 <br>
				30여명의 신진 아티스트들과 함께 만든 작품 전시회도 보고 <br>
				볼거리와 먹기리가 가득한 '불고기랩 9222' 속으로 떠나볼까?   <br><br>
				꾸준하게 사랑받아온 불고기버거 <br>
				앞으로도 함께하자 !!!
				</p>
			</div>
		</div>
	</section>
	
</div>