<style>
.content_wrap {padding:6rem 7.2rem 9.6rem 7.2rem;}
.sub_header .content_wrap {text-align:center;}
.contents.story_sub .sub_header h4 {text-align:center;}
.contents.story_sub .sub_header h2 {text-align:center;}
.sub_header .content_wrap img {margin:0 auto;}
.sub_header + section .content_wrap {padding-top:9.6rem;}

.contents.story_sub h5 {font-size:2.8rem; font-weight:bold; color:#037781; text-align:center;}
.contents.story_sub .years {display:flex; justify-content:center; white-space:nowrap; gap:2rem;}
.contents.story_sub .years h3 {font-size:7.2rem; line-height:9.5rem; font-weight:bold; color:#fff; -webkit-text-stroke:1px #037781; text-stroke:1px #037781;}
.contents.story_sub .years h3:nth-child(2) {color:#037781;}

.contents.story_sub .img_wrap.cover::after {opacity:.3; background: transparent linear-gradient(180deg, #000000 0%, #54545400 100%) 0% 0% no-repeat padding-box;}
.contents .sub_top_text + section .content_wrap {    padding-top: 0rem;}

@media all and (min-width:1280px) {
	.content_wrap {padding:6rem 0rem 9.6rem 0rem;}
	.contents.story_sub .sub_header .content_wrap {padding-top:3.5rem;}
}
</style>
<div class="contents story_sub">
	<div class="sub_top">
		<div class="img_wrap cover">
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/mo_main_txt.png" class="mo" style="width:43.9rem;">
			<img src="/assets/imgs/round/<?=$this->round?>/story/style/pc_main_txt.png" class="pc" style="width:59.9rem;">
		</div>
	</div>
	
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp" style="margin-top:0;">
			올 가을 어떤 옷을 입을지 고민된다면, 맛진만 믿고 따라와! <br><br>
			2022 F/W 트렌드는 물론, <br>
			당장 장바구니에 넣어야할 아이템까지 알려줄게. <br><br>
			자, 메모할 준비 됐지?
			</p>
		</div>
	</section>
	
	<section>
		<div class="content_wrap" style="padding-top:2rem;">
			<h2 class="mint" data-aos="fade-right"><b>2022 F/W 잇 아이템</b> <br>남성이라면</h2>
			
			<div class="txt_img full mt40" data-aos="flip-up">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_01.png" class="fullin">
				</div>
				<div class="txt_wrap ftop fleft" style="padding:2rem 0 0 7.2rem;">
					<div class="over_wrap">
						<h2 class="white"><b>01</b></h2>
					</div>
				</div>
			</div>
			
			<div class="full mt12" data-aos="fade-left">
				<div class="txt_img split gap18">
					<div class="img_wrap ftop per30 right">
					</div>
					<div class="txt_wrap per70">
						<h2 class="mint"><b>클로크</b></h2>
					</div>
				</div>
				<div class="txt_img split gap18 mt4">
					<div class="img_wrap per30 right">
						<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_02.png">
					</div>
					<div class="txt_wrap txt_img split vertical per70">
						<p>S/S 시즌에 더 어울리는 <br>아이템이라고 생각되지만, <br>가을에도 멋스런 연출이 가능하다.</p>
						<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_03.png" class="mt0">
					</div>
				</div>
				<div class="txt_img split gap18 mt8">
					<div class="img_wrap per30 right">
						<p>크림 컬러에 투박한 <br>체인 장식 뮬을 선보인 <br><b>‘JW 앤더슨’</b></p>
					</div>
					<div class="txt_wrap txt_img split vertical per70">
						<p>버켄스탁과 콜라보한 <b>‘디올’</b></p>
					</div>
				</div>
			</div>
			
			<div class="full mt40">
				<div class="txt_img split gap18">
					<div class="img_wrap per40" data-aos="fade-right">
						<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_04.png">
					</div>
					<div class="txt_wrap txt_img split vertical per60" data-aos="fade-up">
						<p>그리고 <br>여러 소재를 사용한 <br><b>‘웨일스 보너’</b> 까지.</p>
						<div>
							<div class="split_img gap0">
								<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_05.png">
								<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_06.png">
								<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_07.png">
							</div>
							<p class="mt8">격식있는 복장에 <br>클로그를 매치해보자. <br>믹스 앤 매치룩 장인이 될 수 있다.</p>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="txt_img full mt60" data-aos="flip-up">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_08.png" class="fullin">
				</div>
				<div class="txt_wrap ftop fleft" style="padding:2rem 0 0 7.2rem;">
					<div class="over_wrap">
						<h2 class="white"><b>02</b></h2>
					</div>
				</div>
			</div>
			
			<div class="mt12" data-aos="fade-up">
				<h2 class="mint"><b>사파리 자켓</b></h2>
				
				<div class="txt_img split mt4">
					<div class="img_wrap per30">
						<p>남성복에 항상 <br>빠지지 않는 것이 있다. <br>바로 실용성과 기능성.</p>
					</div>
					<div class="txt_wrap fbottom fleft per70">
						<p>두 키워드를 모두 챙길 수 있는 아이템, <br>‘사파리 자켓’이 이번 시즌 잇 아이템이다.</p>
					</div>
				</div>
			</div>
			
			<div class="mt40 full">
				<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_09.png" class="fullin" data-aos="zoom-in">
				<p class="tcenter mt20" data-aos="fade-up">흔히 사파리 자켓은 우아함과 거리가 멀다고 여겨진다. <br>특유의 입체 포켓으로 인해, 투박하고 캐주얼한 느낌이 강하기 때문.</p>
			</div>
			
			<div class="full mt60">
				<div class="txt_img split gap18 mt4">
					<div class="img_wrap per30" data-aos="fade-right">
						<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_10.png">
					</div>
					<div class="txt_wrap txt_img split vertical per70" data-aos="fade-left">
						<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_11.png" class="mt0">
						<p>하지만 이번 시즌 <b>‘디올’</b>은 달랐다. <br><br>
						오버사이즈드 실루엣에 <br>
						절제된 디자인을 선보임으로써 <br>
						우아함과 드레시함을 잘 보여줬다</p>
					</div>
				</div>
			</div>
			
			<div class="txt_img fullin mt60" data-aos="zoom-in">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_12.png">
				</div>
				<div class="txt_wrap overwrap fright ftop" style="padding:2rem 4.5rem;">
					<p class="white">독특한 그래픽을 <br> 선보인<b>‘프라다’</b></p>
				</div>
			</div>
			
			<div class="txt_img split full mt60" style="margin-top:-8rem; gap:2rem;" data-aos="fade-up">
				<div class="img_wrap w488">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_13.png">
				</div>
				<div class="txt_wrap">
					<p class="black">소재로 포인트를 준 <br><b>‘루이비통’</b></p>
				</div>
			</div>
			
			<div class="txt_img full mt60" data-aos="flip-up">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_14.png" class="fullin">
				</div>
				<div class="txt_wrap ftop fleft" style="padding:2rem 0 0 7.2rem;">
					<div class="over_wrap">
						<h2 class="black"><b>03</b></h2>
					</div>
				</div>
			</div>
			
			<div class="mt12" data-aos="fade-up">
				<h2 class="mint"><b>시어링 자켓</b></h2>
				<p class="mt4">올 겨울엔 시어링 자켓 열풍이 불 것으로 보인다. <br>
				패딩은 투박해서, 코트는 따분해서 <br>
				질렸다면 따뜻함과 간지를 둘 다 확보할 수 있는 아이템, <br><br>
				시어링 자켓에 주목하자. <br>
				90년대의 미학을 재해석하고자 여러 브랜드에서 <br>
				다양한 시어링 제품을 선보였다.</p>
			</div>
			
			<div class="full mt40">
				<div class="txt_img split gap18">
					<div class="img_wrap per30" data-aos="fade-right">
						<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_15.png">
					</div>
					<div class="txt_wrap txt_img split vertical per70" data-aos="fade-left">
						<p class="black">고급스러움과 <br>우아함을 연출한 <br><b>‘질 샌더’</b></p>
						<div class="txt_img mt60">
							<div class="img_wrap">
								<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_16.png">
							</div>
							<div class="txt_wrap ftop overwrap" style="padding:2rem;">
								<p class="white">눈에 띄는 <br>색상을 <br>곳곳에 <br>섞으면서 <br>후디 포인트를 준 <br><b>‘겐조’</b></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="txt_img split full gap18 mt18">
				<div class="txt_img w470 img_wrap" data-aos="fade-right">
					<div class="img_wrap">
						<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_17.png">
					</div>
					<div class="txt_wrap overwrap" style="padding:0 0 2rem 7.2rem;">
						<p class="white">그리고 해체주의 <br>표현한 <br><b>‘와이프로젝트’</b>까지</p>
					</div>
				</div>
				<div class="txt_wrap fbottom" data-aos="fade-left">
					<p class="black">기능성과 심미성을 <br>둘 다 챙기고 싶다면, <br>시어링 자켓을 추천한다.</p>
				</div>
			</div>
			
			<div class="txt_img full mt60" data-aos="flip-up">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_18.png" class="fullin">
				</div>
				<div class="txt_wrap ftop fleft" style="padding:2rem 0 0 7.2rem;">
					<div class="over_wrap">
						<h2 class="black"><b>04</b></h2>
					</div>
				</div>
			</div>
			
			<div class="mt12" data-aos="fade-up">
				<h2 class="mint"><b>로우 라이즈</b></h2>
				<p class="mt4">여성의 전유물이던 로우 라이즈가 남성복에도 적용되는 추세다. <br>
				Y2K가 유행하면서 로우 라이즈는 여성복에 큰 영향을 미쳤다.</p>
			</div>
			
			<div class="mt40 full">
				<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_19.png" class="w348 center" data-aos="zoom-in">
				<p class="mt8 tcenter" data-aos="fade-up">워크팬츠를 접거나 내려입어, <br>
				속옷을 노출하는 패션이 거리에서 자주 보였다. <br>
				이번 컬렉션을 통해 로우 라이즈가 남성복에도 영향을 미칠 것으로 예상된다. <br><br>
				일명 ‘저스틴 비버’ 패션. <br>
				복서를 노출하여 자연스레 속옷을 노출하는 남성들이 많아질 예정이다.</p>
			</div>
		</div>	
	</section>
	
	<section class="border_top">
		<div class="content_wrap" style="padding-top:6rem;">
			<h2 class="mint" data-aos="fade-right"><b>2022 F/W 잇 아이템</b> <br>여성이라면</h2>
			
			<div class="txt_img full mt40" data-aos="flip-up">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_20.png" class="fullin">
				</div>
				<div class="txt_wrap ftop fleft" style="padding:2rem 0 0 7.2rem;">
					<div class="over_wrap">
						<h2 class="white"><b>01</b></h2>
					</div>
				</div>
			</div>
			
			<div class="full mt12" data-aos="fade-left">
				<div class="txt_img split gap18">
					<div class="img_wrap ftop per30 right">
					</div>
					<div class="txt_wrap per70">
						<h2 class="mint"><b>푸퍼</b></h2>
					</div>
				</div>
				<div class="txt_img split gap18 mt4">
					<div class="img_wrap per30 right">
						<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_21.png">
					</div>
					<div class="txt_wrap txt_img split vertical per70">
						<p>봄버 스타일의 아우터가 <br>다시 유행할 것으로 보인다.</p>
						<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_22.png" class="mt0">
					</div>
				</div>
				<p class="mt8" style="padding-left:7.2rem;">사이즈가 커지면서, 독특한 소재를 택한 브랜드가 많아졌다.</p>
			</div>
			
			<div class="full mt40">
				<div class="txt_img split gap18">
					<div class="img_wrap per40" data-aos="fade-right">
						<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_23.png">
					</div>
					<div class="txt_wrap txt_img split vertical per60" data-aos="fade-up">
						<p>고밀도의 나일론이나 폴리에스터에 <br>
						그치지 않고, PVC와 가죽소재, <br>
						그리고 패턴 원단까지</p>
						<div>
							<div class="split_img gap0">
								<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_24.png">
								<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_25.png">
								<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_26.png">
							</div>
							<p>눈길을 사로잡는 소재로 푸퍼를 <br>
							재해석하는 열풍이 불고있다.</p>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="txt_img full mt60" data-aos="flip-up">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_27.png" class="fullin">
				</div>
				<div class="txt_wrap ftop fleft" style="padding:2rem 0 0 7.2rem;">
					<div class="over_wrap">
						<h2 class="white"><b>02</b></h2>
					</div>
				</div>
			</div>
			
			<div class="mt12" data-aos="fade-up">
				<h2 class="mint"><b>브라탑</b></h2>
				<p class="mt4">F/W가 맞나싶을 정도로 디자이너들의 브라탑 사랑이 끊이지 않는다.</p>
			</div>
			
			<div class="split_img twin fullhalf mt40">
				<div data-aos="fade-right">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_28.png">
				</div>
				<div data-aos="fade-left">
					<img  src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_29.png">
				</div>
			</div>
			
			<p class="tcenter" data-aos="fade-up">다수의 브랜드에서 테일러드 자켓 안에 브라탑을 이너로 선보인 착장을 소개했다.</p>
			
			
			<div class="full mt60">
				<div class="txt_img split gap18 mt4">
					<div class="img_wrap per30" data-aos="fade-right">
						<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_30.png">
					</div>
					<div class="txt_wrap txt_img split vertical per70" data-aos="fade-left">
						<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_31.png" class="mt0">
						<p>다수의 브랜드에서 테일러드 자켓 안에 <br>브라탑을 이너로 선보인 착장을 소개했다.</p>
					</div>
				</div>
			</div>
			
			<div class="txt_img full mt60" data-aos="flip-up">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_32.png" class="fullin">
				</div>
				<div class="txt_wrap ftop fleft" style="padding:2rem 0 0 7.2rem;">
					<div class="over_wrap">
						<h2 class="white"><b>03</b></h2>
					</div>
				</div>
			</div>
			
			<div class="mt12" data-aos="fade-up">
				<h2 class="mint"><b>원피스</b></h2>
				<p class="mt4">이번 쇼에 자주 포착된 아이템, 원피스. 발표된 아이템 수가 월등히 많다.</p>
			</div>
			
			<div class="full mt40">
				<div class="txt_img split gap18">
					<div class="img_wrap per30 txt_img split vertical" data-aos="fade-right">
						<div class="img_wrap">
							<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_33.png">
						</div>
						<div class="txt_wrap fbottom fright">
							<p class="black">몸을 그대로 타고 내리는 <br>핏감과 긴 기장감의 <br>원피스를 구매할 것. <br><br>실루엣을 표현하기 <br>좋은 니트와 <br>저지 소재를 추천한다</p>
						</div>
					</div>
					<div class="txt_wrap txt_img split vertical per70" data-aos="fade-left">
						<p class="black">레이어드룩을 연출할 수 있는 <br>F/W는 S/S에 비해 풍부하게 느껴지는데, <br>원피스만큼 레이어드하기 좋은 아이템이 없다.</p>
						<div class="txt_img mt60">
							<div class="img_wrap">
								<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_34.png">
							</div>
							<div class="txt_wrap fbottom fright overwrap" style="padding:2rem;">
								<p class="white">시즌이 <br>무색할 정도로 <br>슬립드레스의 등장이 <br>잦던 올해다.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="txt_img full mt60" data-aos="flip-up">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_35.png" class="fullin">
				</div>
				<div class="txt_wrap ftop fleft" style="padding:2rem 0 0 7.2rem;">
					<div class="over_wrap">
						<h2 class="black"><b>04</b></h2>
					</div>
				</div>
			</div>
			
			<div class="mt12" data-aos="fade-up">
				<h2 class="mint tcenter"><b>미니 스커트</b></h2>
				<p class="mt4 tcenter full">지난 시즌부터 급부상한 미니 스커트의 인기는 이번에도 이어질 것으로 보인다.</p>
			</div>
			
			<div class="flex mt60 center" style="gap:1.8rem; width:56.6rem;">
				<div class="img_wrap w348" data-aos="fade-right">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_36.png">
				</div>
				<div class="img_wrap" style="width:20rem; display:flex; align-items:flex-end;" data-aos="fade-left">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_37.png" style="width:100%;">
				</div>
			</div>
			<p class="tcenter full" data-aos="fade-up">미니 스커트를 부각시키기 위해 패턴에 힘을 주거나, <br>메탈과 같이 차별화된 소재와 함께 매치한 착장이 우리의 시선을 끈다.</p>
		</div>	
	</section>
	
	<section class="border_top">
		<div class="content_wrap" style="padding-top:6rem;">
			<h2 class="mint" data-aos="fade-right"><b>2022 F/W 잇 아이템</b> <br>개성을 입다</h2>
			
			<div class="txt_img full mt60" data-aos="flip-up">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_38.png" class="fullin">
				</div>
				<div class="txt_wrap ftop fleft" style="padding:2rem 0 0 7.2rem;">
					<div class="over_wrap">
						<h2 class="white"><b>01</b></h2>
					</div>
				</div>
			</div>
			
			<div class="mt12" data-aos="fade-up">
				<h2 class="mint"><b>레더</b></h2>
				<p class="mt4">F/W의 꽃은 레더다. 소재에서 오는 고급스러움이 레더의 매력. <br>다양한 색상이 존재하지만, 레더하면 역시 블랙아닐까. <br>레더가 유행하면서, 블랙 색상도 자연스레 트렌드로 자리 잡았다.</p>
			</div>
			
			<div class="full mt40">
				<div class="txt_img split gap18">
					<div class="img_wrap per30 txt_img split vertical" data-aos="fade-right">
						<div class="img_wrap">
							<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_39.png">
						</div>
					</div>
					<div class="txt_wrap txt_img split vertical per70" data-aos="fade-left">
						<p>매 컬렉션에서 화려함을 담당하는 <br>‘돌체앤가바나’는 이번 시즌 광택감이 있는 <br>레더를 사용했고</p>
						<div class="txt_img mt94">
							<div class="img_wrap">
								<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_40.png">
							</div>
						</div>
						<p class="mt8">‘알릭스’의 경우 드레이프성이 있는 <br>레더를 활용했다.</p>
					</div>
				</div>
			</div>
			
			<div class="mt60 full">
				 <img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_41.png" class="w348 center" data-aos="zoom-in">
				 <p class="tcenter mt8" data-aos="fade-up">자칫 밋밋할 수 있는 블랙 컬러를 베리에이션하므로써 칙칙함을 덜어냈다. <br>특히 ‘보테가 베네타’가 이번 시즌, 레더 풀 착장을 선보여 화제다.</p>
			</div>
			
			
			<div class="txt_img full mt60" data-aos="flip-up">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_42.png" class="fullin">
				</div>
				<div class="txt_wrap ftop fleft" style="padding:2rem 0 0 7.2rem;">
					<div class="over_wrap">
						<h2 class="black"><b>02</b></h2>
					</div>
				</div>
			</div>
			
			<div class="mt12" data-aos="fade-up">
				<h2 class="mint"><b>파워 숄더 & 아워글라스 실루엣</b></h2>
				<p class="mt4">파워 숄더는 꽤 오랜만에 돌아온 트렌드다. <br>
				여성복의 경우, 맨즈 웨어에서 영감을 받은 테일러링 코트와 <br>
				수트가 유행할 것으로 보인다.</p>
			</div>
			
			<div class="full mt40">
				<div class="txt_img split gap18">
					<div class="img_wrap per30 txt_img split vertical" data-aos="fade-right">
						<div class="img_wrap">
							<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_43.png">
						</div>
					</div>
					<div class="txt_wrap txt_img split vertical per70" data-aos="fade-left">
						<p>좁은 어깨가 콤플렉스인 남성이라면, <br>이번 유행을 격하게 반길지도</p>
						<div class="txt_img mt94">
							<div class="img_wrap">
								<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_44.png">
							</div>
						</div>
						<p class="mt8">과장된 숄더는 룩에 자신감을 불어넣고, <br>실루엣에 힘을 실어준다.</p>
					</div>
				</div>
			</div>
			
			<div class="mt60 full">
				 <img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_45.png" class="w348 center" data-aos="zoom-in">
				 <p class="tcenter mt8" data-aos="fade-up">파워 숄더의 연장선으로 아워글라스 실루엣 <br>
				 (모래시계같이 어깨가 강조되고 허리가 들어간 실루엣)이 유행할 예정이다. <br>
				 코르셋을 자켓 위에 걸쳐 허리라인을 부각시키고, <br>
				 어깨를 강조하는 실루엣이 여성복에서 자주 보였기 때문</p>
			</div>
			
			<div class="flex mt60 center" style="gap:1.8rem; width:62.4rem;">
				<div class="img_wrap" style="width:39.8rem;" data-aos="fade-right">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_46.png" style="width:100%;">
				</div>
				<div class="img_wrap" style="width:20.8rem; display:flex; align-items:flex-end;" data-aos="fade-left">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_47.png" style="width:100%;">
				</div>
			</div>
			<p class="tcenter full" data-aos="fade-up">현재 유행하는 로우라이즈와 크롭의 절충점을 찾는 것으로 해석된다. <br>
			‘디올’과 ‘던힐’에서는 아워글라스 실루엣을 <br>
			남성복 수트 디자인에 접목시켜 클래식함을 강조했다.</p>
			
			
			
			
			<div class="txt_img full mt60" data-aos="flip-up">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_48.png" class="fullin">
				</div>
				<div class="txt_wrap ftop fleft" style="padding:2rem 0 0 7.2rem;">
					<div class="over_wrap">
						<h2 class="black"><b>03</b></h2>
					</div>
				</div>
			</div>
			
			<div class="mt8" data-aos="fade-up">
				<h2 class="mint"><b>오버 사이즈드 팬츠</b></h2>
				<p class="mt4">최근 몇 시즌에 걸쳐 바지 실루엣이 점점 넓어지고 있다. <br>
				많은 브랜드에서 아직까지 Y2K 패션을 내세우는 것도 <br>
				오버 사이즈드 팬츠 유행에 한 몫한다.</p>
			</div>
			
			<div class="full mt40">
				<div class="txt_img split gap18">
					<div class="img_wrap per30 txt_img split vertical" data-aos="fade-right">
						<div class="img_wrap">
							<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_49.png">
						</div>
					</div>
					<div class="txt_wrap txt_img split vertical per70" data-aos="fade-left">
						<p>올해 여성복의 키워드는 ‘극한 대비감’. <br>
						바닥을 쓸고 다닐 정도로 긴 기장의 <br>
						팬츠와 쫄쫄이처럼 달라붙는 <br>
						상의의 조합이 자주 보인다.</p>
						<div class="txt_img mt60">
							<div class="img_wrap">
								<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_50.png">
							</div>
						</div>
						<p class="mt8">실루엣과 길이, <br>컬러와 소재 매치까지 대비감을 준 게 포인트다.</p>
					</div>
				</div>
			</div>
			
			<div class="full mt40">
				<div class="txt_img split gap18">
					<div class="img_wrap" data-aos="fade-right" style="width:calc( 50% - .9rem );">
						<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_51.png">
						<p style="padding-left:7.2rem;" class="mt8">남성복의 경우, <br>
						‘오버사이즈드 데님 팬츠’를 <br>
						선보인 곳이 많다. <br>
						그런지한 느낌을 살린 ‘루이비통’</p>
					</div>
					<div class="txt_wrap" data-aos="fade-left" style="width:calc( 50% - .9rem);">
						<div class="txt_img" style="padding-right:3.6rem;">
							<div class="img_wrap">
								<img src="/assets/imgs/round/<?=$this->round?>/story/style/SUB_52.png">
							</div>
							<div class="txt_wrap fbottom overwrap" style="padding:2rem;">
								<p class="white">독특한 패턴을 보여준 <br>‘비앙카 손더스’가 특히 눈에 띈다.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</section>
	
</div>