<style>
.contents.story_sub .grid_wrap {display:grid; grid-template-columns:1fr 1fr; grid-gap:1.2rem;}
.contents.story_sub .grid_wrap > div {text-align:center; padding:4rem 0; background:#F5F5F5; border-radius:2.8rem;}
.contents.story_sub .grid_wrap .title {letter-spacing:0;}
.contents.story_sub .grid_wrap .slogan {color:#000000; font-size:3.6rem; font-weight:bold; margin-bottom:1.2rem;}
.contents.story_sub .grid1 {grid-column:1 / 3;}

.contents.story_sub .sub_top_text .content_wrap {padding-bottom:0;}


.contents.story_sub .content_wrap p.plus {color:#fff; position:absolute; top:13.2rem; text-align:center; color:#fff; width:100%;}
.contents.story_sub .content_wrap p.plus::before {position:relative; content:'+'; font-size:5rem; height:7.2rem; line-height:3.2rem; color:#CFEAFF; display:block;}

.contents.story_sub .sub_header.map_area + section {margin-top:-14.6rem;}

.content_wrap {padding:6rem 7.2rem 9.6rem 7.2rem;}

.contents.story_sub section .content_wrap > p {margin-top:2rem;}

.content_wrap .txt_img .txt_wrap h2 {line-height:5.2rem;}

.content_wrap .txt_img .img_wrap.cover2::after {background: #000000C7 0% 0% no-repeat padding-box; opacity: 0.4;}
.content_wrap .txt_img .img_wrap.cover3::after {background: #000000C7 0% 0% no-repeat padding-box; opacity: 0.25;}
.content_wrap .txt_img .img_wrap.cover4::after {background: #000000C7 0% 0% no-repeat padding-box; opacity: 0.18;}

@media all and (min-width:1280px) {
	.content_wrap {padding:6rem 0rem 9.6rem 0rem;}
	
}

</style>
<div class="contents story_sub">
	<div class="sub_top">
		<div class="img_wrap cover">
			<img src="/assets/imgs/round/<?=$this->round?>/story/trip/mo_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/story/trip/pc_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/story/trip/mo_main_txt.png" data-aos="fade" class="mo" style="width:45.6rem;">
			<img src="/assets/imgs/round/<?=$this->round?>/story/trip/pc_main_txt.png" data-aos="fade" class="pc" style="width:62.2rem;">
		</div>
	</div>
	
	<section class="sub_top_text">
		<div class="content_wrap">
			<p data-aos="fade-left" class="topp right" style="margin-top:0;">
			일 년 중 딱 두시간, <br>
			한강다리를 지나는 열차와 버스가 느리게 달리며, <br>
			승객들에게 추억을 선물한다. <br><br>
			노량진의 수험생들은 하던 공부를 멈추고, 인근 옥상으로 올라가 추억을 만든다. <br>
			일상이 멈춘 틈에 ‘추억’이 들어왔다. <br>
			10월 8일, 서울의 밤하늘엔 꽃이 피었다.
			</p>
		</div>
	</section>
	
	<section>
		<div class="content_wrap">
			<div class="txt_img left" data-aos="fade-right">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_01.png" class="fullin">
				</div>
				<div class="txt_wrap fbottom fleft" style="padding:5.2rem 7.2rem;">
					<div class="over_wrap">
						<h2 class="white"><b>일상이 멈춘 틈에 <br>‘추억’이 들어왔다</b></h2>
						<p class="white mt12">10월 8일, 서울의 밤하늘엔 꽃이 피었다.</p>
					</div>
				</div>
			</div>
			<div class="split_img fullhalf mt8">
				<img data-aos="fade-right" src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_02.png">
				<img data-aos="fade" src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_03.png">
				<img data-aos="fade-left" src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_04.png">
			</div>
			<p class="tcenter" data-aos="fade-up">코로나19의 여파로 3년만에 다시 개최된 ‘한화 서울세계불꽃축제’. <br>
			2000년 ‘제 1회 서울 세계 불꽃축제’로 시작되어, <br>
			우리에게는 ‘여의도 불꽃축제’라는 이름으로 더 알려져있다.</p>
			
			<div class="txt_img split mt60">
				<div class="txt_wrap ftop" data-aos="fade-right" style="display:flex; flex-direction:column; justify-content:space-between;">
					<h2 class="mint tleft" data-aos="fade-right" style="line-height:5.2rem;">이 날 하늘에 <br>수놓인 불꽃은 <br><b>우리에게 <br>미소를 <br>수놓았다.</b></h2>
					<p>일상회복 이후 처음 맞이한 가을, <br>수도권 축제들이 돌아온다. <br>짧아진 가을, 갈 곳은 늘어났기에 <br><br>‘우리들의 페스티벌은 지금부터야!’</p>
				</div>
				<div class="img_wrap w277" data-aos="fade-left">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_05.png">
				</div>
			</div>
			
			<div class="txt_img full mt104" data-aos="fade">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_07.png" class="fullin">
				</div>
				<div class="txt_wrap ftop facenter" style="padding:4rem 0;">
					<div class="over_wrap">
						<p class="white tcenter f24">비상이다. 아직 가보지 않았다면, 서두를 것</p>
						<h2 class="white tcenter mt4"><b>2022 차 없는 잠수교 뚜벅뚜벅 축제 (서울)</b></h2>
						<p class="white tcenter mt10">8월에 시작된 축제는 10월 30일까지만 진행된다. <br>
						: 143, 401, 406, 405, 740 버스 ‘반포대교남단, 한강시민공원입구’ 정류소 <br>
						(상행 22382, 하행 22381)에서 하차</p>
					</div>
				</div>
			</div>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_06.png" class="fullin" data-aos="fade-up" style="margin-top:-6.8rem;">
			
			<p data-aos="fade-up">8월에 시작된 축제는 10월 30일까지만 진행된다. <br>
			매주 일요일 정오부터 21시까지 잠수교와 세빛섬, 달빛광장 일원에서 <br>
			진행되니, 남은 기회는 딱 두 번뿐.</p>
			
			<div class="flex mt60 gap20 full">
				<div class="w419" data-aos="fade-right">
					<img class="fullin" src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_08.png">
				</div>
				<div class="flex bottom" data-aos="fade-left">
					<p>발걸음이 즐겁다. <br>
					오후 3시부터 8시까지 <br>
					잠수교 남단에서 진행되는 <br>
					플리마켓은 나만의 보물을 <br>
					찾으려는 사람들로 붐빈다. <br><br>
					약 70팀이 참가하여 <br>
					재사용·친환경·수공예 <br>
					제품 등을 판매한다. <br><br>
					친환경 소비를 배우고 느끼는 <br>
					체험프로그램도 운영하니, <br>
					관심있다면 참여해볼 것.</p>
				</div>
			</div>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_09.png" class="fullhalf right mt60" data-aos="fade-left">
			
			<p data-aos="fade-left">금강산도 식후경이라고, 축제의 메인은 역시 푸드트럭 아닐까? <br>
			정오부터 21시까지 16대의 푸드트럭이 운영된다. <br><br>
			잠수교에선 음료와 간식, 아이스크림 등 디저트류가 판매되며, <br>
			달빛광장에선 디저트는 물론, 식사 음식을 함께 판매한다. <br>
			끼니를 거르고 방문할 예정이라면, 달빛광장 인근으로 가길 추천한다.</p>
			
			<div class="txt_img full mt60" data-aos="fade">
				<div class="img_wrap cover cover4">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_10.png" class="fullin">
				</div>
				<div class="txt_wrap ftop faleft" style="padding:7.2rem;">
					<div class="over_wrap">
						<p class="white">한강이 노을과 야경 맛집이라는 건 <br>
						이미 다 안다. <br><br>
						보는 맛은 물론, 즐기는 맛까지 있다면 <br>
						가지 않을 이유가 없다.</p>
					</div>
				</div>
			</div>
			
			<p data-aos="fade-up">대학교 천문동아리와 연계하여 오후 5시부터 9시까지 <br>
			밤하늘 천체관측 체험 프로그램을 진행하니, <br>
			어린 자녀가 있는 부모라면 방문에 참고할 것. <br><br>
			비누방울, 풍선아트, 저글링 등 공연도 수시로 진행되며, <br>
			서예교실과 컬러링 등 체험프로그램도 운영되니 가족과 함께 즐겨보자.</p>
			
			<div class="txt_img full mt60" data-aos="fade">
				<div class="img_wrap cover cover3">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_11.png" class="fullin">
				</div>
				<div class="txt_wrap fbottom faleft" style="padding:2rem 7.2rem;">
					<div class="over_wrap">
						<h2 class="white"><b>듣는 맛</b>도 <br>있다.</h2>
					</div>
				</div>
			</div>
			
			<p data-aos="fade-up">오후 1시부터 9시까지 달빛광장 수변무대에서는 ‘구석구석 라이브’가, <br>
			오후 4시부터 6시 30분까지는 잠수교에서 ‘잠수교 라이브’가 진행된다. <br>
			애인에게 감미로운 노랠 불러주진 못해도, 들려줄 순 있다.</p>
			
			<div class="txt_img full mt104" data-aos="fade">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_13.png" class="fullin">
				</div>
				<div class="txt_wrap ftop facenter" style="padding:4rem 0;">
					<div class="over_wrap">
						<p class="white tcenter f24">단풍 없이 가을을 논할 수 없다는 이들에게 소개한다.</p>
						<h2 class="white tcenter mt4"><b>화담숲 가을 단풍축제 (경기 광주)</b></h2>
						<p class="white tcenter mt10">화담숲은 약 5만평의 규모를 자랑하는 수목원이다. <br>
						11월 13일까지 개최되는 본 축제는 시간당 정원제로 진행되어 사전예약이 필수다. <br>
						경기 광주시 도척면 도척윗로 278-1</p>
					</div>
				</div>
			</div>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_12.png" class="fullin" data-aos="fade-up" style="margin-top:-6.8rem;">
			
			<p data-aos="fade-up">가을에 나무와 덤불들이 헐벗는 건 착시현상에 불과하다. <br>
			봄에 터뜨릴 싹과 잎사귀와 꽃으로 <br>
			점점이 반짝이는 진짜 모습이 보이지 않는가?” <br>
			- 카렐 차페크 ‘정원가의 열두 달’ 中. <br><br>
			4계절이 있단 건 우리나라의 장점이다. <br>
			피는 봄꽃과 지는 가을잎을 국내에서 모두 볼 수 있다니, 얼마나 행운인가.</p>
			
			<div class="flex mt60 gap20 full">
				<div class="w419" data-aos="fade-right">
					<img class="fullin" src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_14.png">
				</div>
				<div class="flex bottom" data-aos="fade-left">
					<p>한국관광공사가 선정하는 <br>
					‘한국관광100선’에 2회 연속 선정된 <br>
					국내 대표 관광지이자 <br>
					수도권 단풍 명소기도 하다. <br><br>
					이곳에서는 내장단풍과 당단풍 등 <br>
					400여 품종의 단풍들이 <br>
					군락을 이뤄 우릴 기다리고 있다.</p>
				</div>
			</div>
			
			<div class="txt_img full mt60" data-aos="fade">
				<div class="img_wrap cover cover2">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_15.png" class="fullin">
				</div>
				<div class="txt_wrap fbottom faleft" style="padding:2rem 7.2rem;">
					<div class="over_wrap">
						<p class="white">20분 단위로 회차당 400명, <br>
						하루 관람 인원수 만명으로 제한하여 보다 쾌적한 관람이 가능하다.</p>
					</div>
				</div>
			</div>
			
			<p data-aos="fade-up">다만 성수기라 예약이 쉽지 않다. 운이 좋아 표를 구했다면, <br>
			꼭 부모님 모시고 가길. 효도할 기회다. <br><br>
			본인이 부모라면, 자녀와 방문하길 추천한다. <br>
			아이들과 함께 주요 테마원을 찾아 도장을 찍는 ‘가을 스탬프 투어’가 <br>
			진행중이기 때문. <br><br>
			포토존 또한 준비되어있어, 추억 만들기 좋다. <br>
			다 큰 자녀와 서먹한 부모라면, 다시 끈끈해질 기회일지도..? <br><br>
			팁 하나 주자면, 가기 전 ‘ 인생샷 찍는 법’을 검색해보고 가자. <br>
			자녀가 부모와 보내는 시간을 즐기는 그날까지, 엄빠자래쓰인들 화이팅!</p>
			
			<!-- <a class="mint mt40 fullin link" data-aos="fade-up" href="" target="_blank"><span class="bold">화담숲 가을 단풍축제</span> 사전예약하러 가기</a> -->
			
			<div class="txt_img full mt104" data-aos="fade">
				<div class="img_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_16.png" class="fullin">
				</div>
				<div class="txt_wrap ftop facenter" style="padding:4rem 0;">
					<div class="over_wrap">
						<p class="white tcenter f24">벽초지수목원은 일년 내내 꽃이 피는 곳</p>
						<h2 class="white tcenter mt4"><b>벽초지수목원 가을꽃 국화축제 (경기 파주)</b></h2>
						<p class="white tcenter mt10">지금은 국화와 단풍이 우릴 기다리고 있다. <br>
						연중무휴. 공휴일을 비롯해 설날과 추석 연휴에도 운영된다. <br>
						경기도 파주시 광탄면 부흥로 242</p>
					</div>
				</div>
			</div>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_17.png" class="fullin" data-aos="fade-up" style="margin-top:-6.8rem;">
			
			<p data-aos="fade-up">4~5월은 봄꽃·튤립이, 5~8월은 수국·장미가, <br>
			9~10월은 가을꽃·다알리아가 관람객을 맞이한다. <br>
			10~11월인 지금은 국화와 단풍이 우릴 기다리고 있다.</p>
			
			<div class="flex mt60 gap20 full">
				<div class="w419" data-aos="fade-right">
					<img class="fullin" src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_18.png">
				</div>
				<div class="flex bottom" data-aos="fade-left">
					<p>서울에서 차로 한시간이면 <br>
					만나는 프랑스, 이탈리아, 영국(?). <br>
					9500원짜리 입장권이 곧 항공권이다. <br><br>
					이곳은 총 6개 <br>
					(설렘, 신화, 모험, 자유, 사색, 감동) <br>
					테마공간 속 26개의 <br>
					동·서양 정원으로 이루어져있다.</p>
				</div>
			</div>
			
			<div class="txt_img full mt60" data-aos="fade">
				<div class="img_wrap cover cover3">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_19.png" class="fullin">
				</div>
				<div class="txt_wrap fbottom faleft" style="padding:2rem 7.2rem;">
					<div class="over_wrap">
						<h2 class="white">동양과 서양을 <br><b>모두 품었다.</b></h2>
					</div>
				</div>
			</div>
			
			<p data-aos="fade-up">줄곧 이어지는 그림같은 풍경에 관람객들은 셔터 누르기 바쁘다. <br><br>
			이들의 인생샷 획득을 돕고자, <br>
			수목원에는 국화 조형물과 각종 포토존이 대기중이다. <br>
			돌아오는 주말, 친구와 애인을 꼬드겨 파주로 향하자. <br><br>
			SNS 피드가 풍부해지는 계절, 가을이니까.</p>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_20.png" class="fullhalf right mt60" data-aos="fade-left">
			
			<p data-aos="fade-up">도심 속 탁한 공기에 시든 우리에겐 심폐소생술이 필요하다. <br>
			1,000여종의 식물로 가꾸어진 공간에서 자연을 오감으로 느껴보자. <br>
			축제기간 동안 벽초지수목원에는 국화를 비롯해 다양한 꽃들이 즐비한다. <br><br>
			가을을 만끽할 수 있는 그라스 등 수십종의 가을식물을 수도권에서 <br>
			접할 흔치않은 기회다.</p>
			
			<div class="txt_img full mt60" data-aos="fade">
				<div class="img_wrap cover cover4">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_21.png" class="fullin">
				</div>
				<div class="txt_wrap ftop faleft" style="padding:7.2rem;">
					<div class="over_wrap">
						<p class="white">방문 이후로, ‘자연’은 자녀의 단짝이 된다. <br>
						어린이를 대상으로 진행하는 <br>
						‘그린스쿨’은 생태 체험 학교다.</p>
					</div>
				</div>
			</div>
			
			<p data-aos="fade-up">자연환경 해설가와 함께하는 ‘수목원 해설 투어’와 놀이와 미션을 통해 <br>
			생태계의 비밀을 파헤쳐 보는 ‘플레이그린 탐험 프로그램’은 <br>
			그린스쿨에서만 만나볼 수 있다. <br><br>
			어린이와 유아를 위한 각종 ‘만들기 프로그램’도 준비되어 있어, <br>
			자기주도적인 체험이 가능하다.</p>
			
			<img src="/assets/imgs/round/<?=$this->round?>/story/trip/sub_22.png" class="w416 center mt60" data-aos="fade">
			
			<p class="tcenter" data-aos="fade-up">우리 어른이들도 만들기 프로그램에 참여할 수 있다. <br>
			그러니 섭섭해하지 말기. <br>
			미니 테라리움과 스칸디아모스 액자, 천연 페브리즈 등을 직접 만들어 <br>
			소중한 사람에게 선물해보는 건 어떨까. <br><br>
			플라워힐에서는 각종 희귀 국화들을 판매중이니, <br>
			꽃과 함께 직접 만든 선물을 건넨다면 당신은 이미 센스쟁이.</p>
		</div>
	</section>
</div>