@import '../../../../../../scss_global/scss-common2';
@import 'bs_reset';
@import 'monospace';
@import 'notice';

.q6a_promotion_ai_life {
    .img_box--clear {position: relative; top: -1px;}
    .pt_background--black{background: #000;}
    .pt_background--gray{background: #222222;}

    // app 페이지 관련
    .sec_benefit {
        @include vw-mo(padding, 40 0 30);
        .pt_benefit {
            &__item {
                margin: 0 auto; @include vw-mo(margin-bottom, 20); @include vw-mo(width, 672); @include vw-mo(height, 252);
                &:last-child {margin-bottom: 0}
            }
        }
        .pt_tab{
            &__btn-box{display: flex; justify-content: center; @include vw-mo(margin-bottom, 40);  @include vw-mo(gap, 20);}
            &__btn{@include vw-mo(width, 326); @include vw-mo(height, 70); @include vw-mo(font-size, 30); @include vw-mo(line-height, 20); font-weight:700; @include vw-mo(letter-spacing, -0.025); vertical-align: baseline; @include vw-mo(border, 2 solid #1E81F8); @include vw-mo(border-radius, 40); color:#1E81F8;}
            &__btn.active{color: #fff; background-color: #1E81F8}
        }
    }

    // web 페이지 관련
    .sec_case {
        position: relative;
        .zp_case__btn {position: absolute; left: 50%; transform: translateX(-50%); bottom: 15.3%; width: 4.9%; @include vw-max(height, 42);}
    }
    .sec_tradein {
        position: relative;
        .zp_trade__chat {position: absolute; left: 47.2%; transform: translateX(-50%); bottom: 23.2%; width: 13.5%; @include vw-max(height, 16);}
        .zp_trade__btn {position: absolute; left: 50%; transform: translateX(-50%); bottom: 10.9%; width: 5.7%; @include vw-max(height, 42); }
    }
}

@media screen and (max-width: 768px) {
    .q6a_promotion_ai_life {
        // web 페이지 관련
        .sec_case {
            position: relative;
            .zp_case__btn {position: absolute; left: 50%; transform: translateX(-50%); bottom: 9.9%; width: 26%; @include vw-mo(height, 80);}
        }
        .sec_tradein {
            position: relative;
            .zp_trade__chat {position: absolute; left: 67%; transform: translateX(-50%); bottom: 21.2%; width: 46%; @include vw-mo(height, 21);}
            .zp_trade__btn {position: absolute; left: 50%; transform: translateX(-50%); bottom: 6.4%; width: 34%; @include vw-mo(height, 81);}
        }
    }
}

// fold view 적용
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .q6a_promotion_ai_life {
        // app 페이지 관련
        .sec_benefit {@include vw-fold(padding, 40 0 26);
            .pt_benefit {
                &__list {display: flex; justify-content: center; flex-wrap: wrap; @include vw-fold(gap, 0 28); }
                &__item {
                    margin: 0; @include vw-fold(margin-bottom, 26); @include vw-fold(width, 752); @include vw-fold(height, 282);
                    &:nth-last-child(2) {margin-bottom: 0}

                    // 폴드뷰에서 배너 한줄에 하나 노출시
                    // &:last-child{@include vw-fold(margin-right, 780);}
                }
            }
            .pt_tab{
                &__btn-box{display: flex; justify-content: center; @include vw-fold(margin-bottom, 40);  @include vw-fold(gap, 20);}
                &__btn{@include vw-fold(width, 326); @include vw-fold(height, 70); @include vw-fold(font-size, 30); @include vw-fold(line-height, 20); font-weight:700; @include vw-fold(letter-spacing, -0.025); vertical-align: baseline; @include vw-fold(border, 2 solid #1E81F8); @include vw-fold(border-radius, 40); color:#1E81F8;}
                &__btn.active{color: #fff; background-color: #1E81F8}
            }
        }

        // web 페이지 관련
        .sec_case {
            position: relative;
            .zp_case__btn {position: absolute; left: 50%; transform: translateX(-50%); bottom: 9.9%; width: 17.9%; @include vw-fold(height, 122);}
        }
        .sec_tradein {
            position: relative;
            .zp_trade__chat {position: absolute; left: 62%; transform: translateX(-50%); bottom: 21.2%; width: 32%; @include vw-fold(height, 32);}
            .zp_trade__btn {position: absolute; left: 50%; transform: translateX(-50%); bottom: 6.4%; width: 20.7%; @include vw-fold(height, 121);}
        }
    }
}
