<link rel="stylesheet" href="/assets/css/10/event-min.css"/>
<link rel="stylesheet" href="/assets/css/10/modal-min.css">

<style>
	header {background: #000 !important;}
</style>

<div class="event">
	<div data-aos="fade">
		<img src="/assets/imgs/round/10/event/pc_banner.webp" alt="event" title="event" class="pc_banner" />
		<img src="/assets/imgs/round/10/event/mo_banner.webp" alt="event" title="event" class="mo_banner" />
	</div>

	<div class="event-01">
		<div class="container">
			<p class="period pt10 pb10 pl20 pr20 f20">참여 기간 : 10/24 ~ 11/30</p>
			<div class="event-title mt20 mt-lg-25">
				<strong>EVENT 1</strong>
				<p>TASTY DIRECTOR</p>
			</div>
			<div class="event-title event-image mt24 mt-lg-18 f20 f16-lg">
				<div class="block">“내 인생의 주인공은 나, 맛ZINE의 주인공도 나!”</div>
				<div class="block mt24">맛둥이들이 꾸려나가고 싶은 맛진은 어떤 세상이야?<br/>
					다음 맛진의 감독은 맛둥이들이야!<br/>
					메인 콘셉트, POST 주제,  VIDEO 콘텐츠 그 어떤 것도 좋아 🙌</div>
				<div class="block mt24"><b>이때까지 다양한 주제로 맛둥이들을 찾아온 맛진!<br/>
					마음에 들었던 주제나, 하고 싶은 주제가 있는지 듣고 싶어</b></div>
				<div class="block mt24">선정된 콘셉트는 다가올 맛진에서 만날 수 있다고!</div>
				<div class="block mt34"><b>앞으로의 맛ZINE에서 보고싶은 콘텐츠 또는 주제를 댓글로 알려줘!</b></div>
			</div>
			<div class="event-image mt90 mt-lg-45">
				<img src="/assets/imgs/round/10/event/1.webp">
			</div>
			<div class="event-button mt100 mt-lg-25">
				<div class="flex flex-1 flex-tc">
					<a href="javascript:;" onclick="popupOpen(1);">이벤트 참여하기 ></a>
				</div>
			</div>

		</div>
	</div>
	<div class="event-02">
		<div class="container">
			<div class="event-title">
				<strong>EVENT 2</strong>
				<p>ENDING CREDIT</p>
				<b class="f20 mt24 mt-lg-15 fw4">“맛둥이’S PICK 명대사를 알려줘!”</b>
				<p class="mt24 mt-lg-15">
					<div class="mt24 f20 f16-lg">
						<div class="block">우리는 영화나 드라마를 보며 함께 공감하고, 웃고 울기도 하지<br/>
							우리의 삶들은 결국 닮아있어서 아닐까?</div>
						<div class="block mt24">맛진이는 영화가 끝난 후에도 여전히 자리에 앉아<br/>
							올라가는 엔딩 크래딧과 함께<br/>
							여운이 남는 장면과 대사들을 곱씹어 보곤 해</div>
						<div class="block mt24"><b>맛둥이들에게도 엔딩 크래딧 앞을 머물게 했던<br/>
							인생 영화 또는 가슴을 울렸던 대사가 있어?</b></div>
						<div class="block mt34"><b>내 인생 영화 속 명대사와 좋아하는 이유를 댓글로 알려줘!</b></div>
					</div>
				</p>
			</div>
			<div class="event-image mt100 mt-lg-35">
				<img src="/assets/imgs/round/10/event/2.webp">
			</div>
			<div class="event-button mt100 mt-lg-25">
				<div class="flex flex-1 flex-tc">
					<a href="javascript:;" onclick="popupOpen(2);">이벤트 참여하기 ></a>
				</div>
			</div>
		</div>
	</div>
	<div class="event-03">
		<div class="container">
			<div class="event-title">
				<p>🎁특별한 순간을 위한 선물🎁</p>
			</div>
			<div class="event-present">
				<div class="pre-01">
					<div>
						<strong>EVENT.1</strong>
						<p>TASTY DIRECTOR</p>
						<small>총 당첨 인원 : 6명</small>
					</div>
					<div class="col-12 relative">
						<div class="">
							<div class="event-image br">
								<img src="/assets/imgs/round/10/event/3.webp">
								<p>아이패드 에어 5세대</p>
							</div>
						</div>
						<div class="giftcard">
							<div class="event-image">
								<img src="/assets/imgs/round/10/event/4.webp">
								<p>롯데 모바일 상품권</p>
							</div>
						</div>
					</div>
				</div>
				<div class="pre-02">
					<div>
						<strong>EVENT.2</strong>
						<p>ENDING CREDIT</p>
						<small>총 당첨 인원 : 13명</small>
					</div>
					<div class="col-12 relative">
						<div class="">
							<div class="event-image br">
								<img src="/assets/imgs/round/10/event/5.webp">
								<p>에어팟 or 버즈</p>
							</div>
						</div>
						<div class="">
							<div class="event-image">
								<img src="/assets/imgs/round/10/event/6.webp">
								<p>엔제리너스 텀블러</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="event-content mt40 mt-lg-20">
				<p class="tc f22">※ EVENT1과 2의 경품은 상이하며, 선택이 불가합니다.</p>
			</div>
		</div>
	</div>
	<div class="event-05">
		<div class="container">
			<div class="flex">
				<b>안내사항</b>
				<ul>
					<li>이벤트 참여 시, 개인정보 오기재으로 인한 당첨자 누락은 책임지지 않습니다.</li>
					<li>당첨자 안내 및 경품 발송은 개별 연락처로 안내해 드립니다.</li>
					<li>본 이벤트의 경품 제공을 목적으로 개인 정보를 요구할 수 있습니다.</li>
					<li>당첨자 안내 개별 메시지 발송일 이후 14일 이내에 경품 수령 의사 및 개인 정보 회신이 없을 시, 자동으로 당첨자 대상에서 제외될 수 있습니다.</li>
					<li>이벤트 경품 수령을 위한 개인정보 회신 확인 후 순차적으로 경품을 발송해드립니다.</li>
					<li>수집된 개인정보는 이벤트 안내 및 경품 증정 이외에는 사용되지 않습니다.</li>
					<li>경품은 이벤트 참여 시 작성해주신 개인 정보로만 발송 가능하며, 다른 이름, 연락처, 주소 등으로 변경하여 수령하는 것은 불가합니다.</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="event-06">
		<div class="container">
			<div class="event-comment">
				<div class="comment-head">
					<strong>댓글</strong>
					<ul>
						<li class="active"><a href="javascript:;">추천순</a></li>
						<li><a href="javascript:;">최신순</a></li>
					</ul>
				</div>
				<div class="comment-body">
          <!-- tabs기능 -->
          <div class="wraper"> 
            <div class="comment-tab">
              <ul>
                <li class="active"><a href="javascript:;">EVENT.1</a></li>
                <li><a href="javascript:;">EVENT.2</a></li>
              </ul>
            </div>
          </div>
					<div class="comment-list">
						<!-- <p class="list-none">등록된 댓글이 없습니다.</p> -->
						<ul class="list" id="list">

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var round = 10;
	var index = 1;
	var order = 1;
	var ignore_seq = [];
	var isFetching = false;

	$(document).ready(function () {
		show_more();
	});

    // 이벤트 탭
    $(document).on("click", ".comment-tab ul li a", function () {
    var parents = $(this).parent("li");
    var idx = parents.index();

    ignore_seq = [];

    if (parents.siblings().hasClass("active")) {
      index = index === 1 ? 2 : 1;
      init_reply_data();
      show_more();
    }
    parents.addClass("active").siblings().removeClass("active");
  });

	// 추천순/최신순 탭
	$(document).on("click", ".comment-head ul li a", function () {
		var parents = $(this).parent("li");
		var idx = parents.index();

		ignore_seq = []
		if(parents.siblings().hasClass('active')){
			order = (order === 1) ? 2 : 1;
			init_reply_data();
			show_more();
		}

		parents.addClass("active").siblings().removeClass("active");
	});

	// 팝업
	function popupOpen(index) {
		$(`.modal`).css({
			'visibility': 'visible',
			'pointer-events': 'inherit',
		})
		$('.event_popup_1').css('display', 'block');
		$('.p_btn_1').attr('data-index', index)
	}

	function show_more() {
		isFetching = true;
		get_reply_data();
	}

	function init_reply_data() {
		$('#list').html('');
	}

	function get_reply_data() {
		$.post('/event/get_reply_data', { round: round, index: index, order: order, ignore_seq: ignore_seq }, function (result) {
			var r = JSON.parse(result);
			
			if (r.result) {
				var html = '';
				if (r.list.length) {
					for (var i = 0; i < r.list.length; i++) {
						html += '<li class="list-item">';
						html += '<div class="list-head">';
						if (r.list[i].image_datas.length > 0) {
							html += '<img class="mo" src="/' + r.list[i].image_datas[0].file_path + '">';
						} else {
							html += '<img class="mo" src="/assets/imgs/round/6/event/profile.svg">';
						}
						html += '<div>';
						html += '<b>' + r.list[i].nickname + '</b>';
						html += '<time>' + r.list[i].date + '</time>';
						html += '</div>';
						html += '</div>';
						html += '<div class="list-body">';
						html += '<p>' + r.list[i].text + '</p>';
						html += '<div class="list-body-like">';
						if (r.list[i].log_seq) {
							html += '<a href="javascript:like(' + r.list[i].seq + ')" id="like' + r.list[i].seq + '" class="active">' + r.list[i].like.toLocaleString('en') + '</a>';
						} else {
							html += '<a href="javascript:like(' + r.list[i].seq + ')" id="like' + r.list[i].seq + '">' + r.list[i].like.toLocaleString('en') + '</a>';
						}
						html += '</div>';
						html += '</div>';
						html += '</li>';
						html += '<input type="hidden" value="' + r.list[i].seq + '">';
						ignore_seq.push(r.list[i].seq);
					}
				}

				$('#list').append(html);
				isFetching = false;
			}
		});
	}

	function like(seq) {
		$.post('/event/like', { seq: seq }, function (result) {
			var r = JSON.parse(result);
			if (r.result) {
				$('#like' + seq).html(r.after);
				if (Number(r.after) > Number(r.before)) {
					$('#like' + seq).addClass('active');
				} else {
					$('#like' + seq).removeClass('active');
				}
			} else {
				alert(r.msg);
			}
		});
	}

	window.onscroll = function (e) {
		if (!isFetching && (window.innerHeight + window.scrollY + 100) >= document.body.offsetHeight) {
			show_more();
		}
	}
</script>

<script src="/assets/js/rabbit-event10.js"></script>