<style>
section .content_wrap {padding-top:0;}
.contents.story_sub .sub_top .img_wrap::before {opacity:0;}
.contents.story_sub .sub_header h4 {color:#FC3233;}
.contents.story_sub .sub_header h2 span {color:#FC3233;}
.contents.story_sub .sub_header p {margin-top:2rem;}
.contents.story_sub .sub_header .img_wrap {margin-top:4rem; text-align:center;}
.contents.story_sub .sub_header .img_wrap img {margin:0 auto;}

.contents.story_sub section:nth-of-type(2) .img_wrap {width:calc( 100% + 14.4rem ); margin-left:-7.2rem; margin-right:-7.2rem;}
.contents.story_sub section:nth-of-type(2) h4 {text-align:left; margin-top:4rem;}
.contents.story_sub section:nth-of-type(2) p {margin-top:2rem;}
.contents.story_sub section:nth-of-type(2) p + .img_wrap {margin-top:4rem; text-align:center;}
.contents.story_sub section:nth-of-type(2) p + .img_wrap img {margin:0 auto;}

@media (min-width: 1280px) {
	.contents.story_sub .sub_header .content_wrap {padding: 8rem 0;}
	.contents.story_sub .sub_header .img_wrap {margin-top:8rem;}
	.contents.story_sub section:nth-of-type(2) .content_wrap {padding-top:9rem;}
	.contents.story_sub section:nth-of-type(2) .img_wrap {margin:0 auto; width:100%;}
	
	.contents.story_sub section:nth-of-type(2) h4 {text-align:center; margin-top:10rem;}
	.contents.story_sub section:nth-of-type(2) h2 {text-align:center;}
	.contents.story_sub section:nth-of-type(2) p {text-align:center; margin-top:0;}
	.contents.story_sub section:nth-of-type(2) p + .img_wrap {margin-top:10rem;}
	.contents.story_sub section:nth-of-type(2) p:last-of-type {margin-top:3rem;}
}
</style>
<div class="contents story_sub">
	<div class="sub_top">
		<div class="img_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/story/culture/main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/story/culture/culture_main.png" class="pc">
		</div>
	</div>
	
	<section class="sub_header">
		<div class="content_wrap">
			<h4 data-aos="fade-up">문생을 즐겨보자</h4>
			<h2 data-aos="fade-up">CULTURE 1 뮤지컬 <span>‘마타하리’</span></h2>
			<p data-aos="fade-up">2022.05.28. (토)~2022.08.15. (월) <br>샤롯데시어터에서 오는 8월 15일까지 뮤지컬 ‘마타하리’가 공연된다. <br>제작사 EMK뮤지컬컴퍼니가 EMK오리지널의 시작을 알린 대작 '마타하리’</p>
			
			<div class="img_wrap" style="text-align:center;" data-aos="fade">
				<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub01.png" style="width:41.6rem;" class="mo">
				<img src="/assets/imgs/round/<?=$this->round?>/story/culture/culture_sub01.png" style="width:69.2rem;" class="pc">
			</div>
			
			<p style="text-align:center;" data-aos="fade-up">
				<span style="color:#FC3233;">세 번째 라인업으로 찾아왔다. ‘She’s Back!’</span> <br><br>5년 만의 새로운 시즌, 마타하리의 화려한 컴백! <br>탄탄한 캐스팅에 대작다운 흥미로운 스토리까지! <br><br>어쩌면 나 빼고 다 봤을지도…? <br>아직 온라인 티켓 구매가 가능하니 이번엔 놓치지 말자.
			</p>
		</div>
	</section>
	
	<section>
		<div class="content_wrap">
			<div class="img_wrap" style="">
				<img src="/assets/imgs/round/<?=$this->round?>/story/culture/main02.png" style="width:100%;" class="mo">
				<img src="/assets/imgs/round/<?=$this->round?>/story/culture/culture_sub02.png" style="width:100%;" class="pc">
			</div>
			<h4 data-aos="fade-up">문생을 즐겨보자</h4>
			<h2 data-aos="fade-up"><b>CULTURE 2 전시회 <span style="color:#037781;">‘랜덤 다이버시티’</span></b></h2>
			<p data-aos="fade-up">2022.03.12.(토) ~ 2022.06.26.(일) <br>향기와 전시가 만났다. <br>후각 체험형 전시인 ‘랜덤 다이버시티-프래그넌스’가 <br>6월 26일까지 서울 종로 ‘오프’에서 진행된다.</p>
			<div class="img_wrap" data-aos="fade">
				<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub02.png" style="width:41.6rem;" class="mo">
				<img src="/assets/imgs/round/<?=$this->round?>/story/culture/sub02.png" style="width:69.2rem;" class="pc">
			</div>
			<p style="text-align:center;" data-aos="fade">
				각자의 기억과 감정을 자극하는 향기를 찾아 <br class="mo"><span style="color:#037781;">본인만의 향수를 만드는 ‘향 추출’ 전시회다.</span> <br><br>후각에 연계된 기억은 감정의 기억을 동반한다. <br>얼마나 로맨틱한 경험인가. <br>당신의 기억을 세상에 하나뿐인 향으로 제작해보자.
			</p>
		</div>
	</section>
	
	
</div>