<style>
section .content_wrap {padding-top:0; padding-bottom:14rem;}
.contents.story_sub .sub_top .img_wrap::before {background: #000000 0% 0% no-repeat padding-box; opacity:.5;}
.contents.story_sub section.gray {padding-top:4.8rem;}
.ballon span {padding-left:7.2rem;}
@media all and (min-width:1280px) {
	section .content_wrap {padding-top:0; padding-bottom:21rem;}
	.ballon {font-size:3.6rem; line-height:7rem; margin-bottom:9.2rem; padding:4rem;}
	.ballon span {padding-left:0;}
	.contents.story_sub section.gray {padding-top:10rem;}
}
</style>
<div class="contents story_sub">
	<div class="sub_top">
		<div class="img_wrap video" onclick="window.open('https://www.youtube.com/watch?v=qyt1vD2lv1c','_blank')">
			<img src="/assets/imgs/round/<?=$this->round?>/story/enjoy/main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/story/enjoy/enjoy_main.png" class="pc">
		</div>
	</div>
	
	<section class="sub_header">
		<div class="content_wrap">
			<h4 data-aos="fade-up">롯데grs 만의 플레이리스트</h4>
			<h2 data-aos="fade-up">라떼는 천사표</h2>
			<p data-aos="fade-up">일하다 머리가 깨질 것 같을 때 부장님이 <br>스윗한 라떼 들고 찾아올 것 같은 노래 들으러 가기</p>
		</div>
	</section>
	<section class="gray" style="padding-top:4.8rem;">
		<div class="content_wrap">
			<div class="ballon right" data-aos="fade-up">
				0:00 <b>멜로망스 - 동화</b> <br>
				3:49 <b>소란 - Perfect Day</b> <br>
				7:10 <b>산들 - 내 기억 속에 남아 있는 그대 모습은</b> <br>
				10:19 <b>CHEEZE (치즈) - 사르르쿵</b> <br>
				13:25 <b>정아로 - 시소</b> <br>
				16:37 <b>에릭남, 전소미 - 유후</b> <br>
				20:17 <b>하성운 - 티격태격</b> <br>
				23:42 <b>스무살, 보라미유 - 봄날 크리스마스(Guitar.정성하)</b> <br>
				26:50 <b>오존 - 우리 사이 은하수를 만들어</b> <br>
				30:13 <b>LUCY - 개화</b> <br>
				34:24 <b>네이비쿼카 - 말해줘</b> <br>
				37:18 <b>산들 - 취기를 빌려(취향저격 그녀 X 산들)</b> <br>
				41:06 <b>정바스 - 카라멜마끼아또 (With. 장규철, 이시은)</b> <br>
				44:45 <b>에릭남, 이나은 - 끌림 (바니와 오빠들 X 에릭남, 이나은)</b> <br>
				48:14 <b>이무진 - 스윗해</b> <br>
				51:49 <b>정아로 - 서로</b> <br>
				55:02 <b>멜로망스 - 사랑인가 봐</b> <br>
				58:07 <b>dori - 2 O' CLOCK</b>
			</div>
			<div class="ballon left" data-aos="fade-up">
				1:00:40 <b>이구이 - 될 대로 돼라</b> <br>
				1:04:21 <b>마틴스미스 - 봄 그리고 너</b> <br>
				1:08:10 <b>수우 - Moonlight (Feat. 유정)</b> <br>
				1:10:41 <b>볼빨간사춘기 - 처음부터 너와 나</b> <br>
				1:14:03 <b>네이비쿼카 - Dear Moon</b> <br>
				1:17:02 <b>스무살 - 별을 세던 밤</b> <br>
				1:20:06 <b>애주레버 - 네가 듣기를</b> <br>
				1:23:05 <b>dori - girlfriend</b> <br>
				1:25:29 <b>슈가볼 - 농담 반 진담 반</b> <br>
				1:28:54 <b>조이 - 왜 사랑은 언제나 쉽지 않을까? <br class="mo"><span>(바른연애 길잡이 X 조이)</span></b> <br>
				1:32:34 <b>homezone - Love</b> <br>
				1:35:40 <b>빌리어코스티 - 니가 미치도록 사랑스러운건지</b> <br>
				1:39:22 <b>정바스 - May Groove (Feat. JOZU)</b> <br>
				1:42:50 <b>최유리 - 둘이</b> <br>
				1:46:19 <b>볼빨간사춘기 - 나만, 봄</b> <br>
				1:49:58 <b>이아람 - 원래 이래</b> <br>
				1:52:33 <b>스텔라장, 이민혁 - 인생 봄날</b> <br>
				1:55:58 <b>homezone - 책을 넘기는 듯한 마음으로</b> <br>
				1:59:13 <b>lofi - u & i verse (feat. Jade)</b>
			</div>
		</div>
	</section>
</div>