<div class="contents story">
	<div class="top_banner">
		<div class="img_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/story/story_main.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/story/pc_story.png" class="pc">
		</div>
		<div class="txt_wrap">
			<h2>STORY</h2>
			<p>우리의 이야기</p>
		</div>
	</div>
	
	<section>
		<div class="content_wrap">
			<h4 data-aos="fade">스토리 보드</h4>
			<h2 data-aos="fade">맛진 정보통</h2>
			<ul>
				<li data-aos="fade-up">
					<a href="/story/trip/<?=$this->round?>">
						<span class="img_wrap">
							<img src="/assets/imgs/round/<?=$this->round?>/story/01.png">
							<span>
								<span><span>01</span> Trip</span>
								<span>더보기</span>						
							</span>
						</span>
						<span class="title">신상 어드벤처 보러가기</span>
					</a>
				</li>
				<li data-aos="fade-up">
					<a href="/story/food/<?=$this->round?>">
						<span class="img_wrap">
							<img src="/assets/imgs/round/<?=$this->round?>/story/02.png">
							<span>
								<span><span>02</span> Food</span>
								<span>더보기</span>						
							</span>
						</span>
						<span class="title">먹는 명품 구찌 오스테리아 보러가기</span>
					</a>
				</li>
				<li data-aos="fade-up">
					<a href="/story/style/<?=$this->round?>">
						<span class="img_wrap">
							<img src="/assets/imgs/round/<?=$this->round?>/story/03.png">
							<span>
								<span><span>03</span> Style</span>
								<span>더보기</span>						
							</span>
						</span>
						<span class="title">힙한 골프 스타일 보러가기</span>
					</a>
				</li>
				<li data-aos="fade-up">
					<a href="/story/enjoy/<?=$this->round?>">
						<span class="img_wrap">
							<img src="/assets/imgs/round/<?=$this->round?>/story/04.png?1">
							<span>
								<span><span>04</span> Enjoy</span>
								<span>더보기</span>						
							</span>
						</span>
						<span class="title">[GRS] x [PLAYLIST] 들으러가기</span>
					</a>
				</li>
				<li data-aos="fade-up">
					<a href="/story/culture/<?=$this->round?>">
						<span class="img_wrap">
							<img src="/assets/imgs/round/<?=$this->round?>/story/05.png">
							<span>
								<span><span>05</span> Culture</span>
								<span>더보기</span>						
							</span>
						</span>
						<span class="title">오감이 즐거워지는 문화 LIFE 보러가기</span>
					</a>
				</li>
				<li data-aos="fade-up">
					<a href="/story/jaress/<?=$this->round?>">
						<span class="img_wrap">
							<img src="/assets/imgs/round/<?=$this->round?>/story/06.png">
							<span>
								<span><span>06</span> 자레쓰</span>
								<span>더보기</span>						
							</span>
						</span>
						<span class="title">이달의 GRS 자레쓰 소식 보러가기</span>
					</a>
				</li>
			</ul>
		</div>
	</section>
	
</div>