<style>
.contents.story_sub .sub_top .img_wrap {height:auto;}
.contents.story_sub .txt_wrap img {width:10rem; height:10rem; object-fit:cover; border-radius:1000px; margin-right:3.6rem;}
.contents.story_sub .txt_wrap {display:flex;}
.contents.story_sub .txt_wrap span {color:#717171; font-size:2.2rem;}
.contents.story_sub .txt_wrap p {color:#3a3a3a; font-size:2.4rem; margin-top:.5rem; text-align:left;}
.contents.story_sub section.gray ul {background-color:#F5F5F5; border-radius:1.6rem; padding:2rem 2.6rem; margin-top:2rem;}
.contents.story_sub section.gray ul li {display:flex; align-items:center; margin-bottom:1.6rem;}
.contents.story_sub section.gray ul li:last-child {margin-bottom:0;}
.contents.story_sub section.gray ul li span {display:inline-flex; align-items:center; color:#037781;}
.contents.story_sub section.gray ul li span:first-child {flex:1; font-size:2.2rem;}
.contents.story_sub section.gray ul li p {text-align:left;}
.contents.story_sub .ballon {padding:4rem; margin-bottom:4rem;}
.contents.story_sub .ballon.right {margin-left:10rem;}
.contents.story_sub .ballon.left {margin-right:10rem;}
.contents.story_sub .ballon ul img {width:3.2rem;}

.contents.story_sub section:last-of-type h2 {font-weight: 700; font-size: 3.6rem; text-align: center; line-height: 5.2rem;}
.contents.story_sub section:last-of-type h2 span {color:#037781;}
.contents.story_sub section:last-of-type p {text-align:center; color:#717171;}
.contents.story_sub section:last-of-type .list {margin-top:4rem;}
.contents.story_sub section:last-of-type .list li {margin-bottom:9.6rem;}
.contents.story_sub section:last-of-type .list li:last-child {margin-bottom:0;}
.contents.story_sub section:last-of-type .list img {width:100%;}
.contents.story_sub section:last-of-type .list h2 {text-align:left; margin-top:2rem;}
.contents.story_sub section:last-of-type .list p {text-align:left; color:#717171; font-size:2.2rem; margin-top:.8rem;}

.contents.story_sub .sub_header .content_wrap {padding:4rem 3.6rem;}
.contents.story_sub .video_wrap {position:relative; padding:56.25% 0 0 0;}

@media all and (min-width:1280px) {
	.contents.story_sub ul {margin-top:0;}
	.contents.story_sub .ballon {display:flex; align-items:center; padding:4.8rem 6rem;}
	.contents.story_sub .ballon > *:nth-child(1) {flex:1; height:12rem;}
	.contents.story_sub .ballon > *:nth-child(2) {flex:0 0 48rem; display: flex; flex-direction: column; justify-content: center;}
	.contents.story_sub .ballon:nth-of-type(2) {padding:7.2rem 6rem;}
	
	.contents.story_sub section:last-of-type h2 {font-size:6rem;}
	
	.contents.story_sub section:last-of-type .list {display:flex; flex-wrap:wrap;}
	.contents.story_sub section:last-of-type .list li {}
	.contents.story_sub section:last-of-type .list h2 {margin-top:4rem; font-size:7.3rem;}
	.contents.story_sub section:last-of-type .list p {margin-top:1.6rem; font-size:4.5rem;}
	
	.contents.story_sub .sub_header .content_wrap {padding:10rem 0 16rem;}
	.contents.story_sub .video_wrap {width:1280px; height:720px; margin:0 auto; padding:0;}
}

</style>
<div class="contents story_sub">
	<div class="sub_top">
		<div class="img_wrap">
			<img src="/assets/imgs/round/<?=$this->round?>/story/trip/01.png" class="mo">
			<img src="/assets/imgs/round/<?=$this->round?>/story/trip/trip_PC3.png" class="pc">
		</div>
		<div class="txt_wrap" data-aos="fade-down">
			<h2>따끈한 신상 테마파크 & 화끈한 뷰 햄버거 집</h2>
			<p>부산 롯데월드 & 롯데리아 부산롯데월드점</p>
		</div>
	</div>
	
	<section class="sub_header">
		<div class="content_wrap">
			<div class="video_wrap">
				<iframe
					src="https://player.vimeo.com/video/710237148?h=aedc57da1f&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
					frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
					allowfullscreen
					style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
					title="롯데GRS TRIP_choijong (1)"></iframe>
				<script src="https://player.vimeo.com/api/player.js"></script>
			</div>
		</div>
	</section>
	<section class="gray" style="padding-top:4.8rem;">
		<div class="content_wrap" style="padding-top:0;">
			<div class="ballon right" data-aos="fade-up">
				<div class="txt_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/people1.png">
					<div>
						<span>에디터 YJ</span>
						<p>시설이 깨끗하고 컨셉이 확고해서 <br>볼거리가 많았어요!</p>
					</div>
				</div>
				<ul class="editor">
					<li>
						<span>자이언트 디거</span>
						<span>
							<img src="/assets/imgs/icon/star_active.svg">
							<img src="/assets/imgs/icon/star_active.svg">
							<img src="/assets/imgs/icon/star_active.svg">
							<img src="/assets/imgs/icon/star_active.svg">
							<img src="/assets/imgs/icon/star_default.svg">
						</span>
					</li>
					<li>
						<span>자이언트 스플래쉬</span>
						<span>
							<img src="/assets/imgs/icon/star_active.svg">
							<img src="/assets/imgs/icon/star_active.svg">
							<img src="/assets/imgs/icon/star_active.svg">
							<img src="/assets/imgs/icon/star_active.svg">
							<img src="/assets/imgs/icon/star_active.svg">
						</span>
					</li>
					<li>
						<span>회전그네</span>
						<span>
							<img src="/assets/imgs/icon/star_active.svg">
							<img src="/assets/imgs/icon/star_active.svg">
							<img src="/assets/imgs/icon/star_active.svg">
							<img src="/assets/imgs/icon/star_active.svg">
							<img src="/assets/imgs/icon/star_default.svg">
						</span>
					</li>
				</ul>
			</div>
			<div class="ballon left" data-aos="fade-up">
				<div class="txt_wrap">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/people2.png">
					<div>
						<span>에디터 YR</span>
						<p>쾌적하고 신나는 분위기에 <br>어트랙션까지 <br class="pc">너무 완벽하게 <br class="mo">짜릿했어요!</p>
					</div>
				</div>
				<ul class="editor">
					<li>
						<span>자이언트 디거</span>
						<span>
							<img src="/assets/imgs/icon/star_active.svg">
							<img src="/assets/imgs/icon/star_active.svg">
							<img src="/assets/imgs/icon/star_active.svg">
							<img src="/assets/imgs/icon/star_active.svg">
							<img src="/assets/imgs/icon/star_default.svg">
						</span>
					</li>
					<li>
						<span>자이언트 스플래쉬</span>
						<span>
							<img src="/assets/imgs/icon/star_active.svg">
							<img src="/assets/imgs/icon/star_active.svg">
							<img src="/assets/imgs/icon/star_active.svg">
							<img src="/assets/imgs/icon/star_default.svg">
							<img src="/assets/imgs/icon/star_default.svg">
						</span>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section>
		<div class="content_wrap">
			<h2 data-aos="fade-up">먹잘알 에디터의 <span>꿀TIP</span></h2>
			<p data-aos="fade-up">* 찐 롯데인이라면 롯데월드에서 꼭 가야할 맛집 코스 추천해드림 *</p>
			
			<ul class="list">
				<li>
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_1_MO.png" data-aos="fade-up" class="mo">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_1_PC.png" data-aos="fade-up" class="pc">
					<h2 data-aos="fade-up"><span>01</span> 잼스톤 다이닝(롯데리아)</h2>
					<p data-aos="fade-up">위치 : 언더랜드존 자이언트스윙 앞 2층 건물</p>
				</li>
				<li>
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_2_MO.png" data-aos="fade-up" class="mo">
					<img src="/assets/imgs/round/<?=$this->round?>/story/trip/TRIP_2_PC.png" data-aos="fade-up" class="pc">
					<h2 data-aos="fade-up"><span>02</span> 조이풀 푸드플라자 (SKY31 푸드에비뉴)</h2>
					<p data-aos="fade-up">위치 : 조이풀메도우존 회전목마 입구 인근</p>
				</li>
			</ul>
		</div>
	</section>
	<img src="/assets/imgs/round/<?=$this->round?>/story/trip/map.png" class="mo" style="width:100%;"  data-aos="fade">
	<img src="/assets/imgs/round/<?=$this->round?>/story/trip/pc_map.png" class="pc" style="width:100%;" data-aos="fade">
</div>