.button {
  padding: 16px;
  color: #1f1f1f;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background: #e1e1e1;
  border: none;
  border-radius: 10px;
}

:global(.light) .button {
  color: #f9f9f9;
  background-color: #505050;
}
