.samdot_monitor {
    .sec_benefit {
        
        &__inner {@include vw-pc(padding,90 0 100); background-color: #f8f8f8;}
    
        .pt_common {@include vw-pc(margin-bottom, 0); text-align: center;
            &__tit {@include vw-pc(font-size, 42); font-weight: 700; @include vw-pc(line-height, 55); letter-spacing: -.025em;}
        }
    
        .pt_tab{display: flex; @include vw-pc(margin,0 auto 36); @include vw-pc(width,504); @include vw-pc(height,54); @include vw-pc(padding, 2); overflow: hidden;
            &__btn{position: relative; display: flex; justify-content: center; align-items: center; @include vw-pc(gap, 9); width: 50%; @include vw-pc(font-size,20); letter-spacing: -0.025em; font-weight: 700; color: #888; @include vw-pc(border,2 solid #888);
                &:not(:last-child) {border-right: 0 none;}
                &:first-child {@include vw-pc(border-radius, 10 0 0 10);}
                &:last-child {border-left: 0 none; @include vw-pc(border-radius, 0 10 10 0);}
                &.active{background-color: #000; color: #fff; border: none;}
                &::before{content: ''; @include vw-pc(width,41); @include vw-pc(height,38);}
            }
            &.pt_add-bg {
                .pt_tab__btn--event{
                    &::before{background: url('../../../is/images/launching/benefit/new/stv_ico_tab1_off_pc.png') no-repeat center / contain;}
                    &.active::before{background-image: url('../../../is/images/launching/benefit/new/stv_ico_tab1_on_pc.png');}
                }
                .pt_tab__btn--benefit{
                    &::before{background: url('../../../is/images/launching/benefit/new/stv_ico_tab2_off_pc.png') no-repeat center / contain;}
                    &.active::before{background-image: url('../../../is/images/launching/benefit/new/stv_ico_tab2_on_pc.png');}
                }
            }
        }
    
        .pt_benefit{
            &__box {position: relative; @include vw-pc(margin-top, -20);
                .pt_conts__swiper { width: 100%;
    
                    .pt_conts__wrapper {
                        @include vw-pc(width, 1075); @include vw-pc(margin,0 auto 59); @include vw-pc(padding-top, 55); flex-wrap: wrap; @include vw-pc(gap, 14);
    
                        .pt_conts__item {
                            display: flex; flex-direction: column; @include vw-pc(width, 349); @include vw-pc(height, 360); background-color: #ffffff; overflow: inherit; @include vw-pc(border-radius, 10);@include vw-pc(box-shadow,0 1 5 rgba(0, 0, 0, 0.1));
                            
                            &--blue {background-color: #F0F6FF;}
                            &--end {position: relative;
                                &::before {content: '선착순\A혜택 종료'; z-index: 2; display: flex; justify-content: center; align-items: center; position: absolute; top: 0; left: 0; width: 100%; height: 100%; @include vw-pc(font-size, 30); font-weight: 700; color: #fff; letter-spacing: -.04em; background-color: rgba(#000, 0.7); white-space: pre; text-align: center; @include vw-pc(line-height, 36);}
                            }
                            &--bnfend::before {content: '혜택 종료';}

                            &--two {
                                display: flex; @include vw-pc(width, 712); @include vw-pc(border-radius, 10); background-color: #F0F6FF;
                                @include vw-pc(box-shadow,0 1 5 rgba(1, 1, 1, 0.1));
                            
                                &::before {
                                    content: ''; position: absolute; top: 50%; @include vw-pc(left, 349); transform: translateY(-50%); @include vw-pc(width, 1); @include vw-pc(height, 335); 
                                    background-color: #dbdbdb; z-index: 1;
                                }
                                .pt_conts__item {position: relative; @include vw-pc(width, 349); margin-right: 0; border-radius: 0; border: none; box-shadow: none; background-color: #F0F6FF;}
                                .pt_conts__info {background-color: none;}
                            }

                            .pt_cont__tag {position: absolute; @include vw-pc(top, -6); @include vw-pc(left, 17); @include vw-pc(width, 82);}
                            
                            .pt_conts-caption {
                                position: absolute; @include vw-pc(top, -54); @include vw-pc(left, 20); @include vw-pc(padding, 12); @include vw-pc(border-radius, 10); background-color: #2189FF;

                                &__pre {@include vw-pc(font-size, 14); @include vw-pc(line-height, 22); @include vw-pc(letter-spacing, -.7); font-weight: 700; color: #fff;}
                                &__main {@include vw-pc(font-size, 16); @include vw-pc(line-height, 22); @include vw-pc(letter-spacing, -.7); font-weight: 700; color: #fff;}
                                .pt_yellow {color: #FFFF00;}

                                &::after {content: ''; position: absolute; @include vw-pc(top, 57); @include vw-pc(left, 23); display: block; width: 0; height: 0; @include vw-pc(border-right, 18 solid #2189FF); @include vw-pc(border-top, 11 solid transparent); @include vw-pc(border-bottom, 8 solid transparent); transform: rotateZ(31deg); width: 0; height: 0;}
                            }
                            
                            .pt_conts__head {
                                display: none;
                                justify-content: flex-end; align-items: center; width: 100%; @include vw-pc(height, 50); @include vw-pc(padding, 13 20 11); background-color: #2189FF; @include vw-pc(border-radius, 10 10 0 0);
    
                                &--txt {
                                    color: #fff; @include vw-pc(font-size, 16); font-weight: 700; letter-spacing: -0.025em;
                                }
                            }
    
                            .pt_conts__info {
                                position: relative; @include vw-pc(padding, 26 30 0 30); 
    
                                &--list {display: flex; @include vw-pc(gap, 17); @include vw-pc(padding-top, 19);
                                    & > li {position: relative; @include vw-pc(min-width, 195); @include vw-pc(min-height, 158); @include vw-pc(padding-top, 8);}
                                    & > li:not(:last-child) {@include vw-pc(border-right, 1 solid #DBDBDB);}
                                    .pt_conts__desc {padding: 0;}
                                    .pt_conts__info--txt {@include vw-pc(margin-bottom, 9);}
                                    .pt_conts__btn {bottom: 0; left: 0;}
                                }
    
                                &--end::after {content: '혜택 종료'; display: flex; align-items: center; justify-content: center; position: absolute; top: 0; left: 0; z-index: 2; width: 100%; height: 100%; @include vw-pc(border-radius, 0 0 10 10); @include vw-pc(font-size, 22); font-weight: 700; @include vw-pc(line-height, 30); letter-spacing: -.025em; color: #fff; background-color: rgba(90,90,90,.8);}
    
                                &--img {display: flex; justify-content: center; align-items: center; position: absolute; @include vw-pc(right, 2); pointer-events: none;
                                    &-price {@include vw-pc(top, 30); @include vw-pc(right, 30); @include vw-pc(width, 76); @include vw-pc(height, 76);}
                                    &-aisubscribe {@include vw-pc(top, 13); @include vw-pc(right, 18); @include vw-pc(width, 103); @include vw-pc(height, 104);}
                                    &-npaytoss {@include vw-pc(top, 22); @include vw-pc(right, 22); @include vw-pc(width, 84); @include vw-pc(height, 82);}
                                    &-card {@include vw-pc(top, 30); @include vw-pc(right, 30); @include vw-pc(width, 76); @include vw-pc(height, 76);}
                                    &-starbucks {@include vw-pc(top, 30); @include vw-pc(right, 30); @include vw-pc(width, 76); @include vw-pc(height, 76);}
                                }

                                &--sub { @include vw-pc(font-size, 16); @include vw-pc(line-height, 23); font-weight: 400; letter-spacing: -.04em;}

                                &--txt {
                                    @include vw-pc(min-height, 102); @include vw-pc(margin-bottom, 17); @include vw-pc(font-size, 24); @include vw-pc(line-height, 34); 
                                    font-weight: 700; letter-spacing: -0.04em; white-space: nowrap;

                                    &--hauto {min-height: auto;}


                                    &.ty1 { letter-spacing: -0.07em;}
                                }
                            }
    
                            .pt_conts__desc {
                                // position: absolute; @include vw-pc(top, 150); @include vw-pc(left, 15);
    
                                // &--desc03 {@include vw-pc(top, 262);}
                                @include vw-pc(padding, 0 10 0 30);
    
                                &--txt {
                                    position: relative; @include vw-pc(padding-left,11); @include vw-pc(font-size,16); @include vw-pc(line-height,26); letter-spacing: -0.06em; color: #666;
                                    &::before{content: ""; position: absolute; @include vw-pc(top,8); left: 0; @include vw-pc(width,8); @include vw-pc(height,7); background: url("../../../is/images/launching/benefit/sm_ico_check_pc.png") no-repeat center / contain; }
                                }
                                &--spacing{@include vw-pc(font-size,15);@include vw-pc(line-height,26);}
                            }
    
                            .pt_conts__btn {
                                z-index: 2; display: flex; flex-direction: column; @include vw-pc(gap, 5); position: absolute; @include vw-pc(bottom, 30); @include vw-pc(left, 20);
                                > a{align-self: baseline; padding-bottom: 0; @include vw-pc(font-size,16);}
                                > a.btn_link{@include vw-pc(gap,4); font-weight: 400; @include vw-pc(line-height, 21);
                                    &::after {content: ''; @include vw-pc(width, 5); @include vw-pc(height, 7); background: url('../../../is/images/launching/benefit/stv_ico_arrow_black_pc.png') no-repeat; background-size: contain;}
                                }
                                > a.btn_link.type_vert{@include vw-pc(gap,4); font-weight: 400; @include vw-pc(line-height, 21);
                                    &::after {content: ''; @include vw-pc(width, 5); @include vw-pc(height, 7); background: url('../../../is/images/launching/benefit/stv_ico_arrow_black_pc.png') no-repeat; background-size: contain; transform: rotate(90deg)}
                                }
                                > a.btn_join{@include vw-pc(width,93); @include vw-pc(height, 45); font-weight: 700; @include vw-pc(border-radius, 25);}

                                &.type_01 {position: static; @include vw-pc(margin, 11 0 0 16);}
                                &.type_02 { @include vw-pc(left, 30); right: auto;
                                    @include vw-pc(bottom, 30);
                                }
                            }
    
                            // s: scroll 가로 스크롤 영역
                            .pt_bnf_table_wrap {
                                // z-index: 2; position: absolute; @include vw-pc(top, 137); left: 50%; transform: translateX(-50%); 
                                display: flex; @include vw-pc(width, 290); @include vw-pc(height, 72); @include vw-pc(margin, 8 auto 0); background-color: #fff; @include vw-pc(border-radius, 8); @include vw-pc(border, 1 solid #F2F2F2);
    
                                .pt_table_header {
                                    display: flex; flex-direction: column; @include vw-pc(width, 73); @include vw-pc(height, 72); @include vw-pc(border-right, 1 solid #E0E0E0); @include vw-pc(font-size, 16); letter-spacing: -.025em; font-weight: 700; @include vw-pc(line-height, 30); text-align: center; 
    
                                    li { 
                                        display: flex; align-items: center; justify-content: center; @include vw-pc(height, 36); color: #000;
                                        &:not(:last-child) {@include vw-pc(border-bottom, 1 solid #E0E0E0);}
                                        &:nth-child(even) {background-color: #FCFCFC;}
    
                                        // &:nth-child(1) { background-color: #F2F8FF; @include vw-pc(border-bottom, 1 solid #E0E0E0); @include vw-pc(border-right, 1 solid #F5F5F5); @include vw-pc(border-top-left-radius, 8); font-weight: 700;}
                                        // &:nth-child(2) { background-color: #fff; @include vw-pc(border-bottom, 1 solid #E0E0E0); @include vw-pc(border-right, 1 solid #F5F5F5); @include vw-pc(border-top-right-radius, 8); font-weight: 700;}
                                    }
                                }  
                            } // pt_bnf_table_wrap


                            &--ty1{@include vw-pc(width, 442);
                                .pt_conts__desc {@include vw-pc(margin-top, -46);}
                            }
                            &--ty2 { 
                                @include vw-pc(width, 442);

                                .pt_conts__info {
                                    &--list { @include vw-pc(gap, 9);}
                                }
                            }
    
                            .pt_scroll_container { 
                                position: relative; @include vw-pc(width, 217); @include vw-pc(height, 72); overflow: hidden;
    
                                .pt_bnt_scrollbar { 
                                    position: absolute; @include vw-pc(bottom, 4); @include vw-pc(right, 10); left: auto; @include vw-pc(width, 195); @include vw-pc(height, 3); background: #E9EAEE;
    
                                    .swiper-scrollbar-drag { @include vw-pc(width, 128); @include vw-pc(height, 3 !important); @include vw-pc(border-radius, 111); background-color: #2189FF; }
                                }
                                .pt_scroll_swiper {@include vw-pc(height, 72);}
                                .pt_scroll_swiper_wrap { 
                                    position: absolute; top: 0; @include vw-pc(left, 0); display: flex; @include vw-pc(height, 72);
    
                                    .swiper-slide {@include vw-pc(width, 80); @include vw-pc(height, 72); }
                                }
                                .pt_table_body { 
                                    display: flex; flex-direction: column; text-align: center; 
    
                                    li { 
                                        display: inline-flex; justify-content: center; align-items: center; @include vw-pc(width, 80); @include vw-pc(height, 36); color: #000; @include vw-pc(font-size, 16); @include vw-pc(line-height, 30); letter-spacing: -0.025em; text-align: center;
                                        &:not(:last-child) {@include vw-pc(border-bottom, 1 solid#E0E0E0);}
                                        &:nth-child(odd) {background-color: #FCFCFC;}
    
                                        &:nth-child(1) {background-color: #F4F4F4; }
    
                                        // &:nth-child(1) { background-color: #F2F8FF; @include vw-pc(border-bottom, 1 solid #E0E0E0); font-weight: 700; }
                                        // &:nth-child(2) { background-color: #fff; @include vw-pc(border-bottom, 1 solid #E0E0E0); }
    
                                    }
                                } // pt_table_body
                            } // pt_scroll_container

                            // vertical
                            // s: scroll 가로 스크롤 영역
                            .pt_bnf_table_v_wrap {
                                display: none; flex-direction: column; @include vw-pc(width, 260); @include vw-pc(height, 113); background-color: #fff; @include vw-pc(border-radius, 8); @include vw-pc(border, 1 solid #F2F2F2); margin: 0 auto; @include vw-pc(margin-top, 5);

                                .pt_table_header {
                                    display: flex; @include vw-pc(width, 260); @include vw-pc(height, 26); @include vw-pc(font-size, 12); letter-spacing: -.025em; font-weight: 700; @include vw-pc(line-height, 30); text-align: center;

                                    li {
                                        display: flex; align-items: center; justify-content: center; @include vw-pc(width, 260); @include vw-pc(height, 26); color: #000;

                                        &:nth-child(1) { @include vw-pc(height, 26); background-color: #F2F8FF; @include vw-pc(border-bottom, 1 solid #E0E0E0); @include vw-pc(border-right, 1 solid #F5F5F5); @include vw-pc(border-top-left-radius, 8); font-weight: 700;}
                                        &:nth-child(2) { @include vw-pc(height, 26); background-color: #fff; @include vw-pc(border-bottom, 1 solid #E0E0E0); @include vw-pc(border-right, 1 solid #F5F5F5); @include vw-pc(border-top-right-radius, 8); font-weight: 700;}
                                    }
                                }
                            } // pt_bnf_table_wrap

                            .pt_scroll_v_container {
                                position: relative; @include vw-pc(width, 260); @include vw-pc(height, 87); @include vw-pc(border-radius, 8); overflow: hidden;

                                .pt_bnt_scrollbar {
                                    z-index: 1; position: absolute; @include vw-pc(top, 5); @include vw-pc(right, 0); bottom: auto; left: auto; @include vw-pc(width, 3); @include vw-pc(height, 65); background: #E9EAEE;

                                    .swiper-scrollbar-drag { @include vw-pc(width, 3); @include vw-pc(height, 35 !important); @include vw-pc(border-radius, 111); background-color: #2189FF; }
                                }
                                .pt_scroll_swiper {@include vw-pc(height, 87);}
                                .pt_scroll_swiper_wrap {
                                    position: absolute; top: 0; @include vw-pc(left, 0); display: flex; flex-direction: column; @include vw-pc(width, 260); @include vw-pc(height, 42);

                                    .swiper-slide { display: flex; justify-content: center; align-items: center; @include vw-pc(width, 260); @include vw-pc(height, 26); }
                                }
                                .pt_table_body {
                                    display: flex; text-align: center; @include vw-pc(width, 260);

                                    li {
                                        display: inline-flex; justify-content: center; align-items: center; @include vw-pc(width, 129); @include vw-pc(height, 26); color: #000; @include vw-pc(font-size, 12); @include vw-pc(line-height, 30); letter-spacing: -0.025em; text-align: center;

                                        &:nth-child(1) { background-color: #F2F8FF; @include vw-pc(border-bottom, 1 solid #E0E0E0); font-weight: 700; }
                                        &:nth-child(2) { background-color: #fff; @include vw-pc(border-bottom, 1 solid #E0E0E0); }

                                    }
                                } // pt_table_body
                            } // pt_scroll_container
                        }
                    }
    
                    .pt_conts__pagination {
                        position: relative; @include vw-pc(bottom, 0); left: 50%; transform: translateX(-50%); @include vw-pc(width, 120); @include vw-pc(height, 24);
    
                        .swiper-pagination-bullet {@include vw-pc(width, 10); @include vw-pc(height, 10); @include vw-pc(margin, 0 5); background-color: transparent; border: 1px solid #000; border-radius: 50%; opacity: 1;}
                        .swiper-pagination-bullet-active {@include vw-pc(width, 10); @include vw-pc(height, 10); background-color: #000; border: 0; border-radius: 50%;}
                    }
                }
                .pt_conts__navi{ position: absolute; top: 0; @include vw-pc(right, 60); display: flex; justify-content: space-between; align-items: center; @include vw-pc(width, 96); @include vw-pc(height, 32); margin: 0;
                    &--prev::after {content: '';}
                    &--next::after {content: '';}
                    &--prev{position: static; margin-top: 0; @include vw-pc(width, 21); @include vw-pc(height, 32); background: url('../../../is/images/launching/benefit/new/stv_arr_prev_pc.png') no-repeat center / contain;}
                    &--next{position: static; margin-top: 0; @include vw-pc(width, 21); @include vw-pc(height, 32); background: url('../../../is/images/launching/benefit/new/stv_arr_next_pc.png') no-repeat center / contain; }
                }
            }
            
            &__noti{ display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;
                &__btn{ display: inline; @include vw-pc(font-size,16);}
                &__txt{@include vw-pc(font-size,16); @include vw-pc(line-height,24); letter-spacing: -0.025em; color: #666;}
            }
        }
        .pt_early{ margin: 0 auto; display: flex; flex-direction: column; align-items: center;
            &__list{display: flex; @include vw-pc(gap,10); @include vw-pc(margin-bottom,12);}
            &__item{position: relative; @include vw-pc(width,205);}
            &__img{@include vw-pc(width,205);}
            &__txt{position: absolute; @include vw-pc(top,19); @include vw-pc(left,15);}
            &__tit{@include vw-pc(margin-bottom,19); @include vw-pc(font-size,18); @include vw-pc(line-height,23); letter-spacing: -0.025em; font-weight: 700;
                &--crown{@include vw-pc(margin-bottom,5);}
            }
            &__desc{position: relative; @include vw-pc(padding-left,11); @include vw-pc(font-size,12); @include vw-pc(line-height,18); letter-spacing: -0.025em; color: #666;
                &::before{content: ""; position: absolute; @include vw-pc(top,4); left: 0; @include vw-pc(width,8); @include vw-pc(height,6); background: url("../../is/images/benefit/ref_bnf_early_check_pc.png") no-repeat center / contain; }
            }
            &__btn{@include vw-pc(width,106); @include vw-pc(height,30); @include vw-pc(font-size,12); letter-spacing: -0.025em; @include vw-pc(border-radius,99);}
        }
        .pt_event{
            .pt_conts__wrapper {
                justify-content: center; @include vw-pc(margin,0 auto 25);
            }
        }

        &__hybrid {
            .pt_benefit {
                .pt_conts__swiper .pt_conts__wrapper {justify-content: center; @include vw-pc(margin,0 auto 59);}
                &__box {
                    .pt_conts__navi {display: none !important;}
                }
            }
        }
    
    }
}

@media screen and (max-width: 768px) {
    .samdot_monitor {
        .sec_benefit{ 
            &__inner {@include vw-mo(padding,80 0); }
    
            .pt_common {@include vw-mo(margin-bottom, 0);
                &__tit {@include vw-mo(font-size, 54); @include vw-mo(line-height, 60);}
            }
    
            .pt_tab{display: flex; @include vw-mo(margin,0 auto 46); @include vw-mo(width,604); @include vw-mo(height,68); @include vw-mo(padding, 2);
                &__btn{@include vw-mo(gap, 6); @include vw-mo(font-size,26); @include vw-mo(border-width,2);
                    &:first-child {@include vw-mo(border-radius, 10 0 0 10);}
                    &:last-child {@include vw-mo(border-radius, 0 10 10 0);}
                    &::before{@include vw-mo(width,38); @include vw-mo(height,38);}
                }
                &.pt_add-bg {
                    .pt_tab__btn--event {
                        &::before{background-image: url('../../../is/images/launching/benefit/new/stv_ico_tab1_off_mo.png');}
                        &.active::before{background-image: url('../../../is/images/launching/benefit/new/stv_ico_tab1_on_mo.png');}
                    }
                    .pt_tab__btn--benefit {
                        &::before{background-image: url('../../../is/images/launching/benefit/new/stv_ico_tab2_off_mo.png');}
                        &.active::before{background-image: url('../../../is/images/launching/benefit/new/stv_ico_tab2_on_mo.png');}
                    }
                }
            }
            .pt_benefit{
                &__box { position: relative; @include vw-mo(margin, 0 auto 57);  @include vw-mo(margin-top, 0);
    
                    .pt_conts__swiper {
                        width: 100%; @include vw-mo(margin, 0); @include vw-mo(padding-left, 24); @include vw-mo(padding-bottom,58);
                        .pt_pagination--bnf {
                            bottom: 0;
                            .swiper-pagination-bullet {
                                @include vw-mo(width, 16); @include vw-mo(height, 16); @include vw-mo(margin, 0 8); @include vw-mo(border, 1 solid #000000); background: transparent; opacity: 1;
                                &-active {background: #000000;}
                            }
                        }
                        .pt_conts__wrapper {
                            width: 100%; justify-content: start; @include vw-mo(margin-bottom, 0); flex-wrap: nowrap; gap: 0;  @include vw-mo(padding-top, 88);
    
                            .pt_conts__item {
                                @include vw-mo(width, 304);
                                @include vw-mo(height, 756);
                                @include vw-mo(border-radius, 20); @include vw-mo(box-shadow,0 1 5 rgba(1, 1, 1, 0.1));
                                &:not(:last-child) {@include vw-mo(margin-right, 22);}
                                &:last-child {@include vw-mo(margin-right, 22);}
    
                                &--end {
                                    &::before {@include vw-mo(font-size, 52); letter-spacing: -.05em; @include vw-mo(line-height, 56);}
                                }

                                
    
                                &.active {
                                    &::before {z-index: 1; position: absolute; top: 0; left: 0; display: block; content: ''; @include vw-mo(width, 428); @include vw-mo(height, 690); @include vw-mo(border, 6 solid #2189FF); @include vw-mo(border-radius, 20);}
                                }
                                &:first-child.active::before{@include vw-mo(width,660);}
                                
                                .pt_cont__tag {@include vw-mo(top, -9); @include vw-mo(left, 21); @include vw-mo(width, 122);}

                                .pt_conts-caption {
                                    z-index: 10; width: max-content; @include vw-mo(top, -62); @include vw-mo(left, 0); @include vw-mo(padding, 12); @include vw-mo(border-radius, 10); background-color: #2189FF;
    
                                    &__pre {@include vw-mo(font-size, 20); @include vw-mo(line-height, 30); @include vw-mo(letter-spacing, -1);}
                                    &__main {@include vw-mo(font-size, 24); @include vw-mo(line-height, 30); @include vw-mo(letter-spacing, -1.5);}
    
                                    &::after {content: ''; position: absolute; @include vw-mo(top, 75); @include vw-mo(left, 248); @include vw-mo(border-right, 18 solid #2189FF); @include vw-mo(border-top, 11 solid transparent); @include vw-mo(border-bottom, 8 solid transparent); transform: rotateZ(31deg);}
                                }

                                .pt_conts__head {
                                    width: 100%; @include vw-mo(height, 80); @include vw-mo(padding, 26 40 22); background-color: #2189FF; @include vw-mo(border-radius, 20 20 0 0);
    
                                    &--txt {color: #fff; @include vw-mo(font-size, 24); font-weight: 700; letter-spacing: -0.025em;}
                                }
    
                                .pt_conts__info {
                                    @include vw-mo(padding, 36 10 0 27);
                                    @include vw-mo(border-radius, 0 0 20 20);
    
                                    &--list {@include vw-mo(gap, 20); @include vw-mo(padding-top, 25);
                                        & > li {position: relative; @include vw-mo(min-width, 306); @include vw-mo(min-height, 250); @include vw-mo(padding-top, 15);}
                                        & > li:not(:last-child) {@include vw-mo(border-right, 1 solid #DBDBDB);}
                                        .pt_conts__desc {padding: 0;}
                                        .pt_conts__info--img-card {@include vw-mo(top, -29); @include vw-mo(right, -4); @include vw-mo(width, 122); @include vw-mo(height, 122);}
                                        .pt_conts__info--img-npy {@include vw-mo(top, 7); @include vw-mo(width, 75); @include vw-mo(height, 43);}
                                        .pt_conts__info--txt {@include vw-mo(margin-bottom, 36);}
                                        .pt_conts__btn {bottom: 0; left: 0;}
                                    }
    
                                    &--end::after {@include vw-mo(border-radius, 0 0 20 20); @include vw-mo(font-size, 44); @include vw-mo(line-height, 58);}
    
                                    &--img {position: absolute; @include vw-mo(top, 10); @include vw-mo(right, 10); @include vw-mo(width, 140); @include vw-mo(height, 140);
                                        &-price {@include vw-mo(top, 40); @include vw-mo(right, 20); @include vw-mo(width, 80); @include vw-mo(height, 80);}
                                        &-aisubscribe {@include vw-mo(top, 14); @include vw-mo(right, 0); @include vw-mo(width, 103); @include vw-mo(height, 104);}
                                        &-npaytoss {@include vw-mo(top, 40); @include vw-mo(right, 6); @include vw-mo(width, 96); @include vw-mo(height, 94);}
                                        &-card {@include vw-mo(top, 40); @include vw-mo(right, 20); @include vw-mo(width, 80); @include vw-mo(height, 80);}
                                        &-starbucks {@include vw-mo(top, 28); @include vw-mo(right, 20); @include vw-mo(width, 80); @include vw-mo(height, 80);}
                                    }

                                    &--sub {@include vw-mo(margin-bottom, 5); @include vw-mo(font-size, 24); @include vw-mo(line-height, 30); letter-spacing: -.1em;}

                                    &--txt {@include vw-mo(min-height, 250); bottom: 0; margin-bottom: 0; @include vw-mo(font-size, 36); @include vw-mo(line-height, 46); font-weight: 700; letter-spacing: -0.1em;

                                    }
                                }

                                &--two {
                                    @include vw-mo(width, 628); @include vw-mo(margin-right, 22); @include vw-mo(border-radius, 20);
                                    @include vw-mo(box-shadow, 0 1 10 rgba(1, 1, 1, 0.1));
                                
                                    &::before {@include vw-mo(left, 314); @include vw-mo(width, 1); @include vw-mo(height, 690);}
                                    .pt_conts__item {@include vw-mo(width, 336); margin: 0;}
                                    .pt_conts__info { @include vw-mo(padding, 36 10 0 27); background-color: unset}
                                }
    
                                .pt_conts__desc {
                                    // position: absolute; @include vw-mo(top, 302); @include vw-mo(left, 30);
    
                                    // &--desc03 {@include vw-mo(top, 522);}
                                    @include vw-mo(padding, 0 12 0 29);
    
                                    &--txt {
                                        position: relative; @include vw-mo(padding-left, 20); color: #666; @include vw-mo(font-size, 24); @include vw-mo(line-height, 37); letter-spacing: -0.07em;
                                        
                                        &::before{@include vw-mo(top,14); @include vw-mo(width,16); @include vw-mo(height,12); background-image: url("../../../is/images/launching/benefit/sm_ico_check_mo.png"); }
                                    }
                                    &--spacing{letter-spacing:-0.09em; @include vw-mo(line-height, 34);}
                                }
    
                                .pt_conts__btn {
                                    @include vw-mo(gap, 16); @include vw-mo(bottom, 60); @include vw-mo(left, 30);
                                    > a{@include vw-mo(font-size,24);}
                                    > a.btn_link{@include vw-mo(gap,8); @include vw-mo(line-height, 32);
                                        &::after {@include vw-mo(width, 9); @include vw-mo(height, 14); background-image: url('../../../is/images/launching/benefit/stv_ico_arrow_black_mo.png');}
                                    }
                                    > a.btn_link.type_vert{@include vw-mo(gap,8); @include vw-mo(line-height, 32);
                                        &::after {@include vw-mo(width, 9); @include vw-mo(height, 14); background-image: url('../../../is/images/launching/benefit/stv_ico_arrow_black_mo.png');}
                                    }
                                    > a.btn_join{@include vw-mo(width,128); @include vw-mo(height, 64); @include vw-mo(border-radius, 45);}

                                    &.type_01 { @include vw-mo(margin, 20 0 0 20);}
                                    &.type_02 { @include vw-mo(left, 29); right: auto; @include vw-mo(bottom, 42);}
                                }

                                &--ty1{@include vw-mo(width, 672);
                                    .pt_conts__desc {@include vw-mo(margin-top, -56);}
                                }
                                &--ty2 { 
                                    @include vw-mo(width, 638);
    
                                    .pt_conts__info {
                                        &--list { @include vw-mo(gap, 9);}
                                    }

                                    .pt_conts__info {
                                        @include vw-mo(padding, 40 10 0 20); background-color: #fff; @include vw-mo(border-radius, 0 0 20 20);
        
                                        &--list {
                                            & > li {@include vw-mo(min-width, 290);}
                                        }
                                    }
                                }
    
                                // s: scroll 가로 스크롤 영역
                                .pt_bnf_table_wrap {
                                    // position: absolute; @include vw-mo(top, 278); left: 50%; transform: translateX(-50%); 
                                    display: none; @include vw-mo(width, 248); @include vw-mo(height, 112); @include vw-mo(margin-top, 36); @include vw-mo(border-radius, 8); @include vw-mo(border, 1 solid #F2F2F2);
    
                                    .pt_table_header {
                                        @include vw-mo(width, 90); @include vw-mo(height, 112); @include vw-mo(font-size, 20); @include vw-mo(border-right, 1 solid #E0E0E0);  @include vw-mo(line-height, 30);
    
                                        li { 
                                            @include vw-mo(height, 56);
                                            // &:not(:last-child) {@include vw-mo(border-bottom, 1 solid #E0E0E0);}
    
                                            // &:nth-child(1) { display: flex; justify-content: center; align-items: center; @include vw-mo(width, 189); @include vw-mo(height, 60); @include vw-mo(border-bottom, 1 solid #E0E0E0); @include vw-mo(border-right, 1 solid #F5F5F5); @include vw-mo(border-top-left-radius, 8); font-weight: 700;}
                                            &:nth-child(2) {@include vw-mo(border-bottom, 1 solid #E0E0E0); @include vw-mo(border-bottom-left-radius, 8);}
                                        }
                                    }  
                                } // pt_bnf_table_wrap
    
                                .pt_scroll_container { 
                                    z-index: 1; position: relative; @include vw-mo(width, 158); @include vw-mo(height, 112);
    
                                    .pt_bnt_scrollbar { 
                                        position: absolute; @include vw-mo(bottom, 7); @include vw-mo(right, 10); left: auto; @include vw-mo(width, 135); @include vw-mo(height, 6); background: #E9EAEE;
    
                                        .swiper-scrollbar-drag { @include vw-mo(width, 256); @include vw-mo(height, 6 !important); @include vw-mo(border-radius, 111); background-color: #2189FF; }
                                    }
                                    .pt_scroll_swiper {@include vw-mo(height, 112);}
                                    .pt_scroll_swiper_wrap { 
                                        position: absolute; top: 0; @include vw-mo(left, 0); @include vw-mo(height, 112);
    
                                        .swiper-slide { @include vw-mo(width, 120); @include vw-mo(height, 112); }
                                    }
                                    .pt_table_body { 
                                        text-align: center; 
    
                                        li {
                                            @include vw-mo(width, 120); @include vw-mo(height, 56); color: #000; @include vw-mo(font-size, 20); @include vw-mo(line-height, 30); letter-spacing: -0.025em;
                                            &:not(:last-child) {@include vw-mo(border-bottom, 1 solid#E0E0E0);}
    
                                            // &:nth-child(1) { display: flex; justify-content: center; align-items: center; @include vw-mo(width, 189); background-color: #F2F8FF; @include vw-mo(border-right, 1 solid #F5F5F5); @include vw-mo(border-bottom, 1 solid #E0E0E0); }
                                            // &:nth-child(2) { display: flex; justify-content: center; align-items: center; @include vw-mo(width, 190); background-color: #fff; @include vw-mo(border-right, 1 solid #F5F5F5); @include vw-mo(border-bottom, 1 solid #E0E0E0); }
                                        }
                                    } // pt_table_body
                                } // pt_scroll_container

                                // s: scroll 가로 스크롤 영역
                                .pt_bnf_table_v_wrap {
                                     // position: absolute; @include vw-mo(top, 278); left: 50%; transform: translateX(-50%); 
                                    display: flex; flex-direction: column; @include vw-mo(width, 244); @include vw-mo(height, 182); @include vw-mo(margin-top, 11); @include vw-mo(border-radius, 16); @include vw-mo(border, 1 solid #F2F2F2);
    
                                     .pt_table_header {
                                        align-items: center; flex-direction: row; @include vw-mo(width, 244); @include vw-mo(height, 58); @include vw-mo(font-size, 20); @include vw-mo(border-right, 0);  @include vw-mo(line-height, 30);
     
                                         li { 
                                             width: 50%; height: 100%; border: none; @include vw-mo(font-size, 20);
                                             &:not(:last-child) {border-bottom: 0; height: 100%;}
     
                                             &:nth-child(1) { background-color: #D9EAFF; @include vw-mo(border-top-left-radius, 16);}
                                             &:nth-child(2) {height: 100%; @include vw-mo(border-bottom, 0); @include vw-mo(border-bottom-left-radius, 0); background-color: unset; border-right: 0;}
                                         }
                                     }  
                                } // pt_bnf_table_wrap

                                .pt_scroll_v_container {
                                    position: relative; width: 100%; @include vw-mo(height, 122); overflow: hidden; @include vw-mo(border-radius, 0 0 16 16);

                                    .pt_bnt_scrollbar {
                                        z-index: 1; position: absolute; @include vw-mo(top, 12); @include vw-mo(right, 10); bottom: auto; left: auto; @include vw-mo(width, 6); @include vw-mo(height, 110); background: #E9EAEE;

                                        .swiper-scrollbar-drag { @include vw-mo(width, 6); @include vw-mo(height, 30 !important); @include vw-mo(border-radius, 111); background-color: #2189FF; }
                                    }
                                    .pt_scroll_swiper {@include vw-mo(height, 122);}
                                    .pt_scroll_swiper_wrap {
                                        position: absolute; top: 0; @include vw-mo(left, 0); display: flex; flex-direction: column; height: 100%; @include vw-mo(width, 244);

                                        .swiper-slide { @include vw-mo(width, 244); @include vw-mo(height, 58); }
                                        .swiper-slide:nth-child(odd) .pt_table_body li:nth-child(even) {background-color: #FAFAFA;}
                                    }
                                    .pt_table_body {
                                        display: flex; text-align: center; width: 100%;

                                        li {
                                            display: inline-block; width: 50%; @include vw-mo(height, 58); color: #000; @include vw-mo(font-size, 20); @include vw-mo(line-height, 30); letter-spacing: -0.025em;

                                            &:nth-child(1) { display: flex; justify-content: center; align-items: center; width: 50%; background-color: #D9EAFF; @include vw-mo(border-right, 1 solid #F5F5F5); @include vw-mo(border-bottom, 2 solid #fff); font-weight: 400;}
                                            &:nth-child(2) { display: flex; justify-content: center; align-items: center; width: 50%; background-color: #fff; border-right: 0; @include vw-mo(border-bottom, 2 solid #fff); }

                                        }
                                    } // pt_table_body
                                } // pt_scroll_container
    
                                &--early{@include vw-mo(width, 672);
                                    .pt_conts__info{@include vw-mo(height,151);}
                                    .pt_conts__desc{position: static;}
                                }
                            }
                        }
    
                        .pt
                        .pt_conts__pagination {
                            position: relative; @include vw-mo(bottom, 0); left: 50%; transform: translateX(-50%); display: flex; align-items: center; @include vw-mo(width, 238); @include vw-mo(height, 24); @include vw-mo(margin-top, 40);
    
                            .swiper-pagination-bullet {@include vw-mo(width, 16); @include vw-mo(height, 16); @include vw-mo(margin, 0 16); background-color: transparent; border: 1px solid #000; border-radius: 50%; opacity: 1;}
                            .swiper-pagination-bullet-active {@include vw-mo(width, 16); @include vw-mo(height, 16); background-color: #000; border: 0; border-radius: 50%;}
                        }
                    }

                    .pt_conts__navi{@include vw-mo(right, 60); @include vw-mo(width, 80); @include vw-mo(height, 29); 
                        &--prev{@include vw-mo(width, 29); @include vw-mo(height, 29); background-image: url('../../../is/images/launching/benefit/new/stv_arr_prev_mo.png');}
                        &--next{@include vw-mo(width, 29); @include vw-mo(height, 29); background-image: url('../../../is/images/launching/benefit/new/stv_arr_next_mo.png');}
                    }
                
                }

                &__noti { display: flex; justify-content: center; @include vw-mo(padding, 0 24);
                    &__btn{@include vw-mo(font-size,24);}
                    &__txt{@include vw-mo(font-size,24); @include vw-mo(line-height,34); letter-spacing: -0.05em; }
                }
            }
    
            .pt_early{ margin: 0 auto; display: flex; flex-direction: column; align-items: center;
                &__list{display: flex; @include vw-mo(gap,10); @include vw-mo(margin-bottom,20);}
                &__item{position: relative; @include vw-mo(width,308);}
                &__img{@include vw-mo(width,308);}
                &__txt{position: absolute; @include vw-mo(top,16); @include vw-mo(left,20);}
                &__tit{@include vw-mo(margin-bottom,16); @include vw-mo(font-size,36); @include vw-mo(line-height,48);}
                &__desc{position: relative; @include vw-mo(padding-left,22); @include vw-mo(font-size,12); @include vw-mo(line-height,18); letter-spacing: -0.025em; color: #666;
                    &::before{content: ""; position: absolute; @include vw-mo(top,4); left: 0; @include vw-mo(width,8); @include vw-mo(height,6); background: url("../../is/images/benefit/ref_bnf_early_check_mo.png") no-repeat center / contain; }
                }
                &__btn{@include vw-mo(width,138); @include vw-mo(height,57); @include vw-mo(font-size,24); letter-spacing: -0.025em; @include vw-mo(border-radius,99);}
            }

            &__hybrid {
                .sec_benefit__inner {@include vw-mo(padding,80 0 120);}
                .pt_benefit {
                    .pt_conts__swiper .pt_conts__wrapper {justify-content: left; @include vw-mo(margin,0 auto);}
                    &__box {
                        .pt_conts__navi {display: flex !important; @include vw-mo(top, 17);}
                    }
                }
            }
        
        }
    }
}