/**
@param {fixed || absolute}

@example
.modal { 
  @include pos-center;
}
*/

@mixin pos-center($type: absolute) {
  @if ($type == fixed or $type == absolute) {
    position: $type;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal {
  @include pos-center(fixed);
}
