<div class="contents about">
	<div class="top_banner">
		<div class="img_wrap">
			<img src="/assets/imgs/common/mo_about_main.png" class="mo">
			<img src="/assets/imgs/common/pc_about_main.png" class="pc">
		</div>
		<div class="txt_wrap">
			<h2>ABOUT</h2>
			<p>다시, 처음</p>
		</div>
	</div>
	<section>
		<div class="content_wrap">
			<h4 data-aos="fade">맛진 <b>VOL 03</b></h4>
			<h2 data-aos="fade">
				<img src="/assets/imgs/round/<?=$this->round?>/about/t1.png" class="mo center" style="width:45.6rem; margin-top:0;">
				<img src="/assets/imgs/round/<?=$this->round?>/about/t1.png" class="pc center" style="width:46.4rem; margin-top:1.5rem;">
			</h2>
			<img src="/assets/imgs/round/<?=$this->round?>/about/about_main.png" data-aos="fade">
			<div class="title" data-aos="fade">
				<img src="/assets/imgs/round/<?=$this->round?>/about/t2.png" class="mo" style="width:38.4rem; margin:0 auto;">
				<img src="/assets/imgs/round/<?=$this->round?>/about/t2.png" class="pc" style="width:38.4rem; margin:0 auto;">
			</div>
			<p class="desc" data-aos="fade">와인을 음미하고 재즈의 선율을 즐기기 좋은 가을 <br>괜시리 쓸쓸하고 외로워진다면 벌써 가을타는지도 모른다.</p>
		</div>
	</section>
	<section>
		<div class="content_wrap">
			<h4 data-aos="fade">맛진 소개</h4>
			<h2 data-aos="fade">TASTY ZINE</h2>
			<div class="img_wrap" data-aos="fade">
				<img src="/assets/imgs/common/mo_about_sub02.png" class="mo">
				<img src="/assets/imgs/common/pc_about_sub02.png" class="pc">
			</div>
			<div class="box" data-aos="fade-up">
			<b>맛의 TASTY + 매거진의 ZINE = 맛ZINE</b> <br>
롯데GRS만의 맛있는 이야기로 가득 채운 사내웹진 맛진, <br>
최신 트렌드부터 롯데GRS의 다양한 소식이 <br>두 달에 한 번씩 여러분을 찾아갑니다.

			</div>
		</div>
	</section>
</div>