<link rel="stylesheet" href="/assets/css/11/postSection.css?a=1" />
<link rel="stylesheet" href="/assets/css/11/main.css" />
<script>
  setTimeout(() => {
    $(".intro-layer").css({
      display: "none",
    });
  }, 6400);
</script>

<div class="main-wrap">
  <!-- 비주얼영역 -->
  <div class="visual section">
    <div class="visual-img">
      <img src="/assets/imgs/round/11/main/main_PC.webp" class="mo_hide" />
      <img src="/assets/imgs/round/11/main/main_MO.webp" class="pc_hide" />
      <!-- 검정배경 팝업 인트로창 -->
      <!-- <div class="intro-layer">
          <img src="/assets/imgs/round/10/main/main_PC.gif" alt="visual" title="visual" />
        </div> -->
    </div>
  </div>

  <!-- POST 영역 -->
  <div class="post section">
    <div class="post-container">
      <div class="swiper post-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="post-thumb">
              <img
                src="/assets/imgs/round/11/post/PC_MO_common/POST_thumb/5.webp"
              />
              <div class="active-shadow">
                <a href="/post/sport/<?= $this->round ?>">
                  <div class="active-text">
                    <div class="tag">#INDOOR #AT_HOME</div>
                    <div class="title">이불 밖은 안 위험해</div>
                    <div class="subtitle">겨울철 실내 운동은 어때?</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="post-thumb">
              <img
                src="/assets/imgs/round/11/post/PC_MO_common/POST_thumb/1.webp"
              />
              <div class="active-shadow">
                <a href="/post/trip/<?= $this->round ?>">
                  <div class="active-text">
                    <div class="tag">#WINTER #TRAVEL</div>
                    <div class="title">
                      겨울에만<br />
                      느낄 수 있는 매력
                    </div>
                    <div class="subtitle">같이 눈꽃 보러 갈래?</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="post-thumb">
              <img
                src="/assets/imgs/round/11/post/PC_MO_common/POST_thumb/2.webp"
              />
              <div class="active-shadow">
                <a href="/post/food/<?= $this->round ?>">
                  <div class="active-text">
                    <div class="tag">#HOMEPARTY #DIY</div>
                    <div class="title">
                      다가오는 연말 <br />풍성한 홈파티 메뉴 추천
                    </div>
                    <div class="subtitle">맛있는 거 옆에 맛있는 거</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="post-thumb">
              <img
                src="/assets/imgs/round/11/post/PC_MO_common/POST_thumb/3.webp"
              />
              <div class="active-shadow">
                <a href="/post/style/<?= $this->round ?>">
                  <div class="active-text">
                    <div class="tag">#WARM #ITEM</div>
                    <div class="title">
                      힙한 겨울<br />
                      보내는 방법
                    </div>
                    <div class="subtitle">따뜻함은 필수, 멋은 덤</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="post-thumb">
              <img
                src="/assets/imgs/round/11/post/PC_MO_common/POST_thumb/4.webp"
              />
              <div class="active-shadow">
                <a href="/post/culture/<?= $this->round ?>">
                  <div class="active-text">
                    <div class="tag">#OTT #DRAMA #MOVIE</div>
                    <div class="title">집콕하기 좋은 계절</div>
                    <div class="subtitle">꿀잼 콘텐츠 추천</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-pagination"></div>
        <div class="swiper-progress"></div>
      </div>
      <div class="post-section-title pc_hide">POST</div>
    </div>
  </div>

  <!-- NEWS 영역 -->
  <div class="news section">
    <div class="news-container">
      <div class="news-section-title">NEWS</div>
      <div class="swiper news-swiper pc">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="/news/index/<?= $this->round ?>">
              <img src="/assets/imgs/round/11/main/news_pc01.png"
            /></a>
          </div>
          <div class="swiper-slide">
            <a href="/news/index/<?= $this->round ?>">
              <img src="/assets/imgs/round/11/main/news_pc02.png"
            /></a>
          </div>
          <div class="swiper-slide">
            <a href="/news/index/<?= $this->round ?>">
              <img src="/assets/imgs/round/11/main/news_pc03.png"
            /></a>
          </div>
          <div class="swiper-slide">
            <a href="/news/index/<?= $this->round ?>">
              <img src="/assets/imgs/round/11/main/news_pc04.png"
            /></a>
          </div>
        </div>
      </div>
      <div class="swiper news-swiper mo">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="/news/index/<?= $this->round ?>">
              <img src="/assets/imgs/round/11/main/01_news.png"
            /></a>
          </div>
          <div class="swiper-slide">
            <a href="/news/index/<?= $this->round ?>">
              <img src="/assets/imgs/round/11/main/02_news.png"
            /></a>
          </div>
          <div class="swiper-slide">
            <a href="/news/index/<?= $this->round ?>">
              <img src="/assets/imgs/round/11/main/03_news.png"
            /></a>
          </div>
          <div class="swiper-slide">
            <a href="/news/index/<?= $this->round ?>">
              <img src="/assets/imgs/round/11/main/04_news.png"
            /></a>
          </div>
          <div class="swiper-slide">
            <a href="/news/index/<?= $this->round ?>">
              <img src="/assets/imgs/round/11/main/05_news.png"
            /></a>
          </div>
          <div class="swiper-slide">
            <a href="/news/index/<?= $this->round ?>">
              <img src="/assets/imgs/round/11/main/06_news.png"
            /></a>
          </div>
          <div class="swiper-slide">
            <a href="/news/index/<?= $this->round ?>">
              <img src="/assets/imgs/round/11/main/07_news.png"
            /></a>
          </div>
          <div class="swiper-slide">
            <a href="/news/index/<?= $this->round ?>">
              <img src="/assets/imgs/round/11/main/08_news.png"
            /></a>
          </div>
        </div>
      </div>
      <div class="news-swiper-pagination mo"></div>
      <div class="news-swiper-pagination pc"></div>
    </div>
  </div>

  <!-- VIDEO 영역 -->
  <div class="video section">
    <div class="video-section-title">VIDEO</div>
    <div class="video-flex">
      <div class="video-list">
        <!-- 첫번째영상 -->
        <div class="video-item">
          <div class="title">EPISODE.01</div>
          <div class="content">
            <img
              src="/assets/imgs/round/11/video/Video_thumbnail_02.webp"
              alt="video-thumb"
            />
            <div class="video-shadow hide">
              <div class="text">
                <div class="episode-tag flex flex-vc">
                  #조리경연대회 #장금이를찾아라
                </div>
                <div class="episode-title">[롯데GRS] 조리경연대회</div>
              </div>
              <a href="/video/index/11/"></a>
            </div>
          </div>
        </div>

        <!-- 두번째영상 -->
        <div class="video-item">
          <div class="title">EPISODE.02</div>
          <div class="content">
            <img
              src="/assets/imgs/round/11/video/Video_thumbnail_01.webp"
              alt="video-thumb"
            />
            <div class="video-shadow hide">
              <div class="text">
                <div class="episode-tag">#알아보길자래쓰 #삼전동투어</div>
                <div class="episode-title">
                  [알아보길 자레쓰] 삼전동 미리 보기
                </div>
              </div>
              <a href="/video/index/11/2"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="star1">
        <img
          src="/assets/imgs/round/11/video/video_light1.webp"
          class="light"
        />
      </div>
      <div class="star2">
        <img
          src="/assets/imgs/round/11/video/video_light2.webp"
          class="light"
        />
      </div>
      <div class="star3">
        <img
          src="/assets/imgs/round/11/video/video_light3.webp"
          class="light"
        />
      </div>
    </div>
    <div class="video-image">
      <div class="video-inner">
        <img src="/assets/imgs/round/11/video/video_image.webp" />
      </div>
    </div>
  </div>

  <!-- HISTORY 영역 -->
  <div class="history section">
    <!-- HISTORY PC 영역 -->
    <div class="history_pc">
      <div class="title">HISTORY</div>
      <div class="title-section">
        <div class="container swiper history-swiper pc">
          <!-- 선택 영역 -->
          <div class="swiper-wrapper select-swiper">
            <!-- 히스토리 데이터 삽입 됩니다. -->
          </div>

          <!-- 이미지 영역-->
          <div class="thumbs-swiper">
            <div class="swiper-wrapper">
              <!-- 히스토리 데이터 삽입 됩니다. -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- HISTORY 모바일 영역 -->
    <div class="history_mo">
      <!-- 선택영역 -->
      <div class="title-section">
        <div class="container">
          <div class="section-title mobile_hide">HISTORY</div>
          <div class="history-swiper-pagination"></div>
        </div>
      </div>

      <!-- 이미지영역 -->
      <div class="content-section">
        <div class="swiper history-swiper mo">
          <div class="section-title pc_hide">HISTORY</div>
          <div class="swiper-wrapper">
            <!-- 2023-10 -->
            <div class="swiper-slide" data-year="2023" data-month="OCTOBER">
              <img
                class="thumb"
                src="/assets/imgs/round/11/history/history_2023_10_img.webp"
                alt="thumb"
              />
              <a onclick='window.open("http://tastyzine.co.kr/main/index/10")'></a>
            </div>

            <!-- 2023-08 -->
            <div class="swiper-slide" data-year="2023" data-month="AUGUST">
              <img
                class="thumb"
                src="/assets/imgs/round/11/history/history_2023_8_img.webp"
                alt="thumb"
              />
              <a onclick='window.open("http://tastyzine.co.kr/main/index/9")'></a>
            </div>

            <!-- 2023-06 -->
            <div class="swiper-slide" data-year="2023" data-month="JUNE">
              <img
                class="thumb"
                src="/assets/imgs/round/11/history/history_2023_6_img.webp"
                alt="thumb"
              />
              <a onclick='window.open("http://tastyzine.co.kr/main/index/8")'></a>
            </div>

            <!-- 2023-04 -->
            <div class="swiper-slide" data-year="2023" data-month="APRIL">
              <img
                class="thumb"
                src="/assets/imgs/round/11/history/history_2023_4_img.webp"
                alt="thumb"
              />
              <a onclick='window.open("http://tastyzine.co.kr/main/index/7")'></a>
            </div>

            <!-- 2023-02 -->
            <div class="swiper-slide" data-year="2023" data-month="FEBRUARY">
              <img
                class="thumb"
                src="/assets/imgs/round/11/history/history_2023_2_img.webp"
                alt="thumb"
              />
              <a onclick='window.open("http://tastyzine.co.kr/main/index/6")'></a>
            </div>

            <!-- 2022-12 -->
            <div class="swiper-slide" data-year="2022" data-month="DECEMBER">
              <img
                class="thumb"
                src="/assets/imgs/round/11/history/history_2022_12_img.webp"
                alt="thumb"
              />
              <a onclick='window.open("http://tastyzine.co.kr/main/index/5")'> </a>
            </div>

            <!-- 2022-10 -->
            <div class="swiper-slide" data-year="2022" data-month="OCTOBER">
              <img
                class="thumb"
                src="/assets/imgs/round/11/history/history_2022_10_img.webp"
                alt="thumb"
              />
              <a onclick='window.open("http://tastyzine.co.kr/main/index/4")'></a>
            </div>

            <!-- 2022-08 -->
            <div class="swiper-slide" data-year="2022" data-month="AUGUST">
              <img
                class="thumb"
                src="/assets/imgs/round/11/history/history_2022_8_img.webp"
                alt="thumb"
              />
              <a onclick='window.open("http://tastyzine.co.kr/main/index/3")'> </a>
            </div>

            <!-- 2022-06 -->
            <div class="swiper-slide" data-year="2022" data-month="JUNE">
              <img
                class="thumb"
                src="/assets/imgs/round/11/history/history_2022_6_img.webp"
                alt="thumb"
              />
              <a onclick='window.open("http://tastyzine.co.kr/main/index/2")'> </a>
            </div>

            <!-- 2022-04 -->
            <div class="swiper-slide" data-year="2022" data-month="APRIL">
              <img
                class="thumb"
                src="/assets/imgs/round/11/history/history_2022_4_img.webp"
                alt="thumb"
              />
              <a onclick='window.open("http://tastyzine.co.kr/main/index/1")'></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="button-download">다운로드</div>

  <script type="module" src="/assets/js/main.js"></script>
  <script type="module">
    window.onload = function () {
      var ua = navigator.userAgent;
      if (ua.indexOf("KAKAOTALK") > -1) {
        alert("더 나은 사용자 경험을 위해 다른 브라우저를 사용해주세요.");
      }
    };
    function downloadImage(url, filename) {
      fetch(url)
        .then((response) => response.blob())
        .then((blob) => {
          let link = document.createElement("a");
          link.href = URL.createObjectURL(blob);
          link.download = filename;
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        })
        .catch((error) => console.error(error));
    }

    document.querySelector(".button-download").addEventListener("click", () => {
      let images = [
        {
          url: "/assets/imgs/download-imgs/image.zip",
          filename: "images.zip",
        },
      ];

      images.forEach((image) => downloadImage(image.url, image.filename));
    });
  </script>

  <script type="module">
    import { fetchData } from "/assets/js/history/fetchData.js";
    //pc화면크기
    const isDesktop = window.innerWidth > 1080;

    // 성공 템플릿 PC 선택 영역
    const successTemplateSelectPc = ({ year, month }, idx) => {
      if (idx >= 1) {
        return `
          <div class="swiper-slide">
            <p>${month} <span>${year}</span></p>
          </div>
        `;
      }
    };
    // 성공 템플릿 PC 이미지 영역
    const successTemplateImgsPc = ({ year, month, imgs, link }, idx) => {
      if (idx >= 1) {
        return `
          <div class='swiper-slide'>
            <div class="activetxt">
              <p class="month">${month} <span class="year">${year}</span></p>
            </div>
              <img src=${imgs} art="#" />
              <a href=${link}></a>
          </div>
        `;
      }
    };
    // 실패 템플릿
    const errorTemplate = (errorThrown) => {
      return `
        <div class="error">
          <h2>통신 실패!</h2>
          <p>에러 메시지: ${errorThrown}</p>
        </div>
      `;
    };

    let totalLength = 0;
    //첫 로드될때 실행
    fetchData("/assets/js/history/data.json")
      .done(function (response) {
        totalLength = response.length;
        // 통신 성공 시 템플릿을 만들어 추가합니다.
        const templateHtmlSelectPc = response
          .map((datas, idx) => {
            return successTemplateSelectPc(datas, idx);
          })
          .join("");

        const templateHtmlImgsPc = response
          .map((datas, idx) => {
            return successTemplateImgsPc(datas, idx);
          })
          .join("");

        $(".history .swiper-wrapper.select-swiper").html(templateHtmlSelectPc);
        $(".history .thumbs-swiper .swiper-wrapper").html(templateHtmlImgsPc);
      })
      .fail(function (jqXHR, textStatus, errorThrown) {
        // 통신 실패 시 템플릿을 만들어 추가합니다.
        const errorHTML = errorTemplate(errorThrown);
        $(".history .swiper-wrapper").html(errorHTML);
      });

    const postSwiperProps = {
      slidesPerView: 1.5,
      spaceBetween: 16,
      loop: true,
      slideToClickedSlide: true,
      initialSlide: 1,
      centeredSlides: false,
      speed: 1500,
      // autoplay: {
      //   // 자동 슬라이드 설정 , 비 활성화 시 false
      //   delay: 3000, // 시간 설정
      //   disableOnInteraction: true, // false로 설정하면 스와이프 후 자동 재생이 비활성화 되지 않음
      // },
      breakpoints: {
        1080: {
          slidesPerView: 5,
          centeredSlides: true,
          spaceBetween: 0,
        },
      },
    };

    //포스트 스와이퍼
    const postSwiper = new Swiper(".post-swiper", {
      ...postSwiperProps,
      on: {
        init: function () {
          if (isDesktop) {
            document.querySelector(
              ".post-swiper .swiper-wrapper"
            ).style.marginLeft = "-256px";
          }
        },
        slideChange: function () {
          $(".active-shadow").css("display", "none");
        },
      },
      pagination: {
        el: isDesktop ? ".swiper-pagination" : ".swiper-progress",
        clickable: true,
        type: isDesktop ? "custom" : "progressbar",
        renderCustom: function (swiper, current, total) {
          let text = "<div class='bullet-container'>";
          for (let i = 1; i <= total; i++) {
            if (current == i) {
              text += `<div class="swiper-pagination-bullet-active" style="background-image: url('/assets/imgs/icon/scrollBar.svg')"></div>`;
            } else {
              text += `<div class="swiper-pagination-bullet">${[i]}</div>`;
            }
          }
          text += "</div>";
          return text;
        },
      },
      breakpoints: {
        768: {
          slidesPerView: 2, //브라우저가 768보다 클 때
          spaceBetween: 40,
          centeredSlides: true,
        },
        1080: {
          slidesPerView: 5,
          spaceBetween: 0,
          centeredSlides: true,
        },
      },
    });

    //포스트스와이퍼 마우스오버 시 재생 멈춤
    $(".post-swiper .swiper-slide").on("mouseover", function () {
      postSwiper.autoplay.start();
    });
    $(".post-swiper .swiper-slide").on("mouseout", function () {
      postSwiper.autoplay.start();
    });

    //뉴스 스와이퍼
    const newsSwiper = new Swiper(".news-swiper.pc", {
      loop: true,
      pagination: {
        el: ".news-swiper-pagination.pc",
        clickable: true,
        type: "custom",
        renderCustom: function (swiper, current, total) {
          var text = "<div class='bullet-container'>";
          for (let i = 1; i <= total; i++) {
            if (current == i) {
              text += `<div class="swiper-pagination-bullet-active" style="background-image: url('/assets/imgs/icon/scrollBar.svg')"></div>`;
            } else {
              text += `<div class="swiper-pagination-bullet">${[i]}</div>`;
            }
          }
          text += "</div>";
          return text;
        },
      },
    });
    const newsSwiper2 = new Swiper(".news-swiper.mo", {
      loop: true,
      pagination: {
        el: ".news-swiper-pagination.mo",
        clickable: true,
        type: "custom",
        renderCustom: function (swiper, current, total) {
          var text = "<div class='bullet-container'>";
          for (let i = 1; i <= total; i++) {
            if (current == i) {
              text += `<div class="swiper-pagination-bullet-active" style="background-image: url('/assets/imgs/icon/scrollBar.svg')"></div>`;
            } else {
              text += `<div class="swiper-pagination-bullet">${[i]}</div>`;
            }
          }
          text += "</div>";
          return text;
        },
      },
    });

    //비디오영역 마우스오버 동작
    $(document).ready(function () {
      $(".video-item").mouseover(function () {
        $(this).children(".title").addClass("filled-text");
        $(this).find(".video-shadow").toggleClass("hide");
      });
      $(".video-item").mouseout(function () {
        $(this).children(".title").removeClass("filled-text");
        $(this).find(".video-shadow").toggleClass("hide");
      });
    });

    /** HISTORY 모바일 영역 */
    new Swiper(".history-swiper.mo", {
      slidesPerView: 1.4,
      centeredSlides: true,
      spaceBetween: 0,
      loop: true,
      initialSlide: 0,
      allowTouchMove: true,
      on: {
        slideChange: function (swiper) {
          $(".active-title").children("img").css("display", "none");

          //하얀글자로 바뀔 때 애니메이션 (only 모바일)
          $(
            ".history-swiper-pagination .swiper-pagination-bullet-active"
          ).addClass("animation");
        },
      },
      pagination: {
        el: ".history-swiper-pagination",
        clickable: true,
        type: "custom",
        clickable: isDesktop ? true : false,
        renderCustom: function (swiper, current, total) {
          let text = "<div class='bullet-container'>";
          for (let i = 1; i <= total; i++) {
            const year = $(".history .history-swiper.mo .swiper-slide")
              .eq(i + 1)
              .data("year");
            const month = $(".history .history-swiper.mo .swiper-slide")
              .eq(i + 1)
              .data("month");
            if (current === i) {
              text += `<div class='swiper-pagination-bullet swiper-pagination-bullet-active' style='order:${-1};'>
                <p class="year">${year}</p>
                <p class="month">${month}</p>
                </div>`;
            } else {
              text += `<div class='swiper-pagination-bullet' style='order:${
                i - current > 0 ? i - current : i + current
              };'>
                <p class="year">${year}</p>
                <p class="month">${month}</p>
                </div>`;
            }
          }
          text += "</div>";
          return text;
        },
      },
    });

    /** HISTORY PC - 이미지 영역 슬라이드 */
    const subThumbs = new Swiper(".history .thumbs-swiper", {
      slidesPerView: "auto",
      loop: true,
      slideToClickedSlide: false,
      centeredSlides: false,
      allowTouchMove: false,
      allowSlideClick: false,
      on: {
        init: function () {
          const wrapperEl = this.wrapperEl;
          const activeIndex = this.activeIndex;
          const marginLeft = parseInt(
            $(".history .thumbs-swiper .swiper-slide")
              .css("margin-left")
              ?.replace("px", "")
          );
          const marginRigth = parseInt(
            $(".history .thumbs-swiper .swiper-slide")
              .css("margin-right")
              ?.replace("px", "")
          );
          const itemWidth = this.slides[0]?.offsetWidth;

          const leftValue = -(
            (itemWidth + (marginLeft + marginRigth)) *
            activeIndex
          );
          wrapperEl.style.transform = "translate3d(" + leftValue + "px, 0, 0)";
        },
        slideChange: function () {
          const previousIndex = this.previousIndex;
          const lastIndex = this.loopedSlides - 1;
          const activeIndex = this.activeIndex;
          const wrapperEl = this.wrapperEl;
          const marginLeft = parseInt(
            $(".history .thumbs-swiper .swiper-slide")
              .css("margin-left")
              ?.replace("px", "")
          );
          const marginRigth = parseInt(
            $(".history .thumbs-swiper .swiper-slide")
              .css("margin-right")
              ?.replace("px", "")
          );
          const itemWidth = this.slides[0]?.offsetWidth;

          const leftValue = -(
            (itemWidth + (marginLeft + marginRigth)) *
            activeIndex
          );
          wrapperEl.style.transform = "translate3d(" + leftValue + "px, 0, 0)";
        },
      },
    });

    /** HISTORY PC - 텍스트 선택 영역 슬라이드 */
    const historySwiperPc = new Swiper(".history .history-swiper.pc", {
      direction: "vertical",
      slidesPerView: 7,
      loopedSlides: totalLength, //data.json파일의 항목 객수와 동일하게 설정
      spaceBetween: 0,
      loop: true,
      resistance: false,
      slideToClickedSlide: true, //true 해줘야지 클릭했을때 loop을 실행 할수 있습니다.
      centeredSlides: true, //true 해줘야지 수직으로 center로 이동합니다.
      allowTouchMove: false,
    });

    $(".history .swiper-wrapper").on("click", ".swiper-slide", function (e) {
      e.preventDefault(); // 슬라이드 전환 중 클릭 이벤트 방지
      e.stopPropagation();
      const clickedIndex = $(this).index();
      subThumbs.slideTo(clickedIndex);
      historySwiperPc.slideTo(clickedIndex);
    });

    subThumbs.on("click", function () {
      if (subThumbs.activeIndex === this.clickedIndex) {
        //활성화된 부분만 식별
        const slideLink = this.slides[this.clickedIndex]
          .querySelector("a")
          .getAttribute("href");
        if (slideLink) {
          window.location.href = slideLink;
        }
      }
    });
  </script>
</div>
